@import "colors";
aside.aside{
  width: 100%;
  background-image: linear-gradient(to right, $blue_level_1, $blue_level_3);
  box-shadow: 3px 0 10px 0 $black_level_1, inset -1px 0 0 0 $blue_level_2;
  height: 100%;
  position: relative;
  z-index: 2;
  overflow-y: auto;
  div.logo_block{
    a.logo_link{
      display: block;
      line-height: 1;
      font-size: 0;
      background-image: url("../images/bg/bg-logo.svg");
      background-repeat: no-repeat;
      background-size: cover;
      /*background-size: 100% 138px;*/
      /*height: 138px;*/
      position: relative;
      text-align: center;
      padding-top: 18px;
      padding-bottom: 18px;
      > img{
        /*width: 110px;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
        width:110px;
      }
    }
  }
  nav.nav{
    ul.nav_list{
      margin:0;
      padding:0;
      > li{
        display: block;
        list-style: none;
        &.-on{
          ul.sub_list{
            display: block;
          }
        }
        button.btn_nav{
          width:100%;
          font-size: 1.125rem;
          border:0;
          padding: 7px 0;
          border: 1px solid transparent;
          border: 1px solid transparent;
          background: none;
          color: $white;
          cursor: pointer;
          outline:none;
          position: relative;
          &:hover, &.-on{
            box-shadow: 0 2px 4px 0 $black_level_2, inset 0 1px 2px 0 $black_level_3;
            border: solid 1px $black_level_4;
          }
          &.-classic{
            &:hover, &.-on{
              background-image: linear-gradient(to bottom, $orange_level_1, $orange_level_2);
            }
          }
          &.-q{
            &:hover, &.-on{
              background-image: linear-gradient(to bottom, $red_level_1, $red_level_2);
            }
          }
          &.-digital{
            &:hover, &.-on{
              background-image: linear-gradient(to bottom, $purple_level_1, $purple_level_2);
            }
          }
          &.-answer{
            &:hover, &.-on{
              background-image: linear-gradient(to bottom, $green_level_1, $green_level_2);
            }
          }
          &.-learn{
            &:hover, &.-on{
              background-image: linear-gradient(to bottom, $blue_level_6, $blue_level_7);
            }
          }
          img.icon_svg{
            width: 45px;
            display: inline-block;
            vertical-align: middle;
          }
          span.item_text{
            display: inline-block;
            vertical-align: middle;
          }
          span.-count{
            display: inline-block;
            border-radius: 50%;
            border: 1px solid $white;
            color: $white;
            background-color: $red_level_3;
            font-size: .875rem;
            position: absolute;
            right:8px;
            top:50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            line-height: 22px;
            text-align: center;
            display: none;
          }
        }
        ul.sub_list{
          margin:0;
          padding:0;
          display: none;
          > li{
            display: block;
            margin:0;
            padding:0;
            list-style: none;
            a.sub_menu_item{
              text-decoration: none;
              display: block;
              font-size: 1rem;
              color: $white;
              padding: 16px 0 15px;
              padding-left: 50px;
              background-color: $blue_level_26;
              border-bottom: 1px solid $blue_level_27;
              position: relative;
              &:hover, &.-on{
                background-image: linear-gradient(to bottom, $blue_level_28, $blue_level_29);
                color: $blue_level_30;
                text-shadow: 0 2px 4px $blue_level_31;
              }
              span.-count{
                display: inline-block;
                border-radius: 50%;
                border: 1px solid $white;
                color: $white;
                background-color: $red_level_3;
                font-size: .875rem;
                position: absolute;
                right:8px;
                top:50%;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                line-height: 22px;
                text-align: center;
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
