@import "colors";
div.header_parent{
  box-sizing: border-box;
  width: calc(100% - 200px);
  /*min-width: 1080px;*/
  position: fixed;
  top:0;
  left:200px;
  z-index: 5;
  @media screen and (max-width: 1080px){
    overflow-x: scroll;
  }

  header.header{
    height: 70px;
    background-image: url("../images/bg/img-header.png");
    background-repeat:repeat-x;
    background-size: auto 100%;
    position: relative;
    z-index: 1;
    min-width: 850px;

    &::before, &::after{
      content:"";
      display: block;
    }
    &::after{
      clear: both;
    }
    a.fix_width{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    div.f_teacher, div.practice_header, div.m_i, div.m_e, div.p_question, div.my_learn_notes{
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      left: 30px;
      ul.f_teacher_list, ul.practice_list, ul.m_i_list, ul.m_e_list, ul.p_question_list, ul.my_learn_notes_list{
        margin:0;
        padding:0;
        > li{
          margin:0 10px 0 0;
          padding:0;
          list-style: none;
          display: inline-block;
          &:last-child{
            margin-right: 0;
          }
          > a{
            display: inline-block;
            text-decoration: none;
            font-size: 1.125rem;
            color: $white;
            width: 120px;
            padding: 5px 18px 5px 10px;

            border-radius: 8px;
            box-shadow: inset 0 1.5px 0 0 $blue_level_23;
            background-image: linear-gradient(to top, $blue_level_24, $blue_level_25);
            border: solid 2px $white_level_1;
            position: relative;
            &.show_tri{
              &::after{
                content:"";
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 8px solid $white;
                position: absolute;
                top:50%;
                right:10px;
                transform: translateY(-50%);
                z-index: 2;
              }
            }

          }
        }
      }
      ul.f_teacher_list{
        > li{
          > a{
            &.-on{
              box-shadow: inset 0 1px 0 0 $blue_level_23;
              background-image: linear-gradient(to bottom, $orange_level_3, $orange_level_4);
              border: solid 2px $white_level_1;
            }
          }
        }
      }
      ul.practice_list{
        > li{
          > a{
            &.-on{
              box-shadow: inset 0 1px 0 0 #1e68be;
              background-image: linear-gradient(to bottom, #ff5d86, #eb4776);
              border: solid 2px $white_level_1;
            }
          }
        }
      }
      ul.m_i_list, ul.m_e_list{
        > li{
          > a{
            &.-on{
              box-shadow: inset 0 1px 0 0 $blue_level_23;
              background-image: linear-gradient(to bottom, $purple_level_3, $purple_level_4);
              border: solid 2px $white_level_1;
            }
          }
        }
      }
      ul.p_question_list{
        > li{
          > a{
            &.-on{
              box-shadow: inset 0 1px 0 0 $blue_level_23;
              background-image: linear-gradient(to bottom, $green_level_24, $green_level_25);
              border: solid 2px $white_level_1;
            }
          }
        }
      }
      ul.my_learn_notes_list{
        > li{
          > a{
            &.-on{
              box-shadow: inset 0 1px 0 0 $blue_level_23;
              background-image: linear-gradient(to bottom, $blue_level_87, $blue_level_88);
              border: 2px solid $white_level_1;
            }
          }
        }
      }
    }
    div.my_learn_project, div.my_learn_record, div.my_learn_collection{
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      left: 30px;
      ul.my_learn_project_list, ul.my_learn_record_list{
        margin:0;
        padding:0;
        > li{
          display: inline-block;
          vertical-align: top;
          list-style: none;
          margin-right: 10px;
          &:last-child{
            margin-right: 0;
          }
          > a{
            display: inline-block;
            width: 120px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-radius: 8px;
            background-color: $blue_level_77;
            color: $white;
            text-shadow: 0 1px 2px $black_level_1;
            text-decoration: none;
            &.-on{
              color: $blue_level_30;
              background-image: linear-gradient(to bottom, $blue_level_28, $blue_level_29);
              text-shadow: 0 2px 4px rgba(70, 144, 199, 0.5);
            }
          }
        }
      }
      ul.my_learn_collection_list{
        margin: 0;
        padding:0;
        &:last-child{
          margin-right: 0;
        }
        > li{
          list-style: none;
          display: inline-block;
          vertical-align: top;
          margin: 0 10px 0 0;
          &:last-child{
            margin-right: 0;
          }
          > a{
            width: 120px;
            border-radius: 8px;
            background-color: $blue_level_77;
            display: inline-block;
            text-decoration: none;
            text-align: center;
            color: $white;
            padding: 16px 0;
            text-shadow: 0 1px 2px $black_level_1;
            &.-on{
              background-image: linear-gradient(to bottom, $blue_level_28, $blue_level_29);
              color: $blue_level_30;
              text-shadow: 0 2px 4px $blue_level_31;
            }
          }
        }
      }
    }
    div.exam_live_stream, div.test_history{
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      left: 30px;
      form.form_block{
        div.select_block{
          margin-right: 10px;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          border-radius: 8px;
          box-shadow: inset 0 1px 0 0 $blue_level_23;
          background-image: linear-gradient(to top, $gray_level_1, $gray_level_2);
          border: 2px solid $white_level_1;
          &::after{
            content:"";
            width: 0;
            height: 0;

            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 8px solid $blue_level_33;

            position: absolute;
            top:50%;
            right:8px;
            transform: translateY(-50%);
          }
        }
        select.custom_select{
          display: inline-block;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          color: $blue_level_22;
          font-size: 1.125rem;
          padding: 3px 30px 3px 10px;
          min-width: 130px;
          cursor: pointer;
          outline: none;
          position: relative;

          border:0;
          z-index: 1;
          position: relative;
          background-color: transparent;
        }
      }
    }
    ul.header_list{
      margin:7px 12px 0 0;
      padding:0;
      float:right;
      > li{
        display: inline-block;
        vertical-align: middle;
        list-style: none;
        margin-right:10px;
        &:last-child{
          margin-right: 0;
        }
        > a{
          display: block;
          position: relative;
          span.msg_num{
            display: inline-block;
            position: absolute;
            top:0;
            right:0;
            line-height: 1;
            min-width: 20px;
            height: 20px;
            line-height: 20px;
            border-radius: 50%;
            border:1px solid $white;
            background-color: $red_level_3;
            text-align: center;
            color: $white;
            font-size: .875rem;
            display: none;
          }
        }
      }
    }
    div.search_bar{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
      left: 28px;
      right: 70px;
      input.text_search{
        width: 100%;
        border-radius: 5px;
        height: 50px;
        background-color: $white;
        box-shadow: inset 0 1px 3px 0 $black_level_1;
        border:0;
        outline: none;
        font-size: 1.5rem;
        padding-left: 10px;
        padding-right:10px;
      }
    }
  }
}
