@import "colors";
@import "./msg_article.css";

* {
  box-sizing: border-box;
  &:not(body):not(html){
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      /*background-color: #3db7e7;
      border-radius: 10px;*/
    }
    &::-webkit-scrollbar-thumb {
      background: $white;
      border-radius: 10px;
    }
  }
}
body{
  overflow-x: hidden;
}
div.all_content{
  width: 100%;
  /*min-width: 1280px;*/
  font-size: 0;
  background-color: $blue_level_4;
  position:relative;
  min-height: 100vh;
  overflow-x: auto;
  div.left_side_block, div.right_side_block{
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
  }
  div.left_side_block{
    width: 200px;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index: 4;
  }
  div.right_side_block{
    /*width: calc(1280px - 200px);*/
    width: calc(100% - 200px);
    height: calc(100vh - 70px);
    margin-left:200px;
    margin-top: 70px;
    overflow: auto;
  }

}
.no_display{
  display: none !important;
}
ul.star_list{
  margin:0;
  padding:0;
  > li{
    display: inline-block;
    vertical-align: middle;
    margin:0 3px 0 0;
    padding:0;
    &:last-child{
      margin-right: 0;
    }
    button.btn_star{
      padding:0;
      border:0;
      background: none;
      background-image: url("../images/icon/icon_star.svg");
      width: 19px;
      height: 18px;
      outline: none;
      cursor: pointer;
      &.-on{
        background-image: url("../images/icon/icon_star_on.svg");
      }
    }
  }
}

a.tag_plus{
  float: right;
  display: inline-block;
  width: 70px;
  height: 40px;
  position: relative;
  top:-10px;
  &.-on{
    > img{
      &.-plus{
        display: none;
      }
      &.-cancel{
        display: inline;
      }
    }
  }
  > img{
    max-width: 100%;

    &.-cancel{
      display: none;
    }
  }
}

a.tag_ok{
  display: inline-block;
  &.-on{
    > img{
      &.-plus{
        display: inline;
      }
      &.-cancel{
        display: none;
      }
    }
  }
  > img{
    max-width: 100%;
    &.-plus{
      display: none;
    }
    &.-cancel{
      display: inline;
    }
  }
}

div.jquery-modal.blocker.current{
  z-index: 9;
  div#user_message_large{
    background:none;
    padding:0;
    width: 640px;
    max-width:none;
    border-radius:0;
    img{
      width: 100%;
    }
    a.close-modal{
      display: none;
    }
  }
}

.-loading{
  color: $white;
  font-size: 16px;
  &.-left10{
    padding-left: 10px;
  }
}
