@import "colors";
@import "normalize";

* {
  box-sizing: border-box;
}
body{
  font-family: "微軟正黑體";
}
div.all_content{
  width: 100%;
  min-width: 1280px;
  font-size: 0;
  background-image: linear-gradient(to right, #04141e, #0d3750 25%, #155a83 52%, #083148 76%, #03141e);
  position:relative;
  height: 100vh;
  min-height: 600px;
}
.no_display{
  display: none;
}
