@import "colors";
div.custom-vjs{
  top: 50%;
  position: relative;
  height: 3px !important;
  transform: translateY(-50%);
}
section.normal_section{
  padding: 30px;
  div.all_contents_block{
    width: 1020px;
    margin: 0 auto;
    a.tag_plus{
      margin-right: 16px;
    }
    div.live_stream_block{
      width: 1000px;
      font-size: 0;
      margin-top: 20px;
      div.left_block, div.right_block{
        display: inline-block;
        vertical-align: top;
      }
      div.left_block{
        width: 700px;
        font-size: 1rem;
        video.video-js{
          width:100%;
          /*border: 1px solid red !important;*/
        }
        video.vjs-tech{
        }
		img.videoPreviewThumb {
			width:160px;
			display:none;
			position: absolute;
			bottom: 36px;
			margin-left: -80px;
		}
      }
      div.right_block{
        width: calc(100% - 700px);
        font-size: 1rem;
        background-image: linear-gradient(to bottom, $blue_level_34, $blue_level_35);
        height: 394px;
        overflow-y: scroll;
        ul.video_desc_list{
          margin:0;
          padding:0;
          > li{
            display: block;
            list-style: none;
            margin:0;
            padding:0;
            &::before, &::after{
              content:"";
              display: block;
            }
            &::after{
              clear: both;
            }
            span.item_block{
              display: block;
              background-image: linear-gradient(to bottom, #d7eff5, #cae9f3 35%, #5cb5de);
              padding: 18px 10px;
            }
            span.time_text, span.str_text{
              color: $blue_level_30;
              text-shadow: 0 2px 4px $blue_level_31;
              font-size: 1rem;
            }
            span.time_text{
              float:right;
            }
            span.str_text{
              display: inline-block;
              width: calc(100% - 64px);
              /*word-break: break-all;*/
            }
          }
        }
      }
    }
    ul.item_list{
      margin:0;
      padding:0;
      > li{
        list-style: none;
        margin:0 15px 20px 0;
        padding:0;
        font-size: 1.25rem;
        display: inline-block;
        vertical-align: top;
        &:nth-child(5n){
          margin-right: 0;
        }
        a.item_link{
          display: block;
          border-radius: 4px;
          background-color: rgba(73, 189, 221, 0.5);
          color: $white;
          cursor: pointer;
          text-decoration: none;
          width: 190px;
          border: 2px solid $white;
          overflow: hidden;
          font-size: 0;
          position: relative;
          height: 120px;
          img.link_img{
            height: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        div.desc_block{
          position: absolute;
          bottom:0;
          left:0;
          width:100%;
          padding-bottom: 8px;
          padding-top: 8px;
          background-image: linear-gradient(to bottom, $black_level_9, $black_level_10 52%, $black_level_11);
          p.para1, p.para2{
            color: $white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          p.para1{
            font-size: .875rem;
            margin:0 14px;
          }
          p.para2{
            font-size: .75rem;
            margin: 6px 14px 0 14px;
          }
        }
      }
    }
    h2.title2{
      font-size: 1.5rem;
      color: $white;
      margin:50px 0 0 0;
      padding:0;
      &.-for-main{
        margin:0;
        width: 700px;
        max-height: 54px;
        overflow: hidden;
      }
    }
    div.recently_view{
      margin-top: 20px;
    }
  }

}
