@import "colors";
div.custom-vjs{
  top: 50%;
  position: relative;
  height: 3px !important;
  transform: translateY(-50%);
}
section.normal_section{
  padding: 30px 10px 30px 30px;
  div.all_contents_block{
    width: 1040px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 12px;
    div.live_stream_block{
      width: 1000px;
      font-size: 0;
      margin-top: 20px;
      position: relative;
      div.left_block, div.right_block{
        display: inline-block;
        vertical-align: top;
      }
      div.left_block{
        width: 700px;
        font-size: 1rem;
        video.video-js{
          width:100%;
          /*border: 1px solid red !important;*/
        }
        video.vjs-tech{
        }
		img.videoPreviewThumb {
			width:160px;
			display:none;
			position: absolute;
			bottom: 36px;
			margin-left: -80px;
		}
      }
      div.right_block{
        width: calc(100% - 700px);
        font-size: 1rem;
        background-image: linear-gradient(to bottom, $blue_level_34, $blue_level_35);

        position: absolute;
        right:0;
        top:0;
        height: 100%;
        div.initial_side{
          position: absolute;
          height: 100%;
          /*overflow-y: scroll;*/
          overflow-y: auto;
          overflow-x: hidden;
          padding-bottom: 10px;
          width: 100%;
          z-index: 1;
          ul.status_list{
            margin:14px 0 16px 14px;
            padding:0;
            font-size: 0;
            > li{
              display: inline-block;
              margin:0 8px 0 0;
              padding:0;
              list-style: none;
              span.text{
                font-size: .875rem;
                &.-unread{
                  color: $white;
                }
                &.-read{
                  color: $black;
                }
                &.-strong{
                  color: $white;
                  background-color: $red_level_4;
                  padding: 3px 7px;
                }
                &.-basic{
                  color: $white;
                  background-color: $yellow_level_4;
                  padding: 3px 14px;
                }
                &.-familiar{
                  color: $white;
                  background-color: $green_level_5;
                  padding: 3px 14px;
                }
              }

            }
          }
          div.course_block{
            div.course_name{
              display: inline-block;
              font-size: .875rem;
              color: $white;
              width: 1rem;
              vertical-align: top;
              margin-left: 14px;
              padding-top: 100px;
            }
            div.all_phrase_block{
              display: inline-block;
              vertical-align: top;
              width: calc(100% - 40px);
              position: relative;
              /*
              span.vertical_line{
                position: absolute;
                display: inline-block;
                width: 1px;
                height: calc(100% - 15px);
                top:15px;
                left:-1px;
                background-color: $white;
              }
              */
              &::before, &::after{
                content: "";
                display: block;
              }
              &::after{
                clear: both;
              }
              div.phrase_block{
                position: relative;
                margin-left: 12px;
                margin-bottom: 10px;
                &:last-child{
                  margin-bottom: 0;
                }
                &::before, &::after{
                  content: "";
                  display: block;
                }
                &::after{
                  clear: both;
                }
                &:not(:last-child){
                  span.vertical_line{
                    position: absolute;
                    top:15px;
                    left:-12px;
                    height: calc(100% + 10px);
                    width: 1px;
                    background-color: $white;
                  }
                }


                div.phrase_left{
                  float:left;
                  position: relative;
                  span.-dash{
                    position: absolute;
                    display: inline-block;
                    width: 5px;
                    height: 1px;
                    background-color: $white;
                    top:15px;
                    left:-12px;
                  }
                  p.chapter_para{
                    margin:0;
                    font-size: .875rem;
                    color: $white;
                    span.-chapter{
                      display: block;
                      margin-bottom: 2px;
                    }
                    span.chapter_name{
                      display: block;
                      width: 70px;
                    }
                  }
                }
                div.phrase_right{
                  float:left;
                  text-align: left;
                  width: calc(100% - 70px);
                  ul.phrase_list{
                    margin:0;
                    padding:0;
                    > li{
                      display: block;
                      margin:0 0 10px 0;
                      padding:0;
                      list-style: none;
                      font-size: .875rem;
                      text-align: right;
                      &:last-child{
                        margin:0;
                      }

                      p.item_title{
                        font-size: .875rem;
                        margin:2px 0 2px 0;
                        text-align: left;
                        padding-left: 26px;
                        > span.text{
                          display: inline-block;
                          max-width: 122px;
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          &.-unread{
                            color: $white;
                          }
                          &.-read{
                            color: $black;
                          }
                          &.-strong{
                            color: $white;
                            background-color: $red_level_4;
                            padding: 2px 5px;
                          }
                          &.-basic{
                            color: $white;
                            background-color: $yellow_level_4;
                            padding: 2px 5px;
                          }
                          &.-familiar{
                            color: $white;
                            background-color: $green_level_5;
                            padding: 2px 5px;
                          }
                        }
                      }
                      ul.sub_phrase_list{
                        margin:0;
                        padding:0;
                        > li{
                          margin:0 0 2px 0;
                          padding:0 0 0 40px;
                          list-style: none;
                          font-size: .875rem;
                          position: relative;
                          text-align: left;
                          position: relative;
                          &:last-child{
                            margin:0;
                          }
                          span.icon_location{
                            display: inline-block;
                            vertical-align: middle;
                            position: absolute;
                            left: 25px;
                            top: -3px;
                            img.icon_location{
                              width: 12px;
                            }
                          }

                          span.text{
                            display: inline-block;
                            width: 130px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            position: relative;
                            text-align: left;
                            &.-unread{
                              color: $white;
                            }
                            &.-read{
                              color: $black;
                            }
                            &.-strong{
                              background-color: $red_level_4;
                              padding: 0;
                            }
                            &.-basic{
                              background-color: $yellow_level_4;
                              padding: 0;
                            }
                            &.-familiar{
                              background-color: $green_level_5;
                              padding: 0;
                            }
                          }

                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        div.ptt_img_block{
          position: absolute;
          top:0;
          left:0;
          background-color: $white;
          text-align: center;
          height: 100%;
          width: 100%;
          z-index: 2;
          img.ptt_img{
            max-width: 100%;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        div.list_side{
          position: absolute;
          left:calc(100% + 6px);
          top:0;
          height: 100%;
          z-index: 3;
          &.-off{
            width: 34px;
          }
          &.-on{
            width:100%;
          }
          button.btn_drop{
            border:0;
            background: none;
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            height: 100%;
            background-color: rgba(15, 80, 127, .8);
            width: 34px;
            padding:0;
            border-radius: 20px 0 0 20px;
            z-index: 2;
            cursor: pointer;
            outline: none;
            img.-left, img.-right{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            img.-left{
              display: inline;
            }
            img.-right{
              display: none;
            }
            &.-on{
              img.-left{
                display: none;
              }
              img.-right{
                display: inline;
              }
            }
          }
          div.list_side_block{
            position: absolute;
            right:0;
            top:0;
            height: 100%;
            overflow-y: scroll;
            width: calc(100% - 34px);
            background-image: linear-gradient(to bottom, $blue_level_37, $blue_level_38 35%, $white_level_4);
            ul.video_desc_list{
              display: inline-block;
              width:100%;
              visibility: hidden;
              &.-temp_show{
                visibility: visible;
              }
            }
          }

        }
        ul.video_desc_list{
          margin:0;
          padding:0;
          > li{
            display: block;
            list-style: none;
            margin:0;
            padding:0;
            &::before, &::after{
              content:"";
              display: block;
            }
            &::after{
              clear: both;
            }
            a.item_block, span.item_block{
              display: block;
              background-image: linear-gradient(to bottom, #70bad7, #51a8d1);
              padding: 18px 10px;
              &.-on{
                background-image: linear-gradient(to bottom, #d6eef4, #cdeaf2 35%, #8dcbe6);
                span.time_text, span.str_text{
                  color: $blue_level_30;
                }
              }
            }
            span.time_text, span.str_text{
              color: $white;
              text-shadow: 0 2px 4px $blue_level_31;
              font-size: 1rem;
              span.circle{
                display: inline-block;
                vertical-align: middle;
                border:1px solid $black;
                background-color: $white;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                position: absolute;
                top:0;
                left:0;
                span.circle_inner{
                  display: inline-block;
                  width: 14px;
                  height: 14px;
                  background-color: $black;
                  border-radius: 50%;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
            }
            span.time_text{
              float:right;
            }
            span.str_text{
              display: inline-block;
              width: calc(100% - 64px);
              /*word-break: break-all;*/
              line-height: 1.4;
              position: relative;
              &.-title{
                width: 100%;
                padding-left: 30px;
              }
            }
          }
        }
      }
    }



    ul.item_list{
      margin:0;
      padding:0;
      > li{
        list-style: none;
        margin:0 15px 20px 0;
        padding:0;
        font-size: 1.25rem;
        display: inline-block;
        vertical-align: top;
        &:nth-child(5n){
          margin-right: 0;
        }
        a.item_link{
          display: block;
          border-radius: 4px;
          background-color: rgba(73, 189, 221, 0.5);
          color: $white;
          cursor: pointer;
          text-decoration: none;
          width: 190px;
          border: 2px solid $white;
          overflow: hidden;
          font-size: 0;
          position: relative;
          height: 120px;
          overflow: hidden;
          img.link_img{
            height: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        div.desc_block{
          position: absolute;
          bottom:0;
          left:0;
          width:100%;
          padding-bottom: 8px;
          padding-top: 8px;
          background-image: linear-gradient(to bottom, $black_level_9, $black_level_10 52%, $black_level_11);
          p.para1, p.para2{
            color: $white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          p.para1{
            font-size: .875rem;
            margin:0 14px;
          }
          p.para2{
            font-size: .75rem;
            margin: 6px 14px 0 14px;
          }
        }
      }
    }
    h2.title2{
      font-size: 1.5rem;
      color: $white;
      margin:0;
      padding:0;
      &.-recent-view{
        margin-top: 50px;
      }
      &.-for-main{
        width: 700px;
        max-height: 54px;
        overflow: hidden;
      }
    }
    div.recently_view{
      margin-top: 20px;
    }
  }

}

div.comment_block{
  font-size: 0;
  margin-top: 10px;
  margin-bottom: 50px;
  &.-none{
    display: none;
  }
  div.left_block, div.right_block{
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    background-color: $black_level_5;
    padding: 5px;
    textarea.comment_text, textarea.comment_star{
      width: 100%;
      height: 70px;
      border-radius: 5px;
      background-color: $black_level_8;
      box-shadow: inset 0 2px 0 0 $blue_level_39;
      resize: none;
      outline: none;
      padding: 8px;
    }
    div.action_block{
      margin-top: 5px;
      margin-bottom: 5px;
      &::before, &::after{
        content: "";
        display: block;
      }
      &::after{
        clear: both;
      }

      ul.send_list{
        margin:0;
        padding:0;
        display: inline-block;
        vertical-align: middle;
        float:right;
        position: relative;
        top: 4px;
        > li{
          display: inline-block;
          list-style: none;
          margin:0 10px 0 0;
          padding:0;
          vertical-align: middle;
          &:last-child{
            margin-right: 0;
          }
          button.btn_send{
            border:0;
            background: none;
            padding:4px 0;
            font-size: 1.25rem;
            color: $white;
            width: 130px;
            border-radius: 8px;
            box-shadow: inset 0 1px 0 0 $blue_level_23;
            background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
            border: solid 1px $white_level_5;
            outline: none;
            cursor: pointer;
            position: relative;
            &.-disabled{
              opacity: .6;
              cursor: not-allowed;
            }
            div.placeholder_canvas{

              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% + 135px), calc(-50% - 280px)) scale(1);
              z-index: 3;
              transition: all 1s 0.5s;
              &.-ani{
                transform: translate(calc(-50%), calc(-50%)) scale(0);
              }
            }
          }
        }
      }
    }
  }
  div.left_block{
    width: 700px;
    font-size: 1rem;
    margin-right: 2px;
    ul.draw_list{
      margin:0 0 0 5px;
      padding:0;
      display: inline-block;
      vertical-align: middle;
      font-size: 0;
      &.-show{
        display: inline-block;
      }
      > li{
        display: inline-block;
        vertical-align: middle;
        margin:0 10px 0 0;
        padding:0;
        list-style: none;
        &:last-child{
          margin-right: 0;
        }
        button.btn_draw{
          border:0;
          background: none;
          padding:0;
          outline: none;
          cursor: pointer;
          position: relative;
          &.btn_pen, &.btn_eraser{
            img.on, img.off{
              width: 40px;
            }
            img.on{
              display: none;
            }
            img.off{
              display: inline;
            }
            &.-on{
              img.on{
                display: inline;
              }
              img.off{
                display: none;
              }
            }
          }

        }
      }
    }
    ul.use_pen_list{
      margin:0;
      padding:0;
      display: inline-block;
      vertical-align: middle;
      > li{
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        button.btn_pen_use{
          border:0;
          background: none;
          padding:4px 0;
          font-size: 1.25rem;
          color: $white;
          width: 130px;
          border-radius: 8px;
          box-shadow: inset 0 1px 0 0 $blue_level_23;
          background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
          border: solid 1px $white_level_5;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
  div.right_block{
    /*width: calc(100% - 700px - 40px);*/
    width: 300px;
    font-size: 1rem;
    ul.star_list{
      display: inline-block;
      margin-top: 8px;
      margin-left: 8px;
    }
  }
}

div.jquery-modal{
  z-index: 6;
  &::before{
    @media screen and (max-width: 1170px){
      height: auto;
    }
  }
  div.modal{
    background-color: $blue_level_8;
    border-radius: 30px;
    padding:0;
    overflow: hidden;
    width: 640px;
    max-width: none;
    div.modal_header{
      font-size: 1.5rem;
      color: $white;
      background-color: $blue_level_9;
      font-weight: 500;
      text-align: center;
      padding: 20px 0;
      position: relative;
      a.modal_close{
        position: absolute;
        right: 20px;
        top:50%;
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        display: inline-block;
        line-height: 1;
        transform: translateY(-50%);
      }
      div.btn_question_mark_block{
        position: absolute;
        left: 20px;
        top:50%;
        transform: translateY(-50%);
        button.btn_question_mark{
          padding:0;
          border:0;
          background: none;
          text-decoration: none;
          color: $white;
          font-size: 2rem;
          display: inline-block;
          line-height: 1;
          width: 24px;
          height: 24px;
          outline: none;
          cursor: pointer;
          img.icon_question_mark{
            max-width: 100%;
          }
        }
        div.question_content{
          position: absolute;
          padding: 20px 30px;
          border-radius: 20px;
          border: 2px solid $black;
          background-color: $white;
          color: $black;
          font-size: 1rem;
          width: 428px;
          line-height: 1.5;
          text-align: left;
          span.angle_top{
            display: inline-block;
            position: absolute;
            top:-22px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }

    }
    div.modal_content{
      padding: 20px;
      &.-content1{
        padding-top: 100px;
        padding-bottom: 100px;
        p.para{
          font-size: 1.125rem;
          color: $black_level_7;
          text-align: center;
        }
      }
      &.-content2{
        padding-top: 50px;
        padding-bottom: 40px;
        p.para2{
          font-size: 1.125rem;
          color: $black_level_7;
          margin-bottom: 30px;
        }
      }
      &.-content3{
        div.textarea_block{
          textarea.rating_comment{
            resize: none;
            border-radius: 10px;
            background-color: $black_level_3;
            box-shadow: 0 -2px 0 0 $blue_level_20;
            height: 170px;
            width: 100%;
            outline: none;
            padding: 10px;
          }
        }
        div.rating_star{
          padding-left:20px;
          margin-top: 15px;
          span.rating_text{
            display: inline-block;
            vertical-align: middle;
            font-size: 1.5rem;
            color: $white;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
          }
          ul.star_list{
            position: relative;
            top:1px;
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            font-size: 0;
            margin-left: 5px;
            > li{
              margin-right: 10px;
            }
          }
        }
      }


    }
    div.modal_footer{
      padding: 15px 0;
      font-size: 0;
      margin-bottom: 0;
      background-color: $blue_level_9;
      text-align: center;
      &::before, &::after{
        content: "";
        display: block;
      }
      &::after{
        clear:both;
      }
      a.modal_close, button.btn_question{
        border-radius: 10px;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: solid 1px $white;
        color: $white;
        font-size: 1.25rem;
        text-decoration: none;
        width: 200px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        display: inline-block;
      }
      button.btn_question{
        cursor: pointer;
        outline: none;
        &.-general{
          margin-right: 30px;
        }
        &.-disabled{
          opacity: .6;
        }
      }

    }
    a.close-modal {
      display: none;
    }
  }
}
#confuse_modal{
  overflow: visible;
  background-color: transparent;
  div.modal_header, div.modal_footer{
    background-color: $blue_level_9;
  }
  div.modal_header{
    border-radius: 30px 30px 0 0;
  }
  div.modal_footer{
    border-radius: 0 0 30px 30px;
  }
  div.modal_content{
    background-color: $blue_level_8;
  }
  div.question_content{
    left:calc(50% + 1px);
    transform: translateX(-50%);
    top: 50px;
  }
}

#show_pen_modal{
  width: 1070px;

  div.modal_header{
    text-align: left;
    padding-bottom: 10px;
    span.use_pen_title{
      font-size: 1.5rem;
      margin-left: 30px;
    }
    a.modal_close{
      right: 30px;
    }
  }
  div.modal_content{
    background-color: $blue_level_9;
    padding: 10px 30px 30px;
    div.preview_canvas{
      border: 5px solid $white;
      border-radius: 10px;
      font-size: 0;
    }
    div.placeholder_canvas{
      font-size: 0;
      position: absolute;
      top:-50%;
      left:-50%;
      transform: translate(calc(-50% - 20px), calc(-50% - 280px)) scale(1);
      z-index: 3;
      transition: all 1s 0.5s;
      &.-ani{
        transform: translate(calc(-50%), calc(-50%)) scale(0);
        top: 50%;
        left: 50%;
      }
      /*> canvas{
        width: 1000px;
        height: 388px;
      }*/
    }
    div.comment_block{
      margin-bottom: 0;
      button.btn_send{
        position: relative;
      }
      div.left_block{
        width: 100%;
      }
    }
  }
}

#comment_rating_modal{
  a.send_rating{
    &.-disabled{
      opacity: .6;
      cursor: not-allowed;
    }
  }
}
