@import "colors";

section.slide_sec{
  /*width: 1080px;*/

  /*margin: 0 auto;*/
  div.slick_slider{
    /*width: 1080px;*/
    width: 100%;
    div.slick-slide{
      /*height: 198px;*/
      width: 100%;
      img.item_img{
        width: 100%;
        height: 200px;
      }
      /*overflow: hidden;*/
      /*position: relative;*/
    }
    button.slick-arrow{
      z-index: 3;
      width: 40px;
      height: 40px;
      line-height: 1;
      background-color: $black;
      opacity: .5;
      border-radius: 50%;
      &:hover{
        opacity: 1;
      }
      &::before{
        position: relative;
        opacity: 1;
        top:-1px;
      }
      &.slick-prev{
        left:10px;
        &::before{
          content: url("../images/icon/icon-arrow-left.svg");
          left:-1px;
        }
      }
      &.slick-next{
        right:10px;
        &::before{
          content: url("../images/icon/icon-arrow-right.svg");
          right:-1px;
        }
      }
    }
  }
}

section.normal_section{
  padding: 30px 35px;
  width: 1074px;
  margin: 0 auto;
  h1.title1{
    font-weight: 600;
    font-size: 1.5rem;
    color: $white;
    padding:0;
    margin:0 0 20px 0;
  }
  div.news_block{
    &::before, &::after{
      content:"";
      display: block;
    }
    &::after{
      clear:both;
    }
    div.page_number_block{
      float:right;
      margin-top: -30px;
      button.btn_left, button.btn_right{
        background: none;
        border:0;
        color: $white;
        position: relative;
        top:-1px;
        cursor: pointer;
        outline: none;
        &.-disabled{
          color: $blue_level_5;
          cursor: not-allowed;
        }
      }
      span.page_number{
        color: $white;
      }
    }
    ul.news_list{
      margin:0;
      padding:0;
      > li{
        list-style: none;
        margin:0 0 10px 0;
        padding:0;
        font-size: 1.25rem;
        a.item_block{
          display: block;
          border-radius: 10px;
          background-color: rgba(73, 189, 221, 0.5);
          color: $white;
          padding: 10px 20px;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }

}

section.video_and_desc_section{
  padding: 10px 35px 50px;
  width: 1074px;
  margin: 0 auto;
  div.content_block{

    div.tab_contents_block{
      div.left_right_block{
        font-size: 0;
        div.left_block, div.right_block{
          display: inline-block;
          vertical-align: top;
        }
        div.left_block{
          width:calc(100% - 300px);
          margin-right:10px;
          video.video-js{
            width:100%;
          }
        }
        div.right_block{
          width: 290px;
          height: 400px;
          border-radius: 10px;
          background-color: $black_level_5;
          padding: 20px;
          color: $white;
          font-size: 1.25rem;
          overflow-y: auto;
          p.para_title{
            margin:0 0 5px 0;
          }
          ul.desc_list{
            margin:0;
            padding:0;
            > li{
              display: block;
              list-style: none;
              margin:0;
              padding:0;
            }
          }
        }
      }
    }

    div.tab_block{
      margin-top: 20px;
      ul.tab_list{
        margin:0;
        padding:0;
        font-size: 0;
        > li{
          display: inline-block;
          vertical-align: top;
          margin:0 1px 0 0;
          padding:0;
          &:last-child{
            margin-right:0;
          }
          ul.item_list{
            margin:0;
            padding:0;
            display: inline-block;
            vertical-align: top;
            width: 916px;
            overflow: hidden;
            white-space: nowrap;
            > li{
              display: inline-block;
              vertical-align: top;
              margin:0 1px 0 0;
              padding:0;
              position: relative;
              &:last-child{
                margin-right:0;
              }
            }
          }
          button.btn_tab{
            border:0;
            background: none;
            font-size: 1.125rem;
            background-image: linear-gradient(to bottom, $white_level_2, $black_level_6);
            padding: 18px 0;
            width: 130px;
            text-align: center;
            outline: none;
            cursor: pointer;
            line-height: 1;
            color: $blue_level_11;
            font-weight: 500;
            &:hover, &.-on{
              background-image: linear-gradient(to bottom, $yellow_level_1, $yellow_level_2 61%, #fcf6a9);
              box-shadow: inset 0 1px 3px 0 $white_level_1;
              color: $blue_level_12;
            }
            &.-left, &.-right{
              padding:0;
              background: none;
              width: auto;
              box-shadow:none;
              font-size: 0;
              > img{
                height: 54px;
              }
            }
            &.-left{

            }
            &.-right{
            }
          }
        }
      }
    }
  }
}
div.jquery-modal{
  z-index: 5;
  &::before{
    @media screen and (max-width: 680px){
      height: auto;
    }
  }
  div.modal{
    background-color: $blue_level_8;
    border-radius: 30px;
    padding:0;
    overflow: hidden;
    width: 640px;
    max-width: none;
    div.modal_header{
      font-size: 1.5rem;
      color: $white;
      background-color: $blue_level_9;
      font-weight: 500;
      text-align: center;
      padding: 20px 0;
      position: relative;
      a.modal_close{
        position: absolute;
        right: 20px;
        top:50%;
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        display: inline-block;
        line-height: 1;
        transform: translateY(-50%);
        &.btn_back{
          right:auto;
          left: 20px;
        }
      }
    }
    div.modal_content{
      padding: 20px;
      h1.modal_title{
        font-size: 1.25rem;
        margin:0 0 15px 0;
        padding:0 0 15px 0;
        border-bottom: 1px solid $black;
      }
      div.para_content_parent{
        height: 220px;
        overflow-y: auto;
        p{
          margin:0;
          line-height: 1.4;
          word-wrap: break-word;
        }
      }
    }
    div.modal_footer{
      padding-left:20px;
      padding-right:20px;
      font-size: 0;
      margin-bottom: 20px;
      min-height: 40px;
      &::before, &::after{
        content: "";
        display: block;
      }
      &::after{
        clear:both;
      }
      a.other_link{
        color: $blue_level_10;
        text-decoration: underline;
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        font-size: 1rem;
        position: relative;
        top:12px;
      }
      a.btn_icon_download{
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        line-height: 1;
        float:right;
        &.-invisible{
          visibility: hidden;
        }
      }
      a.btn_download_confirm{
        display: inline-block;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: solid 1px $white;
        font-size: 1.25rem;
        color: $white;
        text-align: center;
        text-decoration: none;
        line-height: 48px;
      }
    }
    a.close-modal {
      display: none;
    }
  }
}
#file_download_modal{
  div.modal_content{
    div.files_block{
      width: 100%;
      height: 284px;
      background-image: linear-gradient(to right, #bde6ff, #c2fffc 34%, #bce4ff);
      border: solid 2px #2e90e8;
      overflow-y: auto;
      ul.files_list{
        margin:0;
        padding:0;
        > li{
          list-style: none;
          margin:0;
          padding:0;
          button.file_link{
            color: $black;
            display: block;
            padding: 7px 25px;
            text-decoration: none;
            width:100%;
            background: none;
            border:0;
            text-align: left;
            cursor: pointer;
            outline: none;
            &.-on{
              color: $white;
              background-color: #2e90e8;
            }
          }
        }
      }
    }
  }
  div.modal_footer{
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: $blue_level_9;
    margin-bottom: 0;
  }
}
