@import "colors";
div.all_content{
  min-height: 650px;
  position: relative;
}
a.switch_login{
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, $blue_level_15, $blue_level_16);
  border: solid 2px $blue_level_14;
  position: absolute;
  right: 20px;
  top:20px;
  font-size: 1.25rem;
  color: $white;
  text-decoration: none;
  text-align: center;
  line-height: 46px;
}
section.login_section{
  width: 300px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  div.logo_block{
    font-size: 0;
    text-align: center;
    margin-bottom: 20px;
    a.logo_link{
      width: 200px;
      display: inline-block;
      font-size: 0;
      img.img_logo{
        max-width: 100%;
      }
    }
  }

  div.form_block{
    form.form_unit{
      div.input_group{
        margin-bottom: 25px;
        label.text_label{
          display: block;
          font-size: .875rem;
          color: $white;
          margin-bottom: 10px;
        }
        input.text_input{
          width: 100%;
          height: 50px;

          font-size: 1.25rem;
          border-radius: 10px;
          border: 1px solid $white;
          background-color: $blue_level_13;
          padding: 10px 15px;
          outline: none;
        }
      }
      div.submit_group{
        margin-top: 30px;
        input.btn_submit{
          width:100%;
          height: 60px;
          background-image: linear-gradient(to bottom, $blue_level_15, $blue_level_16);
          border: solid 2px $blue_level_14;
          border-radius: 10px;
          color: $white;
          text-align: center;
          font-size: 1.25rem;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
    div.forget_pwd_block{
      text-align: center;
      margin-top: 32px;
      a.forget_pwd_link{
        text-decoration: none;
        display: block;
        img.q_mark{
          width: 24px;
          display: inline-block;
          vertical-align: middle;
        }
        span.q_text{
          display: inline-block;
          vertical-align: middle;
          color: $white;
          font-size: 1.125rem;
          position: relative;
          top:-1px;
          margin-left:5px;
        }
      }
    }
  }
}

div.jquery-modal{
  z-index: 3;
  &::before{
    @media screen and (max-width: 680px){
      height: auto;
    }
  }
  div.modal{
    background-color: $blue_level_8;
    border-radius: 30px;
    padding:0;
    overflow: hidden;
    width: 640px;
    max-width: none;
    div.modal_header{
      font-size: 1.5rem;
      color: $white;
      background-color: $blue_level_9;
      font-weight: 500;
      text-align: center;
      padding: 20px 0;
      position: relative;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);

    }
    div.modal_content{
      padding: 20px;
      h1.modal_title{
        font-size: 1.125rem;
        color: $black_level_7;
        text-align: center;
        &.-add-margin-top{
          margin-top:40px;
        }
        &.-add-margin{
          margin-top:40px;
          margin-bottom: 40px;
        }
      }
      div.success_block{
        margin-top:20px;
        margin-bottom: 40px;
        p{
          font-size: 2.25rem;
          color: $black_level_7;
          margin:0;
          text-align: center;
          font-weight: bold;
        }
      }
      div.fail_block{
        margin-top:40px;
        margin-bottom: 40px;
        p{
          font-size: 1rem;
          color: $black_level_7;
          margin:0;
          text-align: center;
          font-weight: bold;
        }
      }
      div.form_forget_pwd_block{
        text-align: center;
        margin-top: 30px;
        form.form_forget_pwd{
          div.input_group{
            margin-bottom: 30px;
            label.label_text{
              display: inline-block;
              vertical-align: middle;
              color: $black_level_7;
              font-size: .875rem;
              margin-right: 10px;
            }
            input.text_input{
              display: inline-block;
              vertical-align: middle;
              border-radius: 10px;
              border:0;
              background-color: $black_level_3;
              box-shadow: 0 -2px 0 0 $blue_level_20;
              width: 300px;
              height: 50px;
              padding: 10px 12px;
              outline: none;
              font-size: 1.25rem;
            }
          }
        }
      }
    }
    div.modal_footer{
      padding: 15px 20px;
      font-size: 0;
      background-color: $blue_level_9;
      text-align: center;
      &::before, &::after{
        content: "";
        display: block;
      }
      &::after{
        clear:both;
      }
      a.modal_close{
        font-size: 1.25rem;
        color: $white;
        text-decoration: none;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: solid 1px $white;
        width: 200px;
        text-align: center;
        display: inline-block;
        padding: 12px 0;
        border-radius: 10px;
        margin-right: 30px;
        &.-no-margin{
          margin-right:0;
        }
      }
      button.btn_submit_data{
        font-size: 1.25rem;
        color: $white;
        text-decoration: none;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: solid 1px $white;
        width: 200px;
        text-align: center;
        display: inline-block;
        padding: 12px 0;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
      }
    }
    a.close-modal {
      display: none;
    }
  }
}

#login_fail_modal{
  div.modal_content{
    padding-top: 88px;
    padding-bottom: 88px;
  }
}

#forget_pwd_success_modal{
  div.modal_content{
    padding-top: 76px;
    padding-bottom: 76px;
  }
}

#forget_pwd_fail_modal{
  div.modal_content{
    padding-top: 87px;
    padding-bottom: 87px;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $black_level_1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $black_level_1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $black_level_1;
}
:-moz-placeholder { /* Firefox 18- */
  color: $black_level_1;
}
