@import "colors";

section.normal_section{
  padding: 30px 10px 30px 30px;
  div.all_contents_block{
    width: 1044px;
    font-size: 0;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 12px;
    a.tag_plus{
      right: 34px;
    }
    div.book_block_container{
      position: relative;
      margin-top: 20px;
      font-size: 0;
      div.right_block{
        width: calc(100% - 700px);
        font-size: 1rem;
        position: absolute;
        right:-1px;
        top:-1px;
        height: 100%;
        visibility: hidden;
        z-index: 1000000;
        div.list_side{
          position: absolute;
          left:calc(100% - 34px);
          top:0;
          height: 100%;
          z-index: 3;
          visibility: visible;
          &.-off{
            width: 34px;
          }
          &.-on{
            width:100%;
          }
          button.btn_drop{
            border:0;
            background: none;
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            height: 100%;
            background-color: rgba(15, 80, 127, .8);
            width: 34px;
            padding:0;
            border-radius: 20px 0 0 20px;
            z-index: 2;
            cursor: pointer;
            outline: none;
            img.-left, img.-right{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            img.-left{
              display: inline;
            }
            img.-right{
              display: none;
            }
            &.-on{
              img.-left{
                display: none;
              }
              img.-right{
                display: inline;
              }
            }
          }
          div.list_side_block{
            position: absolute;
            right:0;
            top:0;
            height: 100%;
            overflow-y: auto;
            width: calc(100% - 34px);
            background-image: linear-gradient(to bottom, $blue_level_37, $blue_level_38 35%, $white_level_4);
            ul.para_desc_list{
              display: inline-block;
              > li{

              }
            }
          }

        }
        ul.para_desc_list{
          margin:0;
          padding:0;
          width: 100%;
          > li{
            display: block;
            list-style: none;
            margin:0;
            padding:0;
            &::before, &::after{
              content:"";
              display: block;
            }
            &::after{
              clear: both;
            }
            a.item_block, span.item_block{
              display: block;
              background-image: linear-gradient(to bottom, #70bad7, #51a8d1);
              padding: 18px 10px;
              &.-on{
                background-image: linear-gradient(to bottom, #d6eef4, #cdeaf2 35%, #8dcbe6);
                span.time_text, span.str_text{
                  color: $blue_level_30;
                }
              }
            }
            span.time_text, span.str_text{
              color: $white;
              text-shadow: 0 2px 4px $blue_level_31;
              font-size: 1rem;
              span.circle{
                display: inline-block;
                vertical-align: middle;
                border:1px solid $black;
                background-color: $white;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                position: absolute;
                top:0;
                left:0;
                span.circle_inner{
                  display: inline-block;
                  width: 14px;
                  height: 14px;
                  background-color: $black;
                  border-radius: 50%;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
            }
            span.time_text{
              float:right;
            }
            span.str_text{
              display: inline-block;
              width: 100%;
              /*word-break: break-all;*/
              line-height: 1.4;
              position: relative;
              &.-title{
                width: 100%;
                padding-left: 30px;
              }
            }
          }
        }
      }
    }
    div.action_block{
      width: 1px solid yellow;
      font-size: 16px;
      margin-top: 15px;
      margin-bottom: 50px;
      div.top_action{
        ul.left_list, ul.right_list{
          margin:0;
          padding:0;
          font-size: 0;
          > li{
            display: inline-block;
            margin:0 15px 0 0;
            padding:0;
            list-style: none;
            &:last-child{
              margin-right: 0;
            }
            button.btn_page, button.btn_zoom, button.btn_print{
              border:0;
              background: none;
              padding:0;
              width: 120px;
              line-height: 1;
              font-size: 0;
              cursor: pointer;
              outline: none;
              > img{
                max-width: 100%;
              }
              &.-p{

              }
              &.-l{

              }
            }
            button.btn_page, button.btn_print{
              &.-disabled{
                opacity: .45;
                cursor: not-allowed;
              }
            }
          }
        }
        ul.right_list{
          float: right;
          margin-right: 35px;
          > li{

          }
        }
      }
      div.bottom_action{
        margin-top: 15px;
        width: 1010px;
        ul.action_list{
          margin:0;
          padding:0;
          font-size: 0;
          > li{
            display: inline-block;
            list-style: none;
            margin:0 15px 0 0;
            padding:0;
            vertical-align: top;
            &:last-child{
              margin-right: 0;
            }
            button.btn_action, a.btn_action{
              font-size: 1.25rem;
              width: 120px;
              height: 45px;
              padding:0;
              border-radius: 8px;
              box-shadow: inset 0 1px 0 0 $blue_level_23;
              background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
              border: solid 1px $white_level_5;
              color: $white;
              cursor: pointer;
              outline: none;
              &.-send-wrong{
                width: 85px;
              }
              &.-link{
                text-decoration: none;
                display: inline-block;
                text-align: center;
                line-height: 43px;
              }
              &.-disabled{
                opacity: .6;
                cursor: not-allowed;
              }
            }
            div.wrong_block{
              background-color: $white;
              border-radius: 5px;
              overflow: hidden;
              display: inline-block;
              font-size: 0;
              &.-visible-none{
                visibility: hidden;
              }
              label.for_wrong{
                font-size: 16px;
                color: $orange_level_7;
                padding-left: 15px;
              }
              input.text_wrong{
                font-size: 16px;
                color: $black;
                outline: none;
                padding: 12px 0 12px;
                border:0;
                width: 456px;
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                  color: $black_level_13;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                  color: $black_level_13;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                  color: $black_level_13;
                }
                &:-moz-placeholder { /* Firefox 18- */
                  color: $black_level_13;
                }
              }
            }
          }
        }
      }
    }
    div.book_block{
      width: 1010px;
      font-size: 0;

      position: relative;
      overflow: hidden;
      div.left_block, div.right_block{
        display: inline-block;
        vertical-align: top;
      }
      div.left_block{
        /*width: 700px;*/
        width: 100%;
        font-size: 1rem;
      }

    }



    ul.item_list{
      margin:0;
      padding:0;
      > li{
        list-style: none;
        margin:0 15px 20px 0;
        padding:0;
        font-size: 1.25rem;
        display: inline-block;
        vertical-align: top;
        &:nth-child(5n){
          margin-right: 0;
        }
        a.item_link{
          display: block;
          border-radius: 4px;
          background-color: rgba(73, 189, 221, 0.5);
          color: $white;
          cursor: pointer;
          text-decoration: none;
          width: 190px;
          border: 2px solid $white;
          overflow: hidden;
          font-size: 0;
          position: relative;
          height: 120px;
          img.link_img{
            height: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        div.desc_block{
          position: absolute;
          bottom:0;
          left:0;
          width:100%;
          padding-bottom: 8px;
          padding-top: 8px;
          background-image: linear-gradient(to bottom, $black_level_9, $black_level_10 52%, $black_level_11);
          p.para1, p.para2{
            color: $white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          p.para1{
            font-size: .875rem;
            margin:0 14px;
          }
          p.para2{
            font-size: .75rem;
            margin: 6px 14px 0 14px;
          }
        }
      }
    }
    h2.title2{
      font-size: 1.5rem;
      color: $white;
      margin:0;
      padding:0;
      &.-for-main{
        width: 920px;
        max-height: 54px;
        overflow: hidden;
      }
    }
    div.recently_view{
      margin-top: 20px;
    }
  }

}
.html2canvas-container { width: 3000px !important; height: 3000px !important; }



/* Basic sample */
/*
body{
	overflow:hidden;
	background-color:#fcfcfc;
	margin:0;
	padding:0;
}
*/

.flipbook-viewport{
	overflow:hidden;
	/*width:100%;
	height:100%;*/
  width: 1010px;
  height: 698px;

}

.flipbook-viewport .container{
	position:absolute;
	top:50%;
	left:50%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	/*width:922px;*/
  width: 1010px;
	/*height:600px;*/
  height: 698px;
	/*left:-461px;*/
  left: -505px;
	/*top:-300px;*/
  top: -349px;
}

.flipbook-viewport .page{
	/*width:461px;*/
  width: 505px;
	/*height:600px;*/
  height: 698px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

button.btn_save_note, button.btn_send_wrong{
  position: relative;
}
#placeholder_canvas, #placeholder_canvas2{
  position: absolute;
  top:50%;
  left:50%;
  z-index: 3;
  transition: all 1s 0.5s;
  &.-ani{
    transform: translate(calc(-50%), calc(-50%)) scale(0);
  }
}
#placeholder_canvas{
  transform: translate(calc(-50% - 310px), calc(-50% - 440px)) scale(1);
}
#placeholder_canvas2{
  transform: translate(calc(-50% - 180px), calc(-50% - 440px)) scale(1);
}

#flipbook{
  &.ltr{
    div.custom_checkbox{
      &.-left-bottom{
        left:0;
      }
      &.-right-bottom{
        right: 0;
      }
    }
  }
  &.rtl{
    div.custom_checkbox{
      &.-left-bottom{
        right:0;
      }
      &.-right-bottom{
        left: 0;
      }
    }
  }
  div.custom_checkbox{
    bottom: 0;
    position: absolute;
    font-size: 0;
    z-index: 999;
    /*&.-left-bottom{
      left:100px;
      left:0;
    }
    &.-right-bottom{
      right: 100px;
      right: 0;
    }*/
  }
  div.custom_checkbox label{
    cursor:pointer;
  }
  div.custom_checkbox input[type="checkbox"] + label::before{
    content: ''; /* non-break space */
    display: inline-block;
    position:relative;
    width: 25px;
    height: 25px;
    background-image: url("../images/icon/icon-check2-empty.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  /*
  checkbox 被勾選時：
  */
  div.custom_checkbox input[type="checkbox"]:checked + label::before{
    content: '';
    background-image: url("../images/icon/icon-check2-check.svg");
  }

  /*
  將原來的 checkbox 隱藏
  */
  div.custom_checkbox input[type="checkbox"]{
    position:absolute;
    clip: rect(0,0,0,0);
  }
}

div.jquery-modal{
  z-index: 1000002 !important;
  &::before{
    @media screen and (max-width: 1170px){
      height: auto;
    }
  }
  div.modal{
    background-color: $blue_level_8;
    border-radius: 30px;
    padding:0;
    overflow: hidden;
    width: 640px;
    max-width: none;
    div.modal_header{
      font-size: 1.5rem;
      color: $white;
      background-color: $blue_level_9;
      font-weight: 500;
      text-align: center;
      padding: 20px 0;
      position: relative;
      a.modal_close{
        position: absolute;
        right: 20px;
        top:50%;
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        display: inline-block;
        line-height: 1;
        transform: translateY(-50%);
      }
      div.btn_question_mark_block{
        position: absolute;
        left: 20px;
        top:50%;
        transform: translateY(-50%);
        button.btn_question_mark{
          padding:0;
          border:0;
          background: none;
          text-decoration: none;
          color: $white;
          font-size: 2rem;
          display: inline-block;
          line-height: 1;
          width: 24px;
          height: 24px;
          outline: none;
          cursor: pointer;
          img.icon_question_mark{
            max-width: 100%;
          }
        }
        div.question_content{
          position: absolute;
          padding: 20px 30px;
          border-radius: 20px;
          border: 2px solid $black;
          background-color: $white;
          color: $black;
          font-size: 1rem;
          width: 428px;
          line-height: 1.5;
          text-align: left;
          span.angle_top{
            display: inline-block;
            position: absolute;
            top:-22px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }

    }
    div.modal_content{
      padding: 20px;
      &.-content1{
        padding-top: 100px;
        padding-bottom: 100px;
        p.para{
          font-size: 1.125rem;
          color: $black_level_7;
          text-align: center;
        }
      }
      &.-content2{
        padding-top: 50px;
        padding-bottom: 40px;
        p.para2{
          font-size: 1.125rem;
          color: $black_level_7;
          margin-bottom: 30px;
        }
      }
      &.-content3{
        div.textarea_block{
          textarea.rating_comment{
            resize: none;
            border-radius: 10px;
            background-color: $black_level_3;
            box-shadow: 0 -2px 0 0 $blue_level_20;
            height: 170px;
            width: 100%;
            outline: none;
            padding: 10px;
          }
        }
        div.rating_star{
          padding-left:20px;
          margin-top: 15px;
          span.rating_text{
            display: inline-block;
            vertical-align: middle;
            font-size: 1.5rem;
            color: $white;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
          }
          ul.star_list{
            position: relative;
            top:1px;
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            font-size: 0;
            margin-left: 5px;
            > li{
              margin-right: 10px;
            }
          }
        }
      }


    }
    div.modal_footer{
      padding: 15px 0;
      font-size: 0;
      margin-bottom: 0;
      background-color: $blue_level_9;
      text-align: center;
      &::before, &::after{
        content: "";
        display: block;
      }
      &::after{
        clear:both;
      }
      a.modal_close, button.btn_question{
        border-radius: 10px;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: solid 1px $white;
        color: $white;
        font-size: 1.25rem;
        text-decoration: none;
        width: 200px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        display: inline-block;
      }
      button.btn_question{
        cursor: pointer;
        outline: none;
        &.-general{
          margin-right: 30px;
        }
      }

    }
    a.close-modal {
      display: none;
    }
  }
}
#confuse_modal{
  overflow: visible;
  background-color: transparent;
  div.modal_header, div.modal_footer{
    background-color: $blue_level_9;
  }
  div.modal_header{
    border-radius: 30px 30px 0 0;
  }
  div.modal_footer{
    border-radius: 0 0 30px 30px;
  }
  div.modal_content{
    background-color: $blue_level_8;
  }
  div.question_content{
    left:calc(50% + 1px);
    transform: translateX(-50%);
    top: 50px;
  }
}

#msg_article{
  z-index: 1000001 !important;
}
