@import "colors";
article.msg_article{
  height: calc(100vh - 90px);
  min-height: 400px;
  /*max-height: calc(100vh - 90px);*/
  width: 350px;
  position: absolute;
  right:10px;
  top: 80px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 $black_level_1;
  background-color: $blue_level_105;
  border: 2px solid $blue_level_106;
  z-index: 3;
  div.head_block{
    width: 100%;
    height: 60px;
    border-radius: 8px 8px 0 0;
    background-image: linear-gradient(to top, $blue_level_107, $blue_level_108);
    padding: 10px;
    position: relative;
    z-index: 3;
    div.person_block{
      span.img_span{
        display: inline-block;
        vertical-align: middle;
        img.person{
          width: 40px;
        }
      }
      span.-title{
        font-size: 1.125rem;
        display: inline-block;
        vertical-align: middle;
        height: 40px;
        line-height: 40px;
        color: $white;
        text-shadow: 0 2px 4px $black_level_1;
        margin-left: 10px;
      }
      div.btn_q_mark_parent{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        top: 2px;
        left: 5px;
        button.btn_q_mark{
          padding:0;
          background: none;
          border:0;
          cursor: pointer;
          outline: none;
          position: relative;
          img{
            width: 20px;
          }
        }
        div.service_info_block{
          position: absolute;
          left: 50%;
          width: 260px;
          transform: translateX(-50%);
          background-color: $white;
          border-radius: 10px;
          padding: 20px;
          margin-top: 5px;
          box-shadow: 0 5px 10px 0 $black_level_1;
          z-index: 3;
          &::after{
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top:-8px;

            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;

            border-bottom: 8px solid $white;
          }
          p.para_title{
            margin:0;
            font-size: 1rem;
            color: $blue_level_105;
            margin-bottom: 10px;
          }
          ul.service_list{
            display: block;
            margin:0;
            padding:0;
            > li{
              list-style: none;
              margin:0 0 5px 0;
              padding:0;
              font-size: .875rem;
              &:last-child{
                margin:0;
              }
              span.-circle{
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $blue_level_105;
                margin-right: 10px;
                position: relative;
                top: -2px;
              }
            }
          }
        }
      }
    }
    button.btn_close{
      padding:0;
      border:0;
      background: none;
      float:right;
      margin-top: 12px;
      cursor: pointer;
      outline: none;
    }
  }
  div.content_block{
    position: relative;
    height: calc(100% - 156px - 60px);
    div.admin_msg{
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      background-color: $yellow_level_33;
      font-size: 0;
      padding: 5px;
      z-index: 2;
      div.left_block{
        display: inline-block;
        vertical-align: middle;
        width: 30px;
      }
      div.right_block{
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 36px);
        p.para{
          font-size: .875rem;
          margin:0;
          color: $black;
        }
      }
    }
    div.msg_list_block{
      position: absolute;
      bottom:0;
      left:0;
      padding-top:10px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      overflow-y: scroll;
      ul.user_msg_list{
        margin:0;
        padding:0;
        > li{
          list-style: none;
          margin:0 0 20px 0;
          padding:0;
          &:last-child{
            margin-bottom: 0;
          }
          &.-own{
            text-align: right;
            div.msg_block{
              div.time_block{
                color: $white;
                display: inline-block;
                vertical-align: middle;
                font-size: .75rem;
                text-align: right;
                margin-right: 5px;
                span.date, span.time{
                  display: block;
                }
              }
              div.msg_bubble{
                display: inline-block;
                vertical-align: middle;
                background-image: linear-gradient(to bottom, $white, $blue_level_109);
                box-shadow: 0 3px 6px 0 $black_level_15;
                font-size: .875rem;
                color: $black;
                max-width: 200px;
                border-radius: 10px;
                padding: 10px;
                position: relative;
                text-align: left;
                word-wrap:break-word;
                &::after{
                  content: url("../images/icon/icon_corner-b.png");
                  position: absolute;
                  right:-4px;
                  bottom:0px;
                  font-size: 0;
                }
              }
            }
          }
          &.-others{
            div.msg_block{
              div.time_block{
                color: $white;
                display: inline-block;
                vertical-align: middle;
                font-size: .75rem;
                text-align: left;
                margin-left: 5px;
                span.date, span.time{
                  display: block;
                }
              }
              div.msg_bubble{
                display: inline-block;
                vertical-align: middle;

                background-image: linear-gradient(to bottom, $green_level_37, $green_level_38);
                box-shadow: 0 3px 6px 0 $black_level_15;

                font-size: .875rem;
                color: $black;
                max-width: 200px;
                border-radius: 10px;
                padding: 10px;
                position: relative;
                word-wrap:break-word;
                &::after{
                  content: url("../images/icon/icon_corner-g.png");
                  position: absolute;
                  left:-4px;
                  bottom:0px;
                  font-size: 0;
                }
              }
            }
          }

        }
      }
    }
  }
  div.foot_block{
    padding: 10px;
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    textarea.send_msg{
      width: 100%;
      height: 90px;
      border-radius: 5px;
      background-color: $blue_level_86;
      padding: 10px;
      border:0;
      outline: none;
      font-size: 1rem;
    }
    div.msg_other_action{
      font-size: 0;
      margin-top: 10px;
      &::before, &::after{
        content: "";
        display: block;
      }
      &::after{
        clear: both;
      }
      button.btn_msg_upload{
        padding:0;
        background: none;
        border:0;
        width: 60px;
        cursor: pointer;
        outline: none;
        float: left;
        img.img_msg_upload{
          max-width: 100%;
        }
      }
      input.file_input{
        display: none;
      }
      button.btn_send_msg{
        width: 110px;
        text-align: center;
        padding:5px 0;
        border:0;
        background: none;
        cursor: pointer;
        outline: none;
        font-size: 1rem;
        color: $white;
        float: right;

        border-radius: 10px;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: 1px solid $white;
      }
    }
  }
}
