@import "colors";

section.normal_section{
  padding: 30px;
  div.all_contents_block{
    width: 1000px;
    margin: 0 auto;

    div.upload_block{
      text-align: right;
      margin-bottom: 20px;
      div.upload_action{
        button.btn_upload{

          width: 140px;
          height: 44px;
          border-radius: 8px;
          box-shadow: inset 0 1px 0 0 $blue_level_23;
          background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
          border: solid 1px $white_level_5;
          font-size: 1.125rem;
          color: $white;
          text-shadow: 0 1px 4px $black_level_1;
          cursor: pointer;
          outline: none;
        }
        input.file_input{
          display: none;
        }
      }
    }

    div.table_block{
      table.custom_table{
        border-collapse: collapse;
        thead{
          tr{
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            th{
              color: $blue_level_84;
              font-size: .875rem;
              font-weight: normal;
              height: 40px;
              width: 130px;
              border-right: 1px solid rgba(0, 0, 0, 0.1);
              &:nth-child(1), &:last-child{
                background-color: #51b2e0;
                width: 45px;
                border-right:0;
              }
              &:nth-child(8){
                border-right:0;
              }
            }
          }

        }
        tbody{
          tr{

            td{
              text-align: center;
              color: $blue_level_84;
              height: 50px;
              border-right: 1px solid $blue_level_92;
              border-bottom: 1px solid $blue_level_92;
              input.subject_text{
                width: 120px;
                text-align: center;
                background: none;
                border:0;
                outline: none;
              }
              &:nth-child(even){
                background-color: $blue_level_89;
              }
              &:nth-child(odd){
                background-color: $blue_level_51;
              }
              &:nth-child(1), &:last-child{
                border-right:0;
                background-color: $blue_level_90;
              }
              &:nth-child(8){
                border-right:0;
              }
            }
            &:nth-child(1), &:nth-child(6), &:nth-child(12), &:last-child{
              td{
                border-bottom:0;
              }
            }
            &.-divide{
              td{
                background-color: $blue_level_91;
                height: 13px;
                border-bottom:0;
              }
            }
          }
        }
      }
    }
    div.img_block{
      position: relative;
      button.btn_delete{
        padding:0;
        background: none;
        border:0;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        outline: none;
      }
      > img{
        width: 100%;
      }
    }
  }

}
