@import "colors";

section.normal_section{
  padding: 30px;
  div.all_contents_block{
    width: 1000px;
    margin: 0 auto;
    div.q_block_container{
      width: 1000px;
      font-size: 0;
      margin-top: 20px;
      position: relative;
      height: 540px;

      border-radius: 0 0 10px 10px;
      background-color: $blue_level_61;
      div.left_block, div.right_block{
        display: inline-block;
        vertical-align: top;
      }
      div.left_block{
        width: 699px;
        font-size: 1rem;
        display: inline-block;
        vertical-align: top;
        margin-right: 2px;
        div.q_list_block{
          border-radius: 10px;
          background-color: $blue_level_60;
          &::before, &::after{
            content: "";
            display: block;
          }
          &::after{
            clear: both;
          }
          div.q_list_parent{
            padding: 14px 10px;
            max-height: 60px;
            overflow: hidden;
            ul.q_list{
              margin:0;
              padding:0;
              > li{
                display: inline-block;
                vertical-align: top;
                list-style: none;
                margin-right: 12px;
                &:last-child{
                  margin-right: 0;
                }
                button.btn_q_and_tab{
                  padding:0;
                  background: none;
                  border-radius: 20px;
                  font-size: 1.5rem;
                  color: $black_level_7;
                  background-image: linear-gradient(to bottom, $gray_level_4, $gray_level_5);

                  width: 60px;
                  height: 32px;
                  line-height: 28px;
                  cursor: pointer;
                  outline: none;
                  &.-on{
                    border: solid 2px $white;
                    line-height: 28px;
                  }
                  &.-right{
                    background-image: linear-gradient(to bottom, $green_level_6, $green_level_7);
                    line-height: 28px;
                    color: $white;
                  }
                  &.-wrong{
                    background-image: linear-gradient(to top, $red_level_5, $red_level_6 51%, $red_level_7);
                    line-height: 28px;
                    color: $white;
                  }
                }
              }
            }
          }
          div.each_q_block_container{
            div.each_q_block{
              display: none;
              height: 360px;
              padding: 20px;
              background-image: linear-gradient(to bottom, $white, $yellow_level_22);
              overflow-y: scroll;
              &.-on{
                display: block;
              }
              div.each_q_block_content{
                p.para{
                  font-size: 1.25rem;
                  margin:0;
                  /*color: $yellow_level_21;*/
                  line-height: 1.5;
                }
                div.audio_block{
                  button.btn_audio{
                    padding:0;
                    background: none;
                    outline: none;
                    border:0;
                    cursor: pointer;
                    > img{
                      width: 134px;
                    }
                  }
                }
              }

            }

          }
          div.answer_block_container{
            padding: 20px 10px 16px 10px;
            background-color: $blue_level_60;
            border-radius: 0  0 10px 10px;
            min-height: 116px;
            &::before, &::after{
              content: "";
              display: block;
            }
            &::after{
              clear: both;
            }
            div.answer_block_parent{
              display: inline-block;
              vertical-align: top;
              div.answer_block{
                display: none;
                font-size: 0;
                vertical-align: top;
                &.-on{
                  display: inline-block;
                }
                button.btn_left{
                  width: 40px;
                  height: 30px;
                  border-radius: 46px 0 0 46px;
                  background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
                  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
                  border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
                  border-image-slice: 1;
                  border:0;
                  position: relative;
                  outline: none;
                  vertical-align: top;
                  cursor: pointer;
                  &::after{
                    content: "";
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(calc(-50% + 2px), -50%);
                    width: 0;
                    height: 0;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    border-right:8px solid $white;
                  }
                  &.-disabled{
                    opacity: .3;
                    cursor: not-allowed;
                  }
                }
                button.btn_right{
                  width: 40px;
                  height: 30px;
                  border-radius: 0 46px 46px 0;
                  background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
                  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
                  border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
                  border-image-slice: 1;
                  border:0;
                  position: relative;
                  outline: none;
                  vertical-align: top;
                  cursor: pointer;
                  &::after{
                    content: "";
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(calc(-50% - 2px), -50%);
                    width: 0;
                    height: 0;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    border-left:8px solid $white;
                  }
                  &.-disabled{
                    opacity: .3;
                    cursor: not-allowed;
                  }
                }
                ul.q_answer_list{
                  margin:0;
                  padding:0;
                  display: inline-block;
                  vertical-align: top;
                  background-color: #113751;
                  max-width: 408px;
                  line-height: 1;
                  overflow: hidden;
                  white-space: nowrap;
                  > li{
                    display: inline-block;
                    list-style: none;
                    margin:0;
                    padding:0;
                    vertical-align: top;
                    position: relative;
                    button.btn_answer{
                      padding:0;
                      background: none;
                      font-size: 1.125rem;
                      color: $blue_level_55;
                      border:0;
                      height: 30px;
                      line-height: 30px;
                      width: 68px;
                      text-align: center;
                      cursor: pointer;
                      outline: none;
                      background-image: linear-gradient(to bottom, $white, $yellow_level_22);
                      &.-on{
                        background-image: linear-gradient(to bottom, $yellow_level_24, $yellow_level_25 67%, $yellow_level_26);
                        /*border: solid 1px $yellow_level_23;*/
                        color: $blue_level_12;
                      }
                      span.right, span.wrong{
                        display: none;
                      }
                      &.-right{
                        position: relative;
                        span.right{
                          display: inline-block !important;
                          width: 24px;
                          height: 24px;
                          border: solid 4px #01d177;
                          border-radius: 50%;
                          position: absolute;
                          left: 50%;
                          top: 50%;
                          transform: translate(-50%, -50%);
                          opacity: .6;
                        }
                      }
                      &.-wrong{
                        position: relative;
                        span.wrong{
                          display: block !important;
                          color: #ff635c;
                          position: absolute;
                          left: 50%;
                          top: 50%;
                          transform: translate(-50%, -50%);
                          font-size: 40px;
                          line-height: 30px;
                          font-weight: bold;
                          opacity: .6;

                          @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
                            top: calc(50% - 1px);
                          }

                        }
                      }
                    }
                  }
                }
              }
            }


            ul.next_or_previous{
              font-size: 0;
              margin:0;
              padding:0;
              display: inline-block;
              vertical-align: top;
              float:right;
              > li{
                display: inline-block;
                list-style: none;
                vertical-align: top;
                button.q_next{
                  font-size: 1.25rem;
                  padding:0;
                  background: none;
                  color: $white;
                  text-shadow: 0 1px 2px $black_level_1;
                  width: 80px;
                  height: 34px;
                  outline: none;
                  cursor: pointer;

                  border-radius: 8px;
                  box-shadow: inset 0 1px 0 0 $blue_level_23;
                  background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
                  border: solid 1px $white_level_5;
                  &.-p{
                    margin-right: 10px;
                  }
                  &.-invisible{
                    visibility: hidden;
                  }
                }
              }
            }
          }
          div.confirm_block{
            text-align: center;
            margin-top: 16px;
            button.btn_confirm{
              padding:0;
              width: 120px;
              height: 34px;
              border-radius: 8px;
              box-shadow: inset 0 1px 0 0 $blue_level_23;
              background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
              border: 1px solid $white_level_5;
              color: $white;
              cursor: pointer;
              outline: none;
            }
          }
        }
      }
      div.right_block{
        width: 298px;
        font-size: 1rem;
        display: inline-block;
        vertical-align: top;
        border-radius: 10px;
        /*padding-bottom: 16px;*/
        div.tab_container{
          background-image: url("../images/bg/bg_tab_for_db_exam.svg");
          background-repeat: no-repeat;
          height: 420px;
          display: none;
          &.-on{
            display: block;
          }
          div.tab{
            padding: 10px 15px;
            height: 420px;
            overflow-y: scroll;
            display: none;
            &.-on{
              display: block;
            }
            &.tab_1{
              p.para{
                font-size: 1.625rem;
              }
            }
            p.para_title{
              text-align: center;
              font-size: 1.125rem;
              color: $blue_level_59;
              margin:0;
              font-weight: bold;
            }
            &.tab_3{
              position: relative;
              div.video_block{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 0;
              }
            }
            p.para{
              font-size: 1.125rem;
              line-height: 1.6;
              color: $black_level_7;
            }
          }
        }
        div.tab_list_block_parent_container{
          background-color: $blue_level_61;
          div.tab_list_block_parent{
            background-color: $blue_level_60;
            padding-bottom: 16px;
            border-radius: 0 0 10px 10px;
            div.tab_list_block{
              background-image: linear-gradient(to bottom, $blue_level_57, $blue_level_58);
              height: 54px;
              padding-top: 0;
              ul.tab_list{
                margin:0;
                padding:0;
                font-size: 0;
                text-align: center;
                > li{
                  display: inline-block;
                  vertical-align: top;
                  list-style: none;
                  margin:0;
                  padding:0;
                  width: 33%;
                  &:last-child{
                    width: 34%;
                    button.btn_tab{
                      margin-right: 0;
                    }
                  }
                  button.btn_tab{
                    font-size: 1.125rem;
                    padding:0;
                    border:0;
                    background: none;
                    color: $gray_level_3;
                    height: 54px;
                    line-height: 54px;
                    text-align: center;
                    width: 100%;
                    cursor: not-allowed;
                    outline: none;
                    &.-on{
                      color: $white;
                      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
                      background-image: linear-gradient(122deg, #34b3d3, #288dc9);
                    }
                    &.-have-data{
                      cursor: pointer;
                      color: $white;
                      /*&:hover{
                        color: $white;
                      }*/
                      &.-disabled{
                        color: $gray_level_3 !important;
                        &:hover{
                          cursor: not-allowed;
                        }
                      }
                    }
                  }
                }
              }
            }
            p.remain_wrong{
              margin:12px 0 0 0;
              font-size: 1.125rem;
              text-align: center;
              color: $red_level_30;
              line-height: 34px;
              height: 34px;
            }
          }
        }
      }
    }

    div.comment_block{
      font-size: 0;
      margin-top: 10px;
      margin-bottom: 50px;
      &.-none{
        display: none;
      }
      div.left_block, div.right_block{
        display: inline-block;
        vertical-align: top;
        border-radius: 10px;
        background-color: $black_level_5;
        padding: 13px 10px;

        div.action_block{
          line-height: 1;
          text-align: center;
          &::before, &::after{
            content: "";
            display: block;
          }
          &::after{
            clear: both;
          }

          ul.send_list{
            margin:0;
            padding:0;
            display: inline-block;
            vertical-align: middle;
            > li{
              display: inline-block;
              list-style: none;
              margin:0 10px 0 0;
              padding:0;
              vertical-align: middle;
              &:last-child{
                margin-right: 0;
              }
              button.btn_send{
                border:0;
                background: none;
                padding:4px 0;
                font-size: 1.25rem;
                color: $white;
                width: 130px;
                border-radius: 8px;
                box-shadow: inset 0 1px 0 0 $blue_level_23;
                background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
                border: solid 1px $white_level_5;
                outline: none;
                cursor: pointer;
              }
            }
          }
        }
      }
      div.left_block{
        width: 699px;
        font-size: 1rem;
        margin-right: 2px;
        div.action_block{
          text-align: left;
        }
      }
      div.right_block{
        width: 298px;
        font-size: 1rem;
      }
    }

    ul.item_list{
      margin:0;
      padding:0;
      > li{
        list-style: none;
        margin:0 15px 20px 0;
        padding:0;
        font-size: 1.25rem;
        display: inline-block;
        vertical-align: top;
        &:nth-child(5n){
          margin-right: 0;
        }
        a.item_link{
          display: block;
          border-radius: 4px;
          background-color: rgba(73, 189, 221, 0.5);
          color: $white;
          cursor: pointer;
          text-decoration: none;
          width: 190px;
          border: 2px solid $white;
          overflow: hidden;
          font-size: 0;
          position: relative;
          img.link_img{
            max-width: 100%;
          }
          ul.wrong_or_not_list{
            margin:0;
            padding:0;
            position: absolute;
            top:10px;
            left:8px;
            > li{
              list-style: none;
              display: inline-block;
              vertical-align: middle;
              margin:0 5px 0 0;
              padding:0;
              &:last-child{
                margin-right: 0;
              }
              span.-wrong, span.-right{
                border-radius: 10px;
                box-shadow: 0 2px 4px 0 $black_level_1;
                border: solid 1px $white;
                font-size: .75rem;
                color: $white;
                width: 30px;
                text-align: center;
                display: inline-block;
                padding-top: 1px;
              }
              span.-wrong{
                background-image: linear-gradient(to top, $red_level_5, $red_level_6 51%, $red_level_7);
              }
              span.-right{
                background-image: linear-gradient(to bottom, $green_level_6, $green_level_7);
              }
            }
          }
        }
        div.desc_block{
          position: absolute;
          bottom:0;
          left:0;
          width:100%;
          padding-bottom: 5px;
          padding-top: 5px;
          background-image: linear-gradient(to bottom, $black_level_9, $black_level_10 52%, $black_level_11);
          p.para1, p.para2{
            color: $white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          p.para1{
            font-size: .875rem;
            margin:0 14px 5px 14px;
          }
          p.para2{
            font-size: .75rem;
            margin: 2px 14px 0 14px;
          }
        }
      }
    }
    h2.title2{
      font-size: 1.5rem;
      color: $white;
      margin: 0;
      padding:0;
      min-height: 27px;
    }
  }

}

div.jquery-modal{
  z-index: 6;
  &::before{
    @media screen and (max-width: 680px){
      height: auto;
    }
  }
  div.modal{
    background-color: $blue_level_8;
    border-radius: 30px;
    padding:0;
    overflow: hidden;
    width: 640px;
    max-width: none;
    div.modal_header{
      font-size: 1.5rem;
      color: $white;
      background-color: $blue_level_9;
      font-weight: 500;
      text-align: center;
      padding: 20px 0;
      position: relative;
      a.modal_close{
        position: absolute;
        right: 20px;
        top:50%;
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        display: inline-block;
        line-height: 1;
        transform: translateY(-50%);
      }


    }
    div.modal_content{
      padding: 10px;
      textarea.textarea_data{
        height: 240px;
        width: 100%;
        border-radius: 10px;
        background-color: $black_level_3;
        box-shadow: 0 -2px 0 0 $blue_level_20;
        outline: none;
        padding: 10px 12px;
      }
    }
    div.modal_footer{
      padding: 15px 0;
      font-size: 0;
      margin-bottom: 0;
      background-color: $blue_level_9;
      text-align: center;
      &::before, &::after{
        content: "";
        display: block;
      }
      &::after{
        clear:both;
      }
      a.modal_close, button.btn_question, button.btn_send_data{
        border-radius: 10px;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: solid 1px $white;
        color: $white;
        font-size: 1.25rem;
        text-decoration: none;
        width: 200px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        outline: none;
      }
      button.btn_question{
        cursor: pointer;
        outline: none;
        &.-general{
          margin-right: 30px;
        }
      }

    }
    a.close-modal {
      display: none;
    }
  }
}
#confuse_modal{
  overflow: visible;
  background-color: transparent;
  div.modal_header, div.modal_footer{
    background-color: $blue_level_9;
  }
  div.modal_header{
    border-radius: 30px 30px 0 0;
  }
  div.modal_footer{
    border-radius: 0 0 30px 30px;
  }
  div.modal_content{
    background-color: $blue_level_8;
  }
  div.question_content{
    left:calc(50% + 1px);
    transform: translateX(-50%);
    top: 50px;
  }
}
button.btn_save_note{
  position: relative;
}
#placeholder_canvas{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(calc(-50% + 135px), calc(-50% - 280px)) scale(1);
  z-index: 3;
  transition: all 1s 0.5s;
  &.-ani{
    transform: translate(calc(-50%), calc(-50%)) scale(0);
  }
}

video.answer_video::-internal-media-controls-download-button {
    display:none;
}

video.answer_video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video.answer_video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}
