@import "colors";

$vertical_line_left: 586px;
img{
  max-width: 100%;
}
section.normal_section{
  padding: 30px 20px 30px 30px;
  div.all_contents_block{
    width: 1020px;
    margin: 0 auto;
    div.info_block_container{
      font-size: 0;
      div.info_block{
        width: 100px;
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
        &.-more-width1{
          width: 110px;
        }
        &.-more-width2{
          width: 150px;
        }
        &.-range{
          width: 356px;
          div.middle_block{
            overflow-y: auto;
            ul.range_list{
              margin:0;
              padding:0;
              > li{
                list-style: none;
                margin:0 0 5px 0;
                padding:0;
                text-align: left;
                &:last-child{
                  margin-bottom: 0;
                }
              }
            }
          }
        }
        div.top_block{
          background-image: linear-gradient(to bottom, $red_level_10, $red_level_11);
          color: $white;
          font-size: .875rem;
          text-align: center;
          border-radius: 7px 7px 0 0;
          height: 25px;
          line-height: 25px;
        }
        div.middle_block{
          border-radius: 0 0 7px 7px;
          color: $black;
          font-size: 1rem;
          background-image: linear-gradient(to bottom, $red_level_12, $red_level_13);
          text-align: center;
          height: 45px;
          padding: 13px 12px;
          &.-less-padding{
            padding: 8px 12px;
          }
          &.-less-padding1{
            padding: 0;
            line-height: 1;
          }
          p.para_date, p.para_time{
            font-size: .875rem;
            color: $black;
            margin:0;
          }
          div.middle_inner_block{
            font-size: 0;
            div.-left, div.-right{
              display: inline-block;
              vertical-align: top;
              height: 45px;
            }
            div.-left{
              font-size: 1rem;
              width: calc(100% - 80px);
              color: $red_level_26;
              padding-top: 12px;
              text-align: left;
              padding-left:15px;
            }
            div.-right{
              background-image: linear-gradient(120deg, transparent 22px, $red_level_27 22px, $red_level_27, $red_level_28);
              color: $white;
              font-size: .75rem;
              width: 80px;
              padding-top: 25px;
              text-align: right;
              padding-right: 15px;
            }
          }

        }

      }
    }

    div.content_block{
      background-color: $black_level_5;
      border-radius: 10px;
      width: 1020px;
      margin-top: 16px;
      div.q_total_block_container{
        padding: 15px 10px;
        div.q_total_block{
          font-size: 0;
          button.btn_left{
            width: 40px;
            height: 30px;
            border-radius: 46px 0 0 46px;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            position: relative;
            outline: none;
            vertical-align: top;
            cursor: pointer;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% + 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-right:8px solid $white;
            }
            &.-disabled{
              opacity: .3;
              cursor: not-allowed;
            }
          }
          button.btn_right{
            width: 40px;
            height: 30px;
            border-radius: 0 46px 46px 0;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            position: relative;
            outline: none;
            vertical-align: top;
            cursor: pointer;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% - 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-left:8px solid $white;
            }
            &.-disabled{
              opacity: .3;
              cursor: not-allowed;
            }
          }
          ul.q_count_list{
            margin:0;
            padding:0;
            display: inline-block;
            vertical-align: top;
            background-color: #113751;
            width: 920px;
            line-height: 1;
            overflow: hidden;
            white-space: nowrap;
            > li{
              display: inline-block;
              list-style: none;
              margin:0;
              padding:0;
              vertical-align: top;
              position: relative;
              button.btn_count{
                padding:0;
                background: none;
                font-size: 1.125rem;
                color: $white;
                border:0;
                height: 30px;
                line-height: 30px;
                width: 46px;
                text-align: center;
                cursor: pointer;
                outline: none;
                &.-on{
                  span.-circle{
                    display: inline-block;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    border: solid 2px $blue_level_50;
                    line-height: 26px;
                  }
                }
                &.-answered{
                  color: $blue_level_56;
                }
                &.-will-check{
                  color: $red_level_14;
                }
              }
            }
          }
        }
      }

      div.q_and_a_block_container{
        div.data_tab{
          &.-none{
            display: none;
          }
          div.q_content{
            font-size: 0;
            background-image: linear-gradient(to bottom, $white, $yellow_level_22);
            min-height: 390px;
            position: relative;
            div.left_block, div.right_block{
              display: inline-block;
              vertical-align: top;
            }
            div.left_block{
              width: 220px;
              background-image: linear-gradient(to bottom, $blue_level_51, $blue_level_52);
              position: absolute;
              top:0;
              left:0;
              height: 100%;
              text-align: center;
              span.info1, span.info2{
                display: block;
                border-radius: 7px;
                background-image: linear-gradient(to bottom, $blue_level_53, $blue_level_54);
                color: $blue_level_12;
                font-size: 1.125rem;
                width: 157px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                margin: 0 auto;
              }
              span.info1{
                margin-bottom: 10px;
                margin-top: 32px;
              }
              a.tag_plus{
                position: absolute;
                bottom:32px;
                left: 32px;
                top: auto;
              }
            }
            div.right_block{
              width: calc(100% - 220px);
              margin-left: 220px;
              font-size: 1.25rem;
              padding: 15px 25px;
              p.para{
                color: $yellow_level_21;
                line-height: 1.4;
                margin:0;
              }
            }
          }
          div.answer_block_container{
            position: relative;
            padding: 20px 10px;
            div.answer_block{
              display: inline-block;
              font-size: 0;
              vertical-align: top;
              button.btn_left{
                width: 40px;
                height: 30px;
                border-radius: 46px 0 0 46px;
                background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
                border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
                border-image-slice: 1;
                position: relative;
                outline: none;
                vertical-align: top;
                cursor: pointer;
                &::after{
                  content: "";
                  position: absolute;
                  top:50%;
                  left:50%;
                  transform: translate(calc(-50% + 2px), -50%);
                  width: 0;
                  height: 0;
                  border-top: 6px solid transparent;
                  border-bottom: 6px solid transparent;
                  border-right:8px solid $white;
                }
                &.-disabled{
                  opacity: .3;
                  cursor: not-allowed;
                }
              }
              button.btn_right{
                width: 40px;
                height: 30px;
                border-radius: 0 46px 46px 0;
                background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
                border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
                border-image-slice: 1;
                position: relative;
                outline: none;
                vertical-align: top;
                cursor: pointer;
                &::after{
                  content: "";
                  position: absolute;
                  top:50%;
                  left:50%;
                  transform: translate(calc(-50% - 2px), -50%);
                  width: 0;
                  height: 0;
                  border-top: 6px solid transparent;
                  border-bottom: 6px solid transparent;
                  border-left:8px solid $white;
                }
                &.-disabled{
                  opacity: .3;
                  cursor: not-allowed;
                }
              }
              ul.q_answer_list{
                margin:0;
                padding:0;
                display: inline-block;
                vertical-align: top;
                background-color: #113751;
                max-width: 408px;
                line-height: 1;
                overflow: hidden;
                white-space: nowrap;
                > li{
                  display: inline-block;
                  list-style: none;
                  margin:0;
                  padding:0;
                  vertical-align: top;
                  position: relative;
                  button.btn_answer{
                    padding:0;
                    background: none;
                    font-size: 1.125rem;
                    color: $blue_level_55;
                    border:0;
                    height: 30px;
                    line-height: 30px;
                    width: 68px;
                    text-align: center;
                    cursor: pointer;
                    outline: none;
                    background-image: linear-gradient(to bottom, $white, $yellow_level_22);
                    &.-on{
                      background-image: linear-gradient(to bottom, $yellow_level_24, $yellow_level_25 67%, $yellow_level_26);
                      /*border: solid 1px $yellow_level_23;*/
                      color: $blue_level_12;
                    }
                  }
                }
              }
            }
            div.n_or_p{
              display: inline-block;
              vertical-align: top;
              margin-left: 20px;
              button.q_next{
                border:0;
                background: none;
                color: $white;
                font-size: 1.25rem;
                display: inline-block;
                padding:0;
                width: 80px;
                height: 34px;
                line-height: 34px;
                border-radius: 8px;
                box-shadow: inset 0 1px 0 0 $blue_level_23;
                background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
                border: solid 1px $white_level_5;
                text-align: center;
                cursor: pointer;
                outline: none;
                &.-p{
                  margin-right: 10px;
                }
                &.-n{

                }
              }
            }
            div.check_again_block{
              position: absolute;
              right:10px;
              top:20px;
              button.btn_check{
                display: inline-block;
                border:0;
                background: none;
                padding:0;
                border-radius: 8px;
                width: 120px;
                height: 34px;
                line-height: 34px;
                box-shadow: inset 0 1px 0 0 $blue_level_23;
                background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
                border: solid 1px $white_level_5;
                text-align: center;
                font-size: 1.25rem;
                color: $white;
                cursor: pointer;
                outline: none;
                &.-on{
                  box-shadow: inset 0 1px 4px 0 $white_level_9;
                  background-image: linear-gradient(to top, $red_level_15, $red_level_16);
                  border: solid 1px $white;
                }
              }
            }
          }
        }
      }



    }
    div.send_test{
      margin-top: 20px;
      text-align: center;
      margin-bottom: 50px;
      width: 1020px;
      button.btn_send_test{
        padding:0;
        display: inline-block;
        vertical-align: top;
        width: 200px;
        height: 34px;
        line-height: 34px;
        color: $white;
        font-size: 1.25rem;
        outline: none;
        cursor: pointer;

        border-radius: 8px;
        box-shadow: inset 0 1px 0 0 $blue_level_23;
        background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
        border: solid 1px $white_level_5;
      }
    }
    div.filter_block{
      margin-top: 25px;
      div.all_or_wrong_block, div.q_and_answer{
        display: inline-block;
        vertical-align: top;
      }
      div.all_or_wrong_block{
        ul.data_list{
          font-size: 0;
          margin:0;
          padding:0;
          > li{
            margin:0 12px 0 0;
            padding:0;
            display: inline-block;
            vertical-align: top;
            &:last-child{
              margin-right: 0;
            }
            > div.radio_block{
              position: relative;

              > label{
                font-size: 1.125rem;
                cursor: pointer;
                text-align: center;
                display: inline-block;
                height: 50px;
                width: 100px;
                position: relative;
                background-image: linear-gradient(to bottom, $blue_level_62, $blue_level_63);
                opacity: .7;
                span.inner_style{
                  display: inline-block;
                  width: 94px;
                  height: 44px;
                  line-height: 38px;

                  margin: 0 auto;
                  box-sizing: border-box;
                  color: $white;
                  border: 3px solid transparent;
                  position: relative;
                  top: 3px;
                  background-image: linear-gradient(to bottom, #0366e9, #1673e9 58%, #297ee8);
                  > img{
                    height: 30px;
                    &.arrow{
                      height: 24px;
                      position: relative;
                      top:-3px;
                      left:1px;
                    }
                  }
                }
              }
              input.option_radio{
                position: absolute;
                top:0;
                left:0;
                z-index: 2;
                visibility: hidden;
                &:checked{
                  + label{
                    opacity: 1;
                    span.inner_style{
                      border: 3px solid $white;
                    }
                  }
                }
              }
            }
          }
        }

      }
      div.q_and_answer{
        float: right;
        ul.q_and_answer_list{
          margin:0;
          padding:0;
          font-size: 0;
          > li{
            display: inline-block;
            margin:0;
            padding:0;
            list-style: none;
            vertical-align: top;
            button.btn_open_all_answer{
              width: 148px;
              height: 50px;
              padding:0;
              border:0;
              border-radius: 8px;
              box-shadow: inset 0 1px 0 0 $blue_level_23;
              background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
              border: solid 1px $white_level_5;
              outline: none;
              cursor: pointer;
              font-size: 1.25rem;
              color: $white;
              span.-close{
                display: none;
              }
              &.-on{
                span.-open{
                  display: none;
                }
                span.-close{
                  display: inline;
                }
              }
            }
          }
        }
      }
    }
    div.item_list_block{
      margin-top: 15px;
      background-color: $blue_level_60;
      border-radius: 10px;
      padding-bottom: 20px;

      ul.item_data_list_for_head, ul.item_data_list{
        margin:0;
        padding:0;
        > li{
          margin:0;
          padding:0;
          list-style: none;

          div.-row{
            font-size: 0;
          }
          div.-col{
            display: inline-block;
            vertical-align: top;
            font-size: .875rem;
            color: $blue_level_93;
            width: calc((100% - 360px) / 8);
            padding: 7px 0;
            text-align: center;
            box-sizing: border-box;

            &:nth-child(8){
              width: 360px;
            }
          }
        }
      }
      ul.item_data_list{
        > li{
          &:nth-child(odd){
            background-image: linear-gradient(to right, #bde5ff, #c2fefc 26%, #bce4ff);
          }
          &:nth-child(even){
            background-image: linear-gradient(to right, #aaddff, #acf7fc 25%, #9bd8ff);
          }
          div.-row{

          }
          div.-col{
            font-size: 1rem;
            color: $black;
            padding:0;
            min-height: 50px;
            position: relative;
            padding-top: 15px;
            padding-bottom: 15px;
            &:last-child{
              padding:0;
            }
            &:nth-child(8){
              text-align: center;
            }
            span.img_span{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: inline-block;
              line-height: 0;
              &.collect_action{
                cursor: pointer;
              }
              img.-collect, img.-no-collect{
                &.-hide{
                  display: none;
                }
              }
            }
            p.para_concept{
              margin:0;
              white-space:nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            button.btn_open{
              padding:0;
              border:0;
              background: transparent;
              font-size: 1rem;
              color: $black;
              width: 100%;
              height: 100%;
              /*line-height: 48px;*/
              box-sizing: border-box;
              cursor: pointer;
              outline: none;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              span.-text-on{
                display: inline;
              }
              span.-text-off{
                display: none;
              }
              &.-on{
                color: $white;
                background-image: linear-gradient(to bottom, #79fcff, #6af4f9 28%, #3fe0e8);
                span.-text-on{
                  display: none;
                }
                span.-text-off{
                  display: inline;
                }
              }
            }
          }
          div.drawer_block{
            background-color: $white;
            display: none;
            div.q_and_a_block{
              position: relative;
              font-size: 0;
              &::after{
                content: "";
                position: absolute;
                width: 2px;
                height: 100%;
                background-color: $blue_level_94;
                left: $vertical_line_left;
              }
              div.left_block, div.right_block{
                display: inline-block;
                vertical-align: top;
                font-size: 1rem;
                padding: 10px;
              }
              div.left_block{
                width: calc(#{$vertical_line_left} + 2px);
                table{
                  max-width: 100%;
                  width: auto;
                }
              }
              div.right_block{
                width: calc(100% - (#{$vertical_line_left} + 2px));
                table{
                  max-width: 100%;
                  width: auto;
                }
                div.answer_block{
                  div.answer_left_block, div.answer_right_block{
                    display: inline-block;
                    vertical-align: top;
                    p.para_correct_answer, p.para_my_answer{
                      margin:0;
                      color: $blue_level_95;
                    }
                  }
                  div.answer_left_block{
                    margin-right: 20px;
                  }
                }
              }
            }
            div.middle_block, div.bottom_block{
              background-image: linear-gradient(to bottom, $gray_level_12, $gray_level_13);
            }
            div.middle_block{
              padding: 10px 20px 5px;
              position: relative;
              min-height: 50px;
              p.para{
                margin:7px 0 0 0;
                color: $blue_level_95;
                font-size: .875rem;
                display: inline-block;
                vertical-align: top;
              }
              ul.answer_ratio_list{
                margin:0;
                padding:0;
                display: inline-block;
                vertical-align: middle;
                width: calc(100% - 250px);
                > li{
                  margin:0 10px 5px 0;
                  padding:0;
                  list-style: none;
                  display: inline-block;
                  vertical-align: middle;
                  &:last-child{
                    margin-right: 0;
                  }
                  div.ratio_item{
                    span.-a{
                      display: inline-block;
                      vertical-align: middle;
                      width: 30px;
                      height: 30px;
                      border-radius: 10px;
                      background-image: linear-gradient(to bottom, $white, $gray_level_15);
                      box-shadow: 0 1px 3px 0 $gray_level_14;
                      color: $blue_level_95;
                      font-size: .875rem;
                      font-weight: bold;
                      position: relative;
                      span.-a-text{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                      }
                    }
                    span.-ratio{
                      font-size: .875rem;
                      color: $blue_level_95;
                      display: inline-block;
                      vertical-align: middle;
                      margin-left: 3px;
                      min-width: 34px;
                    }
                  }
                }
              }
              button.btn_img_answer{
                width: 130px;
                height: 34px;
                padding:0;
                border:0;
                border-radius: 8px;
                box-shadow: inset 0 1px 0 0 $blue_level_23;
                background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
                border: solid 1px $white_level_5;
                outline: none;
                cursor: pointer;
                font-size: 1.25rem;
                color: $white;
                position: absolute;
                right:20px;
                top:8px;
                &.-off{
                  opacity: .5;
                  cursor: not-allowed;
                }
              }
            }
            div.bottom_block{
              text-align: left;
              padding: 8px 20px;
              position: relative;
              &::before, &::after{
                content: "";
                display: block;
              }
              &::after{
                clear: both;
              }
              p.para{
                margin:10px 0 0 0;
                color: $blue_level_95;
                font-size: .875rem;
                display: inline-block;
                vertical-align: middle;
              }
              ul.action_block{
                display: inline-block;
                margin:0;
                padding:0;
                float:right;
                > li{
                  display: inline-block;
                  vertical-align: middle;
                  margin:0 10px 0 0;
                  padding:0;
                  list-style: none;
                  &:last-child{
                    margin-right: 0;
                  }
                  button.btn_action{
                    width: 130px;
                    height: 34px;
                    padding:0;
                    border:0;
                    border-radius: 8px;
                    box-shadow: inset 0 1px 0 0 $blue_level_23;
                    background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
                    border: solid 1px $white_level_5;
                    outline: none;
                    cursor: pointer;
                    font-size: 1.25rem;
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }


    }
    div.print_block{
      text-align: right;
      margin-top: 20px;
      button.btn_print{
        border-radius: 10px;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: solid 1px $white;
        color: $white;
        font-size: 1.25rem;
        text-decoration: none;
        width: 130px;
        padding-top: 7px;
        padding-bottom: 7px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        outline: none;
        &.-disabled{
          cursor: not-allowed;
          opacity: 0.6;
        }
      }
    }
    div.recommend_block{
      margin-top: 20px;

      div.broadcast_help_recommend_block{
        border-radius: 10px;
        background-color: $blue_level_96;
        margin-bottom: 5px;
        position: relative;
        padding-left: 100px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        &.-only1{
          h2.title2{
            height: 100%;
            &.-top{
              z-index: 2;
            }
          }
          ul.item_list{
            > li{
              a.item_link:first-child{
                margin-bottom: 0 !important;
              }
            }
          }
        }
        h2.title2{
          border-radius: 10px 0 0 10px;
          font-size: 1.25rem;
          background-image: linear-gradient(to bottom, $blue_level_97, $blue_level_98);
          color: $white;
          text-shadow: 0 1px 4px $black_level_1;
          position: absolute;
          margin:0;
          padding:0;
          left:0;
          height: calc((100% - 5px)/2);
          width: 50px;
          text-align: center;
          &.-top{
            top:0;
          }
          &.-bottom{
            bottom:0;
          }
          span.-text{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            line-height: 1.4;
          }
        }
        span.-horizontal{
          position: absolute;
          display: inline-block;
          width: 100%;
          left:0;
          top: calc(50% - 2px);
          height: 5px;
          background-color: $blue_level_61;
          z-index: 0;
        }
        ul.item_list{
          margin:0;
          padding:0;
          font-size: 0;
          > li{
            list-style: none;
            margin:0 15px 0 0;
            padding:0;
            font-size: 1.25rem;
            display: inline-block;
            vertical-align: top;
            position: relative;
            z-index: 2;
            padding: 10px;
            &.-on{
              border-radius: 10px;
              background-color: $black_level_3;
            }
            &:last-child{
              margin-right: 0;
            }
            &:nth-child(4n){
              margin-right: 0;
            }
            a.item_link{
              display: block;
              border-radius: 4px;
              background-color: rgba(73, 189, 221, 0.5);
              color: $white;
              cursor: pointer;
              text-decoration: none;
              width: 190px;
              border: 2px solid $white;
              overflow: hidden;
              font-size: 0;
              position: relative;
              height: 120px;
              &:first-child{
                margin-bottom: 85px;
              }
              img.link_img{
                height: 100%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
              }
            }
            div.desc_block{
              position: absolute;
              bottom:0;
              left:0;
              width:100%;
              padding-bottom: 8px;
              padding-top: 8px;
              background-image: linear-gradient(to bottom, $black_level_9, $black_level_10 52%, $black_level_11);
              p.para1, p.para2{
                color: $white;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              p.para1{
                font-size: .875rem;
                margin:0 14px;
              }
              p.para2{
                font-size: .75rem;
                margin: 6px 14px 0 14px;
              }
            }
          }
        }
      }
    }
  }

}

div.jquery-modal{
  z-index: 6;
  &::before{
    @media screen and (max-width: 680px){
      height: auto;
    }
  }
  div.modal{
    background-color: $blue_level_8;
    border-radius: 30px;
    padding:0;
    overflow: hidden;
    width: 640px;
    max-width: none;
    div.modal_header{
      font-size: 1.5rem;
      color: $white;
      background-color: $blue_level_9;
      font-weight: 500;
      text-align: center;
      padding: 20px 0;
      position: relative;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
      a.modal_close{
        position: absolute;
        right: 20px;
        top:50%;
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        display: inline-block;
        line-height: 1;
        transform: translateY(-50%);
      }
    }
    div.modal_content{
      padding: 20px 20px;

      p.para{
        margin:0;
        font-size: 1.125rem;
        color: $black_level_7;
        text-align: center;
      }
      textarea.textarea_data{
        height: 240px;
        width: 100%;
        border-radius: 10px;
        background-color: $black_level_3;
        box-shadow: 0 -2px 0 0 $blue_level_20;
        outline: none;
        padding: 10px 12px;
      }
    }
    div.modal_footer{
      padding: 15px 20px;
      font-size: 0;
      background-color: $blue_level_9;
      text-align: center;
      &::before, &::after{
        content: "";
        display: block;
      }
      &::after{
        clear:both;
      }
      a.modal_close, a.link_to_q_db_test{
        font-size: 1.25rem;
        color: $white;
        text-decoration: none;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: solid 1px $white;
        width: 200px;
        text-align: center;
        display: inline-block;
        padding: 12px 0;
        border-radius: 10px;
        margin-right: 30px;
      }
      a.link_to_q_db_test{
        margin-right: 0;
      }
      button.btn_send_data{
        border-radius: 10px;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: solid 1px $white;
        color: $white;
        font-size: 1.25rem;
        text-decoration: none;
        width: 200px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        outline: none;
      }
    }
    a.close-modal {
      display: none;
    }
  }
}

div.page_container{
  text-align: center;
  margin-top: 20px;
  position: relative;
  ul.other_list{
    margin:0;
    padding:0;
    position: absolute;
    right:18px;
    top:-3px;
    > li{
      display: inline-block;
      list-style: none;
      margin:0 10px 0 0;
      padding:0;
      &:last-child{
        margin-right: 0;
      }
      button.btn_check, button.btn_challenge{
        width: 148px;
        height: 34px;
        padding:0;
        border:0;
        border-radius: 8px;
        box-shadow: inset 0 1px 0 0 $blue_level_23;
        background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
        border: solid 1px $white_level_5;
        outline: none;
        cursor: pointer;
        font-size: 1.25rem;
        color: $white;
        &.-disabled{
          opacity: .6;
          cursor: not-allowed;
        }
      }
    }
  }
}
div.page_number_block{
  font-size: 0;
  button.btn_pager_left, button.btn_pager_right{
    cursor: pointer;
    border:0;
    background: none;
    padding:0;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 30px;
    border-radius: 15px;
    outline: none;

    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
    background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
    border-width: 1px;
    border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
    border-image-slice: 1;

    &.-disabled{
      color: $blue_level_5;
      cursor: not-allowed;
      opacity: 0.3;
    }
  }
  button.btn_pager_left{
    margin-right: 10px;
    span.tri_left{
      display: inline-block;
      position: relative;
      left: -1px;
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right: 8px solid $white;
    }
  }
  button.btn_pager_right{
    margin-left: 10px;
    span.tri_right{
      display: inline-block;
      position: relative;
      left: 2px;
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 8px solid $white;
    }
  }
  button.btn_left, button.btn_right{
    background: none;
    border:0;
    color: $white;
    position: relative;
    top:-1px;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    &.-disabled{
      color: $blue_level_5;
      cursor: not-allowed;
      opacity: 0.3;
    }
  }
  button.btn_left{
    width: 40px;
    height: 30px;
    border-radius: 46px 0 0 46px;
    background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
    border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
    border-image-slice: 1;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(calc(-50% + 2px), -50%);
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right:8px solid $white;
    }
  }
  button.btn_right{
    width: 40px;
    height: 30px;
    border-radius: 0 46px 46px 0;
    background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
    border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
    border-image-slice: 1;
    &::after{
      content: "";
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(calc(-50% - 2px), -50%);
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left:8px solid $white;
    }
  }
  span.span_slash{
    display: inline-block;
    margin-left:3px;
    margin-right: 3px;
  }
  span.page_number{
    color: $white;
    background-color: $black_level_2;
    vertical-align: middle;
    display: inline-block;
    font-size: .875rem;
    padding: 7px 10px;
    position: relative;
    top:-1px;
  }
}

video.answer_video::-internal-media-controls-download-button {
    display:none;
}

video.answer_video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video.answer_video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

#confuse_modal_2{
  overflow: visible;
  background-color: transparent;
  div.modal_header, div.modal_footer{
    background-color: $blue_level_9;
  }
  div.modal_header{
    border-radius: 30px 30px 0 0;
    text-shadow: none;
    div.btn_question_mark_block{
      position: absolute;
      left: 20px;
      top:50%;
      transform: translateY(-50%);
      button.btn_question_mark{
        padding:0;
        border:0;
        background: none;
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        display: inline-block;
        line-height: 1;
        width: 24px;
        height: 24px;
        outline: none;
        cursor: pointer;
        img.icon_question_mark{
          max-width: 100%;
        }
      }
      div.question_content_toggle{
        position: absolute;
        padding: 20px 30px;
        border-radius: 20px;
        border: 2px solid $black;
        background-color: $white;
        color: $black;
        font-size: 1rem;
        width: 428px;
        line-height: 1.5;
        text-align: left;
        span.angle_top{
          display: inline-block;
          position: absolute;
          top:-22px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  div.modal_footer{
    padding: 15px 0;
    font-size: 0;
    margin-bottom: 0;
    background-color: $blue_level_9;
    text-align: center;
    border-radius: 0 0 30px 30px;
    &::before, &::after{
      content: "";
      display: block;
    }
    &::after{
      clear:both;
    }
    a.modal_close, button.btn_question{
      border-radius: 10px;
      background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
      border: solid 1px $white;
      color: $white;
      font-size: 1.25rem;
      text-decoration: none;
      width: 200px;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      display: inline-block;
    }
    button.btn_question{
      cursor: pointer;
      outline: none;
      &.-general{
        margin-right: 30px;
      }
      &.-disabled{
        opacity: .6;
      }
    }
  }
  div.modal_content{
    background-color: $blue_level_8;
    &.-content2{
      padding-top: 50px;
      padding-bottom: 40px;
      padding-left: 136px;
      p.para2{
        font-size: 1.125rem;
        color: $black_level_7;
        margin-bottom: 30px;
      }
    }
  }
  div.question_content_toggle{
    left:calc(50% + 1px);
    transform: translateX(-50%);
    top: 50px;
  }
}
#confuse_send_success_modal{
  div.modal_content{
    padding-top: 131px;
    padding-bottom: 131px;
  }
  div.modal_footer{
    a.modal_close{
      border-radius: 10px;
      background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
      border: solid 1px $white;
      color: $white;
      font-size: 1.25rem;
      text-decoration: none;
      width: 200px;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      display: inline-block;
      margin-right: 0;
    }
  }
}
#challenge_modal{
  div.modal_content{
    padding: 127px 20px;
  }
}

#wrong_send_success_modal{
  div.modal_content{
    padding-top: 107px;
    padding-bottom: 107px;
  }
  div.modal_footer{
    a.modal_close{
      margin-right: 0;
    }
  }
}

#note_send_success_modal{
  div.modal_content{
    padding-top: 127px;
    padding-bottom: 127px;
  }
  div.modal_footer{
    a.modal_close{
      margin-right: 0;
    }
  }
}
