@import "colors";

section.normal_section{
  padding: 30px 10px 30px 30px;
  div.all_contents_block{
    width: 1040px;
    margin: 0 auto;
    ul.item_list{
      margin:0;
      padding:0;
      > li{
        list-style: none;
        margin:0 15px 20px 0;
        padding:0;
        font-size: 1.25rem;
        display: inline-block;
        vertical-align: top;
        &:nth-child(5n){
          margin-right: 0;
        }
        a.item_link{
          display: block;
          border-radius: 4px;
          background-color: rgba(73, 189, 221, 0.5);
          color: $white;
          cursor: pointer;
          text-decoration: none;
          width: 190px;
          border: 2px solid $white;
          overflow: hidden;
          font-size: 0;
          position: relative;
          height: 120px;
          img.link_img{
            height: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
          button.btn_delete{
            position: absolute;
            top:10px;
            left:10px;
            border:0;
            padding:0;
            outline: none;
            cursor: pointer;
            z-index: 2;
          }
        }
        div.desc_block{
          position: absolute;
          bottom:0;
          left:0;
          width:100%;
          padding-bottom: 8px;
          padding-top: 8px;
          background-image: linear-gradient(to bottom, $black_level_9, $black_level_10 52%, $black_level_11);
          p.para1, p.para2{
            color: $white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          p.para1{
            font-size: .875rem;
            margin:0 14px;
          }
          p.para2{
            font-size: .75rem;
            margin: 6px 14px 0 14px;
          }
        }
        button.btn_add_item{
          border:0;
          display: inline-block;
          width: 190px;
          height: 121px;
          background-color: $blue_level_79;
          text-decoration: none;
          position: relative;
          line-height: 1;
          cursor: pointer;
          outline: none;
          &:hover{
            span.add_item{
              color: $white;
              border-color: $white;
            }
          }
          span.add_item{
            width: 64px;
            height: 64px;
            display: inline-block;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 3px solid $blue_level_78;
            color: $blue_level_78;
            border-radius: 50%;
            text-align: center;
            font-size: 48px;
            line-height: 52px;
          }
        }
      }
    }

    div.tab_contents_block{
      width: 1040px;
      div.tab_content_block{
        &::before, &::after{
          content:"";
          display: block;
        }
        &::after{
          clear:both;
        }
        div.page_container{
          text-align: center;
          margin-top: 10px;
          margin-bottom: 50px;
        }
        div.page_number_block{
          font-size: 0;
          button.btn_left, button.btn_right{
            background: none;
            border:0;
            color: $white;
            position: relative;
            top:-1px;
            cursor: pointer;
            outline: none;
            vertical-align: middle;
            &.-disabled{
              color: $blue_level_5;
              cursor: not-allowed;
              opacity: 0.3;
            }
          }
          button.btn_left{
            width: 40px;
            height: 30px;
            border-radius: 46px 0 0 46px;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            position: relative;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% + 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-right:8px solid $white;
            }
          }
          button.btn_right{
            width: 40px;
            height: 30px;
            border-radius: 0 46px 46px 0;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% - 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-left:8px solid $white;
            }
          }
          span.span_slash{
            display: inline-block;
            margin-left:3px;
            margin-right: 3px;
          }
          span.page_number{
            color: $white;
            background-color: $black_level_2;
            vertical-align: middle;
            display: inline-block;
            font-size: .875rem;
            padding: 7px 10px;
            position: relative;
            top:-1px;
          }
        }

      }

      div.week_block{
        margin-bottom: 20px;
        font-size: 0;
        a.btn_week{
          display: inline-block;
          text-decoration: none;
          padding:0;
          width: 80px;
          height: 50px;
          outline: none;
          line-height: 50px;

          box-shadow: 0 0 3px 0 $black_level_2, inset 0 2px 2px 0 $black_level_3;
          border: 1px solid transparent;
          color: $white;
          text-shadow: 0 1px 3px $black_level_1;
          background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7), linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
          font-size: .875rem;
          background-origin: border-box;
          background-clip: content-box, border-box;
          cursor: pointer;
          display: inline-block;
          vertical-align: top;

          &.-last{
            position: relative;
            border-radius: 46px 0 0 46px;
            span.week_text{
              margin-left: 14px;
            }
            &::after{
              content:"";
              position: absolute;
              top:50%;
              right:8px;
              transform: translateY(-50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;

              border-right:8px solid $white;
            }
          }
          &.-next{
            position: relative;
            border-radius: 0 46px 46px 0;
            span.week_text{
              margin-left: 20px;
            }
            &::after{
              content:"";
              position: absolute;
              top:50%;
              transform: translateY(-50%);
              left:8px;
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;

              border-left: 8px solid $white;
            }
          }
        }
        div.week_info_block{
          display: inline-block;
          vertical-align: top;
          width: 200px;
          height: 50px;
          background-color: $black_level_2;
          text-align: center;
          box-sizing: border-box;
          font-size: 0;

          div.week_top{
            font-size: .875rem;
            color: $white;
            height: 25px;
            line-height: 25px;
          }
          div.week_bottom{
            font-size: .875rem;
            color: $white;
            height: 24px;
            line-height: 24px;
          }
        }
      }

      div.week_content_block{
        ul.each_day_list{
          margin:0;
          padding:0;
          font-size: 0;
          > li{
            margin:0;
            padding:0;
            display: inline-block;
            vertical-align: top;
            list-style: none;
            &:last-child{
              a.day_block{
                border-right: 0;
              }
            }
            a.day_block{
              font-size: 0;
              width: 144px;
              display: block;
              text-decoration: none;
              color: $gray_level_10;
              border-right: 1px solid $gray_level_11;
              position: relative;
              &.-on{
                &::after{
                  content: "";
                  position: absolute;
                  bottom:0;
                  left:50%;
                  transform: translateX(-50%);
                  width: 0;
                  height: 0;
                  border-left: 6px solid transparent;
                  border-right: 6px solid transparent;

                  border-bottom: 8px solid $blue_level_85;
                }
              }
              &.-lavel1{
                div.bottom_block{
                  background-color: $yellow_level_27;
                }
              }
              &.-lavel2{
                div.bottom_block{
                  background-color: $yellow_level_28;
                }
              }
              &.-lavel3{
                div.bottom_block{
                  background-color: $yellow_level_29;
                }
              }
              div.top_block{
                background-image: linear-gradient(to bottom, $blue_level_80, $blue_level_81);
                font-size: .875rem;
                color: $blue_level_84;
                text-align: center;
                height: 30px;
                line-height: 30px;
              }
              div.bottom_block{
                text-align: center;
                font-size: 1.25rem;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: $white;
                color: $black_level_7;
                position: relative;
                span.icon_star{
                  position: absolute;
                  top:4px;
                  left:4px;

                }
              }
            }
          }
        }
      }
      div.note_block{
        background-color: $blue_level_85;
        padding: 5px;
        width: 1008px;
        margin-bottom: 20px;
        font-size: 0;
        textarea.note_textarea{
          height: 100px;
          border-radius: 5px;
          background-color: $blue_level_86;
          margin:0;
          padding:0;
          width: 100%;
          resize: none;
          padding: 10px;
          font-size: 16px;
          border:0;
          outline: none;
        }
        ul.send_list{
          margin:-40px 7px 0 0;
          padding:0;
          display: inline-block;
          vertical-align: middle;
          float:right;
          > li{
            display: inline-block;
            list-style: none;
            margin:0 10px 0 0;
            padding:0;
            vertical-align: middle;
            &:last-child{
              margin-right: 0;
            }
            button.btn_send{
              border:0;
              background: none;
              padding:4px 0;
              font-size: 1.25rem;
              color: $white;
              width: 130px;
              border-radius: 8px;
              box-shadow: inset 0 1px 0 0 $blue_level_23;
              background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
              border: solid 1px $white_level_5;
              outline: none;
              cursor: pointer;
              position: relative;
              div.placeholder_canvas{

                position: absolute;
                top:50%;
                left:50%;
                transform: translate(calc(-50% + 135px), calc(-50% - 280px)) scale(1);
                z-index: 3;
                transition: all 1s 0.5s;
                &.-ani{
                  transform: translate(calc(-50%), calc(-50%)) scale(0);
                }
              }
            }
          }
        }
      }
    }
  }

}

div.jquery-modal{
  z-index: 5;
  &::before{
    @media screen and (max-width: 680px){
      height: auto;
    }
  }
  div.modal{
    background-color: $blue_level_8;
    border-radius: 30px;
    padding:0;
    overflow: hidden;
    width: 900px;
    max-width: none;
    &.-content1{
      width: 640px;
    }
    div.modal_header{
      font-size: 1.5rem;
      color: $white;
      background-color: $blue_level_9;
      font-weight: 500;
      padding: 15px 48px;
      position: relative;
      &.-content1{
        text-align: center;
      }
      ul.tab_item{
        margin:0;
        padding:0;
        > li{
          display: inline-block;
          margin:0 10px 0 0;
          padding:0;
          list-style: none;
          &:last-child{
            margin-right: 0;
          }
          button.btn_tab_item{
            border:0;
            width: 120px;
            height: 50px;
            border-radius: 8px;
            background-color: $blue_level_77;
            font-size: 1rem;
            text-shadow: 0 1px 2px $black_level_1;
            color: $white;
            cursor: pointer;
            outline: none;
            &.-on{
              background-image: linear-gradient(to bottom, $blue_level_28, $blue_level_29);
              color: $blue_level_30;
            }
          }
        }
      }
      a.modal_close{
        position: absolute;
        right: 36px;
        top:50%;
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        display: inline-block;
        line-height: 1;
        transform: translateY(-50%);
      }
    }
    div.modal_content{
      padding: 30px 44px;
      &.-content1{
        padding-top: 100px;
        padding-bottom: 100px;
        p.para{
          font-size: 1.125rem;
          color: $black_level_7;
          text-align: center;
        }
      }
      div.tabs_content{
        div.tab1_content, div.tab2_content{
          display: none;
          &.-on{
            display: block;
          }
        }
        div.choose_item_block{
          ul.choose_item_list{
            margin:0;
            padding:0;
            > li{
              display: inline-block;
              vertical-align: top;
              margin:0;
              padding:0;
              list-style: none;
              button.modal_btn_item{
                padding:0 10px;
                border:0;
                font-size: 1.125rem;
                color: $white;
                width: 130px;
                height: 30px;
                border-radius: 8px;
                box-shadow: inset 0 1px 0 0 $blue_level_23;
                background-image: linear-gradient(to top, $blue_level_24, $blue_level_25);
                border: 2px solid $white_level_1;
                cursor: pointer;
                outline: none;
                text-align: left;
                display: none;
                position: relative;
                &.btn_field, &.btn_subject, &.btn_grade_group{
                  &:after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right:10px;

                    width: 0;
                    height: 0;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;

                    border-left: 8px solid $white;
                  }
                }
                &.-show{
                  display: inline-block;
                }
                &.-on{
                  background-image: linear-gradient(to bottom, $blue_level_87, $blue_level_88);
                  border: 2px solid $white_level_1;
                  display: inline-block;
                }
              }
            }
          }
          div.each_item_content{
            margin-top: 20px;
            div.each_tab{
              display: none;
              &.-on{
                display: block;
              }
              ul.modal_item_list{
                margin:0;
                padding:0;
                font-size: 0;
                > li{
                  margin:0;
                  padding:0;
                  display: inline-block;
                  list-style: none;
                  vertical-align: top;
                  font-size: 0;
                  > button{
                    display: inline-block;
                    color: $white;
                    font-size: 1.375rem;
                    text-decoration: none;
                    position: relative;
                    text-align: center;
                    padding:0;
                    border:0;
                    background: none;
                    cursor: pointer;
                    outline: none;
                    min-width: 130px;
                    min-height: 185px;
                    span.-text{
                      position: absolute;
                      top: 50%;
                      display: inline-block;
                      width: calc(100% - 40px);
                      transform: translate(-50%, -50%);

                      z-index: 2;
                      left:50%;
                      line-height: 1.4;
                    }
                    img.bg_img{
                      width: 130px;
                    }
                  }
                }
                &.-unit{
                  > li{
                    list-style: none;
                    margin:0 15px 20px 0;
                    padding:0;
                    font-size: 1.25rem;
                    display: inline-block;
                    vertical-align: top;

                    &:nth-child(4n){
                      margin-right: 0;
                    }
                    button.modal_btn_send_data{
                      display: block;
                      border-radius: 4px;
                      background-color: rgba(73, 189, 221, 0.5);
                      color: $white;
                      cursor: pointer;
                      text-decoration: none;
                      width: 190px;
                      border: 2px solid $white;
                      overflow: hidden;
                      font-size: 0;
                      position: relative;
                      padding:0;
                      outline: none;
                      cursor: pointer;
                      height: 120px;
                      min-height: auto;
                      img.link_img{
                        height: 100%;
                        position: absolute;
                        left: 50%;
                        top:0;
                        transform: translateX(-50%);
                      }
                      div.desc_block{
                        position: absolute;
                        bottom:0;
                        left:0;
                        width:100%;
                        padding-bottom: 8px;
                        padding-top: 8px;
                        background-image: linear-gradient(to bottom, $black_level_9, $black_level_10 52%, $black_level_11);
                        p.para1, p.para2{
                          color: $white;
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                        }
                        p.para1{
                          font-size: .875rem;
                          margin:0 14px;
                          text-align: left;
                        }
                        p.para2{
                          font-size: .75rem;
                          margin: 6px 14px 0 14px;
                          text-align: left;
                        }
                      }
                    }

                  }
                }
              }
              ul.grade_group_list{
                margin:0;
                padding:0;
                > li{
                  display: inline-block;
                  margin:0 4px 0 0;
                  padding:0;
                  list-style: none;

                  button.btn_grade_group_tab{
                    border:0;
                    background: none;
                    font-size: 1.125rem;
                    border-radius: 8px;
                    background-color: $blue_level_32;
                    color: $white;
                    width: 130px;
                    text-align: center;
                    padding: 3px 0;
                    border: 2px solid $blue_level_32;
                    cursor: pointer;
                    outline: none;
                    &.-on{
                      background-image: linear-gradient(to top, $green_level_3, $green_level_4);
                      border: solid 2px $black_level_3;
                    }
                  }
                }
              }
              &.tab_grade_group{
                div.tab_block{
                  margin-bottom: 20px;
                }
                div.tab_content_block{
                  div.tab_content{
                    display: none;
                    &.-on{
                      display: block;
                    }
                  }
                }
              }
              div.page_container_in_modal{
                text-align: center;
              }
              div.page_number_block{
                font-size: 0;
                button.btn_left, button.btn_right{
                  background: none;
                  border:0;
                  color: $white;
                  position: relative;
                  top:-1px;
                  cursor: pointer;
                  outline: none;
                  vertical-align: middle;
                  &.-disabled{
                    color: $blue_level_5;
                    cursor: not-allowed;
                    opacity: 0.3;
                  }
                }
                button.btn_left{
                  width: 40px;
                  height: 30px;
                  border-radius: 46px 0 0 46px;
                  background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
                  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
                  border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
                  border-image-slice: 1;
                  position: relative;
                  &::after{
                    content: "";
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(calc(-50% + 2px), -50%);
                    width: 0;
                    height: 0;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    border-right:8px solid $white;
                  }
                }
                button.btn_right{
                  width: 40px;
                  height: 30px;
                  border-radius: 0 46px 46px 0;
                  background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
                  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
                  border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
                  border-image-slice: 1;
                  &::after{
                    content: "";
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(calc(-50% - 2px), -50%);
                    width: 0;
                    height: 0;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    border-left:8px solid $white;
                  }
                }
                span.span_slash{
                  display: inline-block;
                  margin-left:3px;
                  margin-right: 3px;
                }
                span.page_number{
                  color: $white;
                  background-color: $black_level_2;
                  vertical-align: middle;
                  display: inline-block;
                  font-size: .875rem;
                  padding: 7px 10px;
                  position: relative;
                  top:-1px;
                }
              }
            }
          }
        }
      }
    }
    div.modal_footer{
      padding: 15px 0;
      font-size: 0;
      margin-bottom: 0;
      background-color: $blue_level_9;
      text-align: center;
      &::before, &::after{
        content: "";
        display: block;
      }
      &::after{
        clear:both;
      }
      a.modal_close, button.btn_question{
        border-radius: 10px;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: solid 1px $white;
        color: $white;
        font-size: 1.25rem;
        text-decoration: none;
        width: 200px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        display: inline-block;
      }
      button.btn_question{
        cursor: pointer;
        outline: none;
        &.-general{
          margin-right: 30px;
        }
      }

    }

    a.close-modal {
      display: none;
    }
  }
}
