@import "colors";

section.normal_section{
  padding: 30px;
  div.all_contents_block{
    width: 1020px;
    margin: 0 auto;
    ul.item_list{
      margin:0;
      padding:0;
      > li{
        list-style: none;
        margin:0 15px 20px 0;
        padding:0;
        font-size: 1.25rem;
        display: inline-block;
        vertical-align: top;
        &:nth-child(5n){
          margin-right: 0;
        }
        a.item_link{
          display: block;
          border-radius: 4px;
          background-color: rgba(73, 189, 221, 0.5);
          color: $white;
          cursor: pointer;
          text-decoration: none;
          width: 190px;
          border: 2px solid $white;
          overflow: hidden;
          font-size: 0;
          position: relative;
          height: 120px;
          img.link_img{
            height: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        div.desc_block{
          position: absolute;
          bottom:0;
          left:0;
          width:100%;
          padding-bottom: 8px;
          padding-top: 8px;
          background-image: linear-gradient(to bottom, $black_level_9, $black_level_10 52%, $black_level_11);
          p.para1, p.para2{
            color: $white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          p.para1{
            font-size: .875rem;
            margin:0 14px;
          }
          p.para2{
            font-size: .75rem;
            margin: 6px 14px 0 14px;
          }
        }
      }
    }
    div.tab_contents_block{
      width: 1040px;
      margin-bottom: 50px;

      div.tab_content_block{
        position: relative;
        left: -10px;
        &::before, &::after{
          content:"";
          display: block;
        }
        &::after{
          clear:both;
        }
        div.tab_content{
          ul.tab_content_list{
            margin:0;
            padding:0;
            font-size: 0;
            > li{
              margin:0 10px 10px 0;
              padding:0;
              display: inline-block;
              list-style: none;
              vertical-align: top;
              font-size: 0;
              &:last-child{
                margin-right: 0;
              }
              > a{
                display: inline-block;
                color: $white;
                font-size: 1.375rem;
                text-decoration: none;
                position: relative;
                text-align: center;
                min-width: 130px;
                min-height: 185px;
                span.-text{
                  position: absolute;
                  top: 50%;
                  display: inline-block;
                  width: calc(100% - 40px);
                  transform: translate(-50%, -50%);

                  z-index: 2;
                  left:50%;
                  line-height: 1.4;
                }
                img.bg_img{
                  width: 130px;
                }
              }
            }
          }
        }
      }
    }
    h2.title2{
      font-size: 1.5rem;
      color: $white;
      margin:0 0 20px 0;
      padding:0;
    }
    div.recently_view{

    }
  }

}
