@import "colors";

section.normal_section{
  padding: 30px 10px 30px 30px;
  div.all_contents_block{
    width: 1040px;
    margin: 0 auto;
    ul.item_list{
      margin:0;
      padding:0;
      > li{
        list-style: none;
        margin:0 15px 20px 0;
        padding:0;
        font-size: 1.25rem;
        display: inline-block;
        vertical-align: top;
        &:nth-child(5n){
          margin-right: 0;
        }
        a.item_link{
          display: block;
          border-radius: 4px;
          background-color: rgba(73, 189, 221, 0.5);
          color: $white;
          cursor: pointer;
          text-decoration: none;
          width: 190px;
          border: 2px solid $white;
          overflow: hidden;
          font-size: 0;
          position: relative;
          div.top_block, div.middle_block, div.bottom_block{
            padding: 10px;
          }
          div.top_block{
            background-image: linear-gradient(to bottom, $blue_level_42, $blue_level_43);
            position: relative;
            &::before{
              content: "";
              position: absolute;
              bottom:0;
              left:45px;

              width: 0;
              height: 0;
              border-left: 20px solid transparent;
              border-right: 20px solid transparent;

              border-bottom: 15px solid #43c8f6;
            }
            p.para_title{
              font-size: .75rem;
              color: $white;
              margin:0;
              position: relative;
              z-index: 2;
            }

          }
          div.middle_block{
            background-color: rgba(255, 255, 255, 0.6);
            padding: 10px;
            position: relative;
            &::before{
              content: "";
              position: absolute;
              top:0;
              left:75px;

              width: 0;
              height: 0;
              border-left: 30px solid transparent;
              border-right: 30px solid transparent;

              border-top: 25px solid #b4e4f6;
            }
            p.para1, p.para2{
              font-size: .625rem;
              color: $black_level_12;
              margin:0;
              line-height: 1.4;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              position: relative;
              z-index: 2;
            }
            p.para1{
              margin-bottom: 3px;
            }
          }
          div.bottom_block{
            background-color: $blue_level_44;
            p.para_left, p.para_right{
              font-size: .625rem;
              margin:0;
            }
            p.para_left{

            }
            p.para_right{
              &.-right{
                float: right;
              }
            }
          }
          span.score{
            display: inline-block;
            border-radius: 5px;

            position: absolute;
            right:5px;
            top:5px;
            z-index: 3;
            font-size: .875rem;
            color: $white;
            width: 36px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            &.-more{
              box-shadow: 0 2px 4px 0 $black_level_1, inset 0 1px 1px 0 $black_level_3;
              border: solid 1px transparent;
              background-image: linear-gradient(to bottom, $green_level_6, $green_level_7), linear-gradient(to top, $green_level_8, $green_level_9);
              background-origin: border-box;
              background-clip: content-box, border-box;
            }
            &.-less{
              box-shadow: 0 2px 4px 0 $black_level_1, inset 0 1px 1px 0 $black_level_3;
              border: solid 1px transparent;
              background-image: linear-gradient(to top, $red_level_5, $red_level_6 51%, $red_level_7), linear-gradient(to top, $white_level_1, $red_level_8 17%, $red_level_9);
              background-origin: border-box;
              background-clip: content-box, border-box;
            }
          }
        }

      }
    }
    div.tab_contents_block{
      width: 1040px;
      div.tab_content_block{
        &::before, &::after{
          content:"";
          display: block;
        }
        &::after{
          clear:both;
        }
        div.page_container{
          text-align: center;
          margin-top: 10px;
          margin-bottom: 50px;
        }
        div.page_number_block{
          font-size: 0;
          button.btn_left, button.btn_right{
            background: none;
            border:0;
            color: $white;
            position: relative;
            top:-1px;
            cursor: pointer;
            outline: none;
            vertical-align: middle;
            &.-disabled{
              color: $blue_level_5;
              cursor: not-allowed;
              opacity: 0.3;
            }
          }
          button.btn_left{
            width: 40px;
            height: 30px;
            border-radius: 46px 0 0 46px;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            position: relative;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% + 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-right:8px solid $white;
            }
          }
          button.btn_right{
            width: 40px;
            height: 30px;
            border-radius: 0 46px 46px 0;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% - 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-left:8px solid $white;
            }
          }
          span.span_slash{
            display: inline-block;
            margin-left:3px;
            margin-right: 3px;
          }
          span.page_number{
            color: $white;
            background-color: $black_level_2;
            vertical-align: middle;
            display: inline-block;
            font-size: .875rem;
            padding: 7px 10px;
            position: relative;
            top:-1px;
          }
        }

      }
    }

  }

}

div.option_block{
  margin-bottom: 25px;
  div.option_inner{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 8px;
    border-radius: 8px;
    background-image: linear-gradient(to top, $gray_level_1, $gray_level_2);
    box-shadow: inset 0 1px 0 0 $blue_level_23;
    border: 2px solid $white_level_1;
    &::after{
      content:"";
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid $black;
      position: absolute;
      top:50%;
      right:8px;
      transform: translateY(-50%);
    }
    select.option_style{
      display: inline-block;
      vertical-align: middle;
      height: 30px;
      line-height: 26px;
      outline: none;
      padding-left:10px;
      padding-right: 30px;
      font-size: 1.125rem;
      color: $black_level_7;


      cursor: pointer;
      border:0;
      -webkit-appearance: none;
      -moz-appearance:    none;
      appearance:         none;
      
      z-index: 1;
      position: relative;
      background-color: transparent;
    }
  }

}
