@import "colors";

section.normal_section{
  padding: 30px;
  div.all_contents_block{
    width: 1020px;
    margin: 0 auto;
    ul.item_list{
      margin:0;
      padding:0;
    }

    div.tab_contents_block{
      div.tab_content_block{
        &::before, &::after{
          content:"";
          display: block;
        }
        &::after{
          clear:both;
        }

        div.page_container{
          text-align: center;
          margin-top: 60px;
          margin-bottom: 50px;
          position: relative;
        }
        div.page_number_block{
          font-size: 0;
          button.btn_left, button.btn_right{
            background: none;
            border:0;
            color: $white;
            position: relative;
            top:-1px;
            cursor: pointer;
            outline: none;
            vertical-align: middle;
            &.-disabled{
              color: $blue_level_5;
              cursor: not-allowed;
              opacity: 0.3;
            }
          }
          button.btn_left{
            width: 40px;
            height: 30px;
            border-radius: 46px 0 0 46px;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            position: relative;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% + 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-right:8px solid $white;
            }
          }
          button.btn_right{
            width: 40px;
            height: 30px;
            border-radius: 0 46px 46px 0;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% - 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-left:8px solid $white;
            }
          }
          span.span_slash{
            display: inline-block;
            margin-left:3px;
            margin-right: 3px;
          }
          span.page_number{
            color: $white;
            background-color: $black_level_2;
            vertical-align: middle;
            display: inline-block;
            font-size: .875rem;
            padding: 7px 10px;
            position: relative;
            top:-1px;
          }
        }

      }
    }


  }

}

div.option_block{
  margin-bottom: 25px;
  div.option_inner{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 8px;
    border-radius: 8px;
    background-image: linear-gradient(to top, $gray_level_1, $gray_level_2);
    box-shadow: inset 0 1px 0 0 $blue_level_23;
    border: 2px solid $white_level_1;
    &::after{
      content:"";
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid $black;
      position: absolute;
      top:50%;
      right:8px;
      transform: translateY(-50%);
    }
    select.option_style{
      display: inline-block;
      vertical-align: middle;
      height: 26px;
      line-height: 26px;
      outline: none;
      padding-left:10px;
      padding-right: 30px;
      font-size: 1.125rem;
      color: $black_level_7;

      border:0;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance:    none;
      appearance:         none;

      z-index: 1;
      position: relative;
      background-color: transparent;
    }
  }

}

div.chart_block{
  div.left_block, div.right_block{
    display: inline-block;
    vertical-align: top;
  }
  div.left_block{
    padding-top: 60px;
    margin-left: 30px;
  }
  div.right_block{
    padding-left: 60px;
    padding-top: 140px;
    width: calc(100% - 200px);

    ul.bottle_list{
      margin:0;
      padding:0;
      font-size: 0;
      > li{
        display: inline-block;
        list-style: none;
        vertical-align: top;
        margin:0 30px 40px 0;
        padding:0;
        position: relative;
      }
    }
  }
  div.bottle_parent{
    text-align: center;
    p.para1, p.para2{
      font-size: 1rem;
      &.-small{
        font-size: .875rem;
      }
    }
    p.para1{
      color: $green_level_35;
      margin: 0 0 3px 0;
    }
    p.para2{
      color: $green_level_36;
      margin:0 0 20px 0;
    }
    p.para3, p.para4, p.para5{
      font-size: 1rem;
    }
    p.para3{
      margin: 20px 0 3px 0;
      color: $white;
    }
    p.para4{
      margin: 0 0 3px 0;
      color: #eaf3f9;
    }
    p.para5{
      margin:0;
      color: $white_level_12;
    }
    p.para6{
      font-size: .875rem;
      color: $white_level_13;
      margin:10px 0 7px 0;
    }
    p.para7, p.para8{
      font-size: .875rem;
      margin:0;
      width: 75px;
    }
    p.para7{
      color: $white;
      margin-bottom: 3px;
    }
    p.para8{
      color: $white_level_13;
    }
  }
  div.bottle{
    width: 125px;
    height: 170px;
    display: inline-block;
    border-bottom: 3px solid  $white;
    border-left: 3px solid $white;
    border-right: 3px solid $white;
    border-radius: 0 0 20px 20px;
    position: relative;
    /*overflow: hidden;*/
    &.-small{
      width: 75px;
      height: 100px;
      border-radius: 0 0 10px 10px;
      div.subject_block{
        border-radius: 0 0 8px 8px !important;
      }
    }
    span.pipe_line{
      position: absolute;
      display: inline-block;
      z-index: 2;
      &.-water{
        border-top: 2px solid $white;
        border-bottom: 2px solid $white;
        width: 36px;
        right:-36px;
        height: 12px;
        bottom: 10px;
        background: $blue_level_104;
      }
      &.-lock{
        width: 30px;
        right: -33px;
        bottom: 6px;
        img.icon_lock{
          width: 100%;
        }
      }

    }
    span.red_line{
      width: 100%;
      position: absolute;
      border: 1px solid $red_level_37;
      left:0;
      bottom: 20px;
    }
    div.subject_block{
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      bottom:0;
      overflow: hidden;
      border-radius: 0 0 15px 15px;

      div.subject{
        position: relative;
        &.-empty{
          background-image: transparent;
        }
        &.-yellow{
          /* 地科 */
          background-image: linear-gradient(to right, $yellow_level_30, $yellow_level_31 27%, $yellow_level_31 73%, $yellow_level_32);
        }
        &.-green1{
          /* 化學 */
          background-image: linear-gradient(to right, $green_level_29, $green_level_30 28%, $green_level_30 74%, $green_level_29);
        }
        &.-purple{
          /* 國文 */
          background-image: linear-gradient(to right, $purple_level_5, $purple_level_6 27%, $purple_level_6 74%, $purple_level_7);
        }
        &.-red1{
          /* 英文 */
          background-image: linear-gradient(to right, $red_level_32, $red_level_33 28%, $red_level_33 73%, $red_level_32);
        }
        &.-blue{
          /* 數學 */
          background-image: linear-gradient(to right, $blue_level_101, $blue_level_102 27%, $blue_level_102 75%, $blue_level_103);
        }
        &.-red2{
          /* 生物 */
          background-image: linear-gradient(to right, $red_level_34, $red_level_35 27%, $red_level_35 74%, $red_level_36);
        }
        &.-green2{
          /* 物理 */
          background-image: linear-gradient(to right, $green_level_31, $green_level_32 27%, $green_level_32 74%, $green_level_31);
        }
        &.-brown{
          /* 歷史 */
          background-image: linear-gradient(to right, $brown_level_1, $brown_level_2 28%, $brown_level_2 74%, $brown_level_1);
        }
        &.-pink{
          /* 地理 */
          background-image: linear-gradient(to right, $pink_level_1, $pink_level_2 27%, $pink_level_2 74%, $pink_level_1);
        }
        &.-green3{
          /* 公民 */
          background-image: linear-gradient(to right, $green_level_33, $green_level_34 27%, $green_level_34 74%, $green_level_33);
        }
        &.-water{
          background-image: linear-gradient(to right, $white_level_10, $white_level_11 49%, $white_level_10);
        }
      }
    }
    span.subject_text{
      display: inline-block;
      position: absolute;
      width: 60px;
      border-radius: 6px;
      background-color: $white_level_8;
      color: $black_level_14;
      font-size: .875rem;
      left: 50%;
      transform: translate(-50%);
      bottom: 5px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}
