@import "colors";

section.normal_section{
  padding: 30px 10px 30px 30px;
  div.all_contents_block{
    width: 1040px;
    margin: 0 auto;
    ul.item_list{
      margin:0;
      padding:0;
      > li{
        list-style: none;
        margin:0 15px 20px 0;
        padding:0;
        font-size: 1.25rem;
        display: inline-block;
        vertical-align: top;
        &:nth-child(5n){
          margin-right: 0;
        }
        &#loading{
          color: $white;
          font-size: .875rem;
        }
        a.item_link{
          display: block;
          border-radius: 4px;
          background-color: rgba(73, 189, 221, 0.5);
          color: $white;
          cursor: pointer;
          text-decoration: none;
          width: 190px;
          border: 2px solid $white;
          overflow: hidden;
          font-size: 0;
          position: relative;
          height: 120px;
          img.link_img{
            height: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
          button.btn_remove{
            position: absolute;
            top:10px;
            left:10px;
            padding:0;
            border:0;
            cursor: pointer;
            outline: none;
            z-index: 2;
          }
        }
        div.desc_block{
          position: absolute;
          bottom:0;
          left:0;
          width:100%;
          padding-bottom: 8px;
          padding-top: 8px;
          background-image: linear-gradient(to bottom, $black_level_9, $black_level_10 52%, $black_level_11);
          p.para1, p.para2{
            color: $white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          p.para1{
            font-size: .875rem;
            margin:0 14px;
          }
          p.para2{
            font-size: .75rem;
            margin: 6px 14px 0 14px;
          }
        }

      }
    }
    div.tab_contents_block{
      width: 1040px;
      div.tab_content_block{
        &::before, &::after{
          content:"";
          display: block;
        }
        &::after{
          clear:both;
        }
        ul.sort_list{
          margin:0 14px 0 0;
          padding:0;
          float: right;
          > li{
            list-style: none;
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
            &:last-child{
              margin-right: 0;
            }
            a.sort_link{
              text-decoration: none;
              display: block;
              width: 110px;
              padding: 11px 0;
              border-radius: 8px;
              font-size: 1.125rem;
              background-image: linear-gradient(to bottom, #9ee1ff, #3baefc 18%, #0e82fa 45%, #0377fa 69%, #2a9dfc 85%, #3da3f2);
              border: solid 1px rgba(255, 255, 255, 0.4);
              color: $white;
              text-align: center;
              &.-on{
                background-image: linear-gradient(to bottom, #0366e9, #2980e8);
                border: 2px solid $white;
              }
            }
          }
        }
        div.page_container{
          text-align: center;
          margin-top: 10px;
          margin-bottom: 50px;
        }
        div.page_number_block{
          font-size: 0;
          button.btn_left, button.btn_right{
            background: none;
            border:0;
            color: $white;
            position: relative;
            top:-1px;
            cursor: pointer;
            outline: none;
            vertical-align: middle;
            &.-disabled{
              color: $blue_level_5;
              cursor: not-allowed;
              opacity: 0.3;
            }
          }
          button.btn_left{
            width: 40px;
            height: 30px;
            border-radius: 46px 0 0 46px;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            position: relative;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% + 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-right:8px solid $white;
            }
          }
          button.btn_right{
            width: 40px;
            height: 30px;
            border-radius: 0 46px 46px 0;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% - 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-left:8px solid $white;
            }
          }
          span.span_slash{
            display: inline-block;
            margin-left:3px;
            margin-right: 3px;
          }
          span.page_number{
            color: $white;
            background-color: $black_level_2;
            vertical-align: middle;
            display: inline-block;
            font-size: .875rem;
            padding: 7px 10px;
            position: relative;
            top:-1px;
          }
        }

      }
    }

  }

}

div.option_block{
  margin-bottom: 25px;
  div.option_inner{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 8px;
    border-radius: 8px;
    background-image: linear-gradient(to top, $gray_level_1, $gray_level_2);
    box-shadow: inset 0 1px 0 0 $blue_level_23;
    border: 2px solid $white_level_1;
    &::after{
      content:"";
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid $black;
      position: absolute;
      top:50%;
      right:8px;
      transform: translateY(-50%);
    }
    select.option_style{
      display: inline-block;
      vertical-align: middle;
      height: 30px;
      line-height: 26px;
      outline: none;
      padding-left:10px;
      padding-right: 30px;
      font-size: 1.125rem;
      color: $black_level_7;

      cursor: pointer;
      border:0;
      -webkit-appearance: none;
      -moz-appearance:    none;
      appearance:         none;

      z-index: 1;
      position: relative;
      background-color: transparent;
    }
  }

}

div.jquery-modal{
  z-index: 6;
  &::before{
    @media screen and (max-width: 680px){
      height: auto;
    }
  }
  div.modal{
    background-color: $blue_level_8;
    border-radius: 30px;
    padding:0;
    overflow: hidden;
    width: 640px;
    max-width: none;
    div.modal_header{
      font-size: 1.5rem;
      color: $white;
      background-color: $blue_level_9;
      font-weight: 500;
      text-align: center;
      padding: 20px 0;
      position: relative;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);

    }
    div.modal_content{
      padding: 50px 20px;
      h1.modal_title{
        font-size: 1.125rem;
        color: $black_level_7;
        text-align: center;
      }
      p.para1, p.para2{
        font-size: 1.125rem;
        color: $black_level_7;
        margin:0;
        text-align: center;
      }
      p.para2{
        margin-top: 30px;
        &.-none{
          display: none;
        }
      }

    }
    div.modal_footer{
      padding: 15px 20px;
      font-size: 0;
      background-color: $blue_level_9;
      text-align: center;
      &::before, &::after{
        content: "";
        display: block;
      }
      &::after{
        clear:both;
      }
      a.modal_close{
        font-size: 1.25rem;
        color: $white;
        text-decoration: none;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: solid 1px $white;
        width: 200px;
        text-align: center;
        display: inline-block;
        padding: 12px 0;
        border-radius: 10px;
        margin-right: 30px;
        &.-no-margin{
          margin-right:0;
        }
      }
      button.btn_submit_data{
        font-size: 1.25rem;
        color: $white;
        text-decoration: none;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: solid 1px $white;
        width: 200px;
        text-align: center;
        display: inline-block;
        padding: 12px 0;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
      }
    }
    a.close-modal {
      display: none;
    }
  }
}
