@import "colors";

section.normal_section{
  padding: 30px 10px 30px 30px;
  div.all_contents_block{
    width: 1040px;
    margin: 0 auto;
    ul.item_list{
      margin:0;
      padding:0;
      > li{
        list-style: none;
        margin:0 15px 20px 0;
        padding:0;
        font-size: 1.25rem;
        display: inline-block;
        vertical-align: top;
        &#loading{
          color: $white;
          font-size: .875rem;
        }
        &:nth-child(5n){
          margin-right: 0;
        }

        a.item_link{
          display: block;
          border-radius: 4px;
          background-color: rgba(73, 189, 221, 0.5);
          color: $white;
          cursor: pointer;
          text-decoration: none;
          width: 190px;
          overflow: hidden;
          font-size: 0;
          position: relative;
          border: 2px solid $white;
          min-height: 121px;
          img.link_img{
            max-width: 100%;
          }
          div.wrong_block{
            width: 100px;
            display: inline-block;
            position: absolute;
            top:0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $red_level_29;
            text-shadow: 0 1px 2px $black_level_1;
            color: $white;
            font-size: .75rem;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
          }
          div.desc_block{
            position: absolute;
            bottom:0;
            left:0;
            width: 100%;
            background-color: $gray_level_16;
            z-index: 2;
            padding: 7px 10px;
            p.para1{
              font-size: .875rem;
              margin:0 0 3px 0;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            p.para2{
              font-size: .75rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              margin:4px 0 0 0;
            }
          }


          div.custom_checkbox{
            position: absolute;
            z-index: 3;
            top:5px;
            left:5px;
          }
        }

      }
    }
    div.tab_contents_block{
      width: 1040px;
      div.tab_content_block{
        &::before, &::after{
          content:"";
          display: block;
        }
        &::after{
          clear:both;
        }
        div.all_wrong_num_block{
          float: right;
          p.wrong_text{
            margin:0;
            min-width: 280px;
            text-align: center;
            border-radius: 22px;
            background-color: $blue_level_99;
            border: 2px solid $blue_level_100;
            font-size: 1.25rem;
            color: $white;
            padding-top: 4px;
            padding-bottom: 4px;
          }
        }
        div.page_container{
          text-align: center;
          margin-top: 10px;
          margin-bottom: 50px;
          position: relative;
          div.send_block{
            display: inline-block;
            position: absolute;
            right:15px;
            top:-2px;
            &::before, &::after{
              content: "";
              display: block;
            }
            &::after{
              clear: both;
            }
            button.btn_send{
              border:0;
              background: none;
              padding:4px 0;
              font-size: 1.25rem;
              color: $white;
              width: 130px;
              border-radius: 8px;
              box-shadow: inset 0 1px 0 0 $blue_level_23;
              background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
              border: solid 1px $white_level_5;
              outline: none;
              cursor: pointer;
              &.-disabled{
                opacity: .3;
                cursor: not-allowed;
              }
            }
          }
        }
        div.page_number_block{
          font-size: 0;
          button.btn_left, button.btn_right{
            background: none;
            border:0;
            color: $white;
            position: relative;
            top:-1px;
            cursor: pointer;
            outline: none;
            vertical-align: middle;
            &.-disabled{
              color: $blue_level_5;
              cursor: not-allowed;
              opacity: 0.3;
            }
          }
          button.btn_left{
            width: 40px;
            height: 30px;
            border-radius: 46px 0 0 46px;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            position: relative;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% + 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-right:8px solid $white;
            }
          }
          button.btn_right{
            width: 40px;
            height: 30px;
            border-radius: 0 46px 46px 0;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% - 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-left:8px solid $white;
            }
          }
          span.span_slash{
            display: inline-block;
            margin-left:3px;
            margin-right: 3px;
          }
          span.page_number{
            color: $white;
            background-color: $black_level_2;
            vertical-align: middle;
            display: inline-block;
            font-size: .875rem;
            padding: 7px 10px;
            position: relative;
            top:-1px;
          }
        }

      }
    }


  }

}

div.custom_checkbox label{
  cursor:pointer;
}
div.custom_checkbox input[type="checkbox"] + label::before{
  content: ''; /* non-break space */
  display: inline-block;
  position:relative;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/checkbox-x.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/*
checkbox 被勾選時：
*/
div.custom_checkbox input[type="checkbox"]:checked + label::before{
  content: '';
  background-image: url("../images/icon/checkbox-v.svg");
}

/*
將原來的 checkbox 隱藏
*/
div.custom_checkbox input[type="checkbox"]{
  position:absolute;
  clip: rect(0,0,0,0);
}

div.option_block{
  margin-bottom: 25px;
  div.option_inner{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 8px;
    border-radius: 8px;
    background-image: linear-gradient(to top, $gray_level_1, $gray_level_2);
    box-shadow: inset 0 1px 0 0 $blue_level_23;
    border: 2px solid $white_level_1;
    &::after{
      content:"";
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid $black;
      position: absolute;
      top:50%;
      right:8px;
      transform: translateY(-50%);
    }
    select.option_style{
      display: inline-block;
      vertical-align: middle;
      height: 30px;
      line-height: 26px;
      outline: none;
      padding-left:10px;
      padding-right: 30px;
      font-size: 1.125rem;
      color: $black_level_7;


      cursor: pointer;
      border:0;
      -webkit-appearance: none;
      -moz-appearance:    none;
      appearance:         none;

      z-index: 1;
      position: relative;
      background-color: transparent;
    }
  }

}
