@import "colors";

section.normal_section{
  padding: 30px;
  div.all_contents_block{
    width: 1020px;
    margin: 0 auto;
    box-sizing: border-box;

    ul.item_list{
      margin:0;
      padding:0;
      > li{
        list-style: none;
        margin:0 15px 20px 0;
        padding:0;
        font-size: 1.25rem;
        display: inline-block;
        vertical-align: top;
        &:nth-child(5n){
          margin-right: 0;
        }
        a.item_link{
          display: block;
          border-radius: 4px;
          background-color: rgba(73, 189, 221, 0.5);
          color: $white;
          cursor: pointer;
          text-decoration: none;
          width: 190px;
          border: 2px solid $white;
          overflow: hidden;
          font-size: 0;
          position: relative;
          height: 120px;
          img.link_img{
            height: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        div.desc_block{
          position: absolute;
          bottom:0;
          left:0;
          width:100%;
          padding-bottom: 8px;
          padding-top: 8px;
          background-image: linear-gradient(to bottom, $black_level_9, $black_level_10 52%, $black_level_11);
          p.para1, p.para2{
            color: $white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          p.para1{
            font-size: .875rem;
            margin:0 14px;
          }
          p.para2{
            font-size: .75rem;
            margin: 6px 14px 0 14px;
          }
        }
      }
    }
    h2.title2{
      font-size: 1.5rem;
      color: $white;
      margin:0;
      padding:0;
      &.-recent-view{
        margin-top: 50px;
      }
      &.-for-main{
        margin-bottom: 20px;
      }
    }
    div.recently_view{
      margin-top: 20px;
    }
  }

}

div.comment_block{
  font-size: 0;
  margin-top: 10px;
  margin-bottom: 50px;
  &.-none{
    display: none;
  }
  div.left_block, div.right_block{
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    background-color: $black_level_5;
    padding: 5px;
    textarea.comment_text, textarea.comment_star{
      width: 100%;
      height: 70px;
      border-radius: 5px;
      background-color: $black_level_8;
      box-shadow: inset 0 2px 0 0 $blue_level_39;
      resize: none;
      outline: none;
      padding: 8px;
    }
    div.action_block{
      margin-top: 5px;
      margin-bottom: 5px;
      &::before, &::after{
        content: "";
        display: block;
      }
      &::after{
        clear: both;
      }

      ul.send_list{
        margin:0;
        padding:0;
        display: inline-block;
        vertical-align: middle;
        float:right;
        position: relative;
        top: 4px;
        > li{
          display: inline-block;
          list-style: none;
          margin:0 10px 0 0;
          padding:0;
          vertical-align: middle;
          &:last-child{
            margin-right: 0;
          }
          button.btn_send{
            border:0;
            background: none;
            padding:4px 0;
            font-size: 1.25rem;
            color: $white;
            width: 130px;
            border-radius: 8px;
            box-shadow: inset 0 1px 0 0 $blue_level_23;
            background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
            border: solid 1px $white_level_5;
            outline: none;
            cursor: pointer;
            position: relative;
            div.placeholder_canvas{

              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% + 135px), calc(-50% - 280px)) scale(1);
              z-index: 3;
              transition: all 1s 0.5s;
              &.-ani{
                transform: translate(calc(-50%), calc(-50%)) scale(0);
              }
            }
          }
        }
      }
    }
  }
  div.left_block{
    width: 700px;
    font-size: 1rem;
    margin-right: 2px;
    ul.draw_list{
      margin:0 0 0 5px;
      padding:0;
      display: inline-block;
      vertical-align: middle;
      font-size: 0;
      &.-show{
        display: inline-block;
      }
      > li{
        display: inline-block;
        vertical-align: middle;
        margin:0 10px 0 0;
        padding:0;
        list-style: none;
        &:last-child{
          margin-right: 0;
        }
        button.btn_draw{
          border:0;
          background: none;
          padding:0;
          outline: none;
          cursor: pointer;
          position: relative;
          &.btn_pen, &.btn_eraser{
            img.on, img.off{
              width: 40px;
            }
            img.on{
              display: none;
            }
            img.off{
              display: inline;
            }
            &.-on{
              img.on{
                display: inline;
              }
              img.off{
                display: none;
              }
            }
          }

        }
      }
    }
    ul.use_pen_list{
      margin:0;
      padding:0;
      display: inline-block;
      vertical-align: middle;
      > li{
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        button.btn_pen{
          border:0;
          background: none;
          padding:4px 0;
          font-size: 1.25rem;
          color: $white;
          width: 130px;
          border-radius: 8px;
          box-shadow: inset 0 1px 0 0 $blue_level_23;
          background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
          border: solid 1px $white_level_5;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
  div.right_block{
    /*width: calc(100% - 700px - 40px);*/
    width: 300px;
    font-size: 1rem;
    ul.star_list{
      display: inline-block;
      margin-top: 8px;
      margin-left: 8px;
    }
  }
}

div.note_block_content{
  div.preview_canvas{
    box-sizing: border-box;
    font-size: 0;
  }
  div.placeholder_canvas{
    font-size: 0;
    position: absolute;
    top:-50%;
    left:-50%;
    transform: translate(calc(-50% - 20px), calc(-50% - 280px)) scale(1);
    z-index: 3;
    transition: all 1s 0.5s;
    &.-ani{
      transform: translate(calc(-50%), calc(-50%)) scale(0);
      top: 50%;
      left: 50%;
    }
    /*> canvas{
      width: 1000px;
      height: 388px;
    }*/
  }
  div.comment_block{
    margin-bottom: 0;
    button.btn_send{
      position: relative;
    }
    div.left_block{
      width: 100%;
    }
  }
}

div.picture_block{
  margin-top: 20px;
  ul.picture_list{
    margin:0;
    padding:0;
    > li{
      list-style: none;
      margin:0 15px 0 0;
      padding:0;
      font-size: 1.25rem;
      display: inline-block;
      vertical-align: top;
      &:nth-child(5n){
        margin-right: 0;
      }
      a.item_link{
        display: block;
        border-radius: 4px;
        background-color: rgba(73, 189, 221, 0.5);
        color: $white;
        cursor: pointer;
        text-decoration: none;
        width: 190px;
        border: 2px solid $white;
        overflow: hidden;
        font-size: 0;
        position: relative;
        height: 120px;
        img.link_img{
          max-width: 100%;
        }
        button.btn_delete_picture{
          position: absolute;
          top:10px;
          left:10px;
          border:0;
          padding:0;
          outline: none;
          cursor: pointer;
        }
      }
      div.desc_block{
        position: absolute;
        bottom:0;
        left:0;
        width:100%;
        padding-bottom: 5px;
        padding-top: 5px;
        background-image: linear-gradient(to bottom, $black_level_9, $black_level_10 52%, $black_level_11);
        p.para1, p.para2{
          color: $white;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        p.para1{
          font-size: .875rem;
          margin:0 14px;
        }
        p.para2{
          font-size: .75rem;
          margin: 2px 14px 0 14px;
        }
      }
      a.btn_add_item{
        border:0;
        display: inline-block;
        width: 190px;
        height: 121px;
        background-color: $blue_level_79;
        text-decoration: none;
        position: relative;
        line-height: 1;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        &:hover{
          span.add_item{
            color: $white;
            border-color: $white;
          }
        }
        span.add_item{
          width: 64px;
          height: 64px;
          display: inline-block;
          position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border: 3px solid $blue_level_78;
          color: $blue_level_78;
          border-radius: 50%;
          text-align: center;
          font-size: 48px;
          line-height: 52px;
        }
      }
    }
  }
}


div.jquery-modal{
  z-index: 6;
  &::before{
    @media screen and (max-width: 1170px){
      height: auto;
    }
  }
  div.modal{
    background-color: $blue_level_8;
    border-radius: 30px;
    padding:0;
    overflow: hidden;
    width: 640px;
    max-width: none;
    div.modal_header{
      font-size: 1.5rem;
      color: $white;
      background-color: $blue_level_9;
      font-weight: 500;
      text-align: center;
      padding: 20px 0;
      position: relative;
      a.modal_close{
        position: absolute;
        right: 20px;
        top:50%;
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        display: inline-block;
        line-height: 1;
        transform: translateY(-50%);
      }
      div.btn_question_mark_block{
        position: absolute;
        left: 20px;
        top:50%;
        transform: translateY(-50%);
        button.btn_question_mark{
          padding:0;
          border:0;
          background: none;
          text-decoration: none;
          color: $white;
          font-size: 2rem;
          display: inline-block;
          line-height: 1;
          width: 24px;
          height: 24px;
          outline: none;
          cursor: pointer;
          img.icon_question_mark{
            max-width: 100%;
          }
        }
        div.question_content{
          position: absolute;
          padding: 20px 30px;
          border-radius: 20px;
          border: 2px solid $black;
          background-color: $white;
          color: $black;
          font-size: 1rem;
          width: 428px;
          line-height: 1.5;
          text-align: left;
          span.angle_top{
            display: inline-block;
            position: absolute;
            top:-22px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }

    }
    div.modal_content{
      padding: 20px;
      &.-content1{
        padding-top: 100px;
        padding-bottom: 100px;
        p.para{
          font-size: 1.125rem;
          color: $black_level_7;
          text-align: center;
        }
      }
      &.-content2{
        padding-top: 50px;
        padding-bottom: 40px;
        p.para2{
          font-size: 1.125rem;
          color: $black_level_7;
          margin-bottom: 30px;
        }
      }
      &.-content3{
        div.textarea_block{
          textarea.rating_comment{
            resize: none;
            border-radius: 10px;
            background-color: $black_level_3;
            box-shadow: 0 -2px 0 0 $blue_level_20;
            height: 170px;
            width: 100%;
            outline: none;
            padding: 10px;
          }
        }
        div.rating_star{
          padding-left:20px;
          margin-top: 15px;
          span.rating_text{
            display: inline-block;
            vertical-align: middle;
            font-size: 1.5rem;
            color: $white;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
          }
          ul.star_list{
            position: relative;
            top:1px;
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            font-size: 0;
            margin-left: 5px;
            > li{
              margin-right: 10px;
            }
          }
        }
      }


    }
    div.modal_footer{
      padding: 15px 0;
      font-size: 0;
      margin-bottom: 0;
      background-color: $blue_level_9;
      text-align: center;
      &::before, &::after{
        content: "";
        display: block;
      }
      &::after{
        clear:both;
      }
      a.modal_close, button.btn_question{
        border-radius: 10px;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: solid 1px $white;
        color: $white;
        font-size: 1.25rem;
        text-decoration: none;
        width: 200px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        display: inline-block;
      }
      button.btn_question{
        cursor: pointer;
        outline: none;
        &.-general{
          margin-right: 30px;
        }
        &.-disabled{
          opacity: .6;
        }
      }

    }
    a.close-modal {
      display: none;
    }
  }
}
#confuse_modal{
  overflow: visible;
  background-color: transparent;
  div.modal_header, div.modal_footer{
    background-color: $blue_level_9;
  }
  div.modal_header{
    border-radius: 30px 30px 0 0;
  }
  div.modal_footer{
    border-radius: 0 0 30px 30px;
  }
  div.modal_content{
    background-color: $blue_level_8;
  }
  div.question_content{
    left:calc(50% + 1px);
    transform: translateX(-50%);
    top: 50px;
  }
}
body{
  &.-overflow-hidden{
    overflow: hidden;
  }
}
div.preview_modal{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: hsla(0, 0%, 0%, .6);
  overflow: scroll;
  &.-show{
    display: block;
  }
  div.img_block_container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1040px;
    line-height: 1;
    max-height: 90vh;
    text-align: center;
    @media screen and (max-width: 1039px){
      max-width: 100%;
    }
    div.img_block{
      position: relative;
      display: inline-block;

      img.img_preview_item{
        max-width: 100%;
        max-height: 90vh;
        min-width: 500px;
        @media screen and (max-height: 500px){
          min-width: auto;
        }
      }
      button.btn_preview_close, button.btn_preview_close_for_q{
        position: absolute;
        right:20px;
        top:10px;
        color: $white;
        font-size: 3rem;
        border:0;
        background: none;
        padding:0;
        line-height: 1;
        cursor: pointer;
        outline: none;
      }
      button.btn_remove_item_for_q{
        position: absolute;
        left:20px;
        bottom:20px;
        color: $white;
        font-size: 1.5rem;
        border:5px solid $white;
        background: none;
        padding:0;
        line-height: 1;
        cursor: pointer;
        outline: none;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        text-align: center;
      }
    }

  }
}
