@import "colors";

section.normal_section{
  padding: 30px 10px 30px 30px;
  div.all_contents_block{
    width: 1015px;
    margin: 0 auto;
    ul.item_list{
      margin:0;
      padding:0;
      > li{
        list-style: none;
        margin:0 15px 20px 0;
        padding:0;
        font-size: 1.25rem;
        display: inline-block;
        vertical-align: top;
        &:nth-child(5n){
          margin-right: 0;
        }
        &.-no-notes{
          opacity: .45;
        }
        a.item_link{
          display: block;
          border-radius: 4px;
          background-color: rgba(73, 189, 221, 0.5);
          color: $white;
          cursor: pointer;
          text-decoration: none;
          width: 190px;
          border: 2px solid $white;
          overflow: hidden;
          font-size: 0;
          position: relative;
          min-width: 186px;
          height: 120px;
          img.link_img{
            height: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }

        }
        div.desc_block{
          position: absolute;
          bottom:0;
          left:0;
          width:100%;
          padding-bottom: 8px;
          padding-top: 8px;
          background-image: linear-gradient(to bottom, $black_level_9, $black_level_10 52%, $black_level_11);
          p.para1, p.para2{
            color: $white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          p.para1{
            font-size: .875rem;
            margin:0 14px;
          }
          p.para2{
            font-size: .75rem;
            margin: 6px 14px 0 14px;
          }
        }
      }
    }
    div.tab_contents_block{
      width: 1015px;
      div.tab_content_block{
        &::before, &::after{
          content:"";
          display: block;
        }
        &::after{
          clear:both;
        }
        div.page_container{
          text-align: center;
          margin-top: 10px;
          margin-bottom: 50px;
        }
        div.page_number_block{
          font-size: 0;
          button.btn_left, button.btn_right{
            background: none;
            border:0;
            color: $white;
            position: relative;
            top:-1px;
            cursor: pointer;
            outline: none;
            vertical-align: middle;
            &.-disabled{
              color: $blue_level_5;
              cursor: not-allowed;
              opacity: 0.3;
            }
          }
          button.btn_left{
            width: 40px;
            height: 30px;
            border-radius: 46px 0 0 46px;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            position: relative;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% + 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-right:8px solid $white;
            }
          }
          button.btn_right{
            width: 40px;
            height: 30px;
            border-radius: 0 46px 46px 0;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% - 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-left:8px solid $white;
            }
          }
          span.span_slash{
            display: inline-block;
            margin-left:3px;
            margin-right: 3px;
          }
          span.page_number{
            color: $white;
            background-color: $black_level_2;
            vertical-align: middle;
            display: inline-block;
            font-size: .875rem;
            padding: 7px 10px;
            position: relative;
            top:-1px;
          }
        }

      }
    }
    h2.title2{
      font-size: 1.5rem;
      color: $white;
      margin:0 0 20px 0;
      padding:0;
    }
    div.recently_view{

    }
  }

}
