@import "colors";

section.normal_section{
  padding: 30px;
  div.all_contents_block{
    width: 1020px;
    margin: 0 auto;
    ul.item_list{
      margin:0;
      padding:0;
    }
    h2.title2{
      color: $white;
      font-size: 1.25rem;
      font-weight: normal;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    div.tab_contents_block{
      div.tab_content_block{
        &::before, &::after{
          content:"";
          display: block;
        }
        &::after{
          clear:both;
        }

        div.page_container{
          text-align: center;
          margin-top: 60px;
          margin-bottom: 50px;
          position: relative;
        }
        div.page_number_block{
          font-size: 0;
          button.btn_left, button.btn_right{
            background: none;
            border:0;
            color: $white;
            position: relative;
            top:-1px;
            cursor: pointer;
            outline: none;
            vertical-align: middle;
            &.-disabled{
              color: $blue_level_5;
              cursor: not-allowed;
              opacity: 0.3;
            }
          }
          button.btn_left{
            width: 40px;
            height: 30px;
            border-radius: 46px 0 0 46px;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            position: relative;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% + 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-right:8px solid $white;
            }
          }
          button.btn_right{
            width: 40px;
            height: 30px;
            border-radius: 0 46px 46px 0;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% - 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-left:8px solid $white;
            }
          }
          span.span_slash{
            display: inline-block;
            margin-left:3px;
            margin-right: 3px;
          }
          span.page_number{
            color: $white;
            background-color: $black_level_2;
            vertical-align: middle;
            display: inline-block;
            font-size: .875rem;
            padding: 7px 10px;
            position: relative;
            top:-1px;
          }
        }

      }
    }


  }

}

div.option_block{
  margin-bottom: 25px;
  div.option_inner{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 8px;
    border-radius: 8px;
    background-image: linear-gradient(to top, $gray_level_1, $gray_level_2);
    box-shadow: inset 0 1px 0 0 $blue_level_23;
    border: 2px solid $white_level_1;
    &::after{
      content:"";
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid $black;
      position: absolute;
      top:50%;
      right:8px;
      transform: translateY(-50%);
    }
    select.option_style{
      display: inline-block;
      vertical-align: middle;
      height: 26px;
      line-height: 26px;
      outline: none;
      padding-left:10px;
      padding-right: 30px;
      font-size: 1.125rem;
      color: $black_level_7;

      border:0;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance:    none;
      appearance:         none;

      z-index: 1;
      position: relative;
      background-color: transparent;
    }
  }

}

div.chart_block{
  ul.chart_list{
    margin:0;
    padding:0;
    > li{
      display: inline-block;
      vertical-align: top;
      margin:0 30px 0 0;
      padding:0;
      &:last-child{
        margin-right: 0;
      }
      div.bar_block{
        width: 50px;
        div.top_block, div.middle_block, div.bottom_block{
          span.time{
            display: block;
            color: $white;
            font-size: .9rem;
            text-align: center;
            height: 56px;
          }
          div.bar_item{
            background-image: linear-gradient(to bottom, $blue_level_37, $blue_level_38 35%, $white_level_4);
          }
          span.date{
            display: block;
            color: $white;
            font-size: 1rem;
            text-align: center;
          }
        }
        div.top_block{
          margin-bottom: 15px;
        }
        div.middle_block{
          height: 200px;
          position: relative;
          box-sizing: border-box;
          width: 50px;
          div.bar_item{
            position: absolute;
            bottom:0;
            left: 0;
            width: 100%;
          }
        }
        div.bottom_block{
          margin-top: 15px;
        }
      }
    }
  }
}
