@import "colors";

section.normal_section{
  padding: 30px 20px 30px 30px;
  div.all_contents_block{
    width: 1030px;
    margin: 0 auto;
    div.content_block{
      width: 1020px;
      padding-bottom: 50px;
      h1.title1{
        color: $white;
        font-size: 1.5rem;
        margin:0 0 20px 0;
        padding:0;
      }

      div.ask_title_block{
        input.ask_title{
          border-radius: 20px;
          background-color: $blue_level_67;
          width: 100%;
          padding: 8px 20px;
          border:0;
          color: $white;
          font-size: 1.25rem;
          outline: none;
          &::placeholder {
            color: $black_level_3;
            opacity: 1;
            font-size: 1.25rem;
          }
          &:-ms-input-placeholder {
            color: $black_level_3;
            font-size: 1.25rem;
          }
          &::-ms-input-placeholder {
            color: $black_level_3;
            font-size: 1.25rem;
          }
        }
      }
      div.ask_content_block{
        border-radius: 20px;
        margin-top: 10px;
        background-image: linear-gradient(to bottom, $white, $blue_level_68);
        padding: 14px 20px;
        textarea.ask_textarea{
          color: $black_level_7;
          font-size: 1.25rem;
          width: 100%;
          min-height: 100px;
          resize: none;
          border:0;
          outline: none;
        }
        div.q_images_block{
          border-radius: 4px;
          background-color: $blue_level_69;
          padding: 14px 25px;
          margin-top: 5px;
          ul.q_images_list{
            margin:0;
            padding:0;
            font-size: 0;
            > li{
              display: inline-block;
              vertical-align: top;
              margin:0 60px 0 0;
              padding:0;
              &:last-child{
                margin-right: 0;
              }
              div.item_block{
                text-align: center;
                p.img_title{
                  margin:0 0 8px 0;
                  font-size: .875rem;
                  color: $black_level_7;
                }
                div.img_block{
                  width: 264px;
                  min-height: 160px;
                  background-color: $gray_level_6;
                  position: relative;
                  input.pick_pic{
                    display: none;
                  }
                  span.icon_plus{
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    border: 4px solid $gray_level_7;
                    color: $gray_level_7;
                    cursor: pointer;
                    &.-none{
                      display: none;
                    }
                    span.plus_text{
                      position: absolute;
                      font-size: 60px;
                      line-height: 0;
                      top: calc(50% - 5px);
                      left: 50%;
                      transform: translate(-50%, -50%);
                    }
                  }
                  div.preview_img{
                    position: relative;
                    height: 160px;
                    top:2;
                    &.-none{
                      display: none;
                    }
                    > img{
                      max-width: 100%;
                      max-height: 100%;
                      cursor: pointer;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                    }
                    button.btn_delete{
                      border:0;
                      padding:0;
                      background: none;
                      cursor: pointer;
                      position: absolute;
                      top: 10px;
                      left: 10px;
                      outline: none;
                      z-index: 3;
                    }
                  }
                }
              }
            }
          }
        }
      }
      div.send_q_block{
        text-align: center;
        margin-top: 40px;
        button.btn_send_q{
          font-size: 1.25rem;
          padding:0;
          background: none;
          color: $white;
          text-shadow: 0 1px 2px $black_level_1;
          width: 200px;
          height: 50px;
          outline: none;
          cursor: pointer;

          border-radius: 8px;
          box-shadow: inset 0 1px 0 0 $blue_level_23;

          background-image: linear-gradient(to bottom, $red_level_22, $red_level_23 72%, $red_level_23);
          border: solid 1px $white_level_5;
          &.-disabled{
            opacity: .5;
            cursor: not-allowed;
          }
        }
      }



    }


  }

}

div.jquery-modal{
  z-index: 5;
  &::before{
    @media screen and (max-width: 680px){
      height: auto;
    }
  }
  div.modal{
    background-color: $blue_level_8;
    border-radius: 30px;
    padding:0;
    overflow: hidden;
    width: 640px;
    max-width: none;
    div.modal_header{
      font-size: 1.5rem;
      color: $white;
      background-color: $blue_level_9;
      font-weight: 500;
      text-align: center;
      padding: 20px 0;
      position: relative;
      a.modal_close{
        position: absolute;
        right: 20px;
        top:50%;
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        display: inline-block;
        line-height: 1;
        transform: translateY(-50%);
      }
    }
    div.modal_content{
      padding: 50px 20px;
      text-align: center;
      h1.modal_title{
        font-size: 1.25rem;
        margin:0 0 15px 0;
        padding:0 0 15px 0;
        border-bottom: 1px solid $black;
      }
      ul.action_list{
        margin:0;
        padding:0;
        > li{
          display: inline-block;
          margin:0 30px 0 0;
          padding:0;
          vertical-align: top;
          &:last-child{
            margin-right: 0;
          }
          button.btn_action{
            border:0;
            background: none;
            width: 160px;
            height: 160px;
            border-radius: 20px;
            font-size: 1.25rem;
            background-image: linear-gradient(to bottom, $blue_level_71, $blue_level_72 65%, $blue_level_73);
            border: solid 2px #ffffff;
            cursor: pointer;
            outline: none;
            span.btn_text{
              color: $white;
            }
            &.-choose{

            }
            &.-take-picture{

            }
            &.-uploaded{

            }
            &.-on{
              background-image: linear-gradient(to bottom, $blue_level_74, $blue_level_75 67%, $blue_level_76);
            }
            &.-disabled{
              background-image: none;
              background-color: $gray_level_8;
              cursor: not-allowed;
              span.btn_text{
                color: $gray_level_9;
              }
            }
          }
        }
      }
      ul.note_list{
        margin:0;
        padding:0;
        font-size: 0;
        > li{
          display: inline-block;
          margin:0;
          padding:0;
          list-style: none;
          vertical-align: top;
          button.btn_note_choose{
            padding:0;
            border:0;
            font-size: 0;
            outline: none;
            box-sizing: border-box;
            cursor: pointer;
            border: 3px solid transparent;
            background: none;
            width: 260px;
            height: 158px;
            position: relative;
            > img{
              max-width: 100%;
              max-height: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            &.-on{
              border: 3px solid $red_level_31;
            }
          }
        }
      }
    }
    div.modal_footer{
      background-color: $blue_level_9;
      font-size: 0;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      &::before, &::after{
        content: "";
        display: block;
      }
      &::after{
        clear:both;
      }

      button.btn_confirm{
        border:0;
        background: none;
        width: 200px;
        height: 50px;
        cursor: pointer;
        border-radius: 10px;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: solid 1px $white;
        text-align: center;
        font-size: 1.25rem;
        color: $white;
        outline: none;
      }
    }
    a.close-modal {
      display: none;
    }
  }
}
body{
  &.-overflow-hidden{
    overflow: hidden;
  }
}
div.preview_modal{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  z-index: 7;
  background-color: hsla(0, 0%, 0%, .6);
  overflow: scroll;
  &.-show{
    display: block;
  }
  div.img_block_container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1040px;
    line-height: 1;
    max-height: 90vh;
    text-align: center;
    @media screen and (max-width: 1039px){
      max-width: 100%;
    }
    div.img_block{
      position: relative;
      display: inline-block;

      img.img_preview_item{
        max-width: 100%;
        max-height: 90vh;
        min-width: 500px;
        @media screen and (max-height: 500px){
          min-width: auto;
        }
      }
      button.btn_preview_close{
        position: absolute;
        right:20px;
        top:10px;
        color: $white;
        font-size: 3rem;
        border:0;
        background: none;
        padding:0;
        line-height: 1;
        cursor: pointer;
        outline: none;
      }
      button.btn_remove_item{
        position: absolute;
        left:20px;
        bottom:20px;
        color: $white;
        font-size: 1.5rem;
        border:5px solid $white;
        background: none;
        padding:0;
        line-height: 1;
        cursor: pointer;
        outline: none;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        text-align: center;
      }
    }

  }
}

#upload_note_picture_modal{
  width: 850px;
  padding-right: 10px;
  background-color: $blue_level_9;
  div.modal_content{
    padding: 0 0 0 20px;
    background-color: $blue_level_9;
    text-align: left;
    height: 480px;
    overflow-y:auto;
  }
  div.modal_footer{
    button.btn_upload_confirm{
      padding:0;
      width: 200px;
      height: 50px;
      border:0;
      border-radius: 10px;
      background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
      border: 1px solid $white;
      font-size: 1.25rem;
      color: $white;
      cursor: pointer;
      outline: none;
      &.-disabled{
        opacity: .5;
        cursor:not-allowed;
      }
    }
  }
}

#confuse_modal_2{
  overflow: visible;
  background-color: transparent;
  div.modal_header, div.modal_footer{
    background-color: $blue_level_9;
  }
  div.modal_header{
    border-radius: 30px 30px 0 0;
    div.btn_question_mark_block{
      position: absolute;
      left: 20px;
      top:50%;
      transform: translateY(-50%);
      button.btn_question_mark{
        padding:0;
        border:0;
        background: none;
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        display: inline-block;
        line-height: 1;
        width: 24px;
        height: 24px;
        outline: none;
        cursor: pointer;
        img.icon_question_mark{
          max-width: 100%;
        }
      }
      div.question_content{
        position: absolute;
        padding: 20px 30px;
        border-radius: 20px;
        border: 2px solid $black;
        background-color: $white;
        color: $black;
        font-size: 1rem;
        width: 428px;
        line-height: 1.5;
        text-align: left;
        span.angle_top{
          display: inline-block;
          position: absolute;
          top:-22px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  div.modal_footer{
    padding: 15px 0;
    font-size: 0;
    margin-bottom: 0;
    background-color: $blue_level_9;
    text-align: center;
    border-radius: 0 0 30px 30px;
    &::before, &::after{
      content: "";
      display: block;
    }
    &::after{
      clear:both;
    }
    a.modal_close, button.btn_question{
      border-radius: 10px;
      background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
      border: solid 1px $white;
      color: $white;
      font-size: 1.25rem;
      text-decoration: none;
      width: 200px;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      display: inline-block;
    }
    button.btn_question{
      cursor: pointer;
      outline: none;
      &.-general{
        margin-right: 30px;
      }
      &.-disabled{
        opacity: .6;
        cursor: not-allowed;
      }
    }
  }
  div.modal_content{
    background-color: $blue_level_8;
    &.-content2{
      padding-top: 50px;
      padding-bottom: 40px;
      p.para2{
        font-size: 1.125rem;
        color: $black_level_7;
        margin-bottom: 30px;
      }
    }
  }
  div.question_content{
    left:calc(50% + 1px);
    transform: translateX(-50%);
    top: 50px;
  }
}
#confuse_send_success_modal{
  div.modal_content{
    padding-top: 112px;
    padding-bottom: 112px;
  }
  div.modal_footer{
    a.modal_close{
      border-radius: 10px;
      background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
      border: solid 1px $white;
      color: $white;
      font-size: 1.25rem;
      text-decoration: none;
      width: 200px;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      display: inline-block;
    }
  }
}
