body{
  padding:0;
  margin:0;
}
div.all_content{
  font-size: 0;
}
div.video_picture_block{
  width: 1200px;
  border: 1px solid gray;
  div.video_canvas_block{
    font-size: 0;
    #video{
      width: 50%;
      display: inline-block;
      vertical-align: top;
    }
    #canvas{
      width: 50%;
      display: inline-block;
      vertical-align: top;
    }
    img#img_camera{
      display: none;
      &.-on{
        display: inline;
      }
    }
  }
  #snap{
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: black;
    cursor: pointer;
  }
}
