@import "colors";

section.normal_section{
  padding: 30px 20px 30px 30px;
  div.all_contents_block{
    width: 1030px;
    margin: 0 auto;
    div.tab_contents_block{
      width: 1020px;
      margin-bottom: 50px;

      div.tab_content_block{
        position: relative;
        &::before, &::after{
          content:"";
          display: block;
        }
        &::after{
          clear:both;
        }
        div.tab_content{
          h1.title1{
            color: $white;
            font-size: 1.5rem;
            margin:0 0 20px 0;
            padding:0;
          }
          div.star_and_q_filter_block{
            div.star_level, div.q_and_answer{
              display: inline-block;
              vertical-align: top;
            }
            div.star_level{
              ul.star_list{
                font-size: 0;
                margin:0;
                padding:0;
                > li{
                  margin:0;
                  padding:0;
                  display: inline-block;
                  vertical-align: top;

                  > div.radio_block{
                    position: relative;

                    > label{
                      font-size: 1.125rem;
                      cursor: pointer;
                      text-align: center;
                      display: inline-block;
                      height: 40px;
                      width: 100px;
                      position: relative;
                      background-image: linear-gradient(to bottom, $blue_level_62, $blue_level_63);
                      opacity: .7;
                      span.inner_style{
                        display: inline-block;
                        width: 86px;
                        height: 34px;
                        line-height: 28px;

                        background-color: $blue_level_66;
                        margin: 0 auto;
                        box-sizing: border-box;
                        color: $white;
                        border: 3px solid transparent;
                        position: relative;
                        top: 3px;
                        > img{
                          height: 30px;
                          &.arrow{
                            height: 24px;
                            position: relative;
                            top:-3px;
                            left:1px;
                          }
                        }
                      }
                    }
                    input.star_radio{
                      position: absolute;
                      top:0;
                      left:0;
                      z-index: 2;
                      visibility: hidden;
                      &:checked{
                        + label{
                          opacity: 1;
                          span.inner_style{
                            border: 3px solid $white;
                          }
                        }
                      }
                    }
                  }
                }
              }

            }
            div.q_and_answer{
              float: right;
              ul.q_and_answer_list{
                margin:0;
                padding:0;
                font-size: 0;
                > li{
                  display: inline-block;
                  margin:0;
                  padding:0;
                  list-style: none;
                  vertical-align: top;
                  > div.checkbox_block{
                    position: relative;

                    &.-choice_1{
                      padding: 3px;
                      background-image: linear-gradient(to bottom, #a4dbef, #45b6de 52%, #2aa9d9);
                      > label{
                        background-image: linear-gradient(to bottom, #7cd5af, #44bd90 64%, #57c2c8);
                      }
                    }
                    &.-choice_2{
                      padding: 3px;
                      background-image: linear-gradient(to bottom, #a4dbef, #45b6de 52%, #2aa9d9);
                      > label{
                        background-image: linear-gradient(to bottom, #e6a9da, #cf75a9 64%, #db83cf);
                      }
                    }
                    > label{
                      font-size: 1.125rem;
                      color: $white;
                      cursor: pointer;
                      text-align: center;
                      display: inline-block;
                      height: 34px;
                      line-height: 34px;
                      width: 114px;
                      position: relative;
                      img.icon_check{
                        width: 24px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                        position: relative;
                        top:-2px;
                        &.-v{
                          display: none;
                        }
                      }
                    }
                    input.choice_checkbox{
                      position: absolute;
                      top:0;
                      left:0;
                      z-index: 2;
                      visibility: hidden;
                      &:checked{
                        + label{
                          img.icon_check{
                            &.-x{
                              display: none;
                            }
                            &.-v{
                              display: inline-block;
                            }
                          }
                        }

                      }
                    }
                  }
                }
              }
            }
          }
          div.question_list_block{
            margin-top: 10px;
            ul.item_list{
              margin:0;
              padding:0;
              > li{
                list-style: none;
                margin:0;
                padding:0;
                font-size: 1.25rem;
                display: block;
                vertical-align: top;
                &:nth-child(odd){
                  div.item_right_block{
                    background-color: $blue_level_48;
                  }
                }
                &:nth-child(even){
                  div.item_right_block{
                    background-color: $blue_level_49;
                  }
                }
                div.item_block{
                  font-size: 0;

                  div.item_right_block{
                    display: inline-block;
                    vertical-align: top;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    padding-left: 20px;
                    width: 100%;
                    ul.span_list{
                      margin:0 10px 0 0;
                      padding:0;
                      float: right;
                      > li{
                        display: inline-block;
                        vertical-align: middle;
                        list-style: none;
                        margin:0 0 0 5px;
                        padding:0;
                        span.hint_text{
                          /*display: inline-block;
                          width: 36px;
                          height: 36px;
                          line-height: 36px;
                          font-size: 1.125rem;
                          text-align: center;*/
                          /*color: $white;
                          text-shadow: 0 1px 2px $black_level_1;
                          border-radius: 5px;
                          border: solid 1px $white;*/

                        }
                      }
                    }
                    a.para{
                      display: block;
                      text-decoration: none;
                      font-size: 1.125rem;
                      color: $black_level_7;
                      margin:0;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      line-height: 36px;
                    }
                  }
                }


              }
            }
            div.page_container{
              text-align: center;
              margin-top: 20px;
              margin-bottom: 50px;
              position: relative;

            }
            div.page_number_block{
              font-size: 0;
              button.btn_pager_left, button.btn_pager_right{
                cursor: pointer;
                border:0;
                background: none;
                padding:0;
                display: inline-block;
                vertical-align: middle;
                width: 40px;
                height: 30px;
                border-radius: 15px;
                outline: none;

                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
                background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
                border-width: 1px;
                border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
                border-image-slice: 1;

                &.-disabled{
                  color: $blue_level_5;
                  cursor: not-allowed;
                  opacity: 0.3;
                }
              }
              button.btn_pager_left{
                margin-right: 10px;
                span.tri_left{
                  display: inline-block;
                  position: relative;
                  left: -1px;
                  width: 0;
                  height: 0;
                  border-top: 6px solid transparent;
                  border-bottom: 6px solid transparent;
                  border-right: 8px solid $white;
                }
              }
              button.btn_pager_right{
                margin-left: 10px;
                span.tri_right{
                  display: inline-block;
                  position: relative;
                  left: 2px;
                  width: 0;
                  height: 0;
                  border-top: 6px solid transparent;
                  border-bottom: 6px solid transparent;
                  border-left: 8px solid $white;
                }
              }
              button.btn_left, button.btn_right{
                background: none;
                border:0;
                color: $white;
                position: relative;
                top:-1px;
                cursor: pointer;
                outline: none;
                vertical-align: middle;
                &.-disabled{
                  color: $blue_level_5;
                  cursor: not-allowed;
                  opacity: 0.3;
                }
              }
              button.btn_left{
                width: 40px;
                height: 30px;
                border-radius: 46px 0 0 46px;
                background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
                border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
                border-image-slice: 1;
                position: relative;
                &::after{
                  content: "";
                  position: absolute;
                  top:50%;
                  left:50%;
                  transform: translate(calc(-50% + 2px), -50%);
                  width: 0;
                  height: 0;
                  border-top: 6px solid transparent;
                  border-bottom: 6px solid transparent;
                  border-right:8px solid $white;
                }
              }
              button.btn_right{
                width: 40px;
                height: 30px;
                border-radius: 0 46px 46px 0;
                background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
                border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
                border-image-slice: 1;
                &::after{
                  content: "";
                  position: absolute;
                  top:50%;
                  left:50%;
                  transform: translate(calc(-50% - 2px), -50%);
                  width: 0;
                  height: 0;
                  border-top: 6px solid transparent;
                  border-bottom: 6px solid transparent;
                  border-left:8px solid $white;
                }
              }
              span.span_slash{
                display: inline-block;
                margin-left:3px;
                margin-right: 3px;
              }
              span.page_number{
                color: $white;
                background-color: $black_level_2;
                vertical-align: middle;
                display: inline-block;
                font-size: .875rem;
                padding: 7px 10px;
                position: relative;
                top:-1px;
              }
            }
          }


        }
      }
    }


  }

}
