@import "colors";

section.normal_section{
  padding: 30px 20px 30px 30px;
  div.all_contents_block{
    width: 1030px;
    margin: 0 auto;
    div.content_block{
      width: 1020px;
      padding-bottom: 50px;
      h1.title1{
        color: $white;
        font-size: 1.5rem;
        margin:0 0 20px 0;
        padding:0;
      }
      h2.title2{
        color: $white;
        font-weight: normal;
        margin:0 0 20px 0;
        padding:8px 20px;
        border-radius: 20px;
        background-color: $blue_level_67;
        font-size: 1.25rem;
        span.score_average{
          float: right;
          font-size: 1.25rem;
          color: $green_level_1;
        }
      }
      p.general_para{
        color: $white;
        font-weight: normal;
        margin:0;
        padding:0 0 0 20px;
        font-size: 1.25rem;
        &.-for-answer{
          color: $red_level_17;
          margin-top: 20px;
          span.date_time_text{
            color: $red_level_18;
          }
        }
        span.date_time_text{
          float: right;
          font-size: 1.25rem;
          color: $white;
        }
      }
      div.q_and_a_block{
        font-size: 0;
      }
      div.q_block, div.q_and_a_block, div.a_block{
        border-radius: 20px;
        background-image: linear-gradient(to bottom, $white, $blue_level_68);
        padding: 15px 20px 20px 20px;
        margin-top: 10px;
        p.q_para{
          margin:0;
          font-size: 1.25rem;
          color: $black_level_7;
          line-height: 1.5;

          -moz-hyphens: auto;
          -ms-hyphens: auto;
          -webkit-hyphens: auto;
          hyphens: auto;

          word-wrap:break-word;
        }
        div.q_images_block{
          border-radius: 4px;
          background-color: $blue_level_69;
          padding: 14px 34px;
          margin-top: 15px;
          ul.q_images_list{
            margin:0;
            padding:0;
            font-size: 0;
            > li{
              display: inline-block;
              vertical-align: top;
              margin:0 60px 0 0;
              padding:0;
              &:last-child{
                margin-right: 0;
              }
              div.item_block{
                text-align: center;
                p.img_title{
                  margin:0 0 14px 0;
                  font-size: .875rem;
                  color: $black_level_7;
                }
                div.img_parent{
                  width: 264px;
                  height: 160px;
                  background-color: #f2f2f2;
                  position: relative;
                  > img{
                    max-width: 100%;
                    max-height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  }
                }
              }
            }
          }
        }
        div.left_block, div.right_block{
          background-color: $blue_level_69;
          border-radius: 4px;
          width: 483px;
          font-size: 1rem;
          display: inline-block;
          vertical-align: top;
          min-height: 303px;
        }
        div.left_block{
          margin-right: 14px;
        }
      }
      div.a_block{
        background-image: linear-gradient(to bottom, $red_level_19, $red_level_20);
        div.q_images_block{
          background-color: $red_level_21;
        }
      }
      div.rate_block{
        border-radius: 20px;
        background-color: $blue_level_67;
        text-align: center;
        padding: 2px 0;
        margin-top: 20px;
        span.rate_text{
          display: inline-block;
          vertical-align: middle;
          color: $blue_level_70;
          font-size: .875rem;
        }
        ul.star_list{
          display: inline-block;
          vertical-align: middle;
          > li{
            line-height: 0;
          }
        }
      }
      div.ask_again_block{
        text-align: center;
        margin-top: 25px;
        a.btn_ask_again{
          text-decoration: none;
          display: inline-block;
          border:0;
          padding:0;
          text-align: center;
          width: 180px;
          height: 36px;
          line-height: 34px;
          border-radius: 5px;
          background-image: linear-gradient(to bottom, $red_level_22, $red_level_23 72%, $red_level_23);
          border: solid 1px $white;
          color: $white;
          text-shadow: 0 1px 2px $black_level_1;
          cursor: pointer;
          outline: none;
        }
      }
    }


  }

}

div.jquery-modal{
  z-index: 5;
  &::before{
    @media screen and (max-width: 680px){
      height: auto;
    }
  }
  div.modal{
    background-color: $blue_level_9;
    border-radius: 30px;
    padding:0;
    overflow: hidden;
    width: 840px;
    max-width: none;
    div.modal_header{
      font-size: 1.5rem;
      color: $white;
      background-color: $blue_level_9;
      font-weight: 500;
      text-align: center;
      padding: 20px 0;
      position: relative;
      a.modal_close{
        position: absolute;
        right: 20px;
        top:50%;
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        display: inline-block;
        line-height: 1;
        transform: translateY(-50%);
      }
    }
    div.modal_content{
      padding: 20px 35px;
      div.ask_title_block{
        input.ask_title{
          border-radius: 20px;
          background-color: $blue_level_67;
          width: 100%;
          padding: 8px 20px;
          border:0;
          color: $white;
          font-size: 1.25rem;

          &::placeholder {
            color: $black_level_3;
            opacity: 1;
            font-size: 1.25rem;
          }
          &:-ms-input-placeholder {
            color: $black_level_3;
            font-size: 1.25rem;
          }
          &::-ms-input-placeholder {
            color: $black_level_3;
            font-size: 1.25rem;
          }
        }
      }
      div.ask_content_block{
        border-radius: 20px;
        margin-top: 10px;
        background-image: linear-gradient(to bottom, $white, $blue_level_68);
        padding: 14px 20px;
        textarea.ask_textarea{
          color: $black_level_7;
          font-size: 1.25rem;
          width: 100%;
          min-height: 100px;
          resize: none;
          border:0;
          outline: none;
        }
        div.q_images_block{
          border-radius: 4px;
          background-color: $blue_level_69;
          padding: 14px 25px;
          margin-top: 5px;
          ul.q_images_list{
            margin:0;
            padding:0;
            font-size: 0;
            > li{
              display: inline-block;
              vertical-align: top;
              margin:0 40px 0 0;
              padding:0;
              &:last-child{
                margin-right: 0;
              }
              div.item_block{
                text-align: center;
                p.img_title{
                  margin:0 0 8px 0;
                  font-size: .875rem;
                  color: $black_level_7;
                }
                div.img_block{
                  width: 200px;
                  min-height: 120px;
                  background-color: $gray_level_6;
                  position: relative;
                  input.pick_pic{
                    display: none;
                  }
                  span.icon_plus{
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    border: 4px solid $gray_level_7;
                    color: $gray_level_7;
                    cursor: pointer;
                    &.-none{
                      display: none;
                    }
                    span.plus_text{
                      position: absolute;
                      font-size: 60px;
                      line-height: 0;
                      top: calc(50% - 3px);
                      left: 50%;
                      transform: translate(-50%, -50%);
                    }
                  }
                  div.preview_img{
                    position: relative;
                    height: 160px;
                    top:2;
                    &.-none{
                      display: none;
                    }
                    > img{
                      max-width: 100%;
                      max-height: 100%;
                      cursor: pointer;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                    }
                    button.btn_delete{
                      border:0;
                      padding:0;
                      background: none;
                      cursor: pointer;
                      position: absolute;
                      top: 10px;
                      left: 10px;
                      outline: none;
                      z-index: 3;
                    }
                  }
                }
              }
            }
          }
        }
      }
      div.send_q_block{
        text-align: center;
        margin-top: 15px;
        button.btn_send_q{
          font-size: 1.25rem;
          padding:0;
          background: none;
          color: $white;
          text-shadow: 0 1px 2px $black_level_1;
          width: 200px;
          height: 50px;
          outline: none;
          cursor: pointer;

          border-radius: 8px;
          box-shadow: inset 0 1px 0 0 $blue_level_23;
          background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
          border: solid 1px $white_level_5;
        }
      }
    }
    a.close-modal {
      display: none;
    }
  }
}

body{
  &.-overflow-hidden{
    overflow: hidden;
  }
}
div.preview_modal{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  z-index: 7;
  background-color: hsla(0, 0%, 0%, .6);
  overflow: scroll;
  &.-show{
    display: block;
  }
  div.img_block_container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1040px;
    line-height: 1;
    max-height: 90vh;
    text-align: center;
    @media screen and (max-width: 1039px){
      max-width: 100%;
    }
    div.img_block{
      position: relative;
      display: inline-block;

      img.img_preview_item{
        max-width: 100%;
        max-height: 90vh;
        min-width: 500px;
        @media screen and (max-height: 500px){
          min-width: auto;
        }
      }
      button.btn_preview_close{
        position: absolute;
        right:20px;
        top:10px;
        color: $white;
        font-size: 3rem;
        border:0;
        background: none;
        padding:0;
        line-height: 1;
        cursor: pointer;
        outline: none;
      }
    }

  }
}
img.data_img_preview{
  cursor: pointer;
}
