@import "colors";
section.normal_section{
  padding: 30px 80px;
  width: 1080px;
  margin: 0 auto;


  div.search_block{
    margin-top: 15px;
    h1.title1{
      margin:0;
      padding:0;
      font-size: 26px;
      color: $white;
      text-shadow: 0 1px 3px $black_level_11;
      font-weight: normal;
    }
    div.form_block{
      margin-top: 25px;
      form.form_edit{
        div.input_group{
          font-size: 0;
          &.-phone{
            vertical-align: top;
          }
          &.-block{
            display: block;
            margin-bottom: 25px;
          }
          &.-date_block{
            font-size: 0;
            label.general_label{
              font-size: 0;
            }
          }
          &.-inline-block{
            display: inline-block;
            width: 320px;
            &.-more-width1{
              width: 320px;
            }
            &.-less-width1{
              width: 150px;
            }
          }
          label.general_label{
            display: inline-block;
            vertical-align: middle;
            color: $white;
            text-shadow: 0 1px 3px $black_level_11;
            span.span_text{
              display: inline-block;
              vertical-align: middle;
              margin-right: 0px;
              font-size: 1.25rem;
            }
            span.-dash{
              color: $white;
              font-size: 1.125rem;
              height: 36px;
              line-height: 36px;
              display: inline-block;
              vertical-align: middle;
              margin-left: 12px;
              margin-right: 12px;
            }
          }
          input.text_input{
            display: inline-block;
            vertical-align: middle;
            color: $blue_level_22;
            border-radius: 10px;
            background-color: $black_level_8;
            box-shadow: 0 -2px 0 0 $blue_level_20;
            border:0;
            font-size: 1.125rem;
            padding: 7px 10px;
            outline: none;
            width: 170px;
            &.-date{
              background-color: $blue_level_13;
              border: 1px solid $white;
            }
          }
          div.account_block, div.item_block{
            display: inline-block;
            vertical-align: middle;
            position: relative;

            border-radius: 10px;
            background-color: $black_level_8;
            box-shadow: 0 -2px 0 0 $blue_level_20;
            &::after{
              content:"";
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-top: 8px solid $black;
              position: absolute;
              top:50%;
              right:8px;
              transform: translateY(-50%);
            }
            select.account_select, select.item_select{
              display: inline-block;
              vertical-align: middle;
              height: 36px;
              line-height: 36px;
              width: 370px;
              outline: none;
              padding-left:10px;
              padding-right: 10px;
              font-size: 1.125rem;
              color: $blue_level_22;


              border:0;
              background: none;
              position: relative;
              z-index: 1;
              cursor: pointer;
              -webkit-appearance: none;
              -moz-appearance:    none;
              appearance:         none;
            }
          }
        }

        div.send_block{
          padding-left: 0px;
          button.btn_submit{
            color: $white;
            border:0;
            background: none;
            font-size: 1.125rem;
            border-radius: 10px;
            background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
            border: solid 1px $white;
            width: 130px;
            padding-top: 7px;
            padding-bottom: 7px;
            cursor: pointer;
          }
        }
      }
    }
    div.search_result{
      width: 920px;
      margin-top: 30px;
      table.custom_table{
        width: 100%;
        border: 1px solid $white;
        border-collapse: collapse;
        table-layout: fixed;
        tr{
          th, td{
            border: 1px solid $white;
            font-size: 1.25rem;
            font-weight: normal;
            text-align: center;
            color: $white;
            text-shadow: 0 1px 3px $black_level_11;
            padding: 10px 0;
          }
        }
      }

      div.page_container{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
        position: relative;

      }
      div.page_number_block{
        font-size: 0;
        button.btn_pager_left, button.btn_pager_right{
          cursor: pointer;
          border:0;
          background: none;
          padding:0;
          display: inline-block;
          vertical-align: middle;
          width: 40px;
          height: 30px;
          border-radius: 15px;
          outline: none;

          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
          background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
          border-width: 1px;
          border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
          border-image-slice: 1;

          &.-disabled{
            color: $blue_level_5;
            cursor: not-allowed;
            opacity: 0.3;
          }
        }
        button.btn_pager_left{
          margin-right: 10px;
          span.tri_left{
            display: inline-block;
            position: relative;
            left: -1px;
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 8px solid $white;
          }
        }
        button.btn_pager_right{
          margin-left: 10px;
          span.tri_right{
            display: inline-block;
            position: relative;
            left: 2px;
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 8px solid $white;
          }
        }
        button.btn_left, button.btn_right{
          background: none;
          border:0;
          color: $white;
          position: relative;
          top:-1px;
          cursor: pointer;
          outline: none;
          vertical-align: middle;
          &.-disabled{
            color: $blue_level_5;
            cursor: not-allowed;
            opacity: 0.3;
          }
        }
        button.btn_left{
          width: 40px;
          height: 30px;
          border-radius: 46px 0 0 46px;
          background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
          border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
          border-image-slice: 1;
          position: relative;
          &::after{
            content: "";
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(calc(-50% + 2px), -50%);
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right:8px solid $white;
          }
        }
        button.btn_right{
          width: 40px;
          height: 30px;
          border-radius: 0 46px 46px 0;
          background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
          border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
          border-image-slice: 1;
          &::after{
            content: "";
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(calc(-50% - 2px), -50%);
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left:8px solid $white;
          }
        }
        span.span_slash{
          display: inline-block;
          margin-left:3px;
          margin-right: 3px;
        }
        span.page_number{
          color: $white;
          background-color: $black_level_2;
          vertical-align: middle;
          display: inline-block;
          font-size: .875rem;
          padding: 7px 10px;
          position: relative;
          top:-1px;
        }
      }

    }
  }
}
