@import "colors";

section.normal_section{
  padding: 30px 20px 30px 30px;
  div.all_contents_block{
    width: 1025px;
    margin: 0 auto;
    div.tab_contents_block{
      width: 1025px;
      margin-bottom: 50px;
      div.tab_block{
        margin-bottom: 20px;
        ul.tab_list{
          margin:0;
          padding:0;
          > li{
            margin:0 10px 0 0;
            padding:0;
            list-style: none;
            display: inline-block;
            &:last-child{
              margin-right: 0;
            }
            button.btn_tab{
              border:0;
              background: none;
              font-size: 1.125rem;
              border-radius: 8px;
              background-color: $white_level_3;
              color: $white;
              width: 130px;
              text-align: center;
              padding: 3px 0;
              border: 2px solid $blue_level_32;
              cursor: pointer;
              outline: none;
              &.-on{
                background-image: linear-gradient(to top, $green_level_3, $green_level_4);
                border: solid 2px $black_level_3;
              }
            }
          }
        }
      }
      div.tab_content_block{
        position: relative;
        &::before, &::after{
          content:"";
          display: block;
        }
        &::after{
          clear:both;
        }
        div.tab_content{
          h1.title1{
            color: $white;
            font-size: 1.5rem;
            margin:0 0 26px 0;
            padding:0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          div.difficult_priority_block{
            div.difficult_level, div.priority_level{
              display: inline-block;
              vertical-align: top;
            }
            div.difficult_level{
              ul.difficult_list{
                font-size: 0;
                margin:0;
                padding:0;
                > li{
                  margin:0;
                  padding:0;
                  display: inline-block;
                  vertical-align: top;

                  > div.radio_block{
                    position: relative;

                    &.-level_1{
                      padding: 3px;
                      background-image: linear-gradient(to bottom, $green_level_13, $green_level_14 78%, $green_level_15);
                      > label{
                        background-image: linear-gradient(to bottom, $green_level_10, $green_level_11 44%, $green_level_12);
                      }
                    }
                    &.-level_2{
                      padding: 3px;
                      background-image: linear-gradient(to bottom, $green_level_13, $green_level_14 78%, $green_level_15);
                      > label{
                        background-image: linear-gradient(to bottom, $green_level_16, $green_level_17 44%, $green_level_16);
                      }
                    }
                    &.-level_3{
                      padding: 3px;
                      background-image: linear-gradient(to bottom, $green_level_13, $green_level_14 78%, $green_level_15);
                      > label{
                        background-image: linear-gradient(to bottom, $green_level_18, $green_level_19 59%, $green_level_20);
                      }
                    }
                    > label{
                      font-size: 1.125rem;
                      color: $white_level_8;
                      cursor: pointer;
                      text-align: center;
                      display: inline-block;
                      height: 44px;
                      line-height: 44px;
                      width: 194px;
                      position: relative;
                    }
                    input.difficult_radio{
                      position: absolute;
                      top:0;
                      left:0;
                      z-index: 2;
                      visibility: hidden;
                      &:checked{
                        + label{
                          border: solid 3px $white;
                          line-height: 38px;
                          color: $white;
                        }
                      }
                    }
                  }
                }
              }

            }
            div.priority_level{
              margin-left: 16px;
              ul.priority_list{
                margin:0;
                padding:0;
                font-size: 0;
                > li{
                  display: inline-block;
                  margin:0;
                  padding:0;
                  list-style: none;
                  vertical-align: top;
                  > div.checkbox_block{
                    position: relative;

                    &.-choice_1{
                      padding: 3px;
                      background-image: linear-gradient(to bottom, $yellow_level_8, $yellow_level_9 52%, $yellow_level_10);
                      > label{
                        background-image: linear-gradient(to bottom, $yellow_level_5, $yellow_level_6 64%, $yellow_level_7);
                      }
                    }
                    &.-choice_2{
                      padding: 3px;
                      background-image: linear-gradient(to bottom, $yellow_level_14, $yellow_level_15 51%, $yellow_level_16);
                      > label{
                        background-image: linear-gradient(to bottom, $yellow_level_11, $yellow_level_12 64%, $yellow_level_13);
                      }
                    }
                    > label{
                      font-size: 1.125rem;
                      color: $white;
                      cursor: pointer;
                      text-align: center;
                      display: inline-block;
                      height: 44px;
                      line-height: 44px;
                      width: 194px;
                      position: relative;
                      img.icon_check{
                        width: 24px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                        position: relative;
                        top:-2px;
                        &.-v{
                          display: none;
                        }
                      }
                    }
                    input.choice_checkbox{
                      position: absolute;
                      top:0;
                      left:0;
                      z-index: 2;
                      visibility: hidden;
                      &:checked{
                        + label{
                          img.icon_check{
                            &.-x{
                              display: none;
                            }
                            &.-v{
                              display: inline-block;
                            }
                          }
                        }

                      }
                    }
                  }
                }
              }
            }
          }
          div.question_list_block{
            div.info_check_block{
              position: relative;
              margin-top: 10px;
              div.checkbox_block{
                position: relative;
                > input.-check-all{
                  position: absolute;
                  top:0;
                  left:0;
                  cursor: pointer;
                  visibility: hidden;
                  &:checked{
                    + label{
                      img.-x{
                        display: none;
                      }
                      img.-v{
                        display: inline-block;
                      }
                    }
                  }
                }
                > label{
                  font-size: 1rem;
                  color: $white;
                  cursor: pointer;
                  img.-x{
                    display: inline-block;
                    vertical-align: middle;
                  }
                  img.-v{
                    display: none;
                    vertical-align: middle;
                  }
                  span.check_all_text{
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 15px;
                  }
                }
              }
              span.info_text{
                position: absolute;
                right:20px;
                top:4px;
                font-size: 1rem;
                color: $white;
              }
            }
            ul.item_list{
              margin:10px 0 0 0;
              padding:0;
              > li{
                list-style: none;
                margin:0;
                padding:0;
                font-size: 1.25rem;
                display: block;
                vertical-align: top;
                &:nth-child(odd){
                  div.item_right_block{
                    background-color: $blue_level_48;
                  }
                }
                &:nth-child(even){
                  div.item_right_block{
                    background-color: $blue_level_49;
                  }
                }
                div.item_block{
                  font-size: 0;
                  div.item_left_block{
                    display: inline-block;
                    vertical-align: top;
                    width: 24px;
                    margin-right: 16px;
                    div.item_checkbox_block{
                      position: relative;
                      top: 13px;
                      input.item_check{
                        position: absolute;
                        top:0;
                        left:0;
                        z-index: 2;
                        cursor: pointer;
                        visibility: hidden;
                        &:checked{
                          + label{
                            > img{
                              &.-x{
                                display: none;
                              }
                              &.-v{
                                display: inline;
                              }
                            }
                          }
                        }
                      }
                      label{
                        cursor: pointer;
                        > img{
                          width: 24px;
                          &.-x{

                          }
                          &.-v{
                            display: none;
                          }
                        }
                      }
                    }

                  }
                  div.item_right_block{
                    display: inline-block;
                    vertical-align: top;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    padding-left: 20px;
                    width: calc(100% - 60px);
                    ul.span_list{
                      margin:0 10px 0 0;
                      padding:0;
                      float: right;
                      > li{
                        display: inline-block;
                        vertical-align: middle;
                        list-style: none;
                        margin:0 0 0 5px;
                        padding:0;
                        span.hint_text{
                          display: inline-block;
                          width: 36px;
                          height: 36px;
                          line-height: 36px;
                          font-size: 1.125rem;
                          text-align: center;
                          color: $white;
                          text-shadow: 0 1px 2px $black_level_1;
                          border-radius: 5px;
                          border: solid 1px $white;
                          &.-video{
                            background-image: linear-gradient(to bottom, $yellow_level_17, $yellow_level_18 50%, $yellow_level_18);
                          }
                          &.-never{
                            background-image: linear-gradient(to bottom, $yellow_level_19, $yellow_level_20 50%, $yellow_level_20);
                          }
                          &.-easy{
                            background-image: linear-gradient(to bottom, $green_level_10, $green_level_11 44%, $green_level_12);
                          }
                          &.-medium{
                            background-image: linear-gradient(to bottom, $green_level_21, $green_level_22 58%, $green_level_23);
                          }
                          &.-hard{
                            background-image: linear-gradient(to bottom, $green_level_18, $green_level_19 59%, $green_level_20);
                          }
                        }
                      }
                    }
                    p.para{
                      font-size: 1.125rem;
                      color: $black_level_7;
                      margin:0;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      line-height: 36px;
                      height: 36px;
                      overflow: hidden;
                    }
                  }
                }


              }
            }
            div.page_container{
              text-align: center;
              margin-top: 20px;
              margin-bottom: 50px;
              position: relative;
              div.start_or_print{
                position: absolute;
                right: 20px;
                top:-3px;
                button.to_start, button.to_print{
                  display: inline-block;
                  color: $white;
                  font-size: 1.25rem;
                  border-radius: 8px;
                  box-shadow: inset 0 1px 0 0 $blue_level_23;
                  background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
                  border: solid 1px $white_level_5;
                  padding:0;
                  width: 130px;
                  height: 34px;
                  line-height: 34px;
                  text-align: center;
                  cursor: pointer;
                  &.-disabled{
                    opacity: .5;
                    cursor: not-allowed;
                  }
                }
                button.to_start{
                  text-decoration: none;
                  margin-right: 20px;
                }
                button.to_print{

                }
              }
            }
            div.page_number_block{
              font-size: 0;
              button.btn_left, button.btn_right{
                background: none;
                border:0;
                color: $white;
                position: relative;
                top:-1px;
                cursor: pointer;
                outline: none;
                vertical-align: middle;
                &.-disabled{
                  color: $blue_level_5;
                  cursor: not-allowed;
                  opacity: 0.3;
                }
              }
              button.btn_left{
                width: 40px;
                height: 30px;
                border-radius: 46px 0 0 46px;
                background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
                border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
                border-image-slice: 1;
                position: relative;
                &::after{
                  content: "";
                  position: absolute;
                  top:50%;
                  left:50%;
                  transform: translate(calc(-50% + 2px), -50%);
                  width: 0;
                  height: 0;
                  border-top: 6px solid transparent;
                  border-bottom: 6px solid transparent;
                  border-right:8px solid $white;
                }
              }
              button.btn_right{
                width: 40px;
                height: 30px;
                border-radius: 0 46px 46px 0;
                background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
                border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
                border-image-slice: 1;
                &::after{
                  content: "";
                  position: absolute;
                  top:50%;
                  left:50%;
                  transform: translate(calc(-50% - 2px), -50%);
                  width: 0;
                  height: 0;
                  border-top: 6px solid transparent;
                  border-bottom: 6px solid transparent;
                  border-left:8px solid $white;
                }
              }
              span.span_slash{
                display: inline-block;
                margin-left:3px;
                margin-right: 3px;
              }
              span.page_number{
                color: $white;
                background-color: $black_level_2;
                vertical-align: middle;
                display: inline-block;
                font-size: .875rem;
                padding: 7px 10px;
                position: relative;
                top:-1px;
              }
            }
          }

          div.test_count_block{
            margin-top: 50px;
            padding-left:300px;
            ul.test_count_list{
              margin:0;
              padding:0;
              > li{
                display: block;
                margin:0 0 20px 0;
                padding:0;
                list-style: none;
                &:last-child{
                  margin-bottom: 0;
                }
                div.item_all_block{
                  font-size: 0;
                  height: 50px;
                  line-height: 50px;
                  div.left_block, div.middle_block, div.right_block{
                    display: inline-block;
                    vertical-align: top;
                  }
                  div.left_block{
                    color: $white;
                    font-size: 1.125rem;
                    width: 56px;
                    text-align: center;
                    &.-easy{
                      background-image: linear-gradient(to bottom, $green_level_10, $green_level_11 44%, $green_level_12);
                    }
                    &.-medium{
                      background-image: linear-gradient(to bottom, $green_level_21, $green_level_22 58%, $green_level_23);
                    }
                    &.-difficult{
                      background-image: linear-gradient(to bottom, $green_level_18, $green_level_19 59%, $green_level_20);
                    }

                  }
                  div.middle_block{
                    background-color: $blue_level_45;
                    padding: 5px;
                    height: 50px;
                    line-height: 1;
                    font-size: 0;
                    input.count_text{
                      color: $black;
                      font-size: 1.125rem;
                      text-align: center;

                      box-shadow: inset 0 2px 4px 0 $black_level_1;
                      border-style: solid;
                      border-width: 2px;
                      border-image-source: linear-gradient(to bottom, #fafafa, #c8c8c8 53%, #fcfcfc);
                      border-image-slice: 1;
                      height: 40px;
                      line-height: 40px;
                      outline: none;
                      line-height: 1;
                    }
                  }
                  div.right_block{
                    background-color: $blue_level_47;
                    width: 130px;
                    text-align: center;
                    p.para{
                      font-size: 1.125rem;
                      color: $blue_level_46;
                      margin:0;
                      line-height: 1;
                      height: 50px;
                      line-height: 50px;
                    }
                  }
                }
              }
            }
            div.start_or_print{
              margin-top: 50px;
              padding-left: 60px;
              button.to_start, button.to_print{
                display: inline-block;
                color: $white;
                font-size: 1.25rem;
                border-radius: 8px;
                box-shadow: inset 0 1px 0 0 $blue_level_23;
                background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
                border: solid 1px $white_level_5;
                padding:0;
                width: 130px;
                height: 34px;
                line-height: 34px;
                text-align: center;
                cursor: pointer;
                &.-disabled{
                  opacity: .5;
                  cursor: not-allowed;
                }
              }
              button.to_start{
                text-decoration: none;
                margin-right: 20px;
              }
              button.to_print{

              }
            }
          }
        }
      }
    }


  }

}
