@import "colors";

section.normal_section{
  padding: 30px 20px 30px 30px;
  div.all_contents_block{
    width: 1030px;
    margin: 0 auto;
    div.info_block_container{
      font-size: 0;
      div.info_block{
        width: 150px;
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
        &.-range{
          width: 380px;
          div.middle_block{
            overflow-y: auto;
            ul.range_list{
              margin:0;
              padding:0;
              > li{
                list-style: none;
                margin:0 0 5px 0;
                padding:0;
                text-align: left;
                &:last-child{
                  margin-bottom: 0;
                }
              }
            }
          }
        }
        div.top_block{
          background-image: linear-gradient(to bottom, $red_level_10, $red_level_11);
          color: $white;
          font-size: .875rem;
          text-align: center;
          border-radius: 7px 7px 0 0;
          height: 25px;
          line-height: 25px;
        }
        div.middle_block{
          border-radius: 0 0 7px 7px;
          color: $black;
          font-size: 1rem;
          background-image: linear-gradient(to bottom, $red_level_12, $red_level_13);
          text-align: center;
          height: 50px;
          padding: 15px 12px;

        }

      }
    }

    div.content_block{
      background-color: $black_level_5;
      border-radius: 10px;
      width: 1020px;
      margin-top: 16px;
      div.q_total_block_container{
        padding: 15px 10px;
        div.q_total_block{
          font-size: 0;
          button.btn_left{
            width: 40px;
            height: 30px;
            border-radius: 46px 0 0 46px;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            position: relative;
            outline: none;
            vertical-align: top;
            cursor: pointer;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% + 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-right:8px solid $white;
            }
            &.-disabled{
              opacity: .3;
              cursor: not-allowed;
            }
          }
          button.btn_right{
            width: 40px;
            height: 30px;
            border-radius: 0 46px 46px 0;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            position: relative;
            outline: none;
            vertical-align: top;
            cursor: pointer;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% - 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-left:8px solid $white;
            }
            &.-disabled{
              opacity: .3;
              cursor: not-allowed;
            }
          }
          ul.q_count_list{
            margin:0;
            padding:0;
            display: inline-block;
            vertical-align: top;
            background-color: #113751;
            width: 920px;
            line-height: 1;
            overflow: hidden;
            white-space: nowrap;
            > li{
              display: inline-block;
              list-style: none;
              margin:0;
              padding:0;
              vertical-align: top;
              position: relative;
              button.btn_count{
                padding:0;
                background: none;
                font-size: 1.125rem;
                color: $white;
                border:0;
                height: 30px;
                line-height: 30px;
                width: 46px;
                text-align: center;
                cursor: pointer;
                outline: none;
                &.-on{
                  span.-circle{
                    display: inline-block;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    border: solid 2px $blue_level_50;
                    line-height: 26px;
                  }
                }
                &.-answered{
                  color: $blue_level_56;
                }
                &.-will-check{
                  color: $red_level_14;
                }
              }
            }
          }
        }
      }

      div.q_and_a_block_container{
        div.data_tab{
          &.-none{
            display: none;
          }
          div.q_content{
            font-size: 0;
            background-image: linear-gradient(to bottom, $white, $yellow_level_22);
            min-height: 390px;
            position: relative;
            div.left_block, div.right_block{
              display: inline-block;
              vertical-align: top;
            }
            div.left_block{
              width: 220px;
              background-image: linear-gradient(to bottom, $blue_level_51, $blue_level_52);
              position: absolute;
              top:0;
              left:0;
              height: 100%;
              text-align: center;
              span.info1, span.info2{
                display: block;
                border-radius: 7px;
                background-image: linear-gradient(to bottom, $blue_level_53, $blue_level_54);
                color: $blue_level_12;
                font-size: 1.125rem;
                width: 157px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                margin: 0 auto;
              }
              span.info1{
                margin-bottom: 10px;
                margin-top: 32px;
              }
              a.tag_plus{
                position: absolute;
                bottom:32px;
                left: 32px;
                top: auto;
              }
              button.btn_audio{
                padding:0;
                background: none;
                outline: none;
                border:0;
                cursor: pointer;
                margin-top: 20px;
                > img{
                  width: 134px;
                }
              }
            }
            div.right_block{
              width: calc(100% - 220px);
              margin-left: 220px;
              font-size: 1.25rem;
              padding: 15px 20px;
              p.para{
                color: $yellow_level_21;
                line-height: 1.4;
                margin:0;
              }
            }
          }
          div.answer_block_container{
            position: relative;
            padding: 20px 10px;
            div.answer_block{
              display: inline-block;
              font-size: 0;
              vertical-align: top;
              button.btn_left{
                width: 40px;
                height: 30px;
                border-radius: 46px 0 0 46px;
                background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
                border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
                border-image-slice: 1;
                position: relative;
                outline: none;
                vertical-align: top;
                cursor: pointer;
                &::after{
                  content: "";
                  position: absolute;
                  top:50%;
                  left:50%;
                  transform: translate(calc(-50% + 2px), -50%);
                  width: 0;
                  height: 0;
                  border-top: 6px solid transparent;
                  border-bottom: 6px solid transparent;
                  border-right:8px solid $white;
                }
                &.-disabled{
                  opacity: .3;
                  cursor: not-allowed;
                }
              }
              button.btn_right{
                width: 40px;
                height: 30px;
                border-radius: 0 46px 46px 0;
                background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
                border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
                border-image-slice: 1;
                position: relative;
                outline: none;
                vertical-align: top;
                cursor: pointer;
                &::after{
                  content: "";
                  position: absolute;
                  top:50%;
                  left:50%;
                  transform: translate(calc(-50% - 2px), -50%);
                  width: 0;
                  height: 0;
                  border-top: 6px solid transparent;
                  border-bottom: 6px solid transparent;
                  border-left:8px solid $white;
                }
                &.-disabled{
                  opacity: .3;
                  cursor: not-allowed;
                }
              }
              ul.q_answer_list{
                margin:0;
                padding:0;
                display: inline-block;
                vertical-align: top;
                background-color: #113751;
                max-width: 408px;
                line-height: 1;
                overflow: hidden;
                white-space: nowrap;
                > li{
                  display: inline-block;
                  list-style: none;
                  margin:0;
                  padding:0;
                  vertical-align: top;
                  position: relative;
                  button.btn_answer{
                    padding:0;
                    background: none;
                    font-size: 1.125rem;
                    color: $blue_level_55;
                    border:0;
                    height: 30px;
                    line-height: 30px;
                    width: 68px;
                    text-align: center;
                    cursor: pointer;
                    outline: none;
                    background-image: linear-gradient(to bottom, $white, $yellow_level_22);
                    &.-on{
                      background-image: linear-gradient(to bottom, $yellow_level_24, $yellow_level_25 67%, $yellow_level_26);
                      /*border: solid 1px $yellow_level_23;*/
                      color: $blue_level_12;
                    }
                  }
                }
              }
            }
            div.n_or_p{
              display: inline-block;
              vertical-align: top;
              margin-left: 20px;
              button.q_next{
                border:0;
                background: none;
                color: $white;
                font-size: 1.25rem;
                display: inline-block;
                padding:0;
                width: 80px;
                height: 34px;
                line-height: 34px;
                border-radius: 8px;
                box-shadow: inset 0 1px 0 0 $blue_level_23;
                background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
                border: solid 1px $white_level_5;
                text-align: center;
                cursor: pointer;
                outline: none;
                &.-p{
                  margin-right: 10px;
                }
                &.-n{

                }
                &.-invisible{
                  visibility: hidden;
                }
              }
            }
            div.check_again_block{
              position: absolute;
              right:10px;
              top:20px;
              button.btn_check{
                display: inline-block;
                border:0;
                background: none;
                padding:0;
                border-radius: 8px;
                width: 120px;
                height: 34px;
                line-height: 34px;
                box-shadow: inset 0 1px 0 0 $blue_level_23;
                background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
                border: solid 1px $white_level_5;
                text-align: center;
                font-size: 1.25rem;
                color: $white;
                cursor: pointer;
                outline: none;
                &.-on{
                  box-shadow: inset 0 1px 4px 0 $white_level_9;
                  background-image: linear-gradient(to top, $red_level_15, $red_level_16);
                  border: solid 1px $white;
                }
              }
            }
          }
        }
      }



    }
    div.send_test{
      margin-top: 20px;
      text-align: center;
      margin-bottom: 50px;
      width: 1020px;
      button.btn_send_test{
        padding:0;
        display: inline-block;
        vertical-align: top;
        width: 200px;
        height: 34px;
        line-height: 34px;
        color: $white;
        font-size: 1.25rem;
        outline: none;
        cursor: pointer;

        border-radius: 8px;
        box-shadow: inset 0 1px 0 0 $blue_level_23;
        background-image: linear-gradient(to top, $blue_level_40, $blue_level_41 26%, $white_level_6 65%, $white_level_7);
        border: solid 1px $white_level_5;
      }
    }

  }

}

div.jquery-modal{
  z-index: 6;
  &::before{
    @media screen and (max-width: 680px){
      height: auto;
    }
  }
  div.modal{
    background-color: $blue_level_8;
    border-radius: 30px;
    padding:0;
    overflow: hidden;
    width: 640px;
    max-width: none;
    div.modal_header{
      font-size: 1.5rem;
      color: $white;
      background-color: $blue_level_9;
      font-weight: 500;
      text-align: center;
      padding: 20px 0;
      position: relative;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);

    }
    div.modal_content{
      padding: 50px 20px;
      h1.modal_title{
        font-size: 1.125rem;
        color: $black_level_7;
        text-align: center;
      }
      p.para1, p.para2{
        font-size: 1.125rem;
        color: $black_level_7;
        margin:0;
        text-align: center;
      }
      p.para2{
        margin-top: 30px;
        &.-none{
          display: none;
        }
      }

    }
    div.modal_footer{
      padding: 15px 20px;
      font-size: 0;
      background-color: $blue_level_9;
      text-align: center;
      &::before, &::after{
        content: "";
        display: block;
      }
      &::after{
        clear:both;
      }
      a.modal_close{
        font-size: 1.25rem;
        color: $white;
        text-decoration: none;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: solid 1px $white;
        width: 200px;
        text-align: center;
        display: inline-block;
        padding: 12px 0;
        border-radius: 10px;
        margin-right: 30px;
        &.-no-margin{
          margin-right:0;
        }
      }
      button.btn_submit_data{
        font-size: 1.25rem;
        color: $white;
        text-decoration: none;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: solid 1px $white;
        width: 200px;
        text-align: center;
        display: inline-block;
        padding: 12px 0;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
      }
    }
    a.close-modal {
      display: none;
    }
  }
}
#send_test_modal{
  div.modal_content{
    padding-top: 102px;
    padding-bottom: 102px;
  }
}
