@import "colors";

section.normal_section{
  padding: 30px;
  div.all_contents_block{
    margin: 0 auto;
    width: 1020px;
    ul.item_list{
      margin:0;
      padding:0;
      > li{
        list-style: none;
        margin:0 15px 20px 0;
        padding:0;
        font-size: 1.25rem;
        display: inline-block;
        vertical-align: top;
        &:nth-child(5n){
          margin-right: 0;
        }
        a.item_link{
          display: block;
          border-radius: 4px;
          background-color: rgba(73, 189, 221, 0.5);
          color: $white;
          cursor: pointer;
          text-decoration: none;
          width: 190px;
          border: 2px solid $white;
          overflow: hidden;
          font-size: 0;
          position: relative;
          height: 120px;
          div.top_block, div.middle_block, div.bottom_block{
            padding: 10px;
          }
          div.top_block{
            background-image: linear-gradient(to bottom, $blue_level_42, $blue_level_43);
            position: relative;
            &::before{
              content: "";
              position: absolute;
              bottom:0;
              left:45px;

              width: 0;
              height: 0;
              border-left: 20px solid transparent;
              border-right: 20px solid transparent;

              border-bottom: 15px solid #43c8f6;
            }
            p.para_title{
              font-size: .75rem;
              color: $white;
              margin:0;
              position: relative;
              z-index: 2;
            }

          }
          div.middle_block{
            background-color: rgba(255, 255, 255, 0.6);
            padding: 10px;
            position: relative;
            &::before{
              content: "";
              position: absolute;
              top:0;
              left:75px;

              width: 0;
              height: 0;
              border-left: 30px solid transparent;
              border-right: 30px solid transparent;

              border-top: 25px solid #b4e4f6;
            }
            p.para1, p.para2{
              font-size: .625rem;
              color: $black_level_12;
              margin:0;
              line-height: 1.4;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              position: relative;
              z-index: 2;
            }
            p.para1{
              margin-bottom: 3px;
            }
          }
          div.bottom_block{
            background-color: $blue_level_44;
            p.para_left, p.para_right{
              font-size: .625rem;
              margin:0;
            }
            p.para_left{

            }
            p.para_right{
              &.-right{
                float: right;
              }
            }
          }
          span.score{
            display: inline-block;
            border-radius: 5px;

            position: absolute;
            right:5px;
            top:5px;
            z-index: 3;
            font-size: .875rem;
            color: $white;
            width: 36px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            &.-more{
              box-shadow: 0 2px 4px 0 $black_level_1, inset 0 1px 1px 0 $black_level_3;
              border: solid 1px transparent;
              background-image: linear-gradient(to bottom, $green_level_6, $green_level_7), linear-gradient(to top, $green_level_8, $green_level_9);
              background-origin: border-box;
              background-clip: content-box, border-box;
            }
            &.-less{
              box-shadow: 0 2px 4px 0 $black_level_1, inset 0 1px 1px 0 $black_level_3;
              border: solid 1px transparent;
              background-image: linear-gradient(to top, $red_level_5, $red_level_6 51%, $red_level_7), linear-gradient(to top, $white_level_1, $red_level_8 17%, $red_level_9);
              background-origin: border-box;
              background-clip: content-box, border-box;
            }
          }
        }

      }
    }
    div.tab_contents_block{
      width: 1040px;
      margin-bottom: 50px;
      div.tab_block{
        margin-bottom: 20px;
        ul.tab_list{
          margin:0;
          padding:0;
          > li{
            margin:0 10px 0 0;
            padding:0;
            list-style: none;
            display: inline-block;
            &:last-child{
              margin-right: 0;
            }
            button.btn_tab{
              border:0;
              background: none;
              font-size: 1.125rem;
              border-radius: 8px;
              background-color: $white_level_3;
              color: $white;
              width: 130px;
              text-align: center;
              padding: 3px 0;
              border: 2px solid $blue_level_32;
              cursor: pointer;
              outline: none;
              &.-on{
                background-image: linear-gradient(to top, $green_level_3, $green_level_4);
                border: solid 2px $black_level_3;
              }
            }
          }
        }
      }
      div.tab_content_block{
        position: relative;
        left: -10px;
        &::before, &::after{
          content:"";
          display: block;
        }
        &::after{
          clear:both;
        }
        div.tab_content{
          ul.tab_content_list{
            margin:0;
            padding:0;
            font-size: 0;
            > li{
              margin:0 10px 10px 0;
              padding:0;
              display: inline-block;
              list-style: none;
              vertical-align: top;
              font-size: 0;
              &:last-child{
                margin-right: 0;
              }
              > a{
                display: inline-block;
                color: $white;
                font-size: 1.375rem;
                text-decoration: none;
                position: relative;
                text-align: center;
                min-width: 130px;
                min-height: 185px;
                span.-text{
                  position: absolute;
                  top: 50%;
                  display: inline-block;
                  width: calc(100% - 40px);
                  transform: translate(-50%, -50%);

                  z-index: 2;
                  left:50%;
                  line-height: 1.4;
                }
                img.bg_img{
                  width: 130px;
                }
              }
            }
          }
        }
      }
    }
    h2.title2{
      font-size: 1.5rem;
      color: $white;
      margin:0 0 20px 0;
      padding:0;
    }
    div.recently_view{

    }
  }

}
