@import "colors";

section.normal_section{
  padding: 30px 20px 30px 30px;
  div.all_contents_block{
    width: 1030px;
    margin: 0 auto;
    div.tab_block{
      ul.tab_list{
        margin:0;
        padding:0;
        > li{
          display: inline-block;
          list-style: none;
          margin:0 10px 0 0;
          padding:0;
          font-size: 0;
          &:last-child{
            margin-right: 0;
          }
          div.tab_item_block{
            button.btn_tab{
              color: $white;
              border:0;
              background: none;
              font-size: 1rem;
              border-radius: 4px;
              background-image: linear-gradient(to top, $blue_level_24, $blue_level_25);
              box-shadow: inset 0 1px 0 0 $blue_level_23;
              border: solid 2px $white_level_1;
              width: 84px;
              padding:17px 0;
              cursor: pointer;
              outline: none;
              &.-on{
                border-radius: 4px;
                /*background-image: linear-gradient(to bottom, $orange_level_1, $orange_level_6);*/
                background-image: linear-gradient(to bottom, $orange_level_3, $orange_level_4);
                box-shadow: inset 0 1px 0 0 $blue_level_23;
                border: solid 2px $white_level_1;
              }
            }
            p.total_count{
              color: $white;
              font-size: .75rem;
              margin:5px 0 0 0;
              text-align: center;
            }
          }

        }
      }
    }
    div.tab_contents_block{
      width: 1040px;
      margin-top: 30px;
      div.tab_content_block{
        &::before, &::after{
          content:"";
          display: block;
        }
        &::after{
          clear:both;
        }
        div.page_container{
          text-align: center;
          margin-top: 40px;
          margin-bottom: 50px;
        }
        div.page_number_block{
          font-size: 0;
          button.btn_left, button.btn_right{
            background: none;
            border:0;
            color: $white;
            position: relative;
            top:-1px;
            cursor: pointer;
            outline: none;
            vertical-align: middle;
            &.-disabled{
              color: $blue_level_5;
              cursor: not-allowed;
              opacity: 0.3;
            }
          }
          button.btn_left{
            width: 40px;
            height: 30px;
            border-radius: 46px 0 0 46px;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            position: relative;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% + 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-right:8px solid $white;
            }
          }
          button.btn_right{
            width: 40px;
            height: 30px;
            border-radius: 0 46px 46px 0;
            background-image: linear-gradient(to bottom, #5bf0ff, #27b3e7);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), inset 0 2px 2px 0 rgba(255, 255, 255, 0.6);
            border-image-source: linear-gradient(to top, rgba(64, 217, 232, 0.69), #1da8db);
            border-image-slice: 1;
            &::after{
              content: "";
              position: absolute;
              top:50%;
              left:50%;
              transform: translate(calc(-50% - 2px), -50%);
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-left:8px solid $white;
            }
          }
          span.span_slash{
            display: inline-block;
            margin-left:3px;
            margin-right: 3px;
          }
          span.page_number{
            color: $white;
            background-color: $black_level_2;
            vertical-align: middle;
            display: inline-block;
            font-size: .875rem;
            padding: 7px 10px;
            position: relative;
            top:-1px;
          }
        }
        ul.item_list{
          margin:0;
          padding:0;
          > li{
            list-style: none;
            margin:0 15px 20px 0;
            padding:0;
            font-size: 1.25rem;
            display: inline-block;
            vertical-align: top;
            &:nth-child(5n){
              margin-right: 0;
            }
            a.item_link{
              display: block;
              border-radius: 4px;
              background-color: rgba(73, 189, 221, 0.5);
              color: $white;
              cursor: pointer;
              text-decoration: none;
              width: 190px;
              border: 2px solid $white;
              overflow: hidden;
              font-size: 0;
              position: relative;
              height: 120px;
              overflow: hidden;
              img.link_img{
                height: 100%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
              }
            }
            div.desc_block{
              position: absolute;
              bottom:0;
              left:0;
              width:100%;
              padding-bottom: 8px;
              padding-top: 8px;
              background-image: linear-gradient(to bottom, $black_level_9, $black_level_10 52%, $black_level_11);
              p.para1, p.para2{
                color: $white;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              p.para1{
                font-size: .875rem;
                margin:0 14px;
              }
              p.para2{
                font-size: .75rem;
                margin: 6px 14px 0 14px;
              }
            }
          }
        }
      }
    }
  }

}
