@import "colors";

div.birthday_block{
  position: relative;
  div.invisible_birthday_block{
    z-index: 3;
    position: absolute;
    top:50px;
    left:50px;
    display: none;
  }
  input.temp_birtyday{
    position: absolute;
    z-index: -1;
  }
}

section.normal_section_for_parents{
  padding: 30px 40px;
  width: 1080px;
  margin: 0 auto;
  div.avatar_block{
    div.left_block, div.right_block{
      display: inline-block;
      vertical-align: middle;
    }
    div.left_block{
      img{
        width: 100px;
      }
    }
    div.right_block{
      h1.title1{
        margin:0;
        padding:0;
        color: $white;
        font-size: 1.5rem;
        font-weight: normal;
      }
      div.action_block{
        margin-top: 15px;
        button.btn_upload{
          border:0;
          background: none;
          padding:0;
          font-size: 0;
          vertical-align: top;
          cursor: pointer;
          outline: none;
          img.btn_upload_img{
            width: 60px;
          }
        }
        a.btn_edit, a.logout {
          outline: none;
          vertical-align: top;
          font-size: 1rem;
          color: $white;
          font-weight: 500;
          border-radius: 10px;
          background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
          border: solid 1.125px $white;
          padding: 5px 22px;
          line-height: inherit;
          text-align: center;
          cursor: pointer;
          display: inline-block;
          text-decoration: none;
        }
        a.logout{
          margin-left: 8px;
          width: 110px;
          text-align: center;
        }
      }
    }
  }

  div.profile_info_block{
    margin-top: 33px;
    width: 1000px;
    border-radius: 10px;
    background-color: $blue_level_21;
    padding: 20px 20px;
    div.info_block{
      &:last-child{
        ul.info_list{
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      ul.info_list{
        margin:0 0 20px 0;
        padding:0 5px;
        > li{
          display: inline-block;
          margin:0;
          padding:0;
          list-style: none;
          color: $white;
          font-size: 1.125rem;
          width: 300px;
        }
      }
    }
    div.hr{
      height: 1px;
      opacity: 0.3;
      background-color: $white;
      margin-bottom: 25px;
    }
  }
  h2.title2{
    font-size: 1.5rem;
    color: $white;
    margin-left:0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 36px;
    padding:0;
  }
  div.students_list_block{
    margin-top: 15px;
    ul.students_list{
      margin:0;
      padding:0;
      > li{
        display: inline-block;
        margin:0 16px 0 0;
        padding:0;
        list-style: none;
        a.student_item, a.add_item{
          text-align: center;
          text-decoration: none;
          display: inline-block;
          width: 180px;
          height: 240px;
          border-radius: 10px;
          background-color: rgba(73, 189, 221, 0.5);
          position: relative;
          div.item_block{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            div.profile_img_block{
              span.avatar_img{
                display: inline-block;
                border-radius: 50%;
                position: relative;
                overflow: hidden;
                width: 100px;
                height: 100px;
                &.-add-border{
                  border: 1px solid $white;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center center;
                }
              }
              img.profile_img{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                max-width: 100%;
                max-height: 100%;
              }
            }
            p.para{
              margin:20px 0 0 0;
              color: $white;
              font-size: 1.25rem;
            }
          }

        }
        a.add_item{
          background-color: #207ebd;
          div.item_block{
            p.para{
              color: #69abd5;
            }
          }
        }
      }
    }
  }
}

div.jquery-modal{
  z-index: 5;
  &::before{
    @media screen and (max-width: 680px){
      height: auto;
    }
  }
  div.modal{
    background-color: $blue_level_8;
    border-radius: 30px;
    padding:0;
    overflow: hidden;
    width: 790px;
    max-width: none;
    div.modal_header{
      font-size: 1.5rem;
      color: $white;
      background-color: $blue_level_9;
      font-weight: 500;
      text-align: center;
      padding: 20px 0;
      position: relative;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
      a.modal_close{
        position: absolute;
        right: 20px;
        top:50%;
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        display: inline-block;
        line-height: 1;
        transform: translateY(-50%);
      }
    }
    div.modal_content{
      padding: 20px;
      background-color: $blue_level_77;

      height: 440px;
      overflow-y: scroll;
      h1.modal_title{
        font-size: 1.125rem;
        color: $black_level_7;
        text-align: center;
        &.-add-margin-top{
          margin-top:40px;
        }
        &.-add-margin{
          margin-top:40px;
          margin-bottom: 40px;
        }
      }
      div.success_block{
        margin-top:20px;
        margin-bottom: 40px;
        p{
          font-size: 2.25rem;
          color: $black_level_7;
          margin:0;
          text-align: center;
          font-weight: bold;
        }
      }
      div.form_forget_pwd_block{
        text-align: center;
        margin-top: 30px;
        form.form_forget_pwd{
          div.input_group{
            margin-bottom: 30px;
            label.label_text{
              display: inline-block;
              vertical-align: middle;
              color: $black_level_7;
              font-size: .875rem;
              margin-right: 10px;
            }
            input.text_input{
              display: inline-block;
              vertical-align: middle;
              border-radius: 10px;
              border:0;
              background-color: $black_level_3;
              box-shadow: 0 -2px 0 0 $blue_level_20;
              width: 300px;
              height: 50px;
              padding: 10px 12px;
              outline: none;
              font-size: 1.25rem;
            }
          }
        }
      }
    }
    div.modal_footer{
      padding: 15px 20px;
      font-size: 0;
      background-color: $blue_level_9;
      text-align: center;
      &::before, &::after{
        content: "";
        display: block;
      }
      &::after{
        clear:both;
      }
      a.modal_close, a.btn_confirm{
        font-size: 1.25rem;
        color: $white;
        text-decoration: none;
        background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
        border: solid 1px $white;
        width: 200px;
        text-align: center;
        display: inline-block;
        padding: 12px 0;
        border-radius: 10px;
        margin-right: 30px;
        &.-no-margin{
          margin-right:0;
        }
      }
    }
    a.close-modal {
      display: none;
    }
  }
}

#user_student_modal{
  section.normal_section{
    padding: 0 25px;
    width: 750px;
    margin: 0 auto;
    div.avatar_block{
      div.left_block, div.right_block{
        display: inline-block;
        vertical-align: middle;
      }
      div.left_block{
        span.new_avatar_img{
          display: inline-block;
          border-radius: 50%;
          position: relative;
          overflow: hidden;
          width: 100px;
          height: 100px;
          &.-add-border{
            border: 1px solid $white;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
          }
        }
        img{
          width: 100px;
        }
      }
      div.right_block{
        margin-left:20px;
        h1.title1{
          margin:0;
          padding:0;
          color: $white;
          font-size: 1.5rem;
          font-weight: normal;
        }
        div.action_block{
          margin-top: 40px;
          button.btn_upload{
            border:0;
            background: none;
            padding:0;
            font-size: 0;
            vertical-align: top;
            cursor: pointer;
            outline: none;
            img.btn_upload_img{
              width: 60px;
            }
          }
        }
      }
    }

    div.profile_info_edit_block{
      margin-top: 15px;
      p.must_hint{
        font-size: 1.125rem;
        color: $yellow_level_3;
        margin:0;
      }
      div.form_block{
        margin-top: 15px;
        form.form_edit{
          div.input_group{
            font-size: 0;
            &.-phone{
              vertical-align: top;
            }
            &.-block{
              display: block;
              margin-bottom: 15px;
            }
            &.-inline-block{
              display: inline-block;
              width: 320px;
              &.-more-width1{
                width: 320px;
              }
              &.-less-width1{
                width: 150px;
              }
              &.-less-width2{
                width: 200px;
              }
            }
            label.general_label{
              display: inline-block;
              vertical-align: middle;
              color: $white;
              font-size: 1rem;
              span.span_text{
                display: inline-block;
                vertical-align: middle;
                min-width: 80px;
                text-align: right;
                margin-right: 8px;
                &.-less-width1{
                  min-width: 50px;
                }
                &.-less-width2{
                  min-width: 40px;
                }
              }
            }
            input.text_input{
              display: inline-block;
              vertical-align: middle;
              color: $blue_level_22;
              border-radius: 10px;
              background-color: $black_level_8;
              box-shadow: 0 -2px 0 0 $blue_level_20;
              border:0;
              font-size: 1.125rem;
              padding: 6px 10px;
              outline: none;
              width: 200px;
              line-height: 1;
              &.-birthday{
                width: 60px;
                &.-year{
                  width: 70px;
                }
              }
              &.-phone-width1{
                width: 80px;
              }
              &.-phone-width2{
                width: 134px;
                margin-left:6px;
              }
              &.-class-width{
                width: 135px;
              }
              &.-email-width{
                width: 520px;
              }
            }
            span.span_slash{
              color: $white;
              font-size: 3rem;
              display: inline-block;
              vertical-align: middle;
              font-weight: 100;
              margin-left: 3px;
              margin-right: 3px;
            }
            div.gender_block, div.grade_block{
              display: inline-block;
              vertical-align: middle;
              position: relative;
              &::after{
                content:"";
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 8px solid $black;
                position: absolute;
                top:50%;
                right:10px;
                transform: translateY(-50%);
                z-index: 2;
              }
              select.gender_select, select.grade_select{
                display: inline-block;
                vertical-align: middle;
                height: 36px;
                line-height: 36px;
                width: 100px;
                outline: none;
                padding-left:10px;
                padding-right: 10px;
                font-size: 1.125rem;
                color: $blue_level_22;

                border-radius: 10px;
                background-color: $black_level_8;
                box-shadow: 0 -2px 0 0 $blue_level_20;
                border:0;

                -webkit-appearance: none;
                -moz-appearance:    none;
                appearance:         none;
              }
            }
          }
          span.hint_text{
            display: block;
            color: $white;
            font-size: .75rem;
            margin-top: 4px;
            margin-left: 88px;
          }
          div.send_block{
            padding-left: 88px;
            button.btn_submit{
              color: $white;
              border:0;
              background: none;
              font-size: 1.25rem;
              border-radius: 10px;
              background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
              border: solid 1px $white;
              width: 200px;
              padding-top: 11px;
              padding-bottom: 11px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
