@import "colors";

div.birthday_block{
  position: relative;
  div.invisible_birthday_block{
    z-index: 3;
    position: absolute;
    top:50px;
    left:50px;
    display: none;
  }
  input.temp_birtyday{
    position: absolute;
    z-index: -1;
  }
}

section.normal_section{
  padding: 30px 40px;
  width: 1080px;
  margin: 0 auto;
  div.avatar_block{
    div.left_block, div.right_block{
      display: inline-block;
      vertical-align: middle;
    }
    div.left_block{
      span.avatar_img{
        display: inline-block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        width: 100px;
        height: 100px;
        &.-add-border{
          border: 1px solid $white;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
      }
      img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
      }
    }
    div.right_block{
      margin-left:20px;
      h1.title1{
        margin:0;
        padding:0;
        color: $white;
        font-size: 1.5rem;
        font-weight: normal;
      }
      div.action_block{
        margin-top: 40px;
        button.btn_upload{
          border:0;
          background: none;
          padding:0;
          font-size: 0;
          vertical-align: top;
          cursor: pointer;
          outline: none;
          img.btn_upload_img{
            width: 60px;
          }
        }
      }
    }
  }

  div.profile_info_edit_block{
    margin-top: 15px;
    p.must_hint{
      font-size: 1.125rem;
      color: $yellow_level_3;
      margin:0;
    }
    div.form_block{
      margin-top: 15px;
      form.form_edit{
        div.input_group{
          font-size: 0;
          &.-phone{
            vertical-align: top;
          }
          &.-block{
            display: block;
            margin-bottom: 15px;
          }
          &.-inline-block{
            display: inline-block;
            width: 320px;
            &.-more-width1{
              width: 320px;
            }
            &.-less-width1{
              width: 150px;
            }
          }
          label.general_label{
            display: inline-block;
            vertical-align: middle;
            color: $white;
            font-size: 1rem;
            span.span_text{
              display: inline-block;
              vertical-align: middle;
              min-width: 80px;
              text-align: right;
              margin-right: 8px;
              &.-less-width1{
                min-width: 50px;
              }
              &.-less-width2{
                min-width: 40px;
              }
            }
          }
          input.text_input{
            display: inline-block;
            vertical-align: middle;
            color: $blue_level_22;
            border-radius: 10px;
            background-color: $black_level_8;
            box-shadow: 0 -2px 0 0 $blue_level_20;
            border:0;
            font-size: 1.125rem;
            padding: 6px 10px;
            outline: none;
            width: 200px;
            line-height: 1;
            &.-birthday{
              width: 60px;
              &.-year{
                width: 70px;
              }
            }
            &.-phone-width1{
              width: 80px;
            }
            &.-phone-width2{
              width: 134px;
              margin-left:6px;
            }
            &.-class-width{
              width: 135px;
            }
            &.-email-width{
              width: 520px;
            }
            &.-disabled{
              cursor: not-allowed;
            }
          }
          span.span_slash{
            color: $white;
            font-size: 3rem;
            display: inline-block;
            vertical-align: middle;
            font-weight: 100;
            margin-left: 3px;
            margin-right: 3px;
          }
          div.gender_block, div.grade_block{
            display: inline-block;
            vertical-align: middle;
            position: relative;
            &::after{
              content:"";
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-top: 8px solid $black;
              position: absolute;
              top:50%;
              right:10px;
              transform: translateY(-50%);
              z-index: 2;
            }
            select.gender_select, select.grade_select{
              display: inline-block;
              vertical-align: middle;
              height: 36px;
              line-height: 36px;
              width: 100px;
              outline: none;
              padding-left:10px;
              padding-right: 10px;
              font-size: 1.125rem;
              color: $blue_level_22;

              border-radius: 10px;
              background-color: $black_level_8;
              box-shadow: 0 -2px 0 0 $blue_level_20;
              border:0;

              -webkit-appearance: none;
              -moz-appearance:    none;
              appearance:         none;
            }
          }
        }
        span.hint_text{
          display: block;
          color: $white;
          font-size: .75rem;
          margin-top: 4px;
          margin-left: 88px;
        }
        div.send_block{
          padding-left: 88px;
          button.btn_submit{
            color: $white;
            border:0;
            background: none;
            font-size: 1.25rem;
            border-radius: 10px;
            background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
            border: solid 1px $white;
            width: 200px;
            padding-top: 11px;
            padding-bottom: 11px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
