@import "colors";
section.normal_section{
  padding: 30px 40px;
  width: 1080px;
  margin: 0 auto;
  div.avatar_block{
    div.left_block, div.right_block{
      display: inline-block;
      vertical-align: middle;
    }
    div.left_block{
      span.avatar_img{
        display: inline-block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        width: 100px;
        height: 100px;
        &.-add-border{
          border: 1px solid $white;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
      }
      img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
      }
    }
    div.right_block{
      margin-left:20px;
      h1.title1{
        margin:0;
        padding:0;
        color: $white;
        font-size: 1.5rem;
        font-weight: normal;
      }
      div.action_block{
        margin-top: 15px;
        button.btn_upload{
          border:0;
          background: none;
          padding:0;
          font-size: 0;
          vertical-align: top;
          cursor: pointer;
          outline: none;
          img.btn_upload_img{
            width: 60px;
          }
        }
        a.btn_edit, a.logout{
          outline: none;
          vertical-align: top;
          font-size: 1rem;
          color: $white;
          font-weight: 500;
          border-radius: 10px;
          background-image: linear-gradient(to bottom, $blue_level_17, $blue_level_18 71%, $blue_level_19);
          border: solid 1.125px $white;
          padding: 5px 22px;
          line-height: inherit;
          text-align: center;
          margin-left:0;
          cursor: pointer;
          display: inline-block;
          text-decoration: none;
        }
        a.logout{
          margin-left: 8px;
          width: 110px;
          text-align: center;
        }
      }
    }
  }

  div.profile_info_block{
    margin-top: 33px;
    width: 1000px;
    border-radius: 10px;
    background-color: $blue_level_21;
    padding: 20px 20px;
    div.info_block{
      &:last-child{
        ul.info_list{
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      ul.info_list{
        margin:0 0 20px 0;
        padding:0 5px;
        > li{
          display: inline-block;
          margin:0;
          padding:0;
          list-style: none;
          color: $white;
          font-size: 1.125rem;
          width: 300px;
        }
      }
    }
    div.hr{
      height: 1px;
      opacity: 0.3;
      background-color: $white;
      margin-bottom: 25px;
    }
  }
}
