<div class="choose_item_block">
  <ul class="choose_item_list">
    <li>
      <button type="button" class="modal_btn_item btn_field -on" data-target="tab_field" v-text="abbName.field" v-on:click="titleControl().field()">領域</button>
    </li>
    <li>
      <button type="button" class="modal_btn_item btn_subject" data-target="tab_subject" v-text="abbName.subject" v-on:click="titleControl().subject()">科目</button>
    </li>
    <li>
      <button type="button" class="modal_btn_item btn_grade_group" data-target="tab_grade_group" v-text="abbName.gradeGroup" v-on:click="titleControl().group()">年級/群組</button>
    </li>
    <li>
      <button type="button" class="modal_btn_item btn_unit" data-target="tab_unit" v-text="abbName.unit" v-on:click="titleControl().unit()">單元</button>
    </li>
  </ul>

  <div class="each_item_content">

    <div class="each_tab tab_field -on">
      <ul class="modal_item_list">
        <!--
        data-tab-target: 對應的是下個 tab：領域~單元
        data-next-target: 對應的是下個內容
        -->
        <li v-for="item in dbFields" v-on:click="dataControl().subject(item)">
          <button type="button" class="btn_get_data" data-tab-target="btn_subject" data-next-target="tab_subject">
            <img v-bind:src="item.ol_img" class="bg_img">
            <span class="-text" v-text="item.ol_display_name"></span>
          </button>
        </li>
        <!--<li><button type="button" class="btn_get_data" data-tab-target="btn_subject" data-next-target="tab_subject"><img src="./images/icon/btn-f-teacher-card-1-new@3x.png" class="bg_img"><span class="-text">全科</span></button></li>-->
        <!--<li><button type="button" class="btn_get_data" data-tab-target="btn_subject" data-next-target="tab_subject"><img src="./images/icon/btn-f-teacher-card-1-new@3x.png" class="bg_img"><span class="-text">最新版全科</span></button></li>-->
      </ul>
    </div>

    <div class="each_tab tab_subject">
      <ul class="modal_item_list">
        <li v-for="item in dbSubjects" v-on:click="dataControl().version(item)">
          <button type="button" class="btn_get_data" data-tab-target="btn_grade_group" data-next-target="tab_grade_group">
            <img v-bind:src="item.ol_img" class="bg_img">
            <span class="-text" v-text="item.ol_display_name"></span>
          </button>
        </li>
        <!--<li>-->
          <!--<button type="button" class="btn_get_data" data-tab-target="btn_grade_group" data-next-target="tab_grade_group">-->
            <!--<img src="./images/icon/btn-f-teacher-card.svg" class="bg_img">-->
            <!--<span class="-text">國文</span>-->
          <!--</button>-->
        <!--</li>-->
        <!--<li><button type="button" class="btn_get_data" data-tab-target="btn_grade_group" data-next-target="tab_grade_group"><img src="./images/icon/btn-f-teacher-card.svg" class="bg_img"><span class="-text">英文</span></button></li>-->
      </ul>
    </div>

    <div class="each_tab tab_grade_group">
      <div class="tab_block">
        <ul class="grade_group_list" v-bind:class="{'no_display': (dbVersions.length == 1 && dbVersions[0].ol_display_name == '不分版')}">
          <li v-for="item in dbVersions" v-on:click="dataControl().gradeGroup(item)">
            <button type="button" class="btn_grade_group_tab"  v-bind:class="{'-on' : item.ol_id == version_ol_id}" data-target="grade_group_tab1" v-text="item.ol_display_name">龍騰</button>
          </li>
          <!--<li><button type="button" class="btn_grade_group_tab -on" data-target="grade_group_tab1">龍騰</button></li>-->
          <!--<li><button type="button" class="btn_grade_group_tab" data-target="grade_group_tab2">不分版</button></li>-->
        </ul>
      </div>
      <div class="tab_content_block">
        <div class="tab_content -on" data-tab="grade_group_tab1">
          <ul class="modal_item_list">
            <li v-for="item in dbGradeGroups" v-on:click="dataControl().unit(item)">
              <button type="button" class="btn_get_data" data-tab-target="btn_unit" data-next-target="tab_unit">
                <img v-bind:src="item.ol_img" class="bg_img">
                <span class="-text" v-text="item.ol_display_name"></span>
              </button>
            </li>
            <!--<li>-->
              <!--<button type="button" class="btn_get_data" data-tab-target="btn_unit" data-next-target="tab_unit">-->
                <!--<img src="./images/icon/btn-f-teacher-card-new.svg" class="bg_img">-->
                <!--<span class="-text">七上</span>-->
              <!--</button>-->
            <!--</li>-->
            <!--<li><button type="button" class="btn_get_data" data-tab-target="btn_unit" data-next-target="tab_unit"><img src="./images/icon/btn-f-teacher-card-new.svg" class="bg_img"><span class="-text">七下</span></button></li>-->
          </ul>
        </div>
        <div class="tab_content" data-tab="grade_group_tab2">
          <ul class="modal_item_list">
            <li><button type="button" class="btn_get_data" data-tab-target="btn_unit" data-next-target="tab_unit"><img src="./images/icon/btn-f-teacher-card-new.svg" class="bg_img"><span class="-text">八上</span></button></li>
            <li><button type="button" class="btn_get_data" data-tab-target="btn_unit" data-next-target="tab_unit"><img src="./images/icon/btn-f-teacher-card-new.svg" class="bg_img"><span class="-text">白話文</span></button></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="each_tab tab_unit">
      <div class="tab_content_block">
        <ul class="modal_item_list item_list -unit">
          <li v-for="(item,index) in dbParts" v-bind:class="{ 'no_display' : pageControl().displayRange(index)}">
            <button type="button" class="modal_btn_send_data" v-bind:data-ot_id="item.ot_id" v-bind:data-ol_id="item.ol_id">
			  <input type="hidden" />
              <img :src="item.ol_img" class="link_img">
              <div class="desc_block">
                <p class="para1" v-text="item.ol_display_name_1"></p>
                <p class="para2" v-text="item.ol_display_name_2"></p>
              </div>
            </button>
          </li>
          <!--<% 18.times do |i| %>-->
            <!--<% if i <= 11 %>-->
              <!--<li>-->
                <!--<button type="button" class="modal_btn_send_data">-->
                  <!--<img src="http://via.placeholder.com/190x120" class="link_img">-->
                  <!--<div class="desc_block">-->
                    <!--<p class="para1">第一單元虯髯客傳<%=i+1%></p>-->
                    <!--<p class="para2">1-1課文解析(上)</p>-->
                  <!--</div>-->
                <!--</button>-->
              <!--</li>-->
            <!--<% else %>-->
              <!--<li class="no_display">-->
                <!--<button type="button" class="modal_btn_send_data">-->
                  <!--<img src="http://via.placeholder.com/190x120" class="link_img">-->
                  <!--<div class="desc_block">-->
                    <!--<p class="para1">第一單元虯髯客傳<%=i+1%></p>-->
                    <!--<p class="para2">1-1課文解析(上)</p>-->
                  <!--</div>-->
                <!--</button>-->
              <!--</li>-->
            <!--<% end %>-->
          <!--<% end %>-->
        </ul>
        <div class="page_container_in_modal">
          <div class="page_number_block">
            <button type="button" class="btn_item btn_left" data-items-per-page="12" v-bind:class="{ '-disabled' : current_page == 1}" v-on:click="pageControl().lastPage()"></button>
            <span class="page_number">
              <span class="current_page" v-text="str_pad(current_page, 2, 0)">01</span>
              <span class="span_slash">/</span>
              <span id="total_page" class="total_page" v-text="str_pad(totalPage, 2, 0)"></span>
            </span>
            <button id="pager_right_button" type="button" class="btn_item btn_right" data-items-per-page="12"  v-bind:class="{ '-disabled' : current_page == totalPage}" v-on:click="pageControl().nextPage()"></button>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
