<div class="comment_block <%=none_class%>">
  <div class="left_block">
    <textarea id="comment_text" class="comment_text" placeholder="請在此輸入文字"></textarea>
    <div class="action_block">

      <% if show_pen_btn %>
      <ul class="use_pen_list">
        <li><button type="button" class="btn_pen_use">使用畫筆</button></li>
      </ul>
      <% else %>
      <ul class="draw_list">
        <li><button type="button" class="btn_draw btn_delete"><img src="./images/icon/icon-delete.svg"></button></li>
        <li><button type="button" class="btn_draw btn_pen btn_pencil_yellow -on" data-value="yellow"><img src="./images/icon/pen_y_off.png" class="off"><img src="./images/icon/pen_y_on.png" class="on"></button></li>
        <li><button type="button" class="btn_draw btn_pen btn_pencil_blue" data-value="blue"><img src="./images/icon/pen_b_off.png" class="off"><img src="./images/icon/pen_b_on.png" class="on"></button></li>
        <li><button type="button" class="btn_draw btn_pen btn_pencil_red" data-value="red"><img src="./images/icon/pen_r_off.png" class="off"><img src="./images/icon/pen_r_on.png" class="on"></button></li>
        <li><button type="button" class="btn_draw btn_eraser"><img src="./images/icon/eraser_off.png" class="off"><img src="./images/icon/eraser_on.png" class="on"></button></li>
      </ul>
      <% end %>

      <ul class="send_list">
        <li><button type="button" class="btn_send btn_wrong" data-target-modal="wrong_modal" data-canvas-container-id="<%=canvas_container_id%>" data-original-btn="<%=wrong_id%>">送出勘誤<div class="placeholder_canvas"></div></button></li>
        <li><button type="button" class="btn_send btn_confuse" data-target-modal="confuse_modal" data-canvas-container-id="<%=canvas_container_id%>" data-original-btn="<%=confuse_id%>">送出解惑<div class="placeholder_canvas"></div></button></li>
        <li><button type="button" class="btn_send btn_save_note" data-target-modal="note_modal" data-canvas-container-id="<%=canvas_container_id%>" data-original-btn="<%=save_note_id%>">儲存筆記<div class="placeholder_canvas"></div></button></li>
      </ul>
    </div>
  </div>

	<% if show_star %>
		<div class="right_block">
			<textarea class="comment_star" name="comment_star" id="comment_star" placeholder="請在此輸入你對這堂課的看法 "></textarea>
			<div class="action_block">

			<%= render "star_list" %>

			<ul class="send_list">
				<li><button type="button" class="btn_send btn_comment_star -disabled">送出評分</button></li>
			</ul>
			</div>
		</div>
	<% end %>
</div>
