<ul class="difficult_list">
  <li>
    <div class="radio_block -level_1">
      <input type="radio" name="<%=radio_name%>" id="<%=radio_id_1%>" value="easy" onclick="setDifficult(this.value)" class="difficult_radio">
      <label for="<%=radio_id_1%>">中間偏易</label>
    </div>
  </li>
  <li>
    <div class="radio_block -level_2">
      <input type="radio" name="<%=radio_name%>" id="<%=radio_id_2%>" value="normal" onclick="setDifficult(this.value)" class="difficult_radio" checked>
      <label for="<%=radio_id_2%>">難易適中</label>
    </div>
  </li>
  <li>
    <div class="radio_block -level_3">
      <input type="radio" name="<%=radio_name%>" id="<%=radio_id_3%>" value="difficult" onclick="setDifficult(this.value)" class="difficult_radio">
      <label for="<%=radio_id_3%>">中間偏難</label>
    </div>
  </li>
</ul>
