<ul class="difficult_list">
  <li>
    <div class="radio_block -level_1">
      <input type="checkbox" id="<%=checkbox_id_1%>" class="difficult_radio" checked>
      <label for="<%=checkbox_id_1%>">易</label>
    </div>
  </li>
  <li>
    <div class="radio_block -level_2">
      <input type="checkbox" id="<%=checkbox_id_2%>" class="difficult_radio" checked>
      <label for="<%=checkbox_id_2%>">中</label>
    </div>
  </li>
  <li>
    <div class="radio_block -level_3">
      <input type="checkbox" id="<%=checkbox_id_3%>" class="difficult_radio" checked>
      <label for="<%=checkbox_id_3%>">難</label>
    </div>
  </li>
</ul>
