<article class="msg_article no_display" id="msg_article">
  <div class="head_block">
    <button type="button" class="btn_close"><img src="./images/icon/icon-close.svg"></button>
    <div class="person_block">
      <span class="img_span"><img src="./images/icon/icon-housekeeper.svg" class="person"></span>
      <span class="-title">管家</span>
      <div class="btn_q_mark_parent">
        <button type="button" class="btn_q_mark"><img src="./images/icon/icon-question-mark.svg" class="img_q"></button>
        <div class="service_info_block no_display">
          <p class="para_title">管家服務</p>
          <ul class="service_list">
            <li><span class="-circle"></span>段考學習計畫安排</li>
            <li><span class="-circle"></span>讀書技巧、學業問題諮詢</li>
            <li><span class="-circle"></span>學測、指考總複習計畫安排</li>
            <li><span class="-circle"></span>解題老師各項解題反映</li>
            <li><span class="-circle"></span>產品建議</li>
            <li><span class="-circle"></span>獎學金申請</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content_block">
    <div class="admin_msg">
      <div class="left_block">
        <img src="./images/icon/icon-admin-msg.svg">
      </div>
      <div class="right_block">
        <p class="para serviceTime"></p>
      </div>
    </div>

    <div class="msg_list_block">
      <ul class="user_msg_list">
        <!--
		<% 20.times do |i| %>
          <% if i % 2 == 1 %>
          <li class="-others">
            <div class="msg_block">
              <div class="msg_bubble">晚安，明天期中考喔！<%=i%></div>
              <div class="time_block">
                <span class="date">2018/01/02</span>
                <span class="time">17:34</span>
              </div>
            </div>
          </li>
          <% else %>
          <li class="-own">
            <div class="msg_block">
              <div class="time_block">
                <span class="date">2018/01/02</span>
                <span class="time">17:34</span>
              </div>
              <div class="msg_bubble">老師請問：庭院深深深幾許是什麼意思？<%=i%></div>
            </div>
          </li>
          <% end %>
        <% end %>
		-->
      </ul>
    </div>

  </div>
  <div class="foot_block">
    <form id="submit_usermessage" name="submit_usermessage" method="post" enctype="multipart/form-data">
      <input type="hidden" name="dv_id" id="dv_id" value="4" />
      <textarea class="send_msg" name="um_content" id="um_content" placeholder="輸入文字"></textarea>
      <div class="msg_other_action">
        <button type="button" class="btn_msg_upload"><img src="./images/icon/btn-upload.svg" class="img_msg_upload"></button>
        <button type="button" class="btn_send_msg">送出</button>
      </div>
    </form>
	<form id="submit_usermessage2" name="submit_usermessage2" method="post" enctype="multipart/form-data">
		<input type="file" class="file_input" name="um_img" id="um_img" accept="image/*" style="display:none;" />
	</form>
  </div>
</article>

<div id="user_message_large" class="modal">
  <img src="" style="max-width: 100%;" />
</div>

<% content_for :other_contents_for_message do %>
	<script src="js/api/m_e_usermessage.js"></script>
	<script>
		$(function() {
			// 取得服務時間
			// getUserMessageserviceTime();
			// 取得群組公告
			getUserMessageannounce();
			// 取得留言 (改為點開時再取)
			// getUserMessage();

			// 選擇檔案
			$("button.btn_msg_upload").on("click", function(){
				$("#um_img").click();
			});
			// 開始上傳
			$("#um_img").change(function (){
				newUserMessage(0);
			});
			// 留言
			$("button.btn_send_msg").on("click", function(){
				newUserMessage(1);
			});
		});
	</script>
<% end %>
