<ul class="priority_list">
  <li>
    <div class="checkbox_block -choice_1">
      <input type="checkbox" id="<%=checkbox_id_1%>" value="1" <%=ischecked_1%> class="choice_checkbox">
      <label for="<%=checkbox_id_1%>"><img src="./images/icon/checkbox-x.svg" class="icon_check -x"><img src="./images/icon/checkbox-v.svg" class="icon_check -v">影像詳解題優先</label>
    </div>
  </li>
  <li>
    <div class="checkbox_block -choice_2">
      <input type="checkbox" id="<%=checkbox_id_2%>" value="1" <%=ischecked_2%> class="choice_checkbox">
      <label for="<%=checkbox_id_2%>"><img src="./images/icon/checkbox-x.svg" class="icon_check -x"><img src="./images/icon/checkbox-v.svg" class="icon_check -v">未做過題型優先</label>
    </div>
  </li>
</ul>
