<ul class="star_list">
  <li><button type="button" class="btn_star" data-star="1"></button></li>
  <li><button type="button" class="btn_star" data-star="2"></button></li>
  <li><button type="button" class="btn_star" data-star="3"></button></li>
  <li><button type="button" class="btn_star" data-star="4"></button></li>
  <li><button type="button" class="btn_star" data-star="5"></button></li>
</ul>
