<aside class="aside">
  <div class="logo_block">
    <a href="/" class="logo_link">
      <img src="./images/logo/sbt-logo@3x.png">
    </a>
  </div>
  <nav class="nav">
    <ul class="nav_list">
      <li class="<%= @on_classic_on %>">
        <button type="button" class="btn_nav -classic <%= @on_classic_on %>"><img src="./images/icon/icon-classic.svg" class="icon_svg"><span class="item_text">經典課程</span></button>
        <ul class="sub_list">
          <li><a id="f_teacher" href="./f_teacher_field.html" class="sub_menu_item <%= @on_f_teacher_unit %>">名師教學</a></li>
          <li><a href="./exam_live_stream_list.html" class="sub_menu_item <%= @on_exam_live_stream_list %>">段考直播</a></li>
          <!--<li><a href="#" class="sub_menu_item">數位家教</a></li>-->
        </ul>
      </li>
      <li class="<%= @on_q_on %>">
        <button type="button" class="btn_nav -q <%= @on_q_on %>"><img src="./images/icon/icon-100-q.svg" class="icon_svg"><span class="item_text">百萬題庫</span></button>
        <ul class="sub_list">
          <li><a id="q_db_practice" href="./q_db_practice_field.html" class="sub_menu_item <%= @on_q_practice %>">隨堂練習</a></li>
          <li><a id="q_db_exam" href="./q_db_exam_field.html" class="sub_menu_item <%= @on_q_exam %>">考卷測驗</a></li>
          <li><a href="./q_db_test_history.html" class="sub_menu_item <%= @on_q_test_history %>">歷屆試題</a></li>
        </ul>
      </li>
      <li class="<%= @on_material_on %>">
        <button type="button" class="btn_nav -digital <%= @on_material_on %>"><img src="./images/icon/icon-digital.svg" class="icon_svg"><span class="item_text">數位教材</span></button>
        <ul class="sub_list">
          <li><a id="m_e" href="./m_e_field.html" class="sub_menu_item <%= @on_m_e_field %>">電子講義</a></li>
          <!--<li><a id="m_i" href="./m_i_field.html" class="sub_menu_item <%= @on_m_i_field %>">互動實驗</a></li>-->
        </ul>
      </li>
      <li class="<%= @on_p_on %>">
        <button type="button" class="btn_nav -answer <%= @on_p_on %>"><img src="./images/icon/icon-answer.svg" class="icon_svg"><span class="item_text">解惑平臺</span><span class="-count new_solvederrata_counter">0</span></button>
        <ul class="sub_list">
          <li><a id="p_question" href="./p_question_field.html" class="sub_menu_item <%= @on_p_question_on %>">瀏覽問題</a></li>
          <li><a id="p_ask" href="./p_ask_field.html" class="sub_menu_item <%= @on_p_ask_on %>">我要發問</a></li>
          <li><a href="./p_record_ask_list.html" class="sub_menu_item <%= @on_p_record_ask_list_on %>">發問紀錄<span class="-count new_solved_counter">0</span></a></li>
          <li><a href="./p_record_wrong_list.html" class="sub_menu_item <%= @on_p_record_wrong_list_on %>">勘誤紀錄<span class="-count new_errata_counter">0</span></a></li>
          <li><a href="./p_record_point_list.html" class="sub_menu_item <%= @on_p_record_point_list_on %>">點數紀錄</a></li>
        </ul>
      </li>
      <li class="<%= @on_my_learn_on %>">
        <button type="button" class="btn_nav -learn <%= @on_my_learn_on %>"><img src="./images/icon/icon-learn.svg" class="icon_svg"><span class="item_text">我的學習</span></button>
        <ul class="sub_list">
          <li><a href="./my_learn_project.html" class="sub_menu_item <%= @on_my_learn_project_on %>">學習計畫</a></li>
          <li><a href="./my_learn_river_time.html" class="sub_menu_item <%= @on_my_learn_record_on %>">學習紀錄</a></li>
          <li><a href="./my_learn_collection.html" class="sub_menu_item <%= @on_my_learn_collection_on %>">我的收藏</a></li>
          <li><a id="my_learn" href="./my_learn_notes_field.html" class="sub_menu_item <%= @on_my_learn_notes_on %>">我的筆記</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
