<header class="header">
  <% if @show_f_teacher_header == "true" %>
    <!-- 名師教學列表 -->
    <div class="f_teacher">
      <ul class="f_teacher_list">
        <% if @show_f_teacher_header_only == "true" || @on_f_teacher_header_field == "-on" || @on_f_teacher_header_subject == "-on" || @on_f_teacher_header_grade_group == "-on" || @on_f_teacher_header_unit == "-on" %>
          <li><a id="header_field" href="./f_teacher_field.html" class="fix_width show_tri <%= @on_f_teacher_header_field %>">領域</a></li>
        <% end %>

        <% if @show_f_teacher_header_only == "true" || @on_f_teacher_header_subject == "-on" || @on_f_teacher_header_grade_group == "-on" || @on_f_teacher_header_unit == "-on" %>
          <li><a id="header_subject" href="#" class="fix_width show_tri <%= @on_f_teacher_header_subject %>">科目</a></li>
        <% end %>

        <% if @show_f_teacher_header_only == "true" || @on_f_teacher_header_grade_group == "-on" || @on_f_teacher_header_unit == "-on" %>
          <li><a id="header_grade_group" href="#" class="fix_width show_tri <%= @on_f_teacher_header_grade_group %>">年級/群組</a></li>
        <% end %>

        <% if @show_f_teacher_header_only == "true" || @on_f_teacher_header_unit == "-on" %>
          <li><a id="header_unit" href="#" class="fix_width <%= @on_f_teacher_header_unit %>">單元</a></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @show_practice_header == "true" %>
    <!-- 隨堂練習列表 -->
    <div class="practice_header">
      <ul class="practice_list">
        <% if @show_practice_header_only == "true" || @on_practice_header_field == "-on" || @on_practice_header_subject == "-on" || @on_practice_header_grade_group == "-on" || @on_practice_header_unit == "-on" %>
          <li><a id="header_field" href="./q_db_practice_field.html" class="fix_width show_tri <%= @on_practice_header_field %>">領域</a></li>
        <% end %>

        <% if @show_practice_header_only == "true" || @on_practice_header_subject == "-on" || @on_practice_header_grade_group == "-on" || @on_practice_header_unit == "-on" %>
          <li><a id="header_subject" href="#" class="fix_width show_tri <%= @on_practice_header_subject %>">科目</a></li>
        <% end %>

        <% if @show_practice_header_only == "true" || @on_practice_header_grade_group == "-on" || @on_practice_header_unit == "-on" %>
          <li><a id="header_grade_group" href="#" class="fix_width show_tri <%= @on_practice_header_grade_group %>">年級/群組</a></li>
        <% end %>

        <% if @show_practice_header_only == "true" || @on_practice_header_unit == "-on" %>
          <li><a id="header_unit" href="#" class="fix_width <%= @on_practice_header_unit %>">單元</a></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @show_exam_header == "true" %>
    <!-- 考卷測驗列表 -->
    <div class="practice_header">
      <ul class="practice_list">
        <% if @show_exam_header_only == "true" || @on_exam_header_field == "-on" || @on_exam_header_subject == "-on" || @on_exam_header_grade_group == "-on" || @on_exam_header_unit == "-on" %>
          <li><a id="header_field" href="./q_db_exam_field.html" class="fix_width show_tri <%= @on_exam_header_field %>">領域</a></li>
        <% end %>

        <% if @show_exam_header_only == "true" || @on_exam_header_subject == "-on" || @on_exam_header_grade_group == "-on" || @on_exam_header_unit == "-on" %>
          <li><a id="header_subject" href="#" class="fix_width show_tri <%= @on_exam_header_subject %>">科目</a></li>
        <% end %>

        <% if @show_exam_header_only == "true" || @on_exam_header_grade_group == "-on" || @on_exam_header_unit == "-on" %>
          <li><a id="header_grade_group" href="#" class="fix_width show_tri <%= @on_exam_header_grade_group %>">年級/群組</a></li>
        <% end %>

        <% if @show_exam_header_only == "true" || @on_exam_header_unit == "-on" %>
          <li><a id="header_unit" href="#" class="fix_width <%= @on_exam_header_unit %>">單元</a></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @show_exam_live_stream_header == "true" %>
    <!-- 段考直播列表 -->
    <div class="exam_live_stream">
      <form class="form_block" action="" method="post">
         <div class="select_block">
          <select class="custom_select"  id="select_item_A"  onchange="SubmitForm()">
            <option>科目</option>
          </select>
        </div>
        <div class="select_block">
          <select class="custom_select"  id="select_item_B"  onchange="SubmitFormB()">>
            <option>年級</option>
          </select>
        </div>

      </form>
    </div>
  <% end %>

  <% if @show_test_history_header == "true" %>
    <!-- 歷屆試題列表 -->
    <div class="test_history">
      <form class="form_block" action="" method="post">
        <div class="select_block">
          <select class="custom_select" id="select_item_A"  onchange="SubmitForm()">
            <!--<option>考試類型</option>-->
          </select>
        </div>
        <div class="select_block">
          <select class="custom_select" id="select_item_B"  onchange="SubmitFormB()">
            <!--<option>年度</option>-->
          </select>
        </div>
      </form>
    </div>
  <% end %>

  <% if @show_m_i_header == "true" %>
    <!-- 互動實驗列表 -->
    <div class="m_i">
      <ul class="m_i_list">
        <% if @show_m_i_header_only == "true" || @on_m_i_header_field == "-on" || @on_m_i_header_subject == "-on" || @on_m_i_header_grade_group == "-on" || @on_m_i_header_unit == "-on" %>
          <li><a id="header_field" href="./m_i_field.html" class="fix_width show_tri <%= @on_m_i_header_field %>">領域</a></li>
        <% end %>

        <% if @show_m_i_header_only == "true" || @on_m_i_header_subject == "-on" || @on_m_i_header_grade_group == "-on" || @on_m_i_header_unit == "-on" %>
          <li><a id="header_subject" href="#" class="fix_width show_tri <%= @on_m_i_header_subject %>">科目</a></li>
        <% end %>

        <% if @show_m_i_header_only == "true" || @on_m_i_header_grade_group == "-on" || @on_m_i_header_unit == "-on" %>
          <li><a id="header_grade_group" href="#" class="fix_width show_tri <%= @on_m_i_header_grade_group %>">年級/群組</a></li>
        <% end %>

        <% if @show_m_i_header_only == "true" || @on_m_i_header_unit == "-on" %>
          <li><a id="header_unit" href="#" class="fix_width <%= @on_m_i_header_unit %>">單元</a></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @show_m_e_header == "true" %>
    <!-- 電子講義列表 -->
    <div class="m_e">
      <ul class="m_e_list">
        <% if @show_m_e_header_only == "true" || @on_m_e_header_field == "-on" || @on_m_e_header_subject == "-on" || @on_m_e_header_grade_group == "-on" || @on_m_e_header_unit == "-on" %>
          <li><a id="header_field" href="./m_e_field.html" class="fix_width show_tri <%= @on_m_e_header_field %>">領域</a></li>
        <% end %>

        <% if @show_m_e_header_only == "true" || @on_m_e_header_subject == "-on" || @on_m_e_header_grade_group == "-on" || @on_m_e_header_unit == "-on" %>
          <li><a id="header_subject" href="#" class="fix_width show_tri <%= @on_m_e_header_subject %>">科目</a></li>
        <% end %>

        <% if @show_m_e_header_only == "true" || @on_m_e_header_grade_group == "-on" || @on_m_e_header_unit == "-on" %>
          <li><a id="header_grade_group" href="#" class="fix_width show_tri <%= @on_m_e_header_grade_group %>">年級/群組</a></li>
        <% end %>

        <% if @show_m_e_header_only == "true" || @on_m_e_header_unit == "-on" %>
          <li><a id="header_unit" href="#" class="fix_width <%= @on_m_e_header_unit %>">單元</a></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @show_p_question_header == "true" %>
    <!-- 瀏覽問題列表 -->
    <div class="p_question">
      <ul class="p_question_list">
        <% if @show_p_question_header_only == "true" || @on_p_question_header_field == "-on" || @on_p_question_header_subject == "-on" || @on_p_question_header_grade_group == "-on" || @on_p_question_header_unit == "-on" %>
          <li><a id="header_field" href="./p_question_field.html" class="fix_width show_tri <%= @on_p_question_header_field %>">領域</a></li>
        <% end %>

        <% if @show_p_question_header_only == "true" || @on_p_question_header_subject == "-on" || @on_p_question_header_grade_group == "-on" || @on_p_question_header_unit == "-on" %>
          <li><a id="header_subject" href="#" class="fix_width show_tri <%= @on_p_question_header_subject %>">科目</a></li>
        <% end %>

        <% if @show_p_question_header_only == "true" || @on_p_question_header_grade_group == "-on" || @on_p_question_header_unit == "-on" %>
          <li><a id="header_grade_group" href="#" class="fix_width show_tri <%= @on_p_question_header_grade_group %>">年級/群組</a></li>
        <% end %>

        <% if @show_p_question_header_only == "true" || @on_p_question_header_unit == "-on" %>
          <li><a id="header_unit" href="#" class="fix_width <%= @on_p_question_header_unit %>">單元</a></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @show_p_ask_header == "true" %>
    <!-- 我要發問列表 -->
    <div class="p_question">
      <ul class="p_question_list">
        <% if @show_p_ask_header_only == "true" || @on_p_ask_header_field == "-on" || @on_p_ask_header_subject == "-on" || @on_p_ask_header_grade_group == "-on" || @on_p_ask_header_unit == "-on" %>
          <li><a id="header_field" href="./p_ask_field.html" class="fix_width show_tri <%= @on_p_ask_header_field %>">領域</a></li>
        <% end %>

        <% if @show_p_ask_header_only == "true" || @on_p_ask_header_subject == "-on" || @on_p_ask_header_grade_group == "-on" || @on_p_ask_header_unit == "-on" %>
          <li><a id="header_subject" href="#" class="fix_width show_tri <%= @on_p_ask_header_subject %>">科目</a></li>
        <% end %>

        <% if @show_p_ask_header_only == "true" || @on_p_ask_header_grade_group == "-on" || @on_p_ask_header_unit == "-on" %>
          <li><a id="header_grade_group" href="#" class="fix_width show_tri <%= @on_p_ask_header_grade_group %>">年級/群組</a></li>
        <% end %>

        <% if @show_p_ask_header_only == "true" || @on_p_ask_header_unit == "-on" %>
          <li><a id="header_unit" href="#" class="fix_width <%= @on_p_ask_header_unit %>">單元</a></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @show_my_learn_project_header == "true" %>
  <!-- 學習計畫列表 -->
  <div class="my_learn_project">
    <ul class="my_learn_project_list">
      <li><a href="./my_learn_project.html" class="<%= @on_my_learn_project_header_on %>">學習計畫</a></li>
      <li><a href="./my_curriculum.html" class="<%= @on_my_curriculum_header_on %>">學校課表</a></li>
    </ul>
  </div>
  <% end %>

  <% if @show_my_learn_record_header == "true" %>
  <!-- 學習紀錄列表 -->
  <div class="my_learn_record">
    <ul class="my_learn_record_list">
      <li><a href="./my_learn_river_time.html" class="<%= @on_my_learn_river_time_on %>">時間河流</a></li>
      <li><a href="./my_learn_river_video.html" class="<%= @on_my_learn_river_video_on %>">影片河流</a></li>
      <li><a href="./my_learn_river_answer.html" class="<%= @on_my_learn_river_answer_on %>">答題河流</a></li>
      <li><a href="./my_learn_wrong_record.html" class="<%= @on_my_learn_wrong_record_on %>">錯題紀錄</a></li>
      <li><a href="./my_learn_score.html" class="<%= @on_my_learn_record_score_on %>">成績單</a></li>
    </ul>
  </div>
  <% end %>

  <% if @show_my_learn_collection_header == "true" %>
  <!-- 我的學習 裡的 我的收藏 -->
  <div class="my_learn_collection">
    <ul class="my_learn_collection_list">
      <li><a href="./my_learn_collection.html?ot_id=1" id="collection_type1" class="">名師教學</a></li>
      <li><a href="./my_learn_collection.html?ot_id=2" id="collection_type2" class="">段考直播</a></li>
      <li><a href="./my_learn_collection.html?ot_id=3" id="collection_type3" class="">題目收藏</a></li>
      <li><a href="./my_learn_collection.html?ot_id=4" id="collection_type4" class="">電子講義</a></li>
      <!-- <li><a href="./my_learn_collection.html?ot_id=9" id="collection_type5" class="">互動實驗</a></li> -->
    </ul>
  </div>
  <% end %>

  <% if @show_my_learn_notes_header == "true" %>
    <!-- 我的學習 - 我的筆記列表 -->
    <div class="my_learn_notes">
      <ul class="my_learn_notes_list">
        <% if @show_my_learn_notes_header_only == "true" || @on_my_learn_notes_header_field_on == "-on" || @on_my_learn_notes_header_subject_on == "-on" || @on_my_learn_notes_header_grade_group_on == "-on" || @on_my_learn_notes_header_unit_on == "-on" %>
          <li><a id="header_field" href="./my_learn_notes_field.html" class="fix_width show_tri <%= @on_my_learn_notes_header_field_on %>">領域</a></li>
        <% end %>

        <% if @show_my_learn_notes_header_only == "true" || @on_my_learn_notes_header_subject_on == "-on" || @on_my_learn_notes_header_grade_group_on == "-on" || @on_my_learn_notes_header_unit_on == "-on" %>
          <li><a id="header_subject" href="#" class="fix_width show_tri <%= @on_my_learn_notes_header_subject_on %>">科目</a></li>
        <% end %>

        <% if @show_my_learn_notes_header_only == "true" || @on_my_learn_notes_header_grade_group_on == "-on" || @on_my_learn_notes_header_unit_on == "-on" %>
          <li><a id="header_grade_group" href="#" class="fix_width show_tri <%= @on_my_learn_notes_header_grade_group_on %>">年級/群組</a></li>
        <% end %>

        <% if @show_my_learn_notes_header_only == "true" || @on_my_learn_notes_header_unit_on == "-on" %>
          <li><a id="header_unit" href="#" class="fix_width <%= @on_my_learn_notes_header_unit_on %>">單元</a></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="search_bar no_display">
    <form action="./search.html" method="GET" onsubmit="return searchCheck();"><input type="text" name="q" id="q" class="text_search"></form>
  </div>
  <ul class="header_list">
    <li>
      <a href="/"><img src="./images/icon/icon-home.svg"></a>
    </li>
    <li>
      <a href="#" class="toggle_msg"><img src="./images/icon/icon-message.svg"><span class="msg_num txtNewMessage">0</span></a>
    </li>
    <li>
      <a href="./user.html"><img src="./images/icon/icon-user.svg"></a>
    </li>
    <li>
      <a href="#" class="btn_search"><img src="./images/icon/btn-search-new.svg"></a>
    </li>
  </ul>


</header>

<script>
	function searchCheck() {
		if ($.trim($("#q").val()) == "") {
			alert("請輸入查詢關鍵字");
			return false;
		}
		return true;
	}
</script>
