<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <%= yield :title_content %>

	<link href="./css/all_basic.css" rel="stylesheet">
	<link href="./js/jquery-modal/jquery.modal.min.css" rel="stylesheet">
	<%= yield :stylesheets %>
</head>
<body>
	<div class="all_content">
		<%= yield %>
		<%= yield :other_contents_for_switch_login %>
	</div>

	<script src="./js/jquery-3.3.1.min.js"></script>
	<script src="./js/jquery-modal/jquery.modal.min.js"></script>
	<script src="./js/js_cookie/js.cookie.js"></script>
	<script src="./js/api/global.js"></script>

	<%= yield :other_contents %>

</body>
</html>
