<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  -->
  <%= yield :title_content %>

	<link href="./css/all.css" rel="stylesheet">
	<link href="./js/jquery-modal/jquery.modal.min.css" rel="stylesheet">
	<%= yield :stylesheets %>
</head>
<body>
	<div class="all_content">
		<div class="left_side_block">
			<%= render "aside_parents" %>
		</div>
		<div class="right_side_block">
			<div class="header_parent"><%= render "header_parents" %></div>
			<%= yield %>
		</div>
	</div>

	<script src="./js/jquery-3.3.1.min.js"></script>
	<script src="./js/jquery-modal/jquery.modal.min.js"></script>
	<script src="./js/js_cookie/js.cookie.js"></script>
	<script src="./js/api/global.js"></script>

	<%= yield :other_contents %>
	<%= yield :other_contents_for_message %>

	<script>

		$(function(){


		});
		$(window).on("resize", function(){
		});
	</script>
</body>
</html>
