<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  -->
  <%= yield :title_content %>

	<link href="./css/all.css" rel="stylesheet">
	<link href="./js/jquery-modal/jquery.modal.min.css" rel="stylesheet">
	<%= yield :stylesheets %>
</head>
<body>
	<div class="all_content">
		<div class="left_side_block">
			<%= render "aside" %>
		</div>
		<div class="right_side_block">
			<div class="header_parent"><%= render "header" %></div>
			<%= yield %>
		</div>
		<%= render "./partials/msg_block" %>
	</div>

	<script src="./js/jquery-3.3.1.min.js"></script>
	<script src="./js/jquery-modal/jquery.modal.min.js"></script>
	<script src="./js/js_cookie/js.cookie.js"></script>
	<script src="./js/api/global.js"></script>
	<script src="./js/api/m_e_home.js"></script>
	<%= yield :other_contents %>
	<%= yield :other_contents_for_message %>

	<script>
		// 計算 div.msg_list_block 的高度
		var calc_msg_list_block_height = function(){
			var msg_list_block_height = $("#msg_article div.content_block").height() - $("#msg_article div.admin_msg").outerHeight();
			$("#msg_article div.msg_list_block").css("height", msg_list_block_height + "px");
			$('#msg_article div.msg_list_block').scrollTop($('#msg_article div.msg_list_block')[0].scrollHeight);
		};
		$(document).ready(function () {
			getHomeApp();
		})
		$(function(){
			// 切換搜尋
			$("a.btn_search").on("click", function(e){
				e.preventDefault();
				$(this).closest("header.header").find("div.search_bar").toggleClass("no_display");
			});

			// 搜尋
			$("input.text_search").on("keyup", function(e){
				var code = e.keyCode || e.which;
				if(code == 13) {
					$(this).closest("form").submit();
				}
			});

			// aside menu 切換
			$("aside.aside button.btn_nav").on("click", function(){
				$(this).toggleClass("-on");
				$(this).closest("li").toggleClass("-on");
				var that = $(this);
				$(this).closest("li").find("ul.sub_list").children("li").each(function(index, item){
					$(item).find("a.sub_menu_item").each(function(other_index, other_item){
						if($(other_item).hasClass("-on")){
							$(that).addClass("-on");
						}
					})
				});

				// 只開啟目前點擊的項目，其它關閉
				var nav_list = $(this).closest("ul.nav_list");
				$(nav_list).children("li").removeClass("-on").find("button.btn_nav").removeClass("-on");
				$(this).closest("li").addClass("-on").find("button.btn_nav").addClass("-on");
			});

			// 星等評價
			$("ul.star_list").find("button.btn_star").on("click", function(){
				var star_num = $(this).attr("data-star");
				var el_star_list = $(this).closest("ul.star_list");
				$(el_star_list).find("button.btn_star").removeClass("-on");
				$(el_star_list).children("li").each(function(index){
					if(index+1 <= star_num){
						$(this).find("button.btn_star").addClass("-on");
					}
				});
			});

			// 收藏
			/*
			// 改為在各頁面呼叫
			$("a.tag_plus").on("click", function(e){
				e.preventDefault();
				$(this).toggleClass("-on");
			});
			*/

			// 互動實驗收藏
			/*
			// 改為在各頁面呼叫
			$(document).on("click", "a.tag_ok", function(e){
				e.preventDefault();
				$(this).toggleClass("-on");
			});
			*/

			// 留言 question mark
			$("button.btn_q_mark").on("click", function(){
				$(this).closest("div.btn_q_mark_parent").find("div.service_info_block").toggleClass("no_display");
			});

			// 留言的訊息框開關
			$("a.toggle_msg, #msg_article button.btn_close").on("click", function(e){
				e.preventDefault();

				// 取得留言
				getUserMessage();

				$("#msg_article").toggleClass("no_display");
				calc_msg_list_block_height();
			});

			// video 按右鍵停掉出現的選單
			$(document).on("contextmenu", "video", function(){
				return false;
			});

			calc_msg_list_block_height();
		});
		$(window).on("resize", function(){
			calc_msg_list_block_height();
		});
	</script>
</body>
</html>
