<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <%= yield :title_content %>

	<%= yield :stylesheets %>
</head>
<body>
	<div class="all_content">
		<%= yield %>
	</div>

	<script src="./js/jquery-3.3.1.min.js"></script>

	<%= yield :other_contents %>

</body>
</html>
