﻿<% @on_classic_on = capture do %>-on<% end %>
<% @on_exam_live_stream_list = capture do %>-on<% end %>

<% @show_exam_live_stream_header = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>單一段考直播影片</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/exam_live_stream_video.css" rel="stylesheet">
  <link href="./js/videojs/video-js.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">
	   <%= render "partials/tag_plus_or_cancel" %>
    <h2 id="main_title" class="title2 -for-main"></h2>
    <div class="live_stream_block" id="capture_block">
      <div class="left_block">
        <video id="my-video" class="video-js" controls preload="auto" data-setup='{ "aspectRatio":"1920:1080", "playbackRates": [0.5, 1, 1.5, 2] }' crossorigin="anonymous">
        </video>
		<!--<img id="videoPreviewThumb" class="videoPreviewThumb" />-->
      </div>

      <div class="right_block">
        <ul class="video_desc_list" id="video_desc_list">

        </ul>
      </div>
    </div>

    <h2 class="title2">最近觀看</h2>
    <div class="recently_view">
      <ul id="video_recent_item_list" class="item_list"><span class="-loading">資料擷取中…</span></ul>
    </div>
  </div>

</section>



<% content_for :other_contents do %>
	<script src="./js/videojs/video.js"></script>
	<script src="./js/url.min.js"></script>
	<script src="./js/api/f_teacher_all.js"></script>
	<script src="./js/api/exam_live_stream_video.js"></script>
	<script src="./js/api/m_e_video.js"></script>
	<script src="./js/api/m_e_usercollection.js"></script>

	<script>
    var video = document.querySelector('video');
    var w, h, ratio;
    $(function(){
      window.HELP_IMPROVE_VIDEOJS = false;
      video.addEventListener('loadedmetadata', function() {
        ratio = video.videoWidth / video.videoHeight;
        w = 700;
        h = parseInt(w / ratio, 10);
        //video_canvas.width = w;
        //video_canvas.height = h;
      }, false);


	  // 影片紀錄
	  var videoRecordVDID = 0;
	  var videoRecordStart = 0;
	  var videoRecordEnd = 0;
	  video.onplaying = function() {
	    var tmpVideoUrl = new URL(video.currentSrc);
        videoRecordVDID = parseInt(tmpVideoUrl.searchParams.get("vd_id"), 10);
		videoRecordStart = video.currentTime;
	  };
	  video.onended = function() {
		videoRecordEnd = video.currentTime;
		newVideoRecordList(videoRecordVDID, videoRecordStart, videoRecordEnd, 0);
	  };
	  video.onpause = function() {
		videoRecordEnd = video.currentTime;
		newVideoRecordList(videoRecordVDID, videoRecordStart, videoRecordEnd, 0);
	  };
      // 影片紀錄

    });

		// 加入或移除收藏
		$("a.tag_plus").on("click", function(e){
			e.preventDefault();

			var uc_video_from = parseInt(video.currentTime) || ""

			if ($(this).attr("data-status") == "0") {
				if (newUserCollection(g_obj.exam_live_stream_ot_id, $.url('?ol_id'), $(this).attr("data-od_id"), "", "", "", uc_video_from)) {
					$(this).toggleClass("-on");
					getUsercollection(g_obj.exam_live_stream_ot_id, $.url('?ol_id'), $(this).attr("data-od_id"), "", "", "");
				}
				else {
					alert("加入失敗");
				}
			}
			else {
				if (delUserCollection($(this).attr("data-uc-id"))) {
					$(this).toggleClass("-on");
					getUsercollection(g_obj.exam_live_stream_ot_id, $.url('?ol_id'), $(this).attr("data-od_id"), "", "", "");
				}
				else {
					alert("移除失敗");
				}
			}
		});
	</script>
<% end %>
