<% @on_classic_on = capture do %>-on<% end %>
<% @on_f_teacher_unit = capture do %>-on<% end %>

<% @show_f_teacher_header = capture do %>true<% end %>
<% @show_f_teacher_header_only = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>單一名師教學影片</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/f_teacher_video.css" rel="stylesheet">
  <link href="./js/videojs/video-js.css" rel="stylesheet">
<% end %>

<section class="normal_section">




  <div class="all_contents_block">
    <%= render "partials/tag_plus_or_cancel" %>
    <h2 id="main_title" class="title2 -for-main"></h2>
    <div class="live_stream_block" id="capture_block">
      <div class="left_block video_parent">
        <video id="my-video" class="video-js" controls preload="auto" data-setup='{ "aspectRatio":"1920:1080", "playbackRates": [0.5, 1, 1.5, 2] }' crossorigin="anonymous">
        </video>
		<!--<img id="videoPreviewThumb" class="videoPreviewThumb" />-->
      </div>
      <div class="right_block">

        <!-- 若有 ptt 圖片內容，才顯示以下的 div.ptt_img_block ，結果會覆蓋在 課綱樹狀 上方 -->
        <div id="ppt_img_block" class="ptt_img_block">
          <img id="ppt_img" class="ptt_img">
        </div>

        <div class="initial_side">

          <ul class="status_list">
            <li><span class="text -unread">未讀</span></li>
            <li><span class="text -read">已讀</span></li>
            <li><span class="text -strong">待加強</span></li>
            <li><span class="text -basic">基礎</span></li>
            <li><span class="text -familiar">精熟</span></li>
          </ul>
          <div class="course_block">
            <div id="course_name" class="course_name"></div>
            <div id="all_phrase_block" class="all_phrase_block">
              <!--
              <span class="vertical_line"></span>
              -->
                <!-- <div class="phrase_block">
                  <span class="vertical_line"></span>

                  <div class="phrase_left">
                    <span class="-dash"></span>
                    <p class="chapter_para"><span class="-chapter">第章</span><span class="chapter_name">基本測量</span></p>
                  </div>
                  <div class="phrase_right">
                    <ul class="phrase_list">
                          <li>
                            <p class="item_title"><span class="text -unread">1- 測試測試測試測試測試測試測試測試</span></p>
                            <ul class="sub_phrase_list">
                                  <li><span class="icon_location"><img src="./images/icon/icon-location.svg" class="icon_location"></span><span class="text -unread">KP0這個這個這個</span></li>
                                  <li><span class="text -read">KP0xxx</span></li>
                                  <li><span class="text -strong">KP0xxx</span></li>
                                  <li><span class="text -basic">KP0xxx</span></li>
                                  <li><span class="text -familiar">KP0xxx</span></li>
                                  <li><span class="text -unread">KP0xxx</span></li>
                            </ul>
                          </li>
                          <li><p class="item_title"><span class="text -read">1-測試測試測試測試測試測試測試測試</span></p></li>
                          <li><p class="item_title"><span class="text -strong">1-測試測試測試測試測試測試測試測試</span></p></li>
                          <li><p class="item_title"><span class="text -basic">1-測試測試測試測試測試測試測試測試</span></p></li>
                          <li><p class="item_title"><span class="text -familiar">1-測試測試測試測試測試測試測試測試</span></p></li>
                          <li><p class="item_title"><span class="text -unread">1-測試測試測試測試測試測試測試測試</span></p></li>
                    </ul>
                  </div>
                </div>
                <div class="phrase_block">
                  <span class="vertical_line"></span>

                  <div class="phrase_left">
                    <span class="-dash"></span>
                    <p class="chapter_para"><span class="-chapter">第章</span><span class="chapter_name">基本測量</span></p>
                  </div>
                  <div class="phrase_right">
                    <ul class="phrase_list">
                          <li>
                            <p class="item_title"><span class="text -unread">1- 測試測試測試測試測試測試測試測試</span></p>
                            <ul class="sub_phrase_list">
                                  <li><span class="icon_location"><img src="./images/icon/icon-location.svg" class="icon_location"></span><span class="text -unread">KP0這個這個這個</span></li>
                                  <li><span class="text -read">KP0xxx</span></li>
                                  <li><span class="text -strong">KP0xxx</span></li>
                                  <li><span class="text -basic">KP0xxx</span></li>
                                  <li><span class="text -familiar">KP0xxx</span></li>
                                  <li><span class="text -unread">KP0xxx</span></li>
                            </ul>
                          </li>
                          <li><p class="item_title"><span class="text -read">1-測試測試測試測試測試測試測試測試</span></p></li>
                          <li><p class="item_title"><span class="text -strong">1-測試測試測試測試測試測試測試測試</span></p></li>
                          <li><p class="item_title"><span class="text -basic">1-測試測試測試測試測試測試測試測試</span></p></li>
                          <li><p class="item_title"><span class="text -familiar">1-測試測試測試測試測試測試測試測試</span></p></li>
                          <li><p class="item_title"><span class="text -unread">1-測試測試測試測試測試測試測試測試</span></p></li>
                    </ul>
                  </div>
                </div> -->
            </div>
          </div>
        </div>
        <div class="list_side">
          <button type="button" class="btn_drop"><img src="./images/icon/btn-arrow-dropleft.svg" class="-left"><img src="./images/icon/btn-arrow-dropright.svg" class="-right"></button>
          <div class="list_side_block">
            <ul id="video_desc_list" class="video_desc_list">
                <!-- <li>
                  <span class="item_block">
                    <span class="str_text -title"><span class="circle"><span class="circle_inner"></span></span>段落名稱段落名稱段落名稱段落名稱</span>
                  </span>
                </li>
                <li>
                  <a href="#" class="item_block -on">
                    <span class="time_text">06:05</span>
                    <span class="str_text">KP03XXXXXXKP03XXXXXXKP03XXXXXX</span>
                  </a>
                </li>
                <li>
                  <span class="item_block">
                    <span class="str_text -title"><span class="circle"><span class="circle_inner"></span></span>段落名稱段落名稱段落名稱段落名稱</span>
                  </span>
                </li>
                <li>
                  <a href="#" class="item_block">
                    <span class="time_text">06:05</span>
                    <span class="str_text">KP03XXXXXXKP03XXXXXXKP03XXXXXX</span>
                  </a>
                </li> -->
            </ul>
          </div>

        </div>

      </div>
    </div>

    <%= render "partials/comment_block", locals: {none_class: "-none", show_pen_btn: true, show_star: true, confuse_id: "btn_confuse_1", wrong_id: "btn_wrong_1", save_note_id: "btn_save_note_1", canvas_container_id: "capture_block"} %>

    <h2 class="title2 -recent-view">最近觀看</h2>
    <div class="recently_view">
      <ul id="video_recent_item_list" class="item_list"><span class="-loading">資料擷取中…</span></ul>
    </div>
  </div>

</section>

<!-- 送出筆記 modal -->
<div id="note_send_success_modal" class="modal">
  <div class="modal_header">
    發送成功
  </div>
  <div class="modal_content -content1">
    <p class="para">
      已儲存筆記
    </p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">確定</a>
  </div>
</div>
<div id="note_send_fail_modal" class="modal">
  <div class="modal_header">
    發送失敗
  </div>
  <div class="modal_content -content1">
    <p class="para">
      未儲存筆記！
    </p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">確定</a>
  </div>
</div>

<!-- 送出勘誤 modal -->
<div id="wrong_send_success_modal" class="modal">
  <div class="modal_header">
    發送成功
  </div>
  <div class="modal_content -content1">
    <p class="para">
      已將訊息發送至勘誤系統。
    </p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">確定</a>
  </div>
</div>

<!-- 送出解惑 modal -->
<div id="confuse_modal" class="modal">
  <div class="modal_header">
    <div class="btn_question_mark_block">
      <button type="button" class="btn_question_mark"><img src="./images/icon/icon-question-mark.svg" class="icon_question_mark"></button>
      <div class="question_content no_display">
        <span class="angle_top"><img src="./images/icon/icon_angle_top.svg"></span>
        閃電發問開放時間：<br>
        星期一至星期五 18:00~21:00<br>
        星期六至星期日 14:00~17:00、18:00~21:00<br><br>
        解題規則：<br>
        一次問一題，若一張圖片需解題目一題以上，<br>
        會再另外扣除點數。<br>
        申論題、證明題耗時較久系統不退點數。
      </div>
    </div>
    送至解惑
    <a href="#" rel="modal:close" class="modal_close">&times;</a>
  </div>
  <div class="modal_content -content2">
    <p class="para2">將影片截圖和隨手記的內容發送至解惑平臺。</p>
    <p class="para2">帳號剩餘解惑點數：<span id="user_points"></span>點。</p>
    <p class="para2">一般發問扣除100點；閃電發問扣除500點。</p>
  </div>
  <div class="modal_footer">
    <button type="button" class="btn_question -general" data-target-modal="confuse_send_success_modal">一般發問</button>
    <button type="button" class="btn_question -lightning" data-target-modal="confuse_send_success_modal">閃電發問</button>
  </div>
</div>

<!-- 定時跳出評分 modal -->
<div id="comment_rating_modal" class="modal">
  <div class="modal_header">
    課程評分
    <a href="#" rel="modal:close" class="modal_close">&times;</a>
  </div>
  <div class="modal_content -content3">
    <div class="textarea_block">
      <textarea class="rating_comment" id="rating_comment" name="rating_comment" placeholder="請在此輸入你對這堂課的看法："></textarea>
    </div>
    <div class="rating_star">
      <span class="rating_text">請評分</span>
      <%= render "partials/star_list" %>
    </div>
  </div>
  <div class="modal_footer">
    <a href="#" class="modal_close send_rating -disabled">確定</a>
  </div>
</div>


<!-- 解惑發送成功 modal -->
<div id="confuse_send_success_modal" class="modal">
  <div class="modal_header">
    發送成功
  </div>
  <div class="modal_content -content1">
    <p class="para">
      已將問題發送至解惑系統並扣除<span id="minus_point"></span>點。
    </p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">確定</a>
  </div>
</div>

<!-- 使用畫筆 modal -->
<div id="show_pen_modal" class="modal">
  <div class="modal_header">
    <span class="use_pen_title">使用畫筆</span>
    <a href="#" rel="modal:close" class="modal_close">&times;</a>
  </div>
  <div class="modal_content">
    <div class="preview_canvas" id="preview_canvas">
    </div>
    <%= render "partials/comment_block", locals: {none_class: "", show_pen_btn: false, show_star: false, confuse_id: "btn_confuse_2", wrong_id: "btn_wrong_2", save_note_id: "btn_save_note_2", canvas_container_id: "preview_canvas"} %>
  </div>
</div>

<% content_for :other_contents do %>
  <script src="./js/fabricjs/fabric.min.js"></script>
	<script src="./js/videojs/video.js"></script>
	<script src="./js/html2canvas/html2canvas.min.js"></script>
	<script src="./js/url.min.js"></script>
	<script src="./js/api/f_teacher_all.js"></script>
	<script src="./js/api/header_text.js"></script>
	<script src="./js/api/f_teacher_header.js"></script>
	<script src="./js/api/f_teacher_video.js"></script>
	<script src="./js/custom/canvas_pen_for_video2.js"></script>
	<script src="./js/api/m_e_video.js"></script>
	<script src="./js/api/m_e_usernote.js"></script>
	<script src="./js/api/m_e_userquestion.js"></script>
	<script src="./js/api/m_e_usererrata.js"></script>
	<script src="./js/api/m_e_usercollection.js"></script>

	<script>
		var video = document.querySelector('video');
		var w, h, ratio;

		var temp_placeholder_canvas; // 暫存 canvas

		// 截圖操作
		var imgBase64_1 = "";
		var imgBase64_2 = "";
		var imgBase64_3 = "";
		var get_picture = function(ele, canvas_container_id, act){
			//var video2 = document.getElementById("my-video_html5_api");
			html2canvas(document.querySelector("#" + canvas_container_id), {scale:1, allowTaint:false, useCORS: true}).then(canvas_item => {
				$(ele).find(".placeholder_canvas").html(canvas_item).addClass("-ani");

				canvas_item.setAttribute("crossOrigin", "Anonymous");

				var destCtx = canvas_item.getContext('2d');
				//destCtx.fillRect($("#" + canvas_container_id).offset().left, $("#" + canvas_container_id).offset().top, w, h);
				destCtx.drawImage(video, $("#" + canvas_container_id).offset().left, $("#" + canvas_container_id).offset().top, w, h);

				temp_placeholder_canvas = $(ele).find(".placeholder_canvas");

				imgBase64_1 = canvas_item.toDataURL();
				console.log(imgBase64_1);
				setTimeout(function(){
					// 移除 canvas
					$(temp_placeholder_canvas).html("").removeClass("-ani");
					switch(act) {
						case "wrong":	// 堪誤
							var target_modal = $(this).attr("data-target-modal");
							if (newUserErrata(imgBase64_1, $.trim($(".normal_section #comment_text").val()), g_obj.teacher_ot_id, "", "")) {
								// 成功處理
								$("#wrong_send_success_modal").modal();
								$(".normal_section #comment_text").val("");
							}
							break;
						case "save_note":	// 新增/修改筆記
							if (saveUserNote(imgBase64_1, imgBase64_2, imgBase64_3, $.trim($(".normal_section #comment_text").val()))) {
								// 成功處理
								$("#note_send_success_modal").modal();
								$(".normal_section #comment_text").val("");
							}
							else {
								// 失敗處理
								$("#note_send_fail_modal").modal();
							}
							break;
						case "confuse":	// 解惑
						case "confuse_1":	// 解惑
							var comment_text = $.trim($(".normal_section #comment_text").val());
							if (newUserQuestion(imgBase64_1, imgBase64_2, imgBase64_3, comment_text, comment_text, g_obj.teacher_ot_id, "", ((act == "confuse_1") ? 1 : 0), "")) {
								// 成功處理
								// $("#confuse_send_success_modal .para").html((($(this).hasClass('-lightning')) ? "已將問題發送至解惑系統並扣除500點。" : "已將問題發送至解惑系統並扣除100點。"));
								$("#confuse_send_success_modal").modal();
								$(".normal_section #comment_text").val("");
								// 重新取得使用者點數
								getUserPoint();
							}
							break;
					}
				}, 2000);
			});
		};

		var get_picture_in_modal = function(ele, canvas_container_id, act){
			//alert(canvas_container_id);

			var oldCanvas = $("#" + canvas_container_id).find("canvas")[0];
			oldCanvas.setAttribute("crossOrigin", "Anonymous");

			var newCanvas = document.createElement('canvas');
			var context = newCanvas.getContext('2d');

			//set dimensions
			newCanvas.width = oldCanvas.width;
			newCanvas.height = oldCanvas.height;

			//apply the old canvas to the new one
			context.drawImage(oldCanvas, 0, 0);
			$(ele).find(".placeholder_canvas").html(newCanvas).addClass("-ani");

			temp_placeholder_canvas = $(ele).find(".placeholder_canvas");

			imgBase64_1 = newCanvas.toDataURL();
			console.log(imgBase64_1);

			setTimeout(function(){
				// 移除 canvas
				$(temp_placeholder_canvas).html("").removeClass("-ani");
				switch(act) {
					case "wrong":	// 堪誤
						if (newUserErrata(imgBase64_1, $.trim($("#show_pen_modal #comment_text").val()), g_obj.teacher_ot_id, "", "")) {
							// 成功處理
							$("#wrong_send_success_modal").modal({
								closeExisting: false
							});
							$("#show_pen_modal #comment_text").val("");
						}
						else {
							// 失敗處理
							$("#note_send_fail_modal").modal();
						}
						break;
					case "save_note":	// 新增/修改筆記
						if (saveUserNote(imgBase64_1, imgBase64_2, imgBase64_3, $.trim($("#show_pen_modal #comment_text").val()))) {
							// 成功處理
							$("#note_send_success_modal").modal({
								closeExisting: false
							});
							$("#show_pen_modal #comment_text").val("");
						}
						else {
							// 失敗處理
							$("#note_send_fail_modal").modal();
						}
						break;
					case "confuse":	// 解惑
					case "confuse_1":	// 解惑
						var comment_text = $.trim($("#show_pen_modal #comment_text").val());
						if (newUserQuestion(imgBase64_1, imgBase64_2, imgBase64_3, comment_text, comment_text, g_obj.teacher_ot_id, "", ((act == "confuse_1") ? 1 : 0), "")) {
							// 成功處理
							$("#confuse_modal a.modal_close").click();
							$("#confuse_send_success_modal").modal({
								closeExisting: false
							});
							$("#show_pen_modal #comment_text").val("");
							// 重新取得使用者點數
							getUserPoint();
						}
						break;
				}
			}, 2000);
		};

    var loadedmetadata = function(){
      video.addEventListener('loadedmetadata', function() {
        ratio = video.videoWidth / video.videoHeight;
        w = 700;
        h = parseInt(w / ratio, 10);
        //video_canvas.width = w;
        //video_canvas.height = h;
      }, false);
    }

		$(function(){
			window.HELP_IMPROVE_VIDEOJS = false;
      loadedmetadata();

			// 影片紀錄
			var videoRecordVDID = 0;
			var videoRecordStart = 0;
			var videoRecordEnd = 0;
			video.onplaying = function() {
				var tmpVideoUrl = new URL(video.currentSrc);
				videoRecordVDID = parseInt(tmpVideoUrl.searchParams.get("vd_id"), 10);
				videoRecordStart = video.currentTime;
			};
			video.onended = function() {
				videoRecordEnd = video.currentTime;
				newVideoRecordList(videoRecordVDID, videoRecordStart, videoRecordEnd, 0);
			};
			video.onpause = function() {
				videoRecordEnd = video.currentTime;
				newVideoRecordList(videoRecordVDID, videoRecordStart, videoRecordEnd, 0);
			};
			// 影片紀錄


			// 左右開合
			$("button.btn_drop").on("click", function() {
				var that = $(this)
				var el_list_side = $(this).closest("div.list_side");
				var millisecond = 500;
				if($(el_list_side).hasClass("-on")){
					var el_right_block = $(this).closest("div.right_block");
					$(el_list_side).animate({
						left: $(el_right_block).width() + 6 + "px"
					}, millisecond, function(){
						$(el_list_side).removeClass("-on")
						$(that).removeClass("-on");
            $("ul.video_desc_list").removeClass("-temp_show");
					})
				}else{
          $("ul.video_desc_list").addClass("-temp_show");
					$(el_list_side).addClass("-on").animate({
						left: "0%"
					}, millisecond, function(){
						$(that).addClass("-on");
					});
				}
			});

			// 堪誤 modal
			$("button.btn_wrong").on("click", function(){
				if($(this).closest("div.modal").length > 0) { // 表示在 modal 中運作
					if ($.trim($("#show_pen_modal #comment_text").val()) == "") {
						alert("請填寫內容");
						return;
					}
					get_picture_in_modal(this, $(this).attr("data-canvas-container-id"), 'wrong');
				}
				else {
					if ($.trim($(".normal_section #comment_text").val()) == "") {
						alert("請填寫內容");
						return;
					}
					get_picture(this, $(this).attr("data-canvas-container-id"), 'wrong'); // 截圖
				}
			});

			// 新增/修改筆記
			$("button.btn_save_note").on("click", function(){
				if($(this).attr("data-original-btn") == "btn_save_note_2"){ // 表示在 modal 中運作
					if ($.trim($("#show_pen_modal #comment_text").val()) == "") {
						alert("請填寫內容");
						return;
					}
					get_picture_in_modal(this, $(this).attr("data-canvas-container-id"), 'save_note');
				}
				else {
					if ($.trim($(".normal_section #comment_text").val()) == "") {
						alert("請填寫內容");
						return;
					}
					get_picture(this, $(this).attr("data-canvas-container-id"), 'save_note'); // 截圖
				}
			});

			// 送出解惑 modal
			$("button.btn_confuse").on("click", function(){
				var target_modal = $(this).attr("data-target-modal");
				//$("#" + target_modal).modal();
				//alert($(this).attr("data-original-btn"));
				if($(this).attr("data-original-btn") == "btn_confuse_2"){ // 表示在 modal 中運作
					if ($.trim($("#show_pen_modal #comment_text").val()) == "") {
						alert("請填寫內容");
						return;
					}
					$("#" + target_modal).modal({
						closeExisting: false
					});
				}
				else{
					if ($.trim($(".normal_section #comment_text").val()) == "") {
						alert("請填寫內容");
						return;
					}
					$("#" + target_modal).modal();
				}

				// 取得是否為解題時間
				var boolSolvetime = userQuestionSolvetimeStudent();
				if (!boolSolvetime) {
					// $('.btn_question.-lightning').hide();
					$('.btn_question.-lightning').addClass('-disabled');
				}
				else {
					// $('.btn_question.-lightning').show();
					$('.btn_question.-lightning').removeClass('-disabled');
				}
				$("#confuse_modal").find("button.btn_question").attr("data-original-btn", $(this).attr("data-original-btn"));
				$("#confuse_modal").find("button.btn_question").attr("data-canvas-container-id", $(this).attr("data-canvas-container-id"));
			});

			// 解惑 modal 的問號 icon
			$("#confuse_modal").find("button.btn_question_mark").on("click", function(){
				$(this).closest("div.btn_question_mark_block").find("div.question_content").toggleClass("no_display");
			});

			// 解惑 modal 的發送
			$("#confuse_modal").find("button.btn_question").on("click", function(){
				if ($(this).hasClass('-disabled')) return;	// 非解題時間
				var isLightning = 0
				if($(this).hasClass("-general")) { // 一般發問
					$("#minus_point").html(100);
				}
				else { // 閃電發問
					$("#minus_point").html(500);
					isLightning = 1;
				}

				if($(this).attr("data-original-btn") == "btn_confuse_2") {
					get_picture_in_modal($("button.btn_confuse[data-original-btn=" + $(this).attr("data-original-btn") + "]"), $(this).attr("data-canvas-container-id"), ((isLightning == 1) ? 'confuse_1' : 'confuse')); // 截圖
				}
				else {
					get_picture($("button.btn_confuse[data-original-btn=" + $(this).attr("data-original-btn") + "]"), $(this).attr("data-canvas-container-id"), ((isLightning == 1) ? 'confuse_1' : 'confuse')); // 截圖
				}
			});

			// 顯示課堂評分 modal
			//setTimeout(function(){
				//$("#comment_rating_modal").modal();
			//}, 1000);

			// 使用畫筆 modal
			$("button.btn_pen_use").on("click", function(){
        var capture_block_offset_left = $("#capture_block").offset().left;
        var capture_block_offset_top = $("#capture_block").offset().top;
				html2canvas(document.querySelector("#capture_block"), {scale:1, allowTaint:false, useCORS: true}).then(canvas => {
					canvas.id = "draw_canvas";
					canvas.setAttribute("crossOrigin", "Anonymous");
					$("#show_pen_modal").find("div.preview_canvas").html(canvas);
					var destCtx = canvas.getContext('2d');
					//destCtx.fillRect(0, 0, w, h);
					destCtx.drawImage(video, capture_block_offset_left, capture_block_offset_top, w, h);
					$("#show_pen_modal").modal();
					InitThis();
				});
			});

			// 送出評分
			$("a.send_rating").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          if ($("#comment_rating_modal .star_list .btn_star.-on").length < 1) {
  					alert("請選擇評分");
  					return;
  				}
  				// 送出評分，設定為 true 之後，評分 modal 就不會再跳出來
  				have_rated = true;
  				var tmpVideoUrl = new URL(video.currentSrc);
  				newVideoRating(parseInt(tmpVideoUrl.searchParams.get("vd_id"), 10), 0, $("#comment_rating_modal .star_list .btn_star.-on").length, $("#rating_comment").val());
  				$("#rating_comment").val("");
          $.modal.close();
        }
			});
			// 送出評分 - 主動影片評分
			$("button.btn_comment_star").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          if ($(".comment_block .star_list .btn_star.-on").length < 1) {
  					alert("請選擇評分");
  					return;
  				}
  				// 送出評分，設定為 true 之後，評分 modal 就不會再跳出來
  				have_rated = true;
  				var tmpVideoUrl = new URL(video.currentSrc);
  				newVideoRating(parseInt(tmpVideoUrl.searchParams.get("vd_id"), 10), 1, $(".comment_block .star_list .btn_star.-on").length, $("#comment_star").val());
  				$("#comment_star").val("");
        }
			});

      // 點擊評分星號，移除按鈕 -disabled
			$("div.action_block button.btn_star").on("click", function(){
				$(this).closest("div.action_block").find("button.btn_comment_star").removeClass("-disabled");
			});
      $("#comment_rating_modal button.btn_star").on("click", function(){
				$(this).closest("div.modal").find("a.send_rating").removeClass("-disabled");
			});

		});

		// 加入或移除收藏
		$("a.tag_plus").on("click", function(e){
			e.preventDefault();
			if ($(this).attr("data-status") == "0") {
				if (newUserCollection(g_obj.teacher_ot_id, ol_id, $(this).attr("data-od_id"), "", "", "", "")) {
					$(this).toggleClass("-on");
					getUsercollection(g_obj.teacher_ot_id, ol_id, $(this).attr("data-od_id"), "", "", "");
				}
				else {
					alert("加入失敗");
				}
			}
			else {
				if (delUserCollection($(this).attr("data-uc-id"))) {
					$(this).toggleClass("-on");
					getUsercollection(g_obj.teacher_ot_id, ol_id, $(this).attr("data-od_id"), "", "", "");
				}
				else {
					alert("移除失敗");
				}
			}
		});
	</script>
<% end %>
