<% @on_classic_on = capture do %>-on<% end %>
<% @on_f_teacher_unit = capture do %>-on<% end %>

<% @show_f_teacher_header = capture do %>true<% end %>
<% @on_f_teacher_header_field = capture do %>-on<% end %>

<% content_for :title_content do %>
  <title>名師教學(領域)</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/f_teacher_field.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="tab_contents_block">

      <div class="tab_content_block">
        <div class="tab_content">
          <ul id="tab_content_list" class="tab_content_list"><span class="-loading -left10">資料擷取中…</span></ul>
        </div>
      </div>
    </div>

    <h2 class="title2">最近觀看</h2>

    <div class="recently_view">
      <ul id="video_recent_item_list" class="item_list"><span class="-loading">資料擷取中…</span></ul>
    </div>
  </div>

</section>



<% content_for :other_contents do %>
  <script src="./js/api/f_teacher_all.js"></script>
  <script src="./js/api/f_teacher_field.js"></script>
  <script>
    $(function(){

    });
  </script>
<% end %>
