<% content_for :title_content do %>
  <title>首頁</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/index.css" rel="stylesheet">
  <link href="./js/slick/slick.css" rel="stylesheet">
  <link href="./js/slick/slick-theme.css" rel="stylesheet">
  <link href="./js/videojs/video-js.css" rel="stylesheet">
<% end %>

<section class="slide_sec">
  <div class="slick_slider">
    <!--<div><a href="#" class="item_link"><img src="http://via.placeholder.com/1080x198"></a></div>-->
  </div>
</section>

<section class="normal_section">
  <h1 class="title1">最新消息</h1>
  <div class="news_block">

    <div class="page_number_block">
      <button type="button" class="btn_news btn_left -disabled">&lt;</button>
      <span class="page_number"><span class="current_page">01</span>/<span class="total_page"></span></span>
      <button type="button" class="btn_news btn_right">&gt;</button>
    </div>

    <ul class="news_list">
    </ul>
  </div>
</section>

<section class="video_and_desc_section">
  <div class="content_block">

    <div class="tab_contents_block">
      <% 8.times do |i| %>
        <% if i+1 == 2 %>
          <div class="left_right_block" data-tab="tab<%=i+1%>">
            <div class="left_block">tab<%=i+1%>_left
              <video class="video-js" controls preload="auto" data-setup='{ "aspectRatio":"1920:1080", "playbackRates": [0.5, 1, 1.5, 2] }'>
                <source src="./data/videos/bi7a30101.mp4" type='video/mp4'>
              </video>
            </div>
            <div class="right_block">
              <p class="para_title">前言</p>
              <ul class="desc_list">
                <% 20.times do %>
                  <li>- xxxx</li>
                <% end %>
              </ul>
            </div>
          </div>
        <% else %>
          <div class="left_right_block no_display" data-tab="tab<%=i+1%>">
            <div class="left_block">
              <video class="video-js" controls preload="auto" data-setup='{ "aspectRatio":"1920:1080", "playbackRates": [0.5, 1, 1.5, 2] }'>
                <source src="./data/videos/bi7a30101.mp4" type='video/mp4'>
              </video>
            </div>
            <div class="right_block">
              <% if i+1 == 1 %>
                <p class="para_title">3.0特色介紹</p>
              <% end %>
              <% if i+1 == 3 %>
                <p class="para_title">名師教學</p>
              <% end %>
              <% if i+1 == 4 %>
                <p class="para_title">數位筆記</p>
              <% end %>
              <% if i+1 == 5 %>
                <p class="para_title">隨堂練習</p>
              <% end %>
              <% if i+1 == 6 %>
                <p class="para_title">考卷測驗</p>
              <% end %>
              <% if i+1 == 7 %>
                <p class="para_title">解惑平台</p>
              <% end %>
              <% if i+1 == 8 %>
                <p class="para_title">我的學習</p>
              <% end %>
              <ul class="desc_list">
                <% 20.times do %>
                  <li>- xxxx</li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="tab_block">
      <!-- data-original-index：初始位置固定為0 -->
      <ul class="tab_list" data-original-index="0">
        <li><button type="button" class="btn_tab -left"><img src="./images/icon/btn-tab-left.svg"></button></li>
        <li>
          <ul class="item_list">
            <li><button type="button" class="btn_tab" data-target="tab1">3.0特色介紹</button></li>
            <li><button type="button" class="btn_tab -on" data-target="tab2">前言</button></li>
            <li><button type="button" class="btn_tab" data-target="tab3">名師教學</button></li>
            <li><button type="button" class="btn_tab" data-target="tab4">數位筆記</button></li>
            <li><button type="button" class="btn_tab" data-target="tab5">隨堂練習</button></li>
            <li><button type="button" class="btn_tab" data-target="tab6">考卷測驗</button></li>
            <li><button type="button" class="btn_tab" data-target="tab7">解惑平台</button></li>
            <li><button type="button" class="btn_tab" data-target="tab8">我的學習</button></li>
          </ul>
        </li>
        <li><button type="button" class="btn_tab -right"><img src="./images/icon/btn-tab-right.svg"></button></li>
      </ul>
    </div>

  </div>
</section>

<div id="news_modal">
</div>


<div id="file_download_modal" class="modal">
  <div class="modal_header">
    <a href="#" rel="modal:close" class="modal_close btn_back"><img src="./images/icon/btn_back.svg"></a>
    選擇下載檔案
    <a href="#" rel="modal:close" class="modal_close custom_close">&times;</a>
  </div>
  <div class="modal_content">
    <div class="files_block">
      <ul class="files_list" id="files_list">
      </ul>
    </div>
  </div>
  <div class="modal_footer">
    <a href="#" class="btn_download_confirm">確定</a>
  </div>
</div>

<% content_for :other_contents do %>
  <script src="./js/slick/slick.min.js"></script>
  <script src="./js/videojs/video.js"></script>
  <script src="./js/api/index.js"></script>
  <script>
    $(function(){
      $("a.custom_close").on("click", function(e){
        e.preventDefault();
        $("#file_download_modal").modal({
          closeExisting: true
        });
      });
      // 下載檔案 modal
      $(document).on("click", "a.btn_icon_download", function(e){
        e.preventDefault();

        $.ajax({
          url:  g_obj.domain + '/api/post/file?ps_id=' + $(this).attr("data-ps-id") + '&token=' + Cookies.get('u_t'),
          type: 'get',
          dataType: 'json',
          success: function(res){
            if(res.data.length > 0){
              var file_li = '';
              $.each(res.data, function(i, item){
                file_li += '<li><button data-path="' + item.pf_path + '" data-pf-id="' + item.pf_id + '" class="file_link ' + (i == 0?"-on":"") + '" target="_blank">' + item.pf_name + '</button></li>';
              });
              $("#files_list").html(file_li);
              $("#file_download_modal").modal({
                closeExisting: false
              });
            }
          }
        });

      });
      // 下載檔案按鈕
      $(document).on("click", "button.file_link", function(){
        $(this).closest("ul.files_list").find("button.file_link").removeClass("-on");
        $(this).addClass("-on");
      });
      // 按下確定，開啟檔案連結
      $("a.btn_download_confirm").on("click", function(e){
        e.preventDefault();
        var file_path = $(this).closest("#file_download_modal").find("button.file_link.-on").attr("data-path");
        window.open(file_path, "_blank");
      });

      // news pager
      $("button.btn_news").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          var page_number_block = $(this).closest("div.page_number_block")[0];
          var current_page = parseInt($(page_number_block).find("span.current_page").html());
          var total_page = parseInt($(page_number_block).find("span.total_page").html());
          var news_list = $(this).closest("div.news_block").find("ul.news_list")[0];

          if($(this).hasClass("btn_left")){
            var next_page = current_page - 1;
          }
          if($(this).hasClass("btn_right")){
            var next_page = current_page + 1;
          }

          $(news_list).children("li").addClass("no_display");
          $(news_list).children("li").each(function(index){
            if( 5*(next_page-1) < (index+1) && (index+1) <= 5*(next_page) ){
              $(this).removeClass("no_display");
            }
          });
          $(page_number_block).find("span.current_page").html(str_pad(next_page, 2, 0))

          $("button.btn_news").removeClass("-disabled");
          if(next_page == 1){
            $("button.btn_news.btn_left").addClass("-disabled");
          }
          if(next_page == total_page){
            $("button.btn_news.btn_right").addClass("-disabled");
          }
        }
      });

      $("button.btn_tab").on("click", function(){
        if( !($(this).hasClass("-left") || $(this).hasClass("-right")) ){
          $(this).closest("ul.item_list").find("button.btn_tab").removeClass("-on");
          $(this).addClass("-on");
          var tab_target = $(this).attr("data-target");
          var content_block = $(this).closest("div.content_block")[0];
          $(content_block).find("div.left_right_block").addClass("no_display");
          $(content_block).find("div.left_right_block[data-tab="+tab_target+"]").removeClass("no_display");

          $("button.vjs-play-control").each(function(){
            if($(this).hasClass("vjs-playing")){
              $(this).click();
            }
          });

        }
      });

      $("button.btn_tab.-right").on("click", function(){
        var tab_list = $(this).closest("ul.tab_list")[0];
        var data_original_index = parseInt($(tab_list).attr("data-original-index"));
        var next_index = data_original_index + 1;
        if(parseInt($(tab_list).find("ul.item_list").find("li").length) - 7 >= next_index){
          $(tab_list).find("ul.item_list").children("li").animate({
            left: "-=131px"
          }, "slow");
          $(tab_list).attr("data-original-index", next_index);
        }
      });
      $("button.btn_tab.-left").on("click", function(){
        var tab_list = $(this).closest("ul.tab_list")[0];
        var data_original_index = parseInt($(tab_list).attr("data-original-index"));

        if(data_original_index >= 1){
          var next_index = data_original_index - 1;
          $(tab_list).find("ul.item_list").children("li").animate({
            left: "+=131px"
          }, "slow");
          $(tab_list).attr("data-original-index", next_index);
        }
      });
      window.HELP_IMPROVE_VIDEOJS = false;
      //var my_player = videojs('my-player');

      // 點擊 slider 後，避免停住
      $(document).on("click", "div.slick-slide a.item_link", function(){
        $(this).blur();
      });
    });
  </script>
<% end %>
