<% content_for :title_content do %>
	<title>學生入口</title>
<% end %>

<% content_for :stylesheets do %>
	<link href="./css/login.css" rel="stylesheet">
<% end %>

<% content_for :other_contents_for_switch_login do %>
	<a href="./login_parents.html" class="switch_login">家長入口</a>
<% end %>


<section class="login_section">
  <div class="logo_block">
    <a href="./login.html" class="logo_link"><img src="./images/logo/sbt-logo2@3x.png" class="img_logo"></a>
  </div>
  <div class="form_block">
    <form class="form_unit" action="#" method="get">
      <div class="input_group">
        <label for="up_name" class="text_label">家長姓名</label>
        <input type="text" id="up_name" class="text_input" placeholder="輸入家長姓名">
      </div>
      <div class="input_group">
        <label for="us_name" class="text_label">學生姓名</label>
        <input type="text" id="us_name" class="text_input" placeholder="輸入學生姓名">
      </div>
      <div class="input_group">
        <label for="us_password" class="text_label">學生密碼</label>
        <input type="password" id="us_password" class="text_input" placeholder="輸入學生密碼">
      </div>
      <div class="submit_group">
        <input type="submit" value="登入" id="login_action" class="btn_submit">
      </div>
    </form>
    <div class="forget_pwd_block">
      <a href="#forget_pwd_modal" class="forget_pwd_link" rel="modal:open"><img src="./images/icon/icon-question-mark.svg" class="q_mark"> <span class="q_text">忘記密碼</span></a>
    </div>
  </div>
</section>

<div id="forget_pwd_modal" class="modal">
  <div class="modal_header">
    發送密碼
  </div>
  <div class="modal_content">
    <h1 class="modal_title">請輸入學生姓名與學生手機</h1>
    <div class="form_forget_pwd_block">
      <form class="form_forget_pwd" action="#" method="post">
        <div class="input_group">
          <label for="forget_pwd_user" class="label_text">學生姓名</label><input type="text" id="forget_pwd_user" placeholder="輸入學生姓名" class="text_input">
        </div>
        <div class="input_group">
          <label for="forget_pwd_user_phone" class="label_text">學生手機</label><input type="text" id="forget_pwd_user_phone" placeholder="輸入學生手機" class="text_input">
        </div>
      </form>
    </div>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">取消</a>
    <button type="button" class="btn_submit_data">送出</button>
  </div>
</div>


<div id="forget_pwd_success_modal" class="modal">
  <div class="modal_header">
    取回密碼
  </div>
  <div class="modal_content">
    <h1 class="modal_title -add-margin-top h1password"></h1>
    <!--<div class="success_block">
      <p>0900123123</p>
    </div>-->
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close -no-margin">確定</a>
  </div>
</div>

<div id="forget_pwd_fail_modal" class="modal">
  <div class="modal_header">
    發送密碼失敗
  </div>
  <div class="modal_content">
    <h1 class="modal_title -add-margin">您輸入的手機號碼與帳號不符！</h1>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close -no-margin">確定</a>
  </div>
</div>

<div id="login_fail_modal" class="modal">
  <div class="modal_header">
    <span class="-head"></span>
  </div>
  <div class="modal_content">
    <div class="fail_block">
      <p><span class="-content"></span></p>
    </div>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close -no-margin">確定</a>
  </div>
</div>

<% content_for :other_contents do %>
	<script src="./js/url.min.js"></script>
	<script src="./js/api/login.js"></script>
	<script src="./js/api/m_e_user.js"></script>
	<script>
		$(function(){
			$("button.btn_submit_data").on("click", function(){
				userStudentForget();
			});
		});
	</script>
<% end %>
