<% @on_material_on = capture do %>-on<% end %>
<% @on_m_e_field = capture do %>-on<% end %>

<% @show_m_e_header = capture do %>true<% end %>
<% @on_m_e_header_grade_group = capture do %>-on<% end %>

<% content_for :title_content do %>
  <title>電子講義(年級群組)</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/m_e_grade_group.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="tab_contents_block">
      <div class="tab_block">
        <ul class="tab_list" id="tab_list">
          <!-- <li><button type="button" class="btn_tab -on" data-target="tab1">版本一</button></li> -->
          <!-- <li><button type="button" class="btn_tab" data-target="tab2">版本二</button></li> -->
          <!-- <li><button type="button" class="btn_tab" data-target="tab3">版本三</button></li> -->
        </ul>
      </div>

      <div class="tab_content_block"><span class="-loading -left10">資料擷取中…</span></div>
    </div>

    <h2 class="title2">最近觀看</h2>

    <div class="recently_view">
      <ul class="item_list" id="recently_view_item_list"><span class="-loading">資料擷取中…</span></ul>
    </div>
  </div>

</section>



<% content_for :other_contents do %>
  <script src="./js/url.min.js"></script>
  <script src="./js/api/m_e_all.js"></script>
  <script src="./js/api/header_text.js"></script>
  <script src="./js/api/m_e_grade_group.js"></script>
  <script>
    $(function(){
    });
    /**
     * 設定tabs功能
     */
    function setupTabs() {
      $("button.btn_tab").on("click", function(){
        var data_target = $(this).attr("data-target");
        var el_tab_contents_block = $(this).closest("div.tab_contents_block");
        $(el_tab_contents_block).find("div.tab_content").addClass("no_display");
        $(el_tab_contents_block).find("div.tab_content[data-tab=" + data_target + "]").removeClass("no_display");

        $(this).closest("ul.tab_list").find("button.btn_tab").removeClass("-on");
        $(this).addClass("-on");
      });

      // 版本分頁只有一個時，且，文字為不分版時，隱藏版本分頁的區塊
      if($("#tab_list").children("li").length <= 1 && $("#tab_list").children("li").find("button.btn_tab").text() == "不分版"){
        $("#tab_list").closest("div.tab_block").addClass("no_display");
      }
    }
  </script>
<% end %>
