<% @on_material_on = capture do %>-on<% end %>
<% @on_m_e_field = capture do %>-on<% end %>

<% @show_m_e_header = capture do %>true<% end %>
<% @show_m_e_header_only = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>單一電子講義</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/m_e_paper.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">
    <%= render "partials/tag_plus_or_cancel" %>
    <h2 id="main_title" class="title2 -for-main"></h2>
    <div class="book_block_container">
      <div class="book_block" id="capture_block">
        <div class="left_block">
          <div class="flipbook-viewport">
          	<div class="container">
          		<div class="flipbook" id="flipbook">
                <!--
          		電子講義內容區
                -->
          		</div>
          	</div>
          </div>
        </div>

      </div>
      <div class="right_block">
        <div class="list_side">
          <button type="button" class="btn_drop"><img src="./images/icon/btn-arrow-dropleft.svg" class="-left"><img src="./images/icon/btn-arrow-dropright.svg" class="-right"></button>
          <div class="list_side_block">
            <ul class="para_desc_list" id="para_desc_list">
              <!--
              段落區
              -->
            </ul>
          </div>

        </div>

      </div>

    </div>

    <div class="action_block">
      <div class="top_action">
        <ul class="right_list">
          <li><button type="button" class="btn_print -disabled"><img src="./images/icon/btn_print.svg"></button></li>
          <li><button type="button" class="btn_zoom -r"><img src="./images/icon/btn_zoom_in_right.svg"><img src="./images/icon/btn_zoom_out_right.svg" class="no_display"></button></li>
          <li><button type="button" class="btn_page -r"><img src="./images/icon/btn_next_page.svg"></button></li>
        </ul>
        <ul class="left_list">
          <li><button type="button" class="btn_page -l"><img src="./images/icon/btn_previous_page.svg"></button></li>
          <li><button type="button" class="btn_zoom -l"><img src="./images/icon/btn_zoom_in_left.svg"><img src="./images/icon/btn_zoom_out_left.svg" class="no_display"></button></li>
        </ul>
      </div>
      <div class="bottom_action">
        <ul class="action_list">
          <li>
            <div class="wrong_block -visible-none">
              <label for="for_wrong" class="for_wrong">勘誤：</label>
              <input type="text" id="for_wrong" class="text_wrong" placeholder="請輸入勘誤文字">
              <button type="button" class="btn_action -send-wrong">送出</button>
            </div>
          </li>
          <li><button type="button" class="btn_action btn_send_wrong">送出勘誤<div id="placeholder_canvas2"></div></button></li>
          <li><button type="button" class="btn_action btn_save_note">儲存筆記<div id="placeholder_canvas"></div></button></li>
          <li><a href="#" class="btn_action -link -disabled">Next</a></li>
        </ul>
      </div>
    </div>


    <h2 class="title2">最近觀看</h2>
    <div class="recently_view">
      <ul class="item_list" id="recently_view_item_list"><span class="-loading">資料擷取中…</span></ul>
    </div>
  </div>

</section>

<!-- 送出筆記 modal -->
<div id="note_send_success_modal" class="modal">
  <div class="modal_header">
    發送成功
  </div>
  <div class="modal_content -content1">
    <p class="para">
      已儲存筆記
    </p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">確定</a>
  </div>
</div>
<div id="note_send_fail_modal" class="modal">
  <div class="modal_header">
    發送失敗
  </div>
  <div class="modal_content -content1">
    <p class="para">
      未儲存筆記！
    </p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">確定</a>
  </div>
</div>

<!-- 送出勘誤 modal -->
<div id="wrong_send_success_modal" class="modal">
  <div class="modal_header">
    發送成功
  </div>
  <div class="modal_content -content1">
    <p class="para">
      已將訊息發送至勘誤系統。
    </p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">確定</a>
  </div>
</div>

<!-- 解惑發送成功 modal -->
<div id="confuse_send_success_modal" class="modal">
  <div class="modal_header">
    發送成功
  </div>
  <div class="modal_content -content1">
    <p class="para">
      已將問題發送至解惑系統並扣除<span id="minus_point"></span>點。
    </p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">確定</a>
  </div>
</div>

<% content_for :other_contents do %>
	<script src="./js/html2canvas/html2canvas.min.js"></script>
	<script src="./js/turn/modernizr.2.5.3.min.js"></script>
	<script src="./js/url.min.js"></script>
	<script src="./js/api/m_e_all.js"></script>
	<script src="./js/api/header_text.js"></script>
	<script src="./js/api/m_e_header.js"></script>
	<script src="./js/api/m_e_paper.js"></script>
	<script src="./js/api/m_e_usernote.js"></script>
	<script src="./js/api/m_e_usererrata.js"></script>
	<script src="./js/api/m_e_usercollection.js"></script>
	<script src="./js/turn/turn.js"></script>
	<script src="./js/turn/zoom.js"></script>
	<script src="./js/jspdf/jspdf.min.js"></script>

  <script>
  var current_corner = '';

    var oTurn;
    function loadApp(direction) {
      // Create the flipbook
      oTurn = $('.flipbook').turn({
          width:1010, // Width
          height:698, // Height
          elevation: 50, // Elevation
          gradients: true,// Enable gradients
          //autoCenter: true,
          direction: direction, // ltr 或 rtl
          turnCorners: "tl,tr",
          page: 1,
          when: {
            start: function(event, pageObject, corner) {
              //console.log(corner)
              current_corner = corner;
              if (pageObject.next == 0){
              //if (pageObject.next == 0 || corner == "bl" || corner == "br"){
                event.preventDefault();
              }
            },
            turning: function(event, page, view) {
              //console.log(page)
              //console.log(oTurn.turn("pages")) //總頁數

              if (page == 0){
              //if (page == 0 || current_corner == "bl" || current_corner == "br"){
                event.preventDefault();
              }else{
                if(oTurn.turn("direction") == "ltr"){
                  //console.log("page: " + page + "; 總頁數:" + oTurn.turn("pages"));
                  if(page == oTurn.turn("pages") || page+1 == oTurn.turn("pages")){
                    if(oTurn.turn("pages") % 2 == 0){
                      if(page < oTurn.turn("pages")){
                        $("button.btn_page.-n").removeClass("-disabled");
                      }else{
                        $("button.btn_page.-n").addClass("-disabled");
                      }
                    }else{
                      $("button.btn_page.-n").addClass("-disabled");
                    }
                  }else{
                    $("button.btn_page.-n").removeClass("-disabled");
                  }
                }else{
                  if(page == oTurn.turn("pages")){
                    $("button.btn_page.-n").addClass("-disabled");
                  }else{
                    $("button.btn_page.-n").removeClass("-disabled");
                  }
                }

                if(page == 1){
                  $("button.btn_page.-p").addClass("-disabled");
                }else{
                  $("button.btn_page.-p").removeClass("-disabled");
                }
              }
            },
            end: function(event, pageObject, turned){
              //console.log(pageObject)
            }
          }
      });

      if(oTurn.turn("direction") == "ltr"){
        $("button.btn_page.-r").addClass("-n");
        $("button.btn_page.-l").addClass("-p").addClass("-disabled");
      }else{
        $("button.btn_page.-r").addClass("-p").addClass("-disabled");
        $("button.btn_page.-l").addClass("-n");
      }
      $("#flipbook").addClass(oTurn.turn("direction"));

      $('.flipbook-viewport').zoom({
    		flipbook: $('.flipbook'),
    		max: function() {

    			return 2020/$('.flipbook').width();

    		},
    		when: {

          // 這是原來點圖的時候，會放大的功能
    			tap: function(event) {
            /*
            console.log(event.pageX)
            console.log(event.pageY)
    				if ($(this).zoom('value')==1) {
    					$('.flipbook').
    						removeClass('animated').
    						addClass('zoom-in');
    					$(this).zoom('zoomIn', event);
    				} else {
    					$(this).zoom('zoomOut');
    				}
            */
    			},


    			resize: function(event, scale, page, pageElement) {

    			},

    			zoomIn: function () {
            //console.log(oTurn.turn("page"))
    				//$('.thumbnails').hide();
    				//$('.made').hide();
    				//$('.flipbook').addClass('zoom-in');

    				/*if (!window.escTip && !$.isTouch) {
    					escTip = true;

    					$('<div />', {'class': 'esc'}).
    						html('<div>Press ESC to exit</div>').
    							appendTo($('body')).
    							delay(2000).
    							animate({opacity:0}, 500, function() {
    								$(this).remove();
    							});
    				}*/
    			},

    			zoomOut: function () {
            //$('.esc').hide();
    				//$('.thumbnails').fadeIn();
    				//$('.made').fadeIn();

    				//setTimeout(function(){
    					//$('.flipbook').addClass('animated').removeClass('zoom-in');
    					//resizeViewport();
    				//}, 0);

    			}
    		}
    	});

    }
    var imgBase64 = "";
    $(function(){

      // 儲存筆記
      $("button.btn_save_note").on("click", function(){

        if($(this).hasClass("-clicking")){
          alert("請勿雙擊！");
        }else{
          $(this).addClass("-clicking"); // allowTaint

          setTimeout(function(){
            if ($('.flipbook-viewport').zoom('value')!=1) { // 代表放大中
              oTurn.turn("options", {autoCenter: false});
              $("button.btn_zoom.-l").click();
              var temp_capture_seconds = 1200;
            }else{
              var temp_capture_seconds = 0;
            }

            setTimeout(function(){
              html2canvas(document.querySelector("#capture_block"), {allowTaint:false, useCORS: true}).then(canvas => {
                $("#placeholder_canvas").html(canvas).addClass("-ani");
    			imgBase64 = canvas.toDataURL();
                setTimeout(function(){
                  $("#placeholder_canvas").html("").removeClass("-ani");
                  $("button.btn_save_note").removeClass("-clicking");
    				if (saveUserNote(imgBase64, "", "", "")) {
    					// 成功處理
    					$("#note_send_success_modal").modal();
    				}
    				else {
    					// 失敗處理
    					$("#note_send_fail_modal").modal();
    				}
                }, 2000);
              });
            }, temp_capture_seconds);
          }, 1000);

        }
      });

      // 左右開合
      $("button.btn_drop").on("click", function(){
        var that = $(this)
        var el_list_side = $(this).closest("div.list_side");
        var millisecond = 500;
        if($(el_list_side).hasClass("-on")){
          var el_right_block = $(this).closest("div.right_block");
          $(el_list_side).animate({
            left: $(el_right_block).width() - 34 + "px"
          }, millisecond, function(){
            $(el_list_side).removeClass("-on")
            $(that).removeClass("-on");
          })
        }else{
          $(el_list_side).addClass("-on").animate({
            left: "0%"
          }, millisecond, function(){
            $(that).addClass("-on");
          });
        }

      });

      // 送出勘誤
      $("button.btn_send_wrong").on("click", function(){
        $(this).closest("ul.action_list").find("div.wrong_block").toggleClass("-visible-none");
      });

      $("button.btn_action.-send-wrong").on("click", function(){
	    if ($.trim($("#for_wrong").val()) == "") {
		  alert("請輸入勘誤文字");
		  return;
		}
    if ($('.flipbook-viewport').zoom('value')!=1) { // 代表放大中
      oTurn.turn("options", {autoCenter: false});
      $("button.btn_zoom.-l").click();
      var temp_capture_seconds = 1200;
    }else{
      var temp_capture_seconds = 0;
    }
    setTimeout(function(){
      html2canvas(document.querySelector("#capture_block"), {allowTaint:false, useCORS: true}).then(canvas => {
        $("#placeholder_canvas2").html(canvas).addClass("-ani");
  imgBase64_1 = canvas.toDataURL();

        setTimeout(function(){
          $("#placeholder_canvas2").html("").removeClass("-ani");
          $("button.btn_save_note").removeClass("-clicking");
    if (newUserErrata(imgBase64_1, $.trim($("#for_wrong").val()), g_obj.m_e_ot_id, "", "")) {
      // 成功處理
      $("#wrong_send_success_modal").modal();
      $("#for_wrong").val("");
    }
        }, 2000);
      });
    }, temp_capture_seconds);

        // 也觸發儲存筆記
        // $("button.btn_save_note").click();
      });

      // 翻頁效果
      //yepnope({
      //	test : Modernizr.csstransforms,
      //	yep: ['./js/turn/turn.js', './js/turn/zoom.js'],        // 支援 csstransforms 就載入此檔
      //	nope: ['./js/turn/turn.html4.min.js'] // 不支援就載入此檔
      	//both: ['css/basic.css'],
      	//complete: loadApp
      //});

      // 上、下頁
      $(document).on("click", "button.btn_page", function(){
        oTurn.turn("options", {turnCorners: "tl,tr"});
        if($(this).hasClass("-p")){ // 上一頁
          oTurn.turn('previous');
        }
        if($(this).hasClass("-n")){ // 下一頁
          oTurn.turn('next');
        }
      });

      $("button.btn_zoom.-r, button.btn_zoom.-l").on("click", function(e){
        if(!$(this).hasClass("-temp-disable")){
          $("button.btn_zoom").addClass("-temp-disable");
          $("button.btn_zoom.-r, button.btn_zoom.-l").find("img").toggleClass("no_display");
          if ($('.flipbook-viewport').zoom('value')==1) {
            //$('.flipbook-viewport').zoom('zoomIn');
            if($(this).hasClass("-r")){
              e.pageX = $("div.book_block_container").offset().left + ((($("div.book_block_container").width() - 34) / 4)*3);
            }else{
              e.pageX = $("div.book_block_container").offset().left + ((($("div.book_block_container").width() - 34) / 4)*1);
            }
            e.pageY = $("div.book_block_container").offset().top + ($("div.book_block_container").height()/2);
            //console.log($("div.book_block_container").width() + ' ' + e.pageX + ' ' + e.pageY);
            oTurn.turn("options", {autoCenter: true});
            $('.flipbook-viewport').zoom('zoomIn', e);
          } else {
            oTurn.turn("options", {autoCenter: false});
            $('.flipbook-viewport').zoom('zoomOut');
          }
        }
        setTimeout(function(){
          // 1秒後恢復作用
          $("button.btn_zoom").removeClass("-temp-disable");
        }, 1000);
      });

      // 右側子段落
      $(document).on("click", "a.-go_page", function(e){
        e.preventDefault();
        $(this).closest("ul").find("a.-go_page").removeClass("-on");
        $(this).addClass("-on");
        oTurn.turn("page", parseInt($(this).attr("data-hp-page-index")) );
      });

		// 勾選列印框
		var selectedPage = [];
		var selectedPageBase64 = [];
		$(document).on("click", "input.custom_checkbox", function(){
			if ($(this).prop("checked")) {
				if (jQuery.inArray($(this).val(), selectedPage) == -1) {
					selectedPage.push($(this).val());
					selectedPageBase64[$(this).val()] = getBase64Image($("#" + $(this).val())[0]);
				}
			}
			else {
				if (jQuery.inArray($(this).val(), selectedPage) != -1) selectedPage.splice(jQuery.inArray($(this).val(), selectedPage), 1);
			}
			/*var have_checked = false;
			$("input.custom_checkbox").each(function(){
				if($(this).prop("checked")){
					have_checked = true;
				}
			});
			if(have_checked){
				$("button.btn_print").removeClass("-disabled"); // 列印樣式
			}
			else{
				$("button.btn_print").addClass("-disabled"); // 列印樣式
			}*/
			if (selectedPage.length > 0) {
				$("button.btn_print").removeClass("-disabled"); // 列印樣式
			}
			else {
				$("button.btn_print").addClass("-disabled"); // 列印樣式
			}
		});
		// 列印 PDF
		$(".btn_print").on("click", function () {
			if($(this).hasClass("-disabled")){ return false; }
			var pageCounter = 0;
			var doc = new jsPDF('p', 'pt', 'a4', true);
			doc.setFillColor(255, 255, 255);
			doc.rect(0, 0, 595.28,  841.89, 'F');

			selectedPage.sort();
			$.each(selectedPage, function (index, value) {
				try {
					var pageBase64 = selectedPageBase64[value];
					if (pageCounter > 0) doc.addPage();
					if (pageBase64 != "") {
						// doc.addImage(pageBase64, "jpg", 50, 50, 500, 750, undefined, "none");
						doc.addImage(pageBase64, "jpg", 50, 50, 500, 750, undefined, "FAST");
						pageCounter++;
						console.log("success page:" + pageCounter);
					}
				}
				catch(err) {
					console.log("error page:" + pageCounter);
				}
			})
			/*
			$("input.custom_checkbox:checked").each(function(){
				try {
					var pageBase64 = getBase64Image($("#" + $(this).val())[0]);
					if (pageCounter > 0) doc.addPage();
					// doc.addImage(pageBase64, "jpg", 50, 50, 500, 750, undefined, "none");
					doc.addImage(pageBase64, 'png', 50, 50, 500, 750, undefined, 'FAST');
					pageCounter++;
					console.log("success page:" + pageCounter);
				}
				catch(err) {
					console.log("error page:" + pageCounter);
				}
			});
			*/
			doc.save("電子講義_" + (($.url('?field_name') != undefined) ? $.url('?field_name') + "_" : "") + (($.url('?subject_name') != undefined) ? $.url('?subject_name') + "_" : "") + (($.url('?version_name') != undefined) ? $.url('?version_name') + "_" : "") + (($.url('?grade_group_name') != undefined) ? $.url('?grade_group_name') + "_" : "") + (($.url('?chapter_name') != undefined) ? $.url('?chapter_name') : "") + "_" + new Date().getFullYear().toString().substr(-2) + ("0" + (new Date().getMonth() + 1).toString()).substr(-2) + ("0" + new Date().getDate().toString()).substr(-2) + ("0" + new Date().getHours().toString()).substr(-2) + ("0" + new Date().getMinutes().toString()).substr(-2) + ("0" + new Date().getSeconds().toString()).substr(-2) + ".pdf");
		})
		// Next 連結
		$("a.btn_action").on("click", function(e){
			if($(this).hasClass("-disabled")){
				e.preventDefault();
			}
		});
	});

		// 加入或移除收藏
		$("a.tag_plus").on("click", function(e){
			e.preventDefault();
			if ($(this).attr("data-status") == "0") {
				if (newUserCollection(g_obj.m_e_ot_id, $.url('?ol_id'), "", "", $(this).attr("data-ho_id"), "", "")) {
					$(this).toggleClass("-on");
					getUsercollection(g_obj.m_e_ot_id, $.url('?ol_id'), "", "", $(this).attr("data-ho_id"), "");
				}
				else {
					alert("加入失敗");
				}
			}
			else {
				if (delUserCollection($(this).attr("data-uc-id"))) {
					$(this).toggleClass("-on");
					getUsercollection(g_obj.m_e_ot_id, $.url('?ol_id'), "", "", $(this).attr("data-ho_id"), "");
				}
				else {
					alert("移除失敗");
				}
			}
		});

		function getBase64Image(img) {
			var canvas = document.createElement("canvas");
			canvas.width = img.width;
			canvas.height = img.height;
			var ctx = canvas.getContext("2d");
			ctx.drawImage(img, 0, 0);
			var dataURL = canvas.toDataURL("image/jpg");
			return dataURL;
			// return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
		}
	</script>
<% end %>
