<% @on_material_on = capture do %>-on<% end %>
<% @on_m_i_field = capture do %>-on<% end %>

<% @show_m_i_header = capture do %>true<% end %>
<% @show_m_i_header_only = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>互動實驗(列表)</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/m_i_list.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">

    <h2 class="title2 -for-main" id="main_title"></h2>

    <div class="tab_contents_block">

      <div class="tab_content_block">

        <ul class="item_list" id="item_list_interaction"><span class="-loading">資料擷取中…</span></ul>
        <div class="page_container" id="page_container">
          <div class="page_number_block">
            <button type="button" class="btn_item btn_left -disabled"></button>
            <span class="page_number"><span class="current_page">01</span><span class="span_slash">/</span><span class="total_page" id="total_page"></span></span>
            <button type="button" class="btn_item btn_right -disabled" id="pager_right_button"></button>
          </div>
        </div>
      </div>

    </div>

    <h2 class="title2">最近觀看</h2>
    <div class="recently_view">
      <ul class="item_list" id="item_list_recently_view"><span class="-loading">資料擷取中…</span></ul>
    </div>
  </div>

</section>



<% content_for :other_contents do %>
	<script src="./js/url.min.js"></script>
	<script src="./js/api/m_i_all.js"></script>
	<script src="./js/api/header_text.js"></script>
	<script src="./js/api/m_i_header.js"></script>
	<script src="./js/api/m_i_list.js"></script>
	<script src="./js/api/m_e_usercollection.js"></script>

	<script>
		$(function(){

		  // pager
		  $("button.btn_item").on("click", function(){
			if(!$(this).hasClass("-disabled")){
			  var page_number_block = $(this).closest("div.page_number_block")[0];
			  var current_page = parseInt($(page_number_block).find("span.current_page").html());
			  var total_page = parseInt($(page_number_block).find("span.total_page").html());
			  var item_list = $(this).closest("div.tab_content_block").find("ul.item_list")[0];

			  if($(this).hasClass("btn_left")){
				var next_page = current_page - 1;
			  }
			  if($(this).hasClass("btn_right")){
				var next_page = current_page + 1;
			  }

			  $(item_list).children("li").addClass("no_display");
			  $(item_list).children("li").each(function(index){
				if( 15*(next_page-1) < (index+1) && (index+1) <= 15*(next_page) ){
				  $(this).removeClass("no_display");
				}
			  });
			  $(page_number_block).find("span.current_page").html(str_pad(next_page, 2, 0))

			  $(this).closest("div.page_number_block").find("button.btn_item").removeClass("-disabled");
			  if(next_page == 1){
				$(this).closest("div.page_number_block").find("button.btn_item.btn_left").addClass("-disabled");
			  }
			  if(next_page == total_page){
				$(this).closest("div.page_number_block").find("button.btn_item.btn_right").addClass("-disabled");
			  }
			}
		  });

		});

		// 加入或移除收藏
		function addRemoveCollection(obj) {
			if ($(obj).attr("data-status") == "0") {
				if (newUserCollection(g_obj.m_i_ot_id, olId, "", "", "", $(obj).attr("data-eps_id"), "")) {
					$(obj).toggleClass("-on");
					getIListUserCollection($(obj).attr("data-eps_id"));
				}
				else {
					alert("加入失敗");
				}
			}
			else {
				if (delUserCollection($(obj).attr("data-uc-id"))) {
					$(obj).toggleClass("-on");
					getIListUserCollection($(obj).attr("data-eps_id"));
				}
				else {
					alert("移除失敗");
				}
			}
		};
	</script>
<% end %>
