<% @on_material_on = capture do %>-on<% end %>
<% @on_m_i_field = capture do %>-on<% end %>

<% @show_m_i_header = capture do %>true<% end %>
<% @on_m_i_header_subject = capture do %>-on<% end %>

<% content_for :title_content do %>
  <title>互動實驗(科目)</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/m_i_subject.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="tab_contents_block">

      <div class="tab_content_block">
        <div class="tab_content">
          <ul class="tab_content_list"><span class="-loading -left10">資料擷取中…</span></ul>
        </div>
      </div>
    </div>

    <h2 class="title2">最近觀看</h2>

    <div class="recently_view">
      <ul class="item_list" id="item_list_recently_view"><span class="-loading">資料擷取中…</span></ul>
    </div>
  </div>

</section>



<% content_for :other_contents do %>
  <script src="./js/url.min.js"></script>
  <script src="./js/api/m_i_all.js"></script>
  <script src="./js/api/header_text.js"></script>
  <script src="./js/api/m_i_subject.js"></script>
  <script>
    $(function(){

    });
  </script>
<% end %>
