<% @on_my_learn_on = capture do %>-on<% end %>
<% @on_my_learn_project_on = capture do %>-on<% end %>
<% @on_my_curriculum_header_on = capture do %>-on<% end %>

<% @show_my_learn_project_header = capture do %>true<% end %>


<% content_for :title_content do %>
  <title>學校課表</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/my_curriculum.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">
    <div class="upload_block">

	  <form id="submit_userclass" name="submit_userclass" method="post" enctype="multipart/form-data">
        <div class="upload_action">
		  <button type="button" class="btn_upload btn_update_txt">儲存課表</button>
          <button type="button" class="btn_upload btn_upload_file">上傳課表照片</button>
          <input type="file" class="file_input" accept="image/*" name="class_img" id="class_img" />
	    </div>
      </form>

    </div>

    <!-- 表格課表 -->
    <div id="divCurriculumTable" class="table_block">
      <table class="custom_table">
        <thead>
          <tr>
            <th></th>
            <th>一</th>
            <th>二</th>
            <th>三</th>
            <th>四</th>
            <th>五</th>
            <th>六</th>
            <th>日</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>早</td>
            <% 7.times do |j| %>
              <td><input type="text" class="subject_text" name="txt_cur_<%= j + 1 %>_1" id="txt_cur_<%= j + 1 %>_1" /></td>
            <% end %>
            <td>早</td>
          </tr>
          <tr class="-divide">
            <td colspan="9"></td>
          </tr>
          <% 4.times do |i| %>
            <tr>
              <td><%= i+1 %></td>
              <% 7.times do |j| %>
                <td><input type="text" class="subject_text" name="txt_cur_<%= j + 1 %>_<%= i + 2 %>" id="txt_cur_<%= j + 1 %>_<%= i + 2 %>" /></td>
              <% end %>
              <td><%= i+1 %></td>
            </tr>
          <% end %>
          <tr class="-divide">
            <td colspan="9"></td>
          </tr>
          <% 5.times do |i| %>
            <tr>
              <td><%= i+5 %></td>
              <% 7.times do |j| %>
                <td><input type="text" class="subject_text" name="txt_cur_<%= j + 1 %>_<%= i + 6 %>" id="txt_cur_<%= j + 1 %>_<%= i + 6 %>" /></td>
              <% end %>
              <td><%= i+5 %></td>
            </tr>
          <% end %>
          <tr class="-divide">
            <td colspan="9"></td>
          </tr>
          <tr>
            <td>補</td>
            <% 7.times do |j| %>
              <td><input type="text" class="subject_text" name="txt_cur_<%= j + 1 %>_11" id="txt_cur_<%= j + 1 %>_11" /></td>
            <% end %>
            <td>補</td>
          </tr>
        </tbody>
      </table>
    </div>


    <!-- 課表圖片 -->
    <div id="divCurriculumImage" class="img_block">
      <button type="button" class="btn_delete"><img src="./images/icon/btn-delete.svg"></button>
      <img id="curriculumImage" src="http://via.placeholder.com/1000x650">
    </div>

  </div>

</section>

<% content_for :other_contents do %>
  <script src="js/api/m_e_userclass.js"></script>
  <script>
    $(function(){
	  // 取得圖片資料, 如無自動取文字
	  getUserclassImg();
      // 選擇檔案
      $("button.btn_upload_file").on("click", function(){
        $(this).closest("div.upload_action").find("input.file_input").click();
      });
	  // 開始上傳
      $("div.upload_action #class_img").change(function (){
        newUserclassImg();
      });
	  // 課表資料異動
      $("button.btn_update_txt").on("click", function(){
        newUserclass();
      });
	  // 刪除圖片
      $("button.btn_delete").on("click", function(){
        delUserclassImg();
      });
    });
  </script>
<% end %>
