<% @on_my_learn_on = capture do %>-on<% end %>
<% @on_my_learn_record_on = capture do %>-on<% end %>
<% @on_my_learn_river_time_on = capture do %>-on<% end %>

<% @show_my_learn_record_header = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>學習紀錄 - 時間河流</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/my_learn_river_time.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="tab_contents_block">

      <div class="tab_content_block">

        <div class="option_block">
          <div class="option_inner">
            <select class="option_style" id="select1"></select>
          </div>
          <div class="option_inner">
            <select class="option_style" id="select2"></select>
          </div>
          <div class="option_inner">
            <select class="option_style" id="select3">
              <option value="2" selected>年</option>
              <option value="3">月</option>
              <option value="4">週</option>
              <option value="5">日</option>
            </select>
          </div>
        </div>
        <h2 class="title2"><span id="select2_text"></span> 累計已觀看影片時數</h2>

        <div class="chart_block">
          <ul id="item_list" class="chart_list item_list"><span class="-loading">資料擷取中…</span>
            <!--
            <li>
              <div class="bar_block">
                <div class="top_block">
                  <span class="time">90小時<br>50分鐘</span>
                </div>
                <div class="middle_block">
                  <div class="bar_item" style="height:10%;"></div>
                </div>
                <div class="bottom_block">
                  <span class="date">2017<br>12/31</span>
                </div>
              </div>
            </li>
            -->
          </ul>
        </div>

        <div id="page_container" class="page_container">

          <div class="page_number_block">
            <button type="button" class="btn_item btn_left -disabled"></button>
            <span class="page_number"><span class="current_page">01</span><span class="span_slash">/</span><span id="total_page" class="total_page"></span></span>
            <button id="pager_right_button" type="button" class="btn_item btn_right -disabled"></button>
          </div>
        </div>
      </div>

    </div>


  </div>

</section>



<% content_for :other_contents do %>
  <script src="./js/url.min.js"></script>
  <script src="./js/underscore/underscore-min.js"></script>
  <script src="./js/api/my_learn_river_time.js"></script>
  <script>
    $(function(){

      // pager
      $("button.btn_item").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          var page_number_block = $(this).closest("div.page_number_block")[0];
          var current_page = parseInt($(page_number_block).find("span.current_page").html());
          var total_page = parseInt($(page_number_block).find("span.total_page").html());
          var item_list = $(this).closest("div.tab_content_block").find("ul.item_list")[0];

          if($(this).hasClass("btn_left")){
            var next_page = current_page - 1;
          }
          if($(this).hasClass("btn_right")){
            var next_page = current_page + 1;
          }

          $(item_list).children("li").addClass("no_display");
          $(item_list).children("li").each(function(index){
            if( 12*(next_page-1) < (index+1) && (index+1) <= 12*(next_page) ){
              $(this).removeClass("no_display");
            }
          });
          $(page_number_block).find("span.current_page").html(str_pad(next_page, 2, 0))

          $(this).closest("div.page_number_block").find("button.btn_item").removeClass("-disabled");
          if(next_page == 1){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_left").addClass("-disabled");
          }
          if(next_page == total_page){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_right").addClass("-disabled");
          }
        }
      });

      $("#select1").on("change", function(){
        location.href = "?select1=" + $("#select1").val() + '&select2=all&select3=' + $("#select3").val();
      });
      $("#select2").on("change", function(){
        location.href = "?select1=" + $("#select1").val() + '&select2=' + $("#select2").val() + '&select3=' + $("#select3").val();
      });
      $("#select3").on("change", function(){
        if($("#select2").val() == null){
          var select2_val = 'all';
        }else{
          var select2_val = $("#select2").val();
        }
        location.href = "?select1=" + $("#select1").val() + '&select2=' + select2_val + '&select3=' + $("#select3").val();
      });

    });
  </script>
<% end %>
