<% @on_my_learn_on = capture do %>-on<% end %>
<% @on_my_learn_project_on = capture do %>-on<% end %>
<% @on_my_learn_project_header_on = capture do %>-on<% end %>

<% @show_my_learn_project_header = capture do %>true<% end %>


<% content_for :title_content do %>
	<title>學習計畫</title>
<% end %>

<% content_for :stylesheets do %>
	<link href="./css/my_learn_project.css" rel="stylesheet">
<% end %>

<section class="normal_section">
    <div class="all_contents_block" id="vueApp">
        <div class="tab_contents_block">
            <div class="tab_content_block -in-page">
                <div class="week_block">
                    <a href="#" class="btn_week -last" v-on:click="lastWeek()"><span class="week_text">上一週</span></a>
                    <div class="week_info_block">
                        <div class="week_top" v-text="(clickDate.getFullYear() - 1911) + ' 年 第 ' + getWeekNumber(clickDate) + ' 週'">107年 第N週</div>
                        <div class="week_bottom" v-text="getDateString(weekDays[0]) + ' ~ ' + getDateString(weekDays[6])">4/21 ~ 4/27</div>
                    </div>
                    <a href="#" class="btn_week -next" v-on:click="nextWeek()"><span class="week_text">下一週</span></a>
                </div>

                <div class="week_content_block">
                    <ul class="each_day_list">
                        <li v-for="(date,index) in weekDays">
                            <a href="#" class="day_block" v-bind:class="planClass(date)" v-on:click="requestData(date)">
                                <div class="top_block" v-text="dayString[index]"></div>
                                <div class="bottom_block" >
                                    <div v-text="getDateString(date)"></div>
                                    <span class="icon_star" v-show="commentDisplay(date)">
                                        <img src="./images/icon/icon-star.svg">
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="note_block">
                    <textarea class="note_textarea" name="note_textarea" id="note_textarea" placeholder="考試註記：" data-upcs_id="" v-model="upcs_content"></textarea>
					<input type="hidden" name="note_upcs_id" id="note_upcs_id" v-model="upcs_id" />
					<ul class="send_list">
						<li>
							<button type="button" class="btn_send btn_save_note" data-canvas-container-id="preview_canvas">儲存註記<div class="placeholder_canvas"></div></button>
						</li>
					</ul>
                </div>
                <div>
                    <ul class="item_list">
                        <li v-bind:class="{ 'no_display' : displayRange(index)}" v-for="(item,index) in ol_list">
							<a href="#" class="item_link" v-on:click="redirectUrl(item)">
								<button type="button" class="btn_delete" v-bind:data-upls_id="item.upls_id"><img src="./images/icon/btn-delete.svg"></button>
								<img v-bind:src="item.ol_img" class="link_img">
								<div class="desc_block">
									<p class="para1" v-text="itemFirstTitle(item)"></p>
									<p class="para2" v-text="item.ol_display_name"></p>
								</div>
							</a>
                        </li>
                        <li v-bind:class="{'no_display':current_page != total_page}">
                            <button type="button" class="btn_add_item">
                            <span class="add_item">+</span>
                            </button>
                        </li>
                    </ul>
                    <div class="page_container">
                        <div class="page_number_block">
                            <button type="button" class="btn_item btn_left" data-items-per-page="15" v-on:click="lastPage"  v-bind:class="{'-disabled':current_page == 1}"></button>
                            <span class="page_number"><span class="current_page" v-text="str_pad(current_page, 2, 0)">01</span><span class="span_slash">/</span><span class="total_page" v-text="str_pad(total_page, 2, 0)">?</span></span>
                            <button type="button" class="btn_item btn_right" data-items-per-page="15" v-bind:class="{ '-disabled' : current_page == total_page}" v-on:click="nextPage"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="item_modal" class="modal">
    <div class="modal_header">
        <ul class="tab_item">
            <li>
                <button type="button" class="btn_tab_item -on" data-target="tab1_content" data-ot_id="1">名師教學</button>
            </li>
            <li>
                <button type="button" class="btn_tab_item" data-target="tab2_content" data-ot_id="3">考卷測驗</button>
            </li>
        </ul>
        <a href="#" rel="modal:close" class="modal_close">&times;</a>
    </div>
    <div class="modal_content">
        <div class="tabs_content">
            <div class="tab1_content -on" id="teacherVue">
                <%= render "partials/choose_item" %>
            </div>
            <div class="tab2_content" id="praticeVue">
                <%=render "partials/choose_item" %>
            </div>
        </div>
    </div>
</div>

<!-- 送出學習計畫 modal -->
<div id="learn_send_success_modal" class="modal -content1">
	<div class="modal_header -content1">
		發送成功
	</div>
	<div class="modal_content -content1">
		<p class="para">
			已將考試註記發送至學習計畫
		</p>
	</div>
	<div class="modal_footer">
		<a href="#" rel="modal:close" class="modal_close">確定</a>
	</div>
</div>

<% content_for :other_contents do %>
	<script src="./js/url.min.js"></script>
	<script src="./js/vue.min.js"></script>
	<script src="./js/api/my_learn_project.js"></script>
	<script src="./js/api/choose_item_block.js"></script>
	<script src="./js/api/m_e_userplan.js"></script>
	<script>
		var selectedOtID = "1";
		$(function () {
			// 新增修改註記
			$(document).on("click", "button.btn_save_note", function (e) {
				e.stopPropagation();
				e.preventDefault();
				if (updateUserplanComent($("#note_upcs_id").val(), $("#note_textarea").val(), app.getDateParam(app.clickDate))) {
					$("#learn_send_success_modal").modal();
					app._doChangeWeek(0);
					/*if($("#note_textarea").val() == ""){
						$(".week_content_block .day_block.-on .icon_star").hide();
					}else{
						$(".week_content_block .day_block.-on .icon_star").show();
					}*/
				}
			});

			// 刪除項目(x 按鈕)
			$(document).on("click", "button.btn_delete", function (e) {
				e.stopPropagation();
				e.preventDefault();
				if (deleteUserplan($(this).attr("data-upls_id"))) {
					//alert("刪除成功，頁面重新整理");
					window.location.reload();
				}
			});

			// 新增項目
			$(document).on("click", "button.btn_add_item", function () {
				$("#item_modal").modal();
			});

			// modal 中的 tab 按鈕
			$("button.btn_tab_item").on("click", function () {
				if($(this).hasClass("-on")){ return false; }

				var that = this;
				if($(this).attr("data-ot_id") == "1"){ // 點擊至名師教學 tab
					var current_bread_index = $(this).closest("div.modal").find("div.tab2_content").find("ul.choose_item_list").find("button.-on").closest("li").index();
					$(this).closest("div.modal").find("div.tab1_content").find("ul.choose_item_list").children("li").each(function(index){
						$(this).find("button.modal_btn_item").removeClass("-show").removeClass("-on");
						if(index < current_bread_index){
							$(this).find("button.modal_btn_item").addClass("-show");
						}
						if(index == current_bread_index){
							$(this).find("button.modal_btn_item").addClass("-on").click();
						}
					});
				}
				if($(this).attr("data-ot_id") == "3"){ // 點擊至考卷測驗 tab
					var current_bread_index = $(this).closest("div.modal").find("div.tab1_content").find("ul.choose_item_list").find("button.-on").closest("li").index();
					$(this).closest("div.modal").find("div.tab2_content").find("ul.choose_item_list").children("li").each(function(index){
						$(this).find("button.modal_btn_item").removeClass("-show").removeClass("-on");
						if(index < current_bread_index){
							$(this).find("button.modal_btn_item").addClass("-show");
						}
						if(index == current_bread_index){
							$(this).find("button.modal_btn_item").addClass("-on").click();
						}
					});
				}

				var el_tab_item = $(this).closest("ul.tab_item");
				$(el_tab_item).find("button.btn_tab_item").removeClass("-on");
				$(this).addClass("-on");

				// 顯示分頁內容
				$("div.tab1_content, div.tab2_content").removeClass("-on");
				$("div." + $(this).attr("data-target")).addClass("-on");
				selectedOtID = $(this).attr("data-ot_id");
			});

			// modal：領域~單元的按鈕
			$("button.modal_btn_item").on("click", function () {
				var that = this;
				var data_tab_target_index = $(this).closest("li").index();
				$(this).closest("ul.choose_item_list").find("button.modal_btn_item").removeClass("-on").removeClass("-show");
				$(this).addClass("-on");
				$(this).closest("ul.choose_item_list").find("button.modal_btn_item").each(function (index) {
					if (index < data_tab_target_index) {
						$(this).addClass("-show");
					}
				});

				$(this).closest("div.choose_item_block").find("div.each_tab").removeClass("-on");
				$(this).closest("div.choose_item_block").find("div.each_tab." + $(this).attr("data-target")).addClass("-on");
			});

			// modal：取得內容
			$(document).on("click", "button.btn_get_data", function () {
				var that = this;

				// 針對按鈕(領域…單元)的切換
				$(this).closest("div.choose_item_block").find("button.modal_btn_item").removeClass("-on");
				var data_tab_target_index = $(this).closest("div.choose_item_block").find("button.modal_btn_item." + $(this).attr("data-tab-target")).closest("li").index();
				$(this).closest("div.choose_item_block").find("button.modal_btn_item").each(function (index) {
					if (index < data_tab_target_index) {
						$(this).addClass("-show");
					} else {
						if ($(this).hasClass($(that).attr("data-tab-target"))) {
							$(this).addClass("-on");
						}
					}
				});

	//            alert("ajax 取得內容，再進行內容切換");
				// 針對內容的切換
				$(this).closest("div.each_item_content").find("div.each_tab").removeClass("-on");
				$(this).closest("div.each_item_content").find("div.each_tab." + $(this).attr("data-next-target")).addClass("-on");

			});

			// modal: 年級群組的分頁切換
			$("button.btn_grade_group_tab").on("click", function () {
				$(this).closest("ul").find("button.btn_grade_group_tab").removeClass("-on");
				$(this).addClass("-on");

				$(this).closest("div.each_tab").find("div.tab_content").removeClass("-on");
				$(this).closest("div.each_tab").find("div.tab_content[data-tab='" + $(this).attr("data-target") + "']").addClass("-on");
			});

			// modal: 送出所新增的項目
			$(document).on("click", "button.modal_btn_send_data", function () {
				if (addUserplan($(this).attr("data-ol_id"), selectedOtID, app.getDateParam(app.clickDate))) {
					// window.location.reload();
					window.location.href = "./my_learn_project.html?c_date=" + app.getDateParam(app.clickDate);
				}
			});
		});
	</script>
<% end %>
