<% @on_my_learn_on = capture do %>-on<% end %>
<% @on_my_learn_record_on = capture do %>-on<% end %>
<% @on_my_learn_wrong_record_on = capture do %>-on<% end %>

<% @show_my_learn_record_header = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>學習紀錄 - 錯題紀錄</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/my_learn_wrong_record.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="tab_contents_block">

      <div class="tab_content_block">

        <div class="all_wrong_num_block">
          <p class="wrong_text">總錯題數：<span id="test_wrong_count"></span>題</p>
        </div>

        <div class="option_block">
          <div class="option_inner">
            <select class="option_style" id="select1"></select>
          </div>
          <div class="option_inner">
            <select class="option_style" id="select2"></select>
          </div>
          <div class="option_inner no_display">
            <select class="option_style" id="select3"></select>
          </div>
        </div>

        <ul class="item_list" id="item_list">
          <li id="loading">資料擷取中…</li>
          <!--
          <li>
            <a href="./my_learn_wrong_record_correct.html" class="item_link">
              <img src="./images/bg/bg_my_learn_wrong_record.png" class="link_img">
              <div class="wrong_block">錯題 <span class="wrong_num">15</span> 題</div>
              <div class="desc_block">
                <p class="para1">物理 基礎物理(<%#=i+1%>)</p>
                <p class="para2">1-1 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
              </div>

              <div class="custom_checkbox">
                <input type="checkbox" id="custom_checkbox_<%#=i%>" class="custom_checkbox">
                <label for="custom_checkbox_<%#=i%>" class="-checkitem">Custom Checkbox!</label>
              </div>
            </a>
          </li>
          -->
        </ul>

        <div id="page_container" class="page_container">
          <div class="send_block">
            <button type="button" class="btn_send -disabled">列印</button>
          </div>
          <div class="page_number_block">
            <button type="button" class="btn_item btn_left -disabled"></button>
            <span class="page_number"><span class="current_page">01</span><span class="span_slash">/</span><span id="total_page" class="total_page"></span></span>
            <button id="pager_right_button" type="button" class="btn_item btn_right -disabled"></button>
          </div>
        </div>
      </div>

    </div>


  </div>

</section>



<% content_for :other_contents do %>
	<script src="./js/url.min.js"></script>
	<script src="./js/api/my_learn_wrong_record.js"></script>
	<script src="./js/api/m_e_test.js"></script>

  <script>
    $(function(){

      // pager
      $("button.btn_item").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          var page_number_block = $(this).closest("div.page_number_block")[0];
          var current_page = parseInt($(page_number_block).find("span.current_page").html());
          var total_page = parseInt($(page_number_block).find("span.total_page").html());
          var item_list = $(this).closest("div.tab_content_block").find("ul.item_list")[0];

          if($(this).hasClass("btn_left")){
            var next_page = current_page - 1;
          }
          if($(this).hasClass("btn_right")){
            var next_page = current_page + 1;
          }

          $(item_list).children("li").addClass("no_display");
          $(item_list).children("li").each(function(index){
            if( 15*(next_page-1) < (index+1) && (index+1) <= 15*(next_page) ){
              $(this).removeClass("no_display");
            }
          });
          $(page_number_block).find("span.current_page").html(str_pad(next_page, 2, 0))

          $(this).closest("div.page_number_block").find("button.btn_item").removeClass("-disabled");
          if(next_page == 1){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_left").addClass("-disabled");
          }
          if(next_page == total_page){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_right").addClass("-disabled");
          }
        }
      });

      // checkbox 勾選之後的檢查，切換列印按鈕的狀態
      $(document).on("click", "input.custom_checkbox", function(index, item){

        var send_data = false; // 預設都沒有勾選的項目
        var is_all = true; // 目前所有項目是否都是勾選
        $("input.custom_checkbox").each(function(index, item){
          if($(item).prop("checked")){
            send_data = true;
          }else{
            is_all = false;
          }
        });

        if(send_data){
          $("button.btn_send").removeClass("-disabled");
        }else{
          $("button.btn_send").addClass("-disabled");
        }

      });

      // 列印
      $("button.btn_send").on("click", function(){
		if(!$(this).hasClass("-disabled")){
			// location.href = "./q_db_auto_and_manual_question.html";
			var tq_ids = "";
			var ol_ids = "";
			var filename = "";
			$(".input_custom_checkbox").each(function(index, item){
				if($(item).prop("checked")){
					tq_ids += ((tq_ids != "") ? "," : "") + $(item).attr("data_tq_ids");
					if (ol_ids != $(item).attr("data_ol_ids") && $(item).attr("data_ol_ids") != "") ol_ids += ((ol_ids != "") ? "," : "") + $(item).attr("data_ol_ids");
					if (filename == "") filename = $(item).closest("a.item_link").attr("data-filename");
				}
			})
			testGetPdf(ol_ids, tq_ids, "錯題訂正", filename);
		}
      });

      $("#select1").on("change", function(){
        location.href = "./my_learn_wrong_record.html?select1=" + $("#select1").val() + '&select2=all';
      });

      $("#select2").on("change", function(){
        if($(this).val() == "all"){
          location.href = "./my_learn_wrong_record.html?select1=" + $("#select1").val() + '&select2=all';
        }else{
          location.href = "./my_learn_wrong_record.html?select1=" + $("#select1").val() + '&select2=' + $("#select2").val();
        }
      });

      $("#select3").on("change", function(){
        location.href = "./my_learn_wrong_record.html?select1=" + $("#select1").val() + '&select2=' + $("#select2").val() + '&select3=' + $("#select3").val();
      });

    });
  </script>
<% end %>
