<% @on_my_learn_on = capture do %>-on<% end %>
<% @on_my_learn_record_on = capture do %>-on<% end %>
<% @on_my_learn_river_answer_on = capture do %>-on<% end %>

<% @show_my_learn_record_header = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>學習紀錄 - 答題河流</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/my_learn_river_answer_sub.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="tab_contents_block">

      <div class="tab_content_block">



        <div class="option_block">
          <div class="option_inner">
            <select class="option_style" id="select1"></select>
          </div>
          <div class="option_inner">
            <select class="option_style" id="select2"></select>
          </div>
          <div class="option_inner">
            <select class="option_style" id="select3"></select>
          </div>
        </div>


        <div class="chart_block">
          <div class="left_block">
            <div class="bottle_parent">
              <p class="para1">答對題數 <span id="count_test_correct"></span> 題</p>
              <p class="para2">已答題數 <span id="count_test_already"></span> 題</p>
              <div class="bottle" id="main_bottle">
                <!--
                <div class="subject_block">
                  <div class="subject -empty" style="height: 40%;"></div> // 空的佔位
                  <div class="subject -water" style="height: 10%;"></div> // 水
                  <div class="subject -green2" style="height: 50%;"></div> // 物理
                </div>
                -->
              </div>
              <p class="para3" id="select3_text"></p>
              <p class="para4">總題數</p>
              <p class="para5" id="count_test_total"></p>
            </div>
          </div>

          <div class="right_block">
            <ul class="bottle_list" id="bottle_list">
              <!--
              <li>
                <div class="bottle_parent">
                  <p class="para1 -small">00535 題</p>
                  <p class="para2 -small">00600 題</p>

                  <div class="bottle -small">
                    <div class="subject_block">
                      <div class="subject -empty" style="height: 100%;"></div> // 空的佔位
                      <div class="subject -water" style="height: 0%;"></div> // 水
                      <div class="subject -green2" style="height: 00%;"></div> // 物理
                    </div>

                    <span class="pipe_line -water -green2"></span>
                    // 或
                    <span class="pipe_line -lock"><img src="./images/icon/icon-lock.svg" class="icon_lock"></span>

                    <span class="red_line"></span>
                  </div>

                  <p class="para6">00800題</p>
                  <p class="para7">波</p>
                  <p class="para8">6-1波的性質</p>
                </div>
              </li>
              -->
            </ul>

          </div>
        </div>

        <div class="page_container">

          <div class="page_number_block">
            <button type="button" class="btn_item btn_left -disabled"></button>
            <span class="page_number"><span class="current_page">01</span><span class="span_slash">/</span><span id="total_page" class="total_page"></span></span>
            <button id="pager_right_button" type="button" class="btn_item btn_right -disabled"></button>
          </div>
        </div>
      </div>

    </div>


  </div>

</section>



<% content_for :other_contents do %>
  <script src="./js/url.min.js"></script>
  <script src="./js/api/my_learn_river_answer_sub.js"></script>
  <script>
    $(function(){

      // pager
      $("button.btn_item").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          var page_number_block = $(this).closest("div.page_number_block")[0];
          var current_page = parseInt($(page_number_block).find("span.current_page").html());
          var total_page = parseInt($(page_number_block).find("span.total_page").html());
          var item_list = $(this).closest("div.tab_content_block").find("ul.bottle_list")[0];

          if($(this).hasClass("btn_left")){
            var next_page = current_page - 1;
          }
          if($(this).hasClass("btn_right")){
            var next_page = current_page + 1;
          }

          $(item_list).children("li").addClass("no_display");
          $(item_list).children("li").each(function(index){
            if( 7*(next_page-1) < (index+1) && (index+1) <= 7*(next_page) ){
              $(this).removeClass("no_display");
            }
          });
          $(page_number_block).find("span.current_page").html(str_pad(next_page, 2, 0))

          $(this).closest("div.page_number_block").find("button.btn_item").removeClass("-disabled");
          if(next_page == 1){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_left").addClass("-disabled");
          }
          if(next_page == total_page){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_right").addClass("-disabled");
          }
        }
      });

      $("#select1").on("change", function(){
        location.href = "./my_learn_river_answer.html?select1=" + $("#select1").val() + '&select2=all';
      });
      $("#select2").on("change", function(){
        if($(this).val() == "all"){
          location.href = "./my_learn_river_answer.html?select1=" + $("#select1").val() + '&select2=all';
        }else{
          location.href = "./my_learn_river_answer_sub.html?select1=" + $("#select1").val() + '&select2=' + $("#select2").val();
        }
      });
      $("#select3").on("change", function(){
        location.href = "./my_learn_river_answer_sub.html?select1=" + $("#select1").val() + '&select2=' + $("#select2").val() + '&select3=' + $("#select3").val();
      });

    });
  </script>
<% end %>
