<% @on_my_learn_on = capture do %>-on<% end %>
<% @on_my_learn_record_on = capture do %>-on<% end %>
<% @on_my_learn_record_score_on = capture do %>-on<% end %>

<% @show_my_learn_record_header = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>學習紀錄 - 成績單</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/my_learn_record_score.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">

    <div class="info_block_container">

      <!-- 姓名 -->
      <div class="info_block">
        <div class="top_block">姓名</div>
        <div id="us_name" class="middle_block">
        </div>
      </div>

      <!-- 科目 -->
      <div class="info_block">
        <div class="top_block">科目</div>
        <div id="subject_name" class="middle_block">
        </div>
      </div>

      <!-- 範圍 -->
      <div class="info_block -range">
        <div class="top_block">範圍</div>
        <div class="middle_block">
          <ul id="range_list" class="range_list">
          </ul>
        </div>
      </div>

      <!-- 交卷時間 -->
      <div class="info_block -more-width1">
        <div class="top_block">交卷時間</div>
        <div class="middle_block -less-padding">
          <p id="tr_date" class="para_date"></p>
          <p id="tr_time" class="para_time"></p>
        </div>
      </div>

      <!-- 個人時間與平均 -->
      <div class="info_block -more-width2">
        <div class="top_block">個人時間與平均</div>
        <div class="middle_block -less-padding1">
          <div class="middle_inner_block">
            <div id="tqr_used_second_total" class="-left">
            </div>
            <div id="tqr_used_second_all" class="-right">
            </div>
          </div>
        </div>
      </div>

      <!-- 個人分數與平均 -->
      <div class="info_block -more-width2">
        <div class="top_block">個人分數與平均</div>
        <div class="middle_block -less-padding1">
          <div class="middle_inner_block">
            <div id="grade_total" class="-left">
            </div>
            <div id="grade_all" class="-right">
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="filter_block">
      <div class="all_or_wrong_block">

        <ul class="data_list">
          <li>
            <div class="radio_block">
              <input type="radio" name="option_check" value="all" id="check_all" class="option_radio" checked>
              <label for="check_all"><span class="inner_style">全部</span></label>
            </div>
          </li>
          <li>
            <div class="radio_block">
              <input type="radio" name="option_check" value="wrong_item" id="wrong_item" class="option_radio">
              <label for="wrong_item"><span class="inner_style">錯題</span></label>
            </div>
          </li>
        </ul>

      </div>
      <div class="q_and_answer">
        <ul class="q_and_answer_list">
          <li>
            <button type="button" class="btn_open_all_answer"><span class="-open">解答全開</span><span class="-close">解答全關</span></button>
          </li>
        </ul>
      </div>
    </div>


    <div class="item_list_block" id="item_list_block">
      <ul class="item_data_list_for_head">
        <li class="-head">
          <div class="-row">
            <div class="-col">收藏</div>
            <div class="-col">題號</div>
            <div class="-col">對錯</div>
            <div class="-col">全體對率</div>
            <div class="-col">時間</div>
            <div class="-col">全體均時</div>
            <div class="-col">題型</div>
            <div class="-col">知識概念</div>
            <div class="-col">解答</div>
          </div>
        </li>
      </ul>
      <ul id="item_list" class="item_data_list">
      </ul>

      <div class="page_container">
        <div class="page_number_block">

          <button type="button" id="pager_left_button" class="btn_item btn_left -disabled" data-page-count="10"></button> <!-- data-page-count 每頁幾筆 -->
          <span class="page_number"><span id="current_page" class="current_page">01</span><span class="span_slash">/</span><span id="total_page" class="total_page"></span></span>
          <button type="button" id="pager_right_button" class="btn_item btn_right -disabled" data-page-count="10"></button>

        </div>
        <ul class="other_list">
          <li><button type="button" class="btn_check -disabled">學習適性診斷</button></li>
          <li><button type="button" class="btn_challenge">再挑戰</button></li>
        </ul>
      </div>

    </div>

    <div class="print_block">
      <button type="button" onclick="javascript:testRecordPdf();" class="btn_print -disabled">列印</button>
    </div>

    <div class="recommend_block no_display">

      <!-- 若推播建議或補救建議只會出現一個的話，就加上 -only1 -->
      <div class="broadcast_help_recommend_block">
        <h2 class="title2 -top"><span class="-text">推<br>播<br>建<br>議</span></h2>
        <span class="-horizontal"></span> <!-- 若推播建議或補救建議只會出現一個的話，就不需要 span.-horizontal -->
        <h2 class="title2 -bottom"><span class="-text">補<br>救<br>建<br>議</span></h2>

        <ul class="item_list item_data_list" id="broadcast_data">
        </ul>
      </div>

      <div class="page_container">
        <div class="page_number_block">

          <button type="button" id="pager_left_button2" class="btn_item btn_left -disabled" data-page-count="4" data-for="recommend"></button>
          <span class="page_number"><span class="current_page" id="current_page2">01</span><span class="span_slash">/</span><span id="total_page2" class="total_page"></span></span>
          <button type="button" id="pager_right_button2" class="btn_item btn_right -disabled" data-page-count="4" data-for="recommend"></button>

        </div>
      </div>

    </div>

  </div>

</section>

<!-- 再挑戰 modal -->
<div id="challenge_modal" class="modal">
  <div class="modal_header">
    再挑戰
  </div>
  <div class="modal_content ">
    <p class="para">重新作答一次，確定嗎？</p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">取消</a>
    <a href="#" class="link_to_q_db_test" id="link_to_q_db_test">確定</a>
  </div>
</div>

<!-- 送出勘誤 modal -->
<div id="wrong_modal" class="modal">
	<div class="modal_header">
		勘誤平台
		<a href="#" rel="modal:close" class="modal_close">&times;</a>
	</div>
	<div class="modal_content">
		<textarea class="textarea_data" id="for_wrong" name="for_wrong" placeholder="請輸入勘誤文字"></textarea>
	</div>
	<div class="modal_footer">
		<button type="button" class="btn_send_data btn_send_wrong">送出</button>
	</div>
</div>

<!-- 送出筆記 modal -->
<div id="note_send_success_modal" class="modal">
	<div class="modal_header">
		發送成功
	</div>
	<div class="modal_content -content1">
		<p class="para">
			已儲存筆記
		</p>
	</div>
	<div class="modal_footer">
		<a href="#" rel="modal:close" class="modal_close">確定</a>
	</div>
</div>
<div id="note_send_fail_modal" class="modal">
  <div class="modal_header">
    發送失敗
  </div>
  <div class="modal_content -content1">
    <p class="para">
      未儲存筆記！
    </p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">確定</a>
  </div>
</div>

<!-- 送出勘誤 modal -->
<div id="wrong_send_success_modal" class="modal">
	<div class="modal_header">
		發送成功
	</div>
	<div class="modal_content -content1">
		<p class="para">
			已將訊息發送至勘誤系統。
		</p>
	</div>
	<div class="modal_footer">
		<a href="#" rel="modal:close" class="modal_close">確定</a>
	</div>
</div>

<!-- 送出解惑 modal -->
<div id="confuse_modal" class="modal">
	<div class="modal_header">
		我要發問
		<a href="#" rel="modal:close" class="modal_close">&times;</a>
	</div>
	<div class="modal_content">
		<textarea class="textarea_data" id="for_confuse" name="for_confuse" placeholder="請輸入發問問題"></textarea>
	</div>
	<div class="modal_footer">
		<button type="button" class="btn_send_data btn_confuse btn_send_confuse">送出</button>
	</div>
</div>

<!-- 送出解惑 modal -->
<div id="confuse_modal_2" class="modal">
  <div class="modal_header">
    <div class="btn_question_mark_block">
      <button type="button" class="btn_question_mark"><img src="./images/icon/icon-question-mark.svg" class="icon_question_mark"></button>
      <div class="question_content_toggle no_display">
        <span class="angle_top"><img src="./images/icon/icon_angle_top.svg"></span>
        閃電發問開放時間：<br>
        星期一至星期五 18:00~21:00<br>
        星期六至星期日 14:00~17:00、18:00~21:00<br><br>
        解題規則：<br>
        一次問一題，若一張圖片需解題目一題以上，<br>
        會再另外扣除點數。<br>
        申論題、證明題耗時較久系統不退點數。
      </div>
    </div>
    送至解惑
    <a href="#" rel="modal:close" class="modal_close">&times;</a>
  </div>
  <div class="modal_content -content2">
    <p class="para2">將影片截圖和隨手記的內容發送至解惑平臺。</p>
    <p class="para2">帳號剩餘解惑點數：<span id="user_points"></span>點。</p>
    <p class="para2">一般發問扣除100點；閃電發問扣除500點。</p>
  </div>
  <div class="modal_footer">
    <button type="button" class="btn_question -general" data-target-modal="confuse_send_success_modal">一般發問</button>
    <button type="button" class="btn_question -lightning" data-target-modal="confuse_send_success_modal">閃電發問</button>
  </div>
</div>

<!-- 解惑發送成功 modal -->
<div id="confuse_send_success_modal" class="modal">
	<div class="modal_header">
		發送成功
	</div>
	<div class="modal_content -content1">
		<p class="para">
			已將問題發送至解惑系統並扣除<span id="minus_point"></span>點。
		</p>
	</div>
	<div class="modal_footer">
		<a href="#" rel="modal:close" class="modal_close">確定</a>
	</div>
</div>

<input type="hidden" name="tmp_ol_id" id="tmp_ol_id" />

<% content_for :other_contents do %>
	<script src="./js/html2canvas/html2canvas.min.js"></script>
  <script src="./js/underscore/underscore-min.js"></script>
	<script src="./js/url.min.js"></script>
	<script src="./js/api/my_learn_record_score.js"></script>
	<script src="./js/api/m_e_usernote.js"></script>
	<script src="./js/api/m_e_userquestion.js"></script>
	<script src="./js/api/m_e_usererrata.js"></script>
	<script src="./js/api/m_e_usercollection.js"></script>
	<script src="./js/api/m_e_test.js"></script>
	<script>
		// 截圖操作
		var imgBase64_1 = "", imgBase64_2 = "", imgBase64_3 = "";
    // 影片暫停
    var pause_video_func = function(){
      var video_el = $("video.answer_video");
      $.each(video_el, function(index, video_item){
        video_item.pause();
      });
    };
		$(function(){

			// 收藏
			$(document).on("click", "span.collect_action", function(){
  				$(this).find("img.-no-collect").toggleClass("-hide");
  				$(this).find("img.-collect").toggleClass("-hide");

				objIndex = collectionArr.findIndex((obj => obj.tqId == $(this).data("tq_id")));
				if ($(this).find("img.-no-collect").hasClass("-hide")) {
					if (newUserCollection(g_obj.db_practice_ot_id, $(this).attr('data-ol_id'), "", $(this).attr('data-tq_id'), "", "", "")){
						collectionArr[objIndex].isCollection = true;
						$(this).attr("data-status", "1");
						$(this).attr("data-uc-id", tmp_uc_id);
            listData[objIndex].is_collection = tmp_uc_id;
					}
				} else {
					if (delUserCollection($(this).attr('data-uc-id'))){
						collectionArr[objIndex].isCollection = false;
						$(this).attr("data-status", "0");
						$(this).attr("data-uc-id", "");
            listData[objIndex].is_collection = 0;
					}
				}
			});

			// 取得使用者點數
			getUserPoint();


      // pager
      $("button.btn_item").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          pause_video_func();
          // 各題收起，按鈕變「解答全開」
          slide_up_q();

          var page_number_block = $(this).closest("div.page_number_block")[0];
          var current_page = parseInt($(page_number_block).find("span.current_page").html());
          var total_page = parseInt($(page_number_block).find("span.total_page").html());
          if($(this).attr("data-for") == "recommend"){
            var item_list = $(this).closest("div.recommend_block").find("ul.item_data_list")[0];
          }else{
            var item_list = $(this).closest("div.item_list_block").find("ul.item_data_list")[0];
          }
          var items_per_page = parseInt($(this).attr("data-page-count"));

          if($(this).hasClass("btn_left")){
            var next_page = current_page - 1;
          }
          if($(this).hasClass("btn_right")){
            var next_page = current_page + 1;
          }

          $(item_list).children("li").addClass("no_display");
          $(item_list).children("li").each(function(index){
            if( items_per_page*(next_page-1) < (index+1) && (index+1) <= items_per_page*(next_page) ){
              $(this).removeClass("no_display");
            }
          });
          $(page_number_block).find("span.current_page").html(str_pad(next_page, 2, 0))

          $(this).closest("div.page_number_block").find("button.btn_item").removeClass("-disabled");
          $(this).closest("div.page_number_block").find("button.btn_pager_left, button.btn_pager_right").removeClass("-disabled");
          if(next_page == 1){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_left").addClass("-disabled");
            $(this).closest("div.page_number_block").find("button.btn_pager_left").addClass("-disabled");
          }
          if(next_page == total_page){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_right").addClass("-disabled");
            $(this).closest("div.page_number_block").find("button.btn_pager_right").addClass("-disabled");
          }
        }
      });

      // 各題收起，按鈕變「解答全開」
      function slide_up_q(){
        $("#item_list").find("button.btn_open").each(function(){
          if($(this).hasClass("-on")){
            $(this).click();
          }
        });
        $("button.btn_open_all_answer").removeClass("-on");
      }

      // 單獨解答開啟
      $(document).on("click", "button.btn_open", function(){
        pause_video_func();
        $(this).toggleClass("-on");
        $(this).closest("li").find("div.drawer_block").slideToggle();

        check_all_question(this);
      });

      // 解答全開
      $("button.btn_open_all_answer").on("click", function(){
        pause_video_func();
        if($(this).hasClass("-on")){
          $("#item_list").children("li").each(function(){
            if(!$(this).hasClass("no_display")){
              if($(this).find("button.btn_open").hasClass("-on")){
                $(this).find("button.btn_open").click();
              }
            }
          });
        }else{
          $("#item_list").children("li").each(function(){
            if(!$(this).hasClass("no_display")){
              if(!$(this).find("button.btn_open").hasClass("-on")){
                $(this).find("button.btn_open").click();
              }
            }
          });
        }
        //$(this).toggleClass("-on");
      });

      // 再挑戰
      $("button.btn_challenge").on("click", function(){
        pause_video_func();
        $("#challenge_modal").modal();
      });

      // 學習適性診斷
      $("button.btn_check").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          $("div.recommend_block, div.print_block").toggleClass("no_display");
        }
      });

			// 新增筆記
			$(document).on("click", "button.btn_note", function() {
				html2canvas(document.querySelector("#score_question_" + currentQuestion), {useCORS: true}).then(canvas => {
					imgBase64_1 = canvas.toDataURL();
					setTimeout(function(){
						if (saveUserNote(imgBase64_1, imgBase64_2, imgBase64_3, $.trim($("#range").val()))) {
							// 成功處理
							$("#note_send_success_modal").modal();
							$("#range").val("");
						}
						else {
							// 失敗處理
							$("#note_send_fail_modal").modal();
						}
					}, 2000);
				});
			});
			// 送出勘誤 modal
			$(document).on("click", "button.btn_wrong", function(){
				$("#"+$(this).attr("data-target-modal")).modal();
			});
			$("button.btn_send_wrong").on("click", function(){
				if ($.trim($("#for_wrong").val()) == "") {
					alert("請輸入勘誤文字");
					return;
				}
				html2canvas(document.querySelector("#score_question_" + currentQuestion), {useCORS: true}).then(canvas => {
					imgBase64_1 = canvas.toDataURL();
					// console.log(imgBase64_1);
					setTimeout(function(){
						if (newUserErrata(imgBase64_1, $.trim($("#for_wrong").val()), g_obj.db_practice_ot_id, $("#score_question_" + currentQuestion).attr("data-ol-id"), $("#score_question_" + currentQuestion + " .collect_action").attr("data-tq_id"))) {
							// 成功處理
							$("#wrong_send_success_modal").modal();
							$("#for_wrong").val("");
						}
					}, 2000);
				});
			});

			// 跳出解惑填寫 modal
			$(document).on("click", "button.btn_confuse", function(){
				$("#"+$(this).attr("data-target-modal")).modal();
			});
			// 跳出解惑說明 modal
			$("button.btn_confuse").on("click", function(){
				if ($.trim($("#for_confuse").val()) == "") {
					alert("請輸入發問問題");
					return;
				}

				// 取得是否為解題時間
				var boolSolvetime = userQuestionSolvetimeStudent();
				if (!boolSolvetime) {
					$('.btn_question.-lightning').addClass('-disabled');
				}
				else {
					$('.btn_question.-lightning').removeClass('-disabled');
				}

				$("#confuse_modal_2").modal();
			});

			// 送出解惑
			$("#confuse_modal_2 button.btn_question").on("click", function(){
				if ($(this).hasClass('-disabled')) return;	// 非解題時間
				var isLightning = 0;
				if($(this).hasClass("-general")) { // 一般發問
					$("#minus_point").html(100);
				}
				else { // 閃電發問
					isLightning = 1;
					$("#minus_point").html(500);
				}

				html2canvas(document.querySelector("#score_question_" + currentQuestion), {useCORS: true}).then(canvas => {
					imgBase64_1 = canvas.toDataURL();
					// console.log(imgBase64_1);
					setTimeout(function(){
						if (newUserQuestion(imgBase64_1, imgBase64_2, imgBase64_3, $.trim($("#for_confuse").val()), $.trim($("#for_confuse").val()), g_obj.db_practice_ot_id, $("#score_question_" + currentQuestion + " span.collect_action").attr("data-tq_id"), isLightning, $("#score_question_" + currentQuestion).attr("data-ol-id"))) {
							// 成功處理
							$("#confuse_send_success_modal").modal();
							$("#for_confuse").val("");
							// 重新取得使用者點數
							getUserPoint();
						}
					}, 2000);
				});
			});
			// 影像詳解
			$(document).on("click", "button.btn_img_answer", function(){
        if(!$(this).hasClass("-off")){
          $(this).closest("div.drawer_block").find("div.answer_left_block, div.answer_right_block").toggleClass("no_display");
  				$(this).closest("div.drawer_block").find("div.video_container").toggleClass("no_display");
        }
			});
      // 解惑 modal 的問號 icon
      $("#confuse_modal_2").find("button.btn_question_mark").on("click", function(){
        $(this).closest("div.btn_question_mark_block").find("div.question_content_toggle").toggleClass("no_display");
      });
		});

		var currentQuestion = 0;
		function setQuestionNo(i) {
			currentQuestion = i;
		}

    // 檢查當頁目前所有題目為全開或全關，然後控制 button.btn_open_all_answer 的狀態
    function check_all_question(target){
      var total_rows_status = [];
      $(target).closest("ul.item_data_list").children("li").each(function(){
        if(!$(this).hasClass("no_display")){
          $(this).find("button.btn_open").each(function(){
            total_rows_status.push($(this).hasClass("-on"));
          });
        }
      });

      total_rows_status = _.uniq(total_rows_status);
      if(total_rows_status.length == 1){
        if(total_rows_status[0]){ // 代表目前是全開狀態
          $("button.btn_open_all_answer").addClass("-on");
        }else{ // 代表目前是全關狀態
          $("button.btn_open_all_answer").removeClass("-on");
        }
      }
    }
	</script>
<% end %>
