<% @on_my_learn_on = capture do %>-on<% end %>
<% @on_my_learn_collection_on = capture do %>-on<% end %>
<% @on_my_learn_collection_teacher_on = capture do %>-on<% end %>

<% @show_my_learn_collection_header = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>我的收藏</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/my_learn_collection.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="tab_contents_block">

      <div class="tab_content_block">
        <ul class="sort_list">
          <li><a href="#" id="sort_time" class="sort_link" data-sort="1">時間排序</a></li>
          <li><a href="#" id="sort_unit" class="sort_link" data-sort="0">單元排序</a></li>
        </ul>

        <div class="option_block">
          <div class="option_inner">
            <select class="option_style" id="select1"></select>
          </div>
          <div class="option_inner">
            <select class="option_style" id="select2"></select>
          </div>
          <div class="option_inner no_display">
            <select class="option_style" id="select3"></select>
          </div>
        </div>

        <ul class="item_list" id="item_list">
          <li id="loading">資料擷取中…</li>
          <!--
          <li>
            <a href="#" class="item_link">
              <button type="button" class="btn_remove"><img src="./images/icon/btn-delete.svg"></button>
              <img src="http://via.placeholder.com/190x120" class="link_img">
              <div class="desc_block">
                <p class="para1">第一章(<%#=i+1%>)</p>
                <p class="para2">1-1 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
              </div>
            </a>
          </li>
          -->
        </ul>
        <div class="page_container" id="page_container">
          <div class="page_number_block">
            <button type="button" class="btn_item btn_left -disabled"></button>
            <span class="page_number"><span class="current_page">01</span><span class="span_slash">/</span><span id="total_page" class="total_page"></span></span>
            <button id="pager_right_button" type="button" class="btn_item btn_right -disabled"></button>
          </div>
        </div>
      </div>

    </div>


  </div>

</section>

<div id="send_cancel_modal" class="modal">
	<div class="modal_header">
		取消收藏
	</div>
	<div class="modal_content">
		<p class="para1">確定要取消收藏嗎？</p>
	</div>
	<div class="modal_footer">
		<a href="#" rel="modal:close" class="modal_close">取消</a>
		<button type="button" class="btn_submit_data">確定</button>
	</div>
</div>

<% content_for :other_contents do %>
	<script src="./js/url.min.js"></script>
	<script src="./js/api/my_learn_collection.js"></script>
	<script src="./js/api/m_e_usercollection.js"></script>
	<script>
	$(function(){
		// 取消收藏
		var cancelUCID = "";
		$(document).on("click", "button.btn_remove", function(e){
			e.preventDefault();
			e.stopPropagation();
			cancelUCID = $(this).attr("data-uc-id");
			$("#send_cancel_modal").modal();
		});
		$(document).on("click", "button.btn_submit_data", function(e){
			if (delUserCollection(cancelUCID)) {
				window.location.reload();
			}
			else {
				alert("移除失敗");
			}
		});

      // pager
      $("button.btn_item").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          var page_number_block = $(this).closest("div.page_number_block")[0];
          var current_page = parseInt($(page_number_block).find("span.current_page").html());
          var total_page = parseInt($(page_number_block).find("span.total_page").html());
          var item_list = $(this).closest("div.tab_content_block").find("ul.item_list")[0];

          if($(this).hasClass("btn_left")){
            var next_page = current_page - 1;
          }
          if($(this).hasClass("btn_right")){
            var next_page = current_page + 1;
          }

          $(item_list).children("li").addClass("no_display");
          $(item_list).children("li").each(function(index){
            if( 15*(next_page-1) < (index+1) && (index+1) <= 15*(next_page) ){
              $(this).removeClass("no_display");
            }
          });
          $(page_number_block).find("span.current_page").html(str_pad(next_page, 2, 0))

          $(this).closest("div.page_number_block").find("button.btn_item").removeClass("-disabled");
          if(next_page == 1){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_left").addClass("-disabled");
          }
          if(next_page == total_page){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_right").addClass("-disabled");
          }
        }
      });

      // 時間排序
      $("#sort_time, #sort_unit").on("click", function(e){
        e.preventDefault();
        var url_obj = url('?');
        if(url_obj == undefined){
          url_obj = {};
        }
        url_obj.uc_order = $(this).attr("data-sort");
        var url_str = "";
        for (var key in url_obj) {
          if (url_str != "") {
            url_str += "&";
          }
          url_str += key + "=" + encodeURIComponent(url_obj[key]);
        }
        location.href = './my_learn_collection.html?' + url_str;
      });

      $("#select1").on("change", function(){
        location.href = "./my_learn_collection.html?ot_id=" + otId + "&select1=" + $("#select1").val() + '&select2=all&uc_order=' + uc_order;
      });

      $("#select2").on("change", function(){
        if($(this).val() == "all"){
          location.href = "./my_learn_collection.html?ot_id=" + otId + "&select1=" + $("#select1").val() + '&select2=all&uc_order=' + uc_order;
        }else{
          location.href = "./my_learn_collection.html?ot_id=" + otId + "&select1=" + $("#select1").val() + '&select2=' + $("#select2").val() + '&uc_order=' + uc_order;
        }
      });
      if(otId != "2"){ // 段考直播
        $("#select3").on("change", function(){
          location.href = "./my_learn_collection.html?ot_id=" + otId + "&select1=" + $("#select1").val() + '&select2=' + $("#select2").val() + '&select3=' + $("#select3").val() + '&uc_order=' + uc_order;
        });
      }

    });
  </script>
<% end %>
