<% @on_my_learn_on = capture do %>-on<% end %>
<% @on_my_learn_record_on = capture do %>-on<% end %>
<% @on_my_learn_river_video_on = capture do %>-on<% end %>

<% @show_my_learn_record_header = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>學習紀錄 - 影片河流</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/my_learn_river_video.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="tab_contents_block">

      <div class="tab_content_block">

        <div class="option_block">
          <div class="option_inner">
            <select class="option_style" id="select1"></select>
          </div>
          <div class="option_inner">
            <select class="option_style -option2" id="select2"></select>
          </div>
        </div>


        <div class="chart_block">
          <div class="left_block">
            <div class="bottle_parent">
              <p class="para1">已觀看時數</p>
              <p class="para2" id="select1_vr_second_total"></p>
              <div class="bottle" id="main_bottle">
                <!--
                <div class="subject_block">
                  <div class="subject -empty" style="height: 50%;"></div> //空的佔位
                  <div class="subject -water" style="height: 50%;"></div> //水
                </div>
                -->
              </div>
              <p class="para3" id="select1_text"></p>
              <p class="para4">影片總時數</p>
              <p class="para5" id="select1_vd_second"></p>
            </div>
          </div>

          <div class="right_block">
            <ul class="bottle_list" id="bottle_list">
              <!--
              <li>
                <div class="bottle_parent">
                  <p class="para1 -small">1小時40分鐘</p>
                  <div class="bottle -small">
                    <div class="subject_block">
                      <div class="subject -empty" style="height: 50%;"></div> // 空的佔位
                      <div class="subject -water" style="height: 50%;"></div> // 水
                    </div>
                    <span class="subject_text">化學</span>
                  </div>
                  <p class="para6">2小時10分</p>
                </div>
              </li>
              -->
            </ul>

          </div>
        </div>

      </div>

    </div>


  </div>

</section>



<% content_for :other_contents do %>
  <script src="./js/url.min.js"></script>
  <script src="./js/underscore/underscore-min.js"></script>
  <script src="./js/api/my_learn_river_video.js"></script>
  <script>
    $(function(){

      $("#select1").on("change", function(){
        location.href = "./my_learn_river_video.html?select1=" + $("#select1").val() + '&select2=all';
      });
      $("#select2").on("change", function(){
        if($(this).val() == "all"){
          location.href = "./my_learn_river_video.html?select1=" + $("#select1").val() + '&select2=all';
        }else{
          location.href = "./my_learn_river_video_sub.html?select1=" + $("#select1").val() + '&select2=' + $("#select2").val();
        }
      });

    });
  </script>
<% end %>
