<% @on_my_learn_on = capture do %>-on<% end %>
<% @on_my_learn_record_on = capture do %>-on<% end %>
<% @on_my_learn_river_answer_on = capture do %>-on<% end %>

<% @show_my_learn_record_header = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>學習紀錄 - 答題河流</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/my_learn_river_answer.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="tab_contents_block">

      <div class="tab_content_block">


        <div class="option_block">
          <div class="option_inner">
            <select class="option_style" id="select1"></select>
          </div>
          <div class="option_inner">
            <select class="option_style -option2" id="select2"></select>
          </div>
        </div>


        <div class="chart_block">
          <div class="left_block">
            <div class="bottle_parent">
              <p class="para1">答對題數 <span id="count_test_correct"></span> 題</p>
              <p class="para2">已答題數 <span id="count_test_already"></span> 題</p>
              <div class="bottle" id="main_bottle">
                <!--
                <div class="subject_block">
                  <div class="subject -empty" style="height: 5%;"></div> // 空的佔位
                  <div class="subject -water" style="height: 5%;"></div> // 水
                  <div class="subject -green3" style="height: 5%;"></div> // 公民
                  <div class="subject -pink" style="height: 5%;"></div> // 地理
                  <div class="subject -brown" style="height: 10%;"></div> // 歷史
                  <div class="subject -green2" style="height: 10%;"></div> // 物理
                  <div class="subject -red2" style="height: 10%;"></div> // 生物
                  <div class="subject -blue" style="height: 10%;"></div> // 數學
                  <div class="subject -red1" style="height: 10%;"></div> // 英文
                  <div class="subject -purple" style="height: 10%;"></div> // 國文
                  <div class="subject -green1" style="height: 10%;"></div> // 化學
                  <div class="subject -yellow" style="height: 10%;"></div> // 地科
                </div>
                -->
              </div>
              <p class="para3" id="select1_text"></p>
              <p class="para4">總題數</p>
              <p class="para5" id="count_test_total"></p>
            </div>
          </div>

          <div class="right_block">
            <ul class="bottle_list" id="bottle_list"></ul>
          </div>
        </div>

      </div>

    </div>


  </div>

</section>



<% content_for :other_contents do %>
  <script src="./js/url.min.js"></script>
  <script src="./js/underscore/underscore-min.js"></script>
  <script src="./js/api/my_learn_river_answer.js"></script>
  <script>
    $(function(){
      /*
      $("select.-option2").on("change", function(){
        location.href = "./my_learn_river_answer_sub.html";
      });
      */


      $("#select1").on("change", function(){
        location.href = "./my_learn_river_answer.html?select1=" + $("#select1").val() + '&select2=all';
      });

      $("#select2").on("change", function(){
        if($(this).val() == "all"){
          location.href = "./my_learn_river_answer.html?select1=" + $("#select1").val() + '&select2=all';
        }else{
          location.href = "./my_learn_river_answer_sub.html?select1=" + $("#select1").val() + '&select2=' + $("#select2").val();
        }
      });

    });
  </script>
<% end %>
