<% @on_my_learn_on = capture do %>-on<% end %>
<% @on_my_learn_notes_on = capture do %>-on<% end %>
<% @show_my_learn_notes_header_only = capture do %>true<% end %>

<% @show_my_learn_notes_header = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>筆記列表</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/my_learn_notes_list.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="tab_contents_block">

      <div class="tab_content_block">
        <h2 id="main_title" class="title2"></h2>
        <ul id="item_list" class="item_list"><span class="-loading">資料擷取中…</span></ul>

        <div id="page_container" class="page_container">
          <div class="page_number_block">
            <button type="button" class="btn_item btn_left -disabled"></button>
            <span class="page_number"><span class="current_page">01</span><span class="span_slash">/</span><span id="total_page" class="total_page"></span></span>
            <button id="pager_right_button" type="button" class="btn_item btn_right -disabled"></button>
          </div>
        </div>
      </div>

    </div>

    <h2 class="title2">最新筆記</h2>
    <div class="recently_view">
      <ul class="item_list" id="recently_view_item_list"><span class="-loading">資料擷取中…</span>
        <!--
        <li>
          <a href="./my_learn_notes_list_single.html" class="item_link">
            <img src="http://via.placeholder.com/190x120" class="link_img">
            <div class="desc_block">
              <p class="para1">第一章</p>
              <p class="para2">1-1 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            </div>
          </a>
        </li>
        -->
      </ul>
    </div>
  </div>

</section>

<div id="confirm_note_delete_modal" class="modal">
  <div class="modal_header">
    刪除筆記
  </div>
  <div class="modal_content">
    <p class="para1">確定要刪除嗎？</p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">取消</a>
    <button onclick="javascript:delUserNote($('#del_un_id').val());" type="button" class="btn_submit_data">確定</button>
  </div>
  <input type="hidden" id="del_un_id" />
</div>

<% content_for :other_contents do %>
  <script src="./js/url.min.js"></script>
  <script src="./js/api/header_text.js"></script>
  <script src="./js/api/my_learn_all.js"></script>
  <script src="./js/api/my_learn_notes_header.js"></script>
  <script src="./js/api/my_learn_notes_list.js"></script>
  <script src="./js/api/m_e_usernote.js"></script>
  <script>
    $(function(){

      // pager
      $("button.btn_item").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          var page_number_block = $(this).closest("div.page_number_block")[0];
          var current_page = parseInt($(page_number_block).find("span.current_page").html());
          var total_page = parseInt($(page_number_block).find("span.total_page").html());
          var item_list = $(this).closest("div.tab_content_block").find("ul.item_list")[0];

          if($(this).hasClass("btn_left")){
            var next_page = current_page - 1;
          }
          if($(this).hasClass("btn_right")){
            var next_page = current_page + 1;
          }

          $(item_list).children("li").addClass("no_display");
          $(item_list).children("li").each(function(index){
            if( 15*(next_page-1) < (index+1) && (index+1) <= 15*(next_page) ){
              $(this).removeClass("no_display");
            }
          });
          $(page_number_block).find("span.current_page").html(str_pad(next_page, 2, 0))

          $(this).closest("div.page_number_block").find("button.btn_item").removeClass("-disabled");
          if(next_page == 1){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_left").addClass("-disabled");
          }
          if(next_page == total_page){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_right").addClass("-disabled");
          }
        }
      });

      // 刪除項目(x 按鈕)
      $(document).on("click", "button.btn_delete", function(e){
        e.stopPropagation();
        e.preventDefault();
        $("#confirm_note_delete_modal").modal();
      });


    });
  </script>
<% end %>
