<% @on_my_learn_on = capture do %>-on<% end %>
<% @on_my_learn_collection_on = capture do %>-on<% end %>
<% @on_my_learn_collection_teacher_on = capture do %>-on<% end %>

<% @show_my_learn_collection_header = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>單一題目收藏</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/my_learn_collection_q.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">
    <a href="#" class="tag_plus -on" id="tag_plus"><img src="./images/icon/icon_tag_plus.svg" class="-plus"><img src="./images/icon/icon_tag_cancel.svg" class="-cancel"></a>
    <h2 class="title2 -for-main" id="main_title"></h2>
    <div class="q_block_container" id="capture_block">
      <div class="left_block">
        <div class="q_list_block">

          <div class="q_list_parent">
            <ul id="tab_list" class="q_list">
            </ul>
          </div>

          <div id="tabs_question" class="each_q_block_container">
          </div>

          <div class="answer_block_container">
            <div id="tabs_option" class="answer_block_parent">
            </div>
            <!--
            <ul class="next_or_previous">
              <li><button type="button" class="q_next -p">上一題</button></li>
              <li><button type="button" class="q_next -n">下一題</button></li>
            </ul>
            -->
            <div class="confirm_block">
              <button type="button" class="btn_confirm" id="btn_confirm">確定</button>
            </div>
          </div>

        </div>
      </div>
      <div class="right_block">

        <div id="tabs_answer">
        </div>

        <div class="tab_list_block_parent_container">
          <div class="tab_list_block_parent">
            <div class="tab_list_block">
              <ul class="tab_list">
                <!-- 有 -have-data 表示裡面有資料，文字為白色，可點選；反之，若沒有資料，文字為灰色，不能點選 -->
                <li><button id="navi_tab_btn" type="button" class="btn_tab -have-data" data-target="tab_1">觀念導引</button></li>
                <li><button id="explain_tab_btn" type="button" class="btn_tab -have-data -disabled" data-target="tab_2">文字詳解</button></li>
                <li><button id="video_tab_btn" type="button" class="btn_tab -have-data -disabled" data-target="tab_3">影像詳解</button></li>
              </ul>
            </div>
            <p id="remain_wrong" class="remain_wrong"></p>
          </div>
        </div>

      </div>
    </div>

    <!--
    <div class="comment_block -none">
      <div class="left_block">
        <div class="action_block">
          <ul class="send_list">
            <li><button type="button" class="btn_send btn_wrong" data-target-modal="wrong_modal">送出勘誤</button></li>
            <li><button type="button" class="btn_send btn_confuse" data-target-modal="confuse_modal">送出解惑</button></li>
            <li><button type="button" class="btn_send btn_save_note">儲存筆記<div id="placeholder_canvas"></div></button></li>
          </ul>
        </div>
      </div>
      <div class="right_block">
        <div class="action_block">

          <ul class="send_list">
            <li><button type="button" class="btn_send btn_test_finish">測驗完畢</button></li>
          </ul>
        </div>
      </div>
    </div>
    -->


  </div>

</section>

<!-- 送出勘誤 modal -->
<!--
<div id="wrong_modal" class="modal">
  <div class="modal_header">
    勘誤平台
    <a href="#" rel="modal:close" class="modal_close">&times;</a>
  </div>
  <div class="modal_content">
    <textarea class="textarea_data" placeholder="請輸入勘誤文字"></textarea>
  </div>
  <div class="modal_footer">
    <button type="button" class="btn_send_data">送出</button>
  </div>
</div>
-->

<!-- 送出解惑 modal -->
<!--
<div id="confuse_modal" class="modal">
  <div class="modal_header">
    我要發問
    <a href="#" rel="modal:close" class="modal_close">&times;</a>
  </div>
  <div class="modal_content">
    <textarea class="textarea_data" placeholder="請輸入發問問題"></textarea>
  </div>
  <div class="modal_footer">
    <button type="button" class="btn_send_data">送出</button>
  </div>
</div>
-->

<% content_for :other_contents do %>

	<script src="./js/url.min.js"></script>
	<script src="./js/api/my_learn_collection_q.js"></script>
	<script src="./js/api/m_e_usercollection.js"></script>
	<script>

    $(function(){

      $("#collection_type3").addClass("-on"); // header 的題目收藏 -on

      /*
      // 題號分頁
      $("button.btn_q_and_tab").on("click", function(){
        $(this).closest("ul.q_list").find("button.btn_q_and_tab").removeClass("-on");
        $(this).addClass("-on");

        var el_q_block_container = $(this).closest("div.q_block_container")[0];
        $(el_q_block_container).find("div.for_each_q").removeClass("-on");
        $(el_q_block_container).find("div.for_each_q." + $(this).attr("data-target")).addClass("-on");

      });
      */
      // 右側 觀念導覽、文字詳解、影像詳解 分頁
      $("button.btn_tab").on("click", function(){
        if($(this).hasClass('-have-data') && !$(this).hasClass('-disabled')){
          $(this).closest("ul.tab_list").find("button.btn_tab").removeClass("-on");
          $(this).addClass("-on");

          var el_right_block = $(this).closest("div.right_block").find("div.tab").removeClass("-on");
          var el_right_block = $(this).closest("div.right_block").find("div.tab." + $(this).attr("data-target")).addClass("-on");
        }
      });

      // 答題左右滑動
      $(document).on("click", "button.btn_answer_move.btn_right", function(){
        var q_answer_list = $(this).closest("div.answer_block").find("ul.q_answer_list")[0];
        var q_answer_list_length = $(q_answer_list).children("li").length; // 選項總個數
				var data_original_index = parseInt($(q_answer_list).attr("data-original-index"));
        var remain_length = q_answer_list_length - (data_original_index+6);
				var move_index = (remain_length>=6 ? 6: remain_length);
				if(q_answer_list_length > 6) {
					$(q_answer_list).children("li").animate({
						left: "-="+(68*move_index)+"px"
					}, "slow");
					$(q_answer_list).attr("data-original-index", data_original_index + move_index);
				}
      });
      $(document).on("click", "button.btn_answer_move.btn_left", function(){
        var q_answer_list = $(this).closest("div.answer_block").find("ul.q_answer_list")[0];
        var q_answer_list_length = $(q_answer_list).children("li").length; // 選項總個數
				var data_original_index = parseInt($(q_answer_list).attr("data-original-index"));

        var remain_length = data_original_index;
				var move_index = (remain_length>=6 ? 6: remain_length);

				if(data_original_index >= 1){
					$(q_answer_list).children("li").animate({
						left: "+="+(68*move_index)+"px"
					}, "slow");
					$(q_answer_list).attr("data-original-index", data_original_index - move_index);
				}
      });

      // 確定
      $("button.btn_confirm").on("click", function(){

        if(!$(this).hasClass("-disabled")){
          var el_ul_q_list = $(this).closest("div.q_list_block").find("ul.q_list");
          var btn_q_and_tab = $(el_ul_q_list).find("button.btn_q_and_tab.-on");
          var tqt_id = parseInt($(btn_q_and_tab).attr("data-tqt-id"));
          if($(this).closest("div.q_list_block").find("div.answer_block.-on").find("button.btn_answer.-on").length < 1 && tqt_id != 4){ // 表示尚未作答且不是非選擇(非選擇為 4)

          }else{
            $(this).addClass("-disabled");



            if($(btn_q_and_tab).attr("data-multiple") == "1"){ // 表示為多選題
              var correct_count = 0; // 正確答案有幾個
              $(this).closest("div.q_list_block").find("div.answer_block.-on").find("button.btn_answer").each(function(i, item){
                if($(item).data("correct") == "1"){
                  correct_count++;
                }
              });
              var correct_user_answer_count = 0; // 使用者作答有幾個是正確的
              var user_answer_count = 0; // 使用者作答有幾個
              $(this).closest("div.q_list_block").find("div.answer_block.-on").find("button.btn_answer.-on").each(function(i, item){
                user_answer_count++;
                if($(item).data("correct") == "1"){
                  correct_user_answer_count++;
                }else{
                  $(this).addClass("-wrong");
                }
              });

              if(correct_count == correct_user_answer_count && user_answer_count == correct_user_answer_count){ // 表示答對
                $(el_ul_q_list).find("button.btn_q_and_tab.-on").addClass("-right");
                // 更新剩餘錯題數量
                //remainWrongCount--;
                //$("#remain_wrong").html('剩餘錯題數量：' + remainWrongCount + '題');
              }else{
                $(el_ul_q_list).find("button.btn_q_and_tab.-on").addClass("-wrong");
              }

            }else{ // 單選題
              if(tqt_id == 4){ // 非選擇

              }else{
                var answer_correct = $(this).closest("div.q_list_block").find("div.answer_block.-on").find("button.btn_answer.-on").data("correct");
                if(answer_correct == "1"){
                  $(el_ul_q_list).find("button.btn_q_and_tab.-on").addClass("-right");
                  // 更新剩餘錯題數量
                  //remainWrongCount--;
                  //$("#remain_wrong").html('剩餘錯題數量：' + remainWrongCount + '題');
                }else{
                  $(el_ul_q_list).find("button.btn_q_and_tab.-on").addClass("-wrong");
                  // 作答的那個標示成錯
                  $(this).closest("div.q_list_block").find("div.answer_block.-on").find("button.btn_answer.-on").addClass("-wrong");
                }
              }

            }

            // 將正確答案標示出來
            if(tqt_id != 4){ // 非選擇就跳過
              $(this).closest("div.q_list_block").find("div.answer_block.-on").find("button.btn_answer").each(function(i, item){
                if($(this).data("correct") == "1"){
                  $(this).addClass("-right");
                }
              });
            }

            $(this).closest("div.q_list_block").find("div.answer_block.-on").find("button.btn_answer").addClass("-disabled"); // 按鈕不能再按

            // 顯示詳解
            //$("#explain" + currentTqId).css('visibility', 'visible');
            //$("#video" + currentTqId).css('visibility', 'visible');

            // 切換到文字詳解頁籤
            var btn_explain = $(this).closest("div.q_block_container").find("div.right_block").find("div.tab_list_block").find("ul.tab_list").find("button.btn_tab").eq(1);
            if($(btn_explain).hasClass("-have-data") && $(btn_explain).hasClass("-disabled")){
              $(btn_explain).removeClass("-disabled");
            }
            var btn_video = $(this).closest("div.q_block_container").find("div.right_block").find("div.tab_list_block").find("ul.tab_list").find("button.btn_tab").eq(2);
            if($(btn_video).hasClass("-have-data") && $(btn_video).hasClass("-disabled")){
              $(btn_video).removeClass("-disabled");
            }
          }

        }

      });

      // 直接點答題
      $(document).on("click", "button.btn_answer", function(){
        var el_ul_q_list = $(this).closest("div.q_list_block").find("ul.q_list");

        if(!$(this).hasClass("-disabled")){
          var btn_q_and_tab = $(el_ul_q_list).find("button.btn_q_and_tab.-on");
          if($(btn_q_and_tab).attr("data-multiple") == "1"){ // 表示為多選題
          }else{ // 單選題
            $(this).closest("ul.q_answer_list").find("button.btn_answer").removeClass("-on");
          }
          //$(this).closest("ul.q_answer_list").find("button.btn_answer").addClass("-disabled");
          if ($(this).hasClass("-on")) {
              $(this).removeClass("-on");
          } else {
              $(this).addClass("-on");
          }


          $(btn_q_and_tab).removeClass("-right").removeClass("-wrong");

          $(this).removeClass("-right").removeClass("-wrong");
          if($(this).data("correct") == 1){
            //$(el_ul_q_list).find("button.btn_q_and_tab.-on").addClass("-right");
            //$(this).addClass("-right");

            // 更新剩餘錯題數量
            //remainWrongCount--;
            //$("#remain_wrong").html('剩餘錯題數量：' + remainWrongCount + '題');
          }else{
            //$(el_ul_q_list).find("button.btn_q_and_tab.-on").addClass("-wrong");
            //$(this).addClass("-wrong");
          }
        }


        // 判斷全部答題完畢，才出現 送出勘誤那排 button
        /*
        var answer_all = true;
        $(el_ul_q_list).find("button.btn_q_and_tab").each(function(index, item){
          if(!$(item).hasClass("-right")){
            if(!$(item).hasClass("-wrong")){
              answer_all = false;
            }
          }
        });
        if(answer_all){
          $(this).closest("div.all_contents_block").find("div.comment_block").removeClass("-none");
        }
        */
      });

      /*
      // 上一題、下一題
      $("button.q_next").on("click", function(){
        var el_ul_q_list = $(this).closest("div.q_list_block").find("ul.q_list");
        var el_btn_count_on = $(el_ul_q_list).find("button.btn_q_and_tab.-on")[0];

        if($(this).hasClass("-n")){ // 下一題
          if($(el_btn_count_on).closest("li").next("li").length > 0){
            $(el_btn_count_on).removeClass("-on");
            $(el_btn_count_on).closest("li").next("li").find("button.btn_q_and_tab").click();
          }
        }
        if($(this).hasClass("-p")){ // 上一題
          if($(el_btn_count_on).closest("li").prev("li").length > 0){
            $(el_btn_count_on).removeClass("-on");
            $(el_btn_count_on).closest("li").prev("li").find("button.btn_q_and_tab").click();
          }
        }
      });

      // 送出勘誤 modal
      $("button.btn_wrong").on("click", function(){
        $("#"+$(this).attr("data-target-modal")).modal();
      });
      // 送出解惑 modal
      $("button.btn_confuse").on("click", function(){
        $("#"+$(this).attr("data-target-modal")).modal();
      });

      // 儲存筆記
      $("button.btn_save_note").on("click", function(){
        if($(this).hasClass("-clicking")){
          alert("請勿雙擊！");
        }else{
          $(this).addClass("-clicking");
          html2canvas(document.querySelector("#capture_block")).then(canvas => {
            $("#placeholder_canvas").html(canvas).addClass("-ani");
            setTimeout(function(){
              $("#placeholder_canvas").html("").removeClass("-ani");
              $("button.btn_save_note").removeClass("-clicking");
            }, 2000);
          });
        }

      });
      */

      // 聲音(audio)按鈕
      $(document).on("click", "button.btn_audio", function(){
        if($(this).hasClass("-on")){
          $(this).closest("div.audio_block").find("audio")[0].pause();
        }else{
          $(this).closest("div.audio_block").find("audio")[0].play();
        }
        $(this).toggleClass("-on");
      });

		// 加入或移除收藏
		$("a.tag_plus").on("click", function(e){
			e.preventDefault();
			if ($(this).attr("data-status") == "0") {
				if (newUserCollection(g_obj.db_practice_ot_id, $(this).attr("data-ol_id"), "", $(this).attr("data-tq_id"), "", "", "")) {
					$(this).toggleClass("-on");
					getUsercollectionForTest(g_obj.db_practice_ot_id, $(this).attr("data-ol_id"), $(this).attr("data-tq_id"), "tag_plus_" + $(this).attr("data-tq_id"));
				}
				else {
					alert("加入失敗");
				}
			}
			else {
				if (delUserCollection($(this).attr("data-uc-id"))) {
					$(this).toggleClass("-on");
					getUsercollectionForTest(g_obj.db_practice_ot_id, $(this).attr("data-ol_id"), $(this).attr("data-tq_id"), "tag_plus_" + $(this).attr("data-tq_id"));
				}
				else {
					alert("移除失敗");
				}
			}
		});


    });
  </script>
<% end %>
