<% @on_my_learn_on = capture do %>-on<% end %>
<% @on_my_learn_notes_on = capture do %>-on<% end %>
<% @on_my_learn_notes_header_subject_on = capture do %>-on<% end %>

<% @show_my_learn_notes_header = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>我的筆記 - 科目</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/my_learn_notes_subject.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="tab_contents_block">

      <div class="tab_content_block">
        <div class="tab_content">
          <ul id="tab_content_list" class="tab_content_list"><span class="-loading -left10">資料擷取中…</span>
            <!--
            <li><a href="./my_learn_notes_grade_group.html"><img src="./images/icon/btn-f-teacher-card.svg" class="bg_img"><span class="-text">國文</span></a></li>
            <li><a href="./my_learn_notes_grade_group.html"><img src="./images/icon/btn-f-teacher-card.svg" class="bg_img"><span class="-text">英文</span></a></li>
            <li><a href="./my_learn_notes_grade_group.html"><img src="./images/icon/btn-f-teacher-card.svg" class="bg_img"><span class="-text">數學</span></a></li>
            <li><a href="./my_learn_notes_grade_group.html"><img src="./images/icon/btn-f-teacher-card.svg" class="bg_img"><span class="-text">生物</span></a></li>
            <li><a href="./my_learn_notes_grade_group.html"><img src="./images/icon/btn-f-teacher-card.svg" class="bg_img"><span class="-text">地球科學</span></a></li>
            <li><a href="./my_learn_notes_grade_group.html"><img src="./images/icon/btn-f-teacher-card.svg" class="bg_img"><span class="-text">物理</span></a></li>
            <li><a href="./my_learn_notes_grade_group.html"><img src="./images/icon/btn-f-teacher-card.svg" class="bg_img"><span class="-text">化學</span></a></li>
            <li><a href="./my_learn_notes_grade_group.html"><img src="./images/icon/btn-f-teacher-card.svg" class="bg_img"><span class="-text">歷史</span></a></li>
            <li><a href="./my_learn_notes_grade_group.html"><img src="./images/icon/btn-f-teacher-card.svg" class="bg_img"><span class="-text">地理</span></a></li>
            <li><a href="./my_learn_notes_grade_group.html"><img src="./images/icon/btn-f-teacher-card.svg" class="bg_img"><span class="-text">公民</span></a></li>
            -->
          </ul>
        </div>
      </div>
    </div>

    <h2 class="title2">最新筆記</h2>

    <div class="recently_view">
      <ul class="item_list" id="recently_view_item_list"><span class="-loading">資料擷取中…</span>
        <!--
        <li>
          <a href="./my_learn_notes_list_single.html" class="item_link">
            <img src="http://via.placeholder.com/190x120" class="link_img">
            <div class="desc_block">
              <p class="para1">第一章</p>
              <p class="para2">1-1 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            </div>
          </a>
        </li>
        -->
      </ul>
    </div>
  </div>

</section>



<% content_for :other_contents do %>
  <script src="./js/url.min.js"></script>
  <script src="./js/api/header_text.js"></script>
  <script src="./js/api/my_learn_all.js"></script>
  <script src="./js/api/my_learn_notes_subject.js"></script>
  <script>
    $(function(){

    });
  </script>
<% end %>
