<% @on_my_learn_on = capture do %>-on<% end %>
<% @on_my_learn_notes_on = capture do %>-on<% end %>
<% @show_my_learn_notes_header_only = capture do %>true<% end %>

<% @show_my_learn_notes_header = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>單一筆記</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/my_learn_notes_list_single.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">
    <h2 id="main_title" class="title2 -for-main">物理 基礎物理 第一章ＸＸＸＸＸ 1-1ＸＸＸＸＸＸＸＸＸＸ</h2>

    <div class="note_block_content">
      <div class="preview_canvas" id="preview_canvas">
        <canvas width="1020" id="draw_canvas"></canvas>
        <!--height="488"-->
      </div>
      <div class="comment_block">
        <div class="left_block">
          <textarea id="comment_text" name="comment_text" class="comment_text" placeholder="請在此輸入文字"></textarea>
          <div class="action_block">
            <ul class="draw_list">
              <li><button type="button" class="btn_draw btn_delete"><img src="./images/icon/icon-delete.svg"></button></li>
              <li><button type="button" class="btn_draw btn_pen btn_pencil_yellow -on" data-value="yellow"><img src="./images/icon/pen_y_off.png" class="off"><img src="./images/icon/pen_y_on.png" class="on"></button></li>
              <li><button type="button" class="btn_draw btn_pen btn_pencil_blue" data-value="blue"><img src="./images/icon/pen_b_off.png" class="off"><img src="./images/icon/pen_b_on.png" class="on"></button></li>
              <li><button type="button" class="btn_draw btn_pen btn_pencil_red" data-value="red"><img src="./images/icon/pen_r_off.png" class="off"><img src="./images/icon/pen_r_on.png" class="on"></button></li>
              <li><button type="button" class="btn_draw btn_eraser"><img src="./images/icon/eraser_off.png" class="off"><img src="./images/icon/eraser_on.png" class="on"></button></li>
            </ul>

            <ul class="send_list">
              <li><button type="button" class="btn_send btn_wrong" data-target-modal="wrong_modal" data-canvas-container-id="preview_canvas">送出勘誤<div class="placeholder_canvas"></div></button></li>
              <li><button type="button" class="btn_send btn_confuse" data-target-modal="confuse_modal" data-canvas-container-id="preview_canvas" data-original-btn="btn_confuse_2">送出解惑<div class="placeholder_canvas"></div></button></li>
              <li><button type="button" class="btn_send btn_save_note" data-canvas-container-id="preview_canvas">儲存筆記<div class="placeholder_canvas"></div></button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="picture_block">
      <ul class="picture_list">
	    <!-- 已上傳圖示 -->
        <li id="add_pic_li">
          <a href="javascript:;" class="btn_add_item">
            <span class="add_item">+</span>
          </a>
          <input type="file" class="new_file no_display" accept="image/*" />
        </li>
      </ul>
    </div>

    <h2 class="title2 -recent-view">最新筆記</h2>
    <div class="recently_view">
      <ul class="item_list" id="recently_view_item_list"><span class="-loading">資料擷取中…</span>
        <!--
        <li>
          <a href="./my_learn_notes_list_single.html" class="item_link">
            <img src="http://via.placeholder.com/190x120" class="link_img">
            <div class="desc_block">
              <p class="para1">第一章</p>
              <p class="para2">1-1 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            </div>
          </a>
        </li>
        -->
      </ul>
    </div>
  </div>

</section>

<!-- 送出筆記 modal -->
<div id="note_send_success_modal" class="modal">
  <div class="modal_header">
    發送成功
  </div>
  <div class="modal_content -content1">
    <p class="para para_note_new_ok">
      已儲存筆記
    </p>
    <p class="para para_note_update_ok">
      已儲存筆記
    </p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">確定</a>
  </div>
</div>
<div id="note_send_fail_modal" class="modal">
  <div class="modal_header">
    發送失敗
  </div>
  <div class="modal_content -content1">
    <p class="para">
      未儲存筆記！
    </p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">確定</a>
  </div>
</div>

<!-- 送出勘誤 modal -->
<div id="wrong_send_success_modal" class="modal">
  <div class="modal_header">
    發送成功
  </div>
  <div class="modal_content -content1">
    <p class="para">
      已將訊息發送至勘誤系統。
    </p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">確定</a>
  </div>
</div>

<!-- 送出解惑 modal -->
<div id="confuse_modal" class="modal">
  <div class="modal_header">
    <div class="btn_question_mark_block">
      <button type="button" class="btn_question_mark"><img src="./images/icon/icon-question-mark.svg" class="icon_question_mark"></button>
      <div class="question_content no_display">
        <span class="angle_top"><img src="./images/icon/icon_angle_top.svg"></span>
        閃電發問開放時間：<br>
        星期一至星期五 18:00~21:00<br>
        星期六至星期日 14:00~17:00、18:00~21:00<br><br>
        解題規則：<br>
        一次問一題，若一張圖片需解題目一題以上，<br>
        會再另外扣除點數。<br>
        申論題、證明題耗時較久系統不退點數。
      </div>
    </div>
    送至解惑
    <a href="#" rel="modal:close" class="modal_close">&times;</a>
  </div>
  <div class="modal_content -content2">
    <p class="para2">將影片截圖和隨手記的內容發送至解惑平臺。</p>
    <p class="para2">帳號剩餘解惑點數：<span id="user_points"></span>點。</p>
    <p class="para2">一般發問扣除100點；閃電發問扣除500點。</p>
  </div>
  <div class="modal_footer">
    <button type="button" class="btn_question -general" data-target-modal="confuse_send_success_modal">一般發問</button>
    <button type="button" class="btn_question -lightning" data-target-modal="confuse_send_success_modal">閃電發問</button>
  </div>
</div>

<!-- 解惑發送成功 modal -->
<div id="confuse_send_success_modal" class="modal">
  <div class="modal_header">
    發送成功
  </div>
  <div class="modal_content -content1">
    <p class="para">
      已將問題發送至解惑系統並扣除<span id="minus_point"></span>點。
    </p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">確定</a>
  </div>
</div>

<!-- 圖片放大預覽 -->
<div class="preview_modal">
  <div class="img_block_container">
    <div class="img_block">
      <button type="button" class="btn_preview_close">&times;</button>
      <img src="#" class="img_preview_item">
    </div>
  </div>
</div>

<% content_for :other_contents do %>
  <script src="./js/fabricjs/fabric.min.js"></script>
  <script src="./js/html2canvas/html2canvas.min.js"></script>

  <script src="./js/url.min.js"></script>
  <script src="./js/custom/canvas_pen2.js"></script>
  <script src="./js/api/header_text.js"></script>
  <script src="./js/api/my_learn_all.js"></script>
  <script src="./js/api/my_learn_notes_header.js"></script>
  <script src="./js/api/my_learn_notes_list_single.js"></script>
  <script src="./js/api/m_e_usernote.js"></script>
  <script src="./js/api/m_e_userquestion.js"></script>
  <script src="./js/api/m_e_usererrata.js"></script>

  <script>
    // 截圖操作
	var imgBase64_1 = "";
	var imgBase64_2 = "";
	var imgBase64_3 = "";
    var get_picture = function(ele){
      //var video2 = document.getElementById("my-video_html5_api");
      html2canvas(document.querySelector("#preview_canvas"), {scale:1, allowTaint:false, useCORS: true}).then(canvas_item => {
        var oldCanvas = $("#preview_canvas").find("canvas")[0];
		oldCanvas.setAttribute("crossOrigin", "Anonymous");

        var newCanvas = document.createElement('canvas');
		var context = newCanvas.getContext('2d');

        //set dimensions
        newCanvas.width = oldCanvas.width;
        newCanvas.height = oldCanvas.height;

        //apply the old canvas to the new one
        context.drawImage(oldCanvas, 0, 0);
        $(ele).find(".placeholder_canvas").html(newCanvas).addClass("-ani");

        temp_placeholder_canvas = $(ele).find(".placeholder_canvas");

		// imgBase64_1 = canvas_item.toDataURL();
		imgBase64_1 = newCanvas.toDataURL();
		console.log(imgBase64_1);

        setTimeout(function(){
          // 移除 canvas
          $(temp_placeholder_canvas).html("").removeClass("-ani");
        }, 2000);
      });
    };
    $(function(){

      // 刪除
      // $(document).on("click", "button.btn_delete_picture", function(){
        // alert("刪除後重新整理");
        // location.reload();
      // });

	  // 新增/修改筆記
      $("button.btn_save_note").on("click", function(){
	    if ($.trim($("#comment_text").val()) == "") {
		    alert("請填寫內容");
		    return;
		}
		get_picture($("button.btn_save_note"));
		if (uploadBase64[0] != "") imgBase64_2 = uploadBase64[0].toString();
		if (uploadBase64[1] != "") imgBase64_3 = uploadBase64[1].toString();

		setTimeout(function(){
			if (saveUserNote(imgBase64_1, imgBase64_2, imgBase64_3, $.trim($("#comment_text").val()))) {
			  // 成功處理
			  $("#note_send_success_modal").modal();
			  // $("#comment_text").val("");
			}
			else {
				// 失敗處理
				$("#note_send_fail_modal").modal();
			}
        }, 2000);
      });

      // 堪誤 modal
      $("button.btn_wrong").on("click", function(){
	    if ($.trim($("#comment_text").val()) == "") {
		    alert("請填寫內容");
		    return;
		}
		get_picture($("button.btn_wrong"));
		setTimeout(function(){
			if (newUserErrata(imgBase64_1, $.trim($("#comment_text").val()), g_obj.my_learn_notes_ot_id, "", "")) {
				// 成功處理
				$("#wrong_send_success_modal").modal();
				// $("#comment_text").val("");
			}
		}, 2000);
      });
      // 解惑 modal 的問號 icon
      $("#confuse_modal").find("button.btn_question_mark").on("click", function(){
        $(this).closest("div.btn_question_mark_block").find("div.question_content").toggleClass("no_display");
      });
      // 送出解惑 modal
      $("button.btn_confuse").on("click", function(){
	    if ($.trim($("#comment_text").val()) == "") {
		    alert("請填寫內容");
		    return;
		}
        var target_modal = $(this).attr("data-target-modal");

		// 取得是否為解題時間
		var boolSolvetime = userQuestionSolvetimeStudent();
		if (!boolSolvetime) {
			// $('.btn_question.-lightning').hide();
			$('.btn_question.-lightning').addClass('-disabled');
		}
		else {
			// $('.btn_question.-lightning').show();
			$('.btn_question.-lightning').removeClass('-disabled');
		}

		$("#" + target_modal).modal();
      });
      // 解惑 modal 的發送
      $("#confuse_modal").find("button.btn_question").on("click", function(){
		var isLightning = false;
		if ($(this).hasClass('-lightning')) isLightning = true;
		if ($(this).hasClass('-disabled')) return;	// 非解題時間

		  if($(this).hasClass("-general")){ // 一般發問
			$("#confuse_send_success_modal").find("#minus_point").html(100);
		  }else{ // 閃電發問
			$("#confuse_send_success_modal").find("#minus_point").html(500);
		  }

	    get_picture($("button.btn_confuse")); // 截圖
		if (uploadBase64[0] != "") imgBase64_2 = uploadBase64[0].toString();
		if (uploadBase64[1] != "") imgBase64_3 = uploadBase64[1].toString();
		setTimeout(function(){
			if (newUserQuestion(imgBase64_1, imgBase64_2, imgBase64_3, $.trim($("#comment_text").val()), $.trim($("#comment_text").val()), g_obj.my_learn_notes_ot_id, "", ((isLightning) ? 1 : 0), "")) {
				$(this).closest("div.modal").find("a.modal_close").click();
				// 成功處理
				$("#confuse_send_success_modal .para").html(((isLightning) ? "已將問題發送至解惑系統並扣除500點。" : "已將問題發送至解惑系統並扣除100點。"));
				$("#confuse_send_success_modal").modal();
				// $("#comment_text").val("");
				// 重新取得使用者點數
				getUserPoint();
			}
		}, 2000);
      });

      // 新增圖片
      $("a.btn_add_item").on("click", function(e){
        e.preventDefault();
        e.stopPropagation();
        $(this).closest("li").find("input.new_file").click();
      });
	  var upload_counter = 100;
	  $("input.new_file").change(function (){
        // 按上傳時處理
		var file = document.querySelector('input.new_file').files[0];
		var reader = new FileReader();
        reader.addEventListener("load", function () {
		  var uploadItem = 0;
		  if ($(".note_item_pic_0 .link_img").length == 0 && uploadBase64[0] == "") {
		    uploadBase64[0] = reader.result;
			uploadItem = 1;
		  }
		  else {
		    uploadBase64[1] = reader.result;
			uploadItem = 2;
		  }
          html = '<li class="note_item_pic note_item_pic_' + upload_counter + '">';
	      html +=   '<a href="javascript:;" class="item_link" onclick="javascript:return false;">';
	      html +=     '<button type="button" onclick="javascript:removeNotePic(' + upload_counter + ', ' + uploadItem + ');" class="btn_delete_picture"><img src="./images/icon/btn-delete.svg"></button>';
	      html +=     '<img src="' + reader.result + '" class="link_img">';
	      html +=   '</a>';
	      html += '</li>';
		  $(html).insertBefore('li#add_pic_li');
		  if ($('.note_item_pic').length >= 2) $("#add_pic_li").addClass("no_display");
		  upload_counter++;
		  $(".new_file").val("");
        }, false);
		if (file) {
			reader.readAsDataURL(file);
		}
      });

      // 放大預覽
      $(document).on("click", "img.link_img", function(){
        $("div.preview_modal").addClass("-show");
        $("body").addClass("-overflow-hidden");
        $("div.preview_modal").find("img.img_preview_item").attr("src", $(this).attr("src"));
      });
      // 關閉放大的預覽
      $("button.btn_preview_close").on("click", function(){
        $("div.preview_modal").removeClass("-show");
        $("body").removeClass("-overflow-hidden");
      });

    });
  </script>
<% end %>
