<% @on_my_learn_on = capture do %>-on<% end %>
<% @on_my_learn_notes_on = capture do %>-on<% end %>
<% @on_my_learn_notes_header_grade_group_on = capture do %>-on<% end %>

<% @show_my_learn_notes_header = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>我的筆記(年級群組)</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/my_learn_notes_grade_group.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="tab_contents_block">
      <div class="tab_block">
        <ul id="tab_list" class="tab_list"></ul>
      </div>

      <div id="tab_content_block" class="tab_content_block"><span class="-loading -left10">資料擷取中…</span></div>
    </div>

    <h2 class="title2">最新筆記</h2>

    <div class="recently_view">
      <ul class="item_list" id="recently_view_item_list"><span class="-loading">資料擷取中…</span>
        <!--
        <li>
          <a href="./my_learn_notes_list_single.html" class="item_link">
            <img src="http://via.placeholder.com/190x120" class="link_img">
            <div class="desc_block">
              <p class="para1">第一章</p>
              <p class="para2">1-1 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            </div>
          </a>
        </li>
        -->
      </ul>
    </div>
  </div>

</section>



<% content_for :other_contents do %>
  <script src="./js/url.min.js"></script>
  <script src="./js/api/header_text.js"></script>
  <script src="./js/api/my_learn_all.js"></script>
  <script src="./js/api/my_learn_notes_grade_group.js"></script>
  <script>
    $(function(){
    });
    /**
     * 設定tabs功能
     */
    function setupTabs() {
      $("button.btn_tab").on("click", function(){
        var data_target = $(this).attr("data-target");
        var el_tab_contents_block = $(this).closest("div.tab_contents_block");
        $(el_tab_contents_block).find("div.tab_content").addClass("no_display");
        $(el_tab_contents_block).find("div.tab_content[data-tab=" + data_target + "]").removeClass("no_display");

        $(this).closest("ul.tab_list").find("button.btn_tab").removeClass("-on");
        $(this).addClass("-on");
      });

      // 版本分頁只有一個時，且，文字為不分版時，隱藏版本分頁的區塊
      if($("#tab_list").children("li").length <= 1 && $("#tab_list").children("li").find("button.btn_tab").text() == "不分版"){
        $("#tab_list").closest("div.tab_block").addClass("no_display");
      }
    }
  </script>
<% end %>
