<% content_for :stylesheets do %>
  <link href="./css/p_ask_question_camera.css" rel="stylesheet">
<% end %>

<div class="video_picture_block">
  <div class="video_canvas_block">
    <!--<video id="video" width="600" height="450" autoplay></video>-->
    <div id="video"></div>
    <!--<canvas id="canvas" class="canvas_camera" width="600" height="450"></canvas>-->
    <img src="#" id="img_camera">
  </div>
  <button id="snap">拍照</button>
</div>

<% content_for :other_contents do %>
  <!--
  <script src="./js/detectrtc/DetectRTC.min.js"></script>
  -->
  <script src="./js/webcamjs/webcam.min.js"></script>
  <script>
    // Elements for taking the snapshot
    //var canvas = document.getElementById('canvas');
    //var context = canvas.getContext('2d');
    //var video = document.getElementById('video');

    $(function(){
      /*
      // Grab elements, create settings, etc.
      var video = document.getElementById('video');

      // Get access to the camera!
      if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia && DetectRTC.isScreenCapturingSupported) {
        // Not adding `{ audio: true }` since we only want video now
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
          video.src = window.URL.createObjectURL(stream);
          video.play();
        });
      }

      $("#snap").on("click", function(){
        context.drawImage(video, 0, 0, 600, 450);
        var item_data_id = $(window.opener.document).find("#sources_modal").attr("data-feed-back-id");
        $(window.opener.document).find("#sources_modal").find("a.modal_close")[0].click(); // 關閉原視窗的 modal
        $(window.opener.document).find("input#" + item_data_id).closest("div.img_block").find("div.preview_img").removeClass("-none"); // 顯示預覽

        $(window.opener.document).find("input#" + item_data_id).closest("div.img_block").find("div.preview_img").find("img.img_preview").attr("src", canvas.toDataURL());
      });
      */

      Webcam.set({
  			width: 600,
  			height: 450
  			//image_format: 'jpeg',
  			//jpeg_quality: 90
  		});
  		Webcam.attach( '#video' );

      $("#snap").on("click", function(){
        Webcam.snap( function(data_uri) {
          $("#img_camera").attr("src", data_uri).addClass("-on");

          var item_data_id = $(window.opener.document).find("#sources_modal").attr("data-feed-back-id");
          $(window.opener.document).find("#sources_modal").find("a.modal_close")[0].click(); // 關閉原視窗的 modal
          $(window.opener.document).find("input#" + item_data_id).closest("div.img_block").find("div.preview_img").removeClass("-none"); // 顯示預覽
          $(window.opener.document).find("input#" + item_data_id).closest("div.img_block").find("div.preview_img").find("img.img_preview").attr("src", data_uri);
        });
      });

      Webcam.on( 'error', function(err) {
        alert("無法使用: " + err);
      });

    });
  </script>
<% end %>
