<% @on_p_on = capture do %>-on<% end %>
<% @on_p_ask_on = capture do %>-on<% end %>

<% @show_p_ask_header = capture do %>true<% end %>
<% @show_p_ask_header_only = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>發問問題</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/p_ask_question.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="content_block">

      <h1 id="title1" class="title1"></h1>

      <div class="ask_title_block">
        <input type="text" class="ask_title" placeholder="請輸入問題題目...">
      </div>
      <div class="ask_content_block">
        <textarea class="ask_textarea" placeholder="請輸入發問內容..."></textarea>
        <div class="q_images_block">
          <ul class="q_images_list">
            <li>
              <div class="item_block">
                <p class="img_title">問題圖片一</p>
                <div class="img_block">
                  <input type="file" class="pick_pic" id="pic_1">
                  <!-- span.icon_plus 多加 -none 會 display:none -->
                  <span class="icon_plus" data-id="pic_1"><span class="plus_text">+</span></span>

                  <!-- div.preview_img 多加 -none 會 display:none -->
                  <div class="preview_img -none">
                    <button type="button" class="btn_delete"><img src="./images/icon/btn-delete.svg"></button>
                    <img src="#" class="img_preview">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item_block">
                <p class="img_title">問題圖片二</p>
                <div class="img_block">
                  <input type="file" class="pick_pic" id="pic_2">
                  <!-- span.icon_plus 多加 -none 會 display:none -->
                  <span class="icon_plus" data-id="pic_2"><span class="plus_text">+</span></span>

                  <!-- div.preview_img 多加 -none 會 display:none -->
                  <div class="preview_img -none">
                    <button type="button" class="btn_delete"><img src="./images/icon/btn-delete.svg"></button>
                    <img src="#" class="img_preview">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item_block">
                <p class="img_title">問題圖片三</p>
                <div class="img_block">
                  <input type="file" class="pick_pic" id="pic_3">
                  <!-- span.icon_plus 多加 -none 會 display:none -->
                  <span class="icon_plus" data-id="pic_3"><span class="plus_text">+</span></span>

                  <!-- div.preview_img 多加 -none 會 display:none -->
                  <div class="preview_img -none">
                    <button type="button" class="btn_delete"><img src="./images/icon/btn-delete.svg"></button>
                    <img src="#" class="img_preview">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="send_q_block">
        <button type="button" class="btn_send_q -disabled">送出問題</button>
      </div>

    </div>

  </div>

</section>

<div id="sources_modal" class="modal" data-feed-back-id="">
  <div class="modal_header">
    選擇圖片來源
    <a href="#" rel="modal:close" class="modal_close">&times;</a>
  </div>
  <div class="modal_content">
    <ul class="action_list">
      <li>
        <button type="button" class="btn_action -choose"><span class="btn_text">上傳相片</span></button>
      </li>
      <li>
        <!-- 如果沒有「前置鏡頭」的話，button.-take-picture 按鈕加上 -disabled 這個 class -->
        <button type="button" class="btn_action -take-picture"><span class="btn_text">拍照</span></button>
      </li>
      <li>
        <!-- 如果「上傳筆記截圖」為 0 張的話，button.-uploaded 按鈕加上 -disabled 這個 class -->
        <button type="button" class="btn_action -uploaded"><span class="btn_text">上傳<br>筆記截圖</span></button>
      </li>
    </ul>
  </div>
  <div class="modal_footer">
    <button type="button" class="btn_confirm">確定</button>
  </div>
</div>

<!-- 圖片放大預覽 -->
<div class="preview_modal">
  <div class="img_block_container">
    <div class="img_block">
      <button type="button" class="btn_preview_close">&times;</button>
      <button type="button" class="btn_remove_item">刪除</button>
      <img src="http://via.placeholder.com/350x150" class="img_preview_item">
    </div>
  </div>
</div>

<!-- 上傳筆記截圖預覽 -->
<div id="upload_note_picture_modal" class="modal">
  <div class="modal_header">
    <a href="#" rel="modal:close" class="modal_close">&times;</a>
  </div>
  <div class="modal_content">
    <ul class="note_list">
    </ul>
  </div>
  <div class="modal_footer">
    <button type="button" class="btn_upload_confirm">確定</button>
  </div>
</div>

<!-- 送出解惑 modal -->
<div id="confuse_modal_2" class="modal">
  <div class="modal_header">
    <div class="btn_question_mark_block">
      <button type="button" class="btn_question_mark"><img src="./images/icon/icon-question-mark.svg" class="icon_question_mark"></button>
      <div class="question_content no_display">
        <span class="angle_top"><img src="./images/icon/icon_angle_top.svg"></span>
        閃電發問開放時間：<br>
        星期一至星期五 18:00~21:00<br>
        星期六至星期日 14:00~17:00、18:00~21:00<br><br>
        解題規則：<br>
        一次問一題，若一張圖片需解題目一題以上，<br>
        會再另外扣除點數。<br>
        申論題、證明題耗時較久系統不退點數。
      </div>
    </div>
    送至解惑
    <a href="#" rel="modal:close" class="modal_close">&times;</a>
  </div>
  <div class="modal_content -content2">
    <p class="para2">將影片截圖和隨手記的內容發送至解惑平臺。</p>
    <p class="para2">帳號剩餘解惑點數：<span id="user_points"></span>點。</p>
    <p class="para2">一般發問扣除100點；閃電發問扣除500點。</p>
  </div>
  <div class="modal_footer">
    <button type="button" class="btn_question -general" data-target-modal="confuse_send_success_modal">一般發問</button>
    <button type="button" class="btn_question -lightning" data-target-modal="confuse_send_success_modal">閃電發問</button>
  </div>
</div>

<!-- 解惑發送成功 modal -->
<div id="confuse_send_success_modal" class="modal">
  <div class="modal_header">
    發送成功
  </div>
  <div class="modal_content -content1">
    <p class="para">
      已將問題發送至解惑系統並扣除<span id="minus_point"></span>點。
    </p>
  </div>
  <div class="modal_footer">
    <!-- <a href="#" rel="modal:close" class="modal_close">確定</a> -->
    <a href="javascript:;" onclick="javascript:redirectQuestionList(); return false;" class="modal_close">確定</a>
  </div>
</div>

<% content_for :other_contents do %>
  <script src="./js/url.min.js"></script>
  <script src="./js/api/header_text.js"></script>
  <script src="./js/api/p_ask_header.js"></script>
  <script src="./js/api/p_ask_question.js"></script>
  <script src="./js/detectrtc/DetectRTC.min.js"></script>
  <script src="./js/webcamjs/webcam.min.js"></script>
  <script src="./js/api/m_e_userquestion.js"></script>
  <script>
    $(function(){
		// 取得使用者點數
		getUserPoint();

      // 點擊：選圖
      $("span.icon_plus").on("click", function(){
        var item_data_id = $(this).attr("data-id");

        $("#sources_modal").attr("data-feed-back-id", item_data_id);
        $("#sources_modal").modal();
        $("#sources_modal").find("button.btn_action").removeClass("-on");
      });

      // 圖片預覽
      $("input.pick_pic").on("change", function(){
        var el_img_block = $(this).closest("div.img_block");
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e) {
            $(el_img_block).find("span.icon_plus").addClass("-none");
            $(el_img_block).find("div.preview_img").removeClass("-none");
            $(el_img_block).find("img.img_preview").attr("src", e.target.result)

            $.modal.close(); // 關閉 modal
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      // 移除預覽
      $("button.btn_delete").on("click", function(){
        var el_img_block = $(this).closest("div.img_block");

        $(el_img_block).find("span.icon_plus").removeClass("-none");
        $(el_img_block).find("div.preview_img").addClass("-none");
        $(el_img_block).find("input.pick_pic").val("");
        $(el_img_block).find("div.preview_img .img_preview").attr("src", "#");
      });

      // 選擇圖片方式
      $("button.btn_action").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          $(this).closest("ul.action_list").find("button.btn_action").removeClass("-on");
          $(this).addClass("-on");
        }
      });

      $("button.btn_confirm").on("click", function(){
        var el_btn_on_action = $(this).closest("div.modal").find("button.btn_action.-on");
        if(el_btn_on_action.length == 0){
          alert("請選擇圖片來源方式");
        }else{
          var feed_back_id = $(this).closest("div.modal").attr("data-feed-back-id");
          if($(el_btn_on_action).hasClass("-choose")){ // 上傳圖片
            var el_img_block = $("span.icon_plus[data-id='" + feed_back_id + "']").closest("div.img_block");
            $(el_img_block).find("input[type=file]").click();
          }
          if($(el_btn_on_action).hasClass("-take-picture")){ // 拍照
            window.open("./p_ask_question_camera.html", "cameraName", "height=480,width=1200");
          }
          if($(el_btn_on_action).hasClass("-uploaded")){ // 上傳筆記截圖
            $("#upload_note_picture_modal").modal();
          }
        }
      });

      // 上傳筆記截圖預覽
      $(document).on("click", "button.btn_note_choose", function(){
        $(this).closest("ul").find("button.btn_note_choose").removeClass("-on");
        $(this).addClass("-on");
      });

      // 上傳筆記截圖確定
      $("button.btn_upload_confirm").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          if($(this).closest("div.modal").find("button.btn_note_choose.-on").length > 0){
            var img_src = $(this).closest("div.modal").find("button.btn_note_choose.-on").find("img").attr("src");
            var item_data_id = $("#sources_modal").attr("data-feed-back-id");
			toDataUrl(img_src, function(myBase64) {
				img_src = myBase64; // myBase64 is the base64 string
				$("input#" + item_data_id).closest("div.img_block").find("div.preview_img").removeClass("-none"); // 顯示預覽
				$("input#" + item_data_id).closest("div.img_block").find("div.preview_img").find("img.img_preview").attr("src", img_src); // 顯示預覽
				$.modal.close();
			});
          }else{
            alert("尚未選擇");
          }
        }
      });

      // 放大預覽
      $("img.img_preview").on("click", function(){
        var item_id = $(this).closest("div.img_block").find("input.pick_pic").attr("id");
        $("div.preview_modal").addClass("-show");
        $("body").addClass("-overflow-hidden");
        $("div.preview_modal").attr("data-target", item_id);
        $("div.preview_modal").find("img.img_preview_item").attr("src", $(this).attr("src"));
      });

      // 關閉放大的預覽
      $("button.btn_preview_close").on("click", function(){
        $("div.preview_modal").removeClass("-show");
        $("body").removeClass("-overflow-hidden");
      });

      // 刪除所選的圖
      $("button.btn_remove_item").on("click", function(){
        $("div.preview_modal").removeClass("-show");
        $("body").removeClass("-overflow-hidden");
        var target_id = $(this).closest("div.preview_modal").attr("data-target");
        $("input#" + target_id).closest("div.img_block").find("button.btn_delete").click();
      });

      // 如果不支援拍照，就加上 -disabled
      /*if( !( navigator.mediaDevices && navigator.mediaDevices.getUserMedia && DetectRTC.isScreenCapturingSupported ) ) {
        $("button.btn_action.-take-picture").addClass("-disabled");
      }*/
      DetectRTC.load(function() {
        //console.log("webcam:" + DetectRTC.hasWebcam);
        if(!DetectRTC.hasWebcam){
          $("button.btn_action.-take-picture").addClass("-disabled");
        }
      });

      // 判斷問題題目、發問內容是否有填寫
      $("input.ask_title, textarea.ask_textarea").on("keyup blur", function(){
        var ask_title = $("input.ask_title").val();
        var ask_textarea = $("textarea.ask_textarea").val();
        if(ask_title == "" || ask_textarea == ""){ // 至少其中一個未填
          $("button.btn_send_q").addClass("-disabled");
        }else{ // 都有填
          $("button.btn_send_q").removeClass("-disabled");
        }
      });
		// 跳出解惑說明 modal
		$("button.btn_send_q").on("click", function(){
      if(!$(this).hasClass("-disabled")){
        // 取得是否為解題時間
  			var boolSolvetime = userQuestionSolvetimeStudent();
  			if (!boolSolvetime) {
  				$('.btn_question.-lightning').addClass('-disabled');
  			}
  			else {
  				$('.btn_question.-lightning').removeClass('-disabled');
  			}

  			$("#confuse_modal_2").modal();
      }
		});

		// 送出問題
		$("#confuse_modal_2 button.btn_question").on("click", function() {
			if ($(this).hasClass('-disabled')) return;	// 非解題時間

			if($(this).hasClass("-general")) { // 一般發問
				$("#minus_point").html(100);
			}
			else { // 閃電發問
				$("#minus_point").html(500);
			}

			var imgBase64_1 = "", imgBase64_2 = "", imgBase64_3 = "";
			$.each($(".img_preview"), function( index, item ) {
				if ($(this).attr("src") != "#") {
					if (imgBase64_1 == "") {
						imgBase64_1 = $(this).attr("src");
					}
					else if (imgBase64_2 == "") {
						imgBase64_2 = $(this).attr("src");
					}
					else if (imgBase64_3 == "") {
						imgBase64_3 = $(this).attr("src");
					}
				}
			});
			if (newUserQuestion(imgBase64_1, imgBase64_2, imgBase64_3, $.trim($("input.ask_title").val()), $.trim($("textarea.ask_textarea").val()), g_obj.ask_ot_id, "", (($(this).hasClass('-lightning')) ? 1 : 0), "")) {
				// 成功處理
				$("#confuse_send_success_modal").modal();
				$("input.ask_title").val("");
				$("textarea.ask_textarea").val("");
				$("span.icon_plus").removeClass("-none");
				$("div.preview_img").addClass("-none");
				$("input.pick_pic").val("");
				$("div.preview_img .img_preview").attr("src", "#");

				// 重新取得使用者點數
				getUserPoint();
			}
		});

		// 解惑 modal 的問號 icon
		$("#confuse_modal_2").find("button.btn_question_mark").on("click", function(){
			$(this).closest("div.btn_question_mark_block").find("div.question_content").toggleClass("no_display");
		});
    });
	function redirectQuestionList() {
		window.location.href = "p_question_list.html?ol_id=" + $.url('?ol_id') + "&unit_ol_id=" + $.url('?unit_ol_id') + "&field_name=" + $.url('?field_name') + "&subject_name=" + $.url('?subject_name') + "&version_name=" + $.url('?version_name') + "&grade_group_name=" + $.url('?grade_group_name') + "&chapter_name=" + $.url('?chapter_name') + "&part_name=" + $.url('?part_name');
	}
	function toDataUrl(url, callback) {
		var xhr = new XMLHttpRequest();
		xhr.onload = function() {
			var reader = new FileReader();
			reader.onloadend = function() {
				callback(reader.result);
			}
			reader.readAsDataURL(xhr.response);
		};
		xhr.open('GET', url);
		xhr.responseType = 'blob';
		xhr.send();
	}
  </script>
<% end %>
