<% @on_p_on = capture do %>-on<% end %>
<% @on_p_ask_on = capture do %>-on<% end %>

<% @show_p_ask_header = capture do %>true<% end %>
<% @on_p_ask_header_field = capture do %>-on<% end %>

<% content_for :title_content do %>
  <title>我要發問(領域)</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/p_ask_field.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="tab_contents_block">

      <div class="tab_content_block">
        <div class="tab_content">
          <ul id="tab_content_list" class="tab_content_list"><span class="-loading -left10">資料擷取中…</span></ul>
        </div>
      </div>
    </div>

  </div>

</section>



<% content_for :other_contents do %>
  <script src="./js/api/p_ask_field.js"></script>
  <script>
    $(function(){

    });
  </script>
<% end %>
