<% @on_p_on = capture do %>-on<% end %>
<% @on_p_question_on = capture do %>-on<% end %>

<% @show_p_question_header = capture do %>true<% end %>
<% @show_p_question_header_only = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>單一問題</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/p_question_single.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="content_block">
      <h1 id="title1" class="title1"></h1>
      <h2 id="title2" class="title2"></h2>

      <div id="qa_area"></div>

      <div class="rate_block">
        <span class="rate_text">我要評分</span>
        <%= render "partials/star_list" %>
      </div>

      <div id="ask_again_block" class="ask_again_block">
        <a href="#ask_modal" class="btn_ask_again" rel="modal:open">再發問</a>
      </div>

    </div>


  </div>

</section>

<div id="ask_modal" class="modal">
  <div class="modal_header">
    <a href="#" rel="modal:close" class="modal_close">&times;</a>
  </div>
  <div class="modal_content">
    <div class="ask_title_block">
      <input type="text" class="ask_title" placeholder="請輸入問題題目..." readonly>
    </div>
    <div class="ask_content_block">
      <textarea class="ask_textarea" placeholder="請輸入發問內容..."></textarea>
      <div class="q_images_block">
        <ul class="q_images_list">
          <li>
            <div class="item_block">
              <p class="img_title">問題圖片一</p>
              <div class="img_block">
                <input type="file" class="pick_pic" id="pic_1">
                <!-- span.icon_plus 多加 -none 會 display:none -->
                <span class="icon_plus" data-id="pic_1"><span class="plus_text">+</span></span>

                <!-- div.preview_img 多加 -none 會 display:none -->
                <div class="preview_img -none">
                  <button type="button" class="btn_delete"><img src="./images/icon/btn-delete.svg"></button>
                  <img src="#" class="img_preview">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item_block">
              <p class="img_title">問題圖片二</p>
              <div class="img_block">
                <input type="file" class="pick_pic" id="pic_2">
                <!-- span.icon_plus 多加 -none 會 display:none -->
                <span class="icon_plus" data-id="pic_2"><span class="plus_text">+</span></span>

                <!-- div.preview_img 多加 -none 會 display:none -->
                <div class="preview_img -none">
                  <button type="button" class="btn_delete"><img src="./images/icon/btn-delete.svg"></button>
                  <img src="#" class="img_preview">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item_block">
              <p class="img_title">問題圖片三</p>
              <div class="img_block">
                <input type="file" class="pick_pic" id="pic_3">
                <!-- span.icon_plus 多加 -none 會 display:none -->
                <span class="icon_plus" data-id="pic_3"><span class="plus_text">+</span></span>

                <!-- div.preview_img 多加 -none 會 display:none -->
                <div class="preview_img -none">
                  <button type="button" class="btn_delete"><img src="./images/icon/btn-delete.svg"></button>
                  <img src="#" class="img_preview">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="send_q_block">
      <button type="button" class="btn_send_q -disabled">送出問題</button>
    </div>
  </div>
</div>

<div id="sources_modal" class="modal" data-feed-back-id="">
  <div class="modal_header">
    選擇圖片來源
    <a href="#" rel="modal:close" class="modal_close">&times;</a>
  </div>
  <div class="modal_content">
    <ul class="action_list">
      <li>
        <button type="button" class="btn_action -choose"><span class="btn_text">上傳相片</span></button>
      </li>
      <li>
        <!-- 如果沒有「前置鏡頭」的話，button.-take-picture 按鈕加上 -disabled 這個 class -->
        <button type="button" class="btn_action -take-picture"><span class="btn_text">拍照</span></button>
      </li>
      <li>
        <!-- 如果「上傳筆記截圖」為 0 張的話，button.-uploaded 按鈕加上 -disabled 這個 class -->
        <button type="button" class="btn_action -uploaded"><span class="btn_text">上傳<br>筆記截圖</span></button>
      </li>
    </ul>
  </div>
  <div class="modal_footer">
    <button type="button" class="btn_confirm">確定</button>
  </div>
</div>

<!-- 上傳筆記截圖預覽 -->
<div id="upload_note_picture_modal" class="modal">
  <div class="modal_header">
    <a href="#" rel="modal:close" class="modal_close">&times;</a>
  </div>
  <div class="modal_content">
    <ul class="note_list">
    </ul>
  </div>
  <div class="modal_footer">
    <button type="button" class="btn_upload_confirm">確定</button>
  </div>
</div>

<!-- 圖片放大預覽 -->
<div class="preview_modal">
  <div class="img_block_container">
    <div class="img_block">
      <button type="button" class="btn_preview_close">&times;</button>
      <img src="#" class="img_preview_item">
    </div>
  </div>
</div>

<input type="hidden" name="tmp_ol_id" id="tmp_ol_id" />
<input type="hidden" name="tmp_ot_id" id="tmp_ot_id" />

<% content_for :other_contents do %>
  <!-- 圖片放大預覽 -->
  <div class="preview_modal_for_q">
    <div class="img_block_container">
      <div class="img_block">
        <button type="button" class="btn_preview_close_for_q">&times;</button>
        <button type="button" class="btn_remove_item_for_q">刪除</button>
        <img src="#" class="img_preview_item">
      </div>
    </div>
  </div>

	<script src="./js/url.min.js"></script>
	<script src="./js/detectrtc/DetectRTC.min.js"></script>
	<script src="./js/webcamjs/webcam.min.js"></script>
	<script src="./js/api/header_text.js"></script>
	<script src="./js/api/p_question_header.js"></script>
	<script src="./js/api/p_question_single.js"></script>
	<script src="./js/api/m_e_userquestion.js"></script>
	<script>
		$(function(){

      // 點擊：選圖
      $("span.icon_plus").on("click", function(){
        //var el_img_block = $(this).closest("div.img_block");
        //$(el_img_block).find("input[type=file]").click();

        var item_data_id = $(this).attr("data-id");

        $("#sources_modal").attr("data-feed-back-id", item_data_id);
        $("#sources_modal").modal({ closeExisting: false });
        $("#sources_modal").find("button.btn_action").removeClass("-on");
      });

      // 圖片預覽
      $("input.pick_pic").on("change", function(){
        var el_img_block = $(this).closest("div.img_block");
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e) {
            $(el_img_block).find("span.icon_plus").addClass("-none");
            $(el_img_block).find("div.preview_img").removeClass("-none");
            $(el_img_block).find("img.img_preview").attr("src", e.target.result);
            $("#sources_modal").find("a.modal_close").click();
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      // 移除預覽
      $("button.btn_delete").on("click", function(){
        var el_img_block = $(this).closest("div.img_block");

        $(el_img_block).find("span.icon_plus").removeClass("-none");
        $(el_img_block).find("div.preview_img").addClass("-none");
        $(el_img_block).find("input.pick_pic").val("");
      });

      // 放大預覽
      $(document).on("click", "img.data_img_preview", function(){
        //var item_id = $(this).closest("div.img_block").find("input.pick_pic").attr("id");
        $("div.preview_modal").addClass("-show");
        $("body").addClass("-overflow-hidden");
        //$("div.preview_modal").attr("data-target", item_id);
        $("div.preview_modal").find("img.img_preview_item").attr("src", $(this).attr("src"));
      });

      // 放大預覽
      $("img.img_preview").on("click", function(){
        var item_id = $(this).closest("div.img_block").find("input.pick_pic").attr("id");
        $("div.preview_modal_for_q").addClass("-show");
        $("body").addClass("-overflow-hidden");
        $("div.preview_modal_for_q").attr("data-target", item_id);
        $("div.preview_modal_for_q").find("img.img_preview_item").attr("src", $(this).attr("src"));
      });
      // 關閉放大的預覽
      $("button.btn_preview_close_for_q").on("click", function(){
        $("div.preview_modal_for_q").removeClass("-show");
        $("body").removeClass("-overflow-hidden");
      });
      // 刪除所選的圖
      $("button.btn_remove_item_for_q").on("click", function(){
        $("div.preview_modal_for_q").removeClass("-show");
        $("body").removeClass("-overflow-hidden");
        var target_id = $(this).closest("div.preview_modal_for_q").attr("data-target");
        $("input#" + target_id).closest("div.img_block").find("button.btn_delete").click();
      });

      // 關閉放大的預覽
      $("button.btn_preview_close").on("click", function(){
        $("div.preview_modal").removeClass("-show");
        $("body").removeClass("-overflow-hidden");
      });

      // 選擇圖片方式
      $("button.btn_action").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          $(this).closest("ul.action_list").find("button.btn_action").removeClass("-on");
          $(this).addClass("-on");
        }
      });
		// 評分
		$("button.btn_star").on("click", function(){
			newUserQuestionRating($(this).attr("data-star"));
		})
      $("button.btn_confirm").on("click", function(){
        var el_btn_on_action = $(this).closest("div.modal").find("button.btn_action.-on");
        if(el_btn_on_action.length == 0){
          alert("請選擇圖片來源方式");
        }else{

          var feed_back_id = $(this).closest("div.modal").attr("data-feed-back-id");
          if($(el_btn_on_action).hasClass("-choose")){ // 上傳圖片
            var el_img_block = $("span.icon_plus[data-id='" + feed_back_id + "']").closest("div.img_block");
            $(el_img_block).find("input[type=file]").click();
          }
          if($(el_btn_on_action).hasClass("-take-picture")){ // 拍照
            window.open("./p_ask_question_camera.html", "cameraName", "height=480,width=1200");
          }
          if($(el_btn_on_action).hasClass("-uploaded")){ // 上傳筆記截圖
            $("#upload_note_picture_modal").modal({ closeExisting: false });
          }
        }
      });

      // 上傳筆記截圖預覽
      $(document).on("click", "button.btn_note_choose", function(){
        $(this).closest("ul").find("button.btn_note_choose").removeClass("-on");
        $(this).addClass("-on");
      });

      // 上傳筆記截圖確定
      $("button.btn_upload_confirm").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          if($(this).closest("div.modal").find("button.btn_note_choose.-on").length > 0){
            var img_src = $(this).closest("div.modal").find("button.btn_note_choose.-on").find("img").attr("src");
            var item_data_id = $("#sources_modal").attr("data-feed-back-id");
			toDataUrl(img_src, function(myBase64) {
				img_src = myBase64; // myBase64 is the base64 string
				$("input#" + item_data_id).closest("div.img_block").find("div.preview_img").removeClass("-none"); // 顯示預覽
				$("input#" + item_data_id).closest("div.img_block").find("div.preview_img").find("img.img_preview").attr("src", img_src); // 顯示預覽
				$("#upload_note_picture_modal").find("a.modal_close").click();
				$("#sources_modal").find("a.modal_close").click();
			});

          }else{
            alert("尚未選擇");
          }
        }
      });

      // 如果不支援拍照，就加上 -disabled
      DetectRTC.load(function() {
        //console.log("webcam:" + DetectRTC.hasWebcam);
        if(!DetectRTC.hasWebcam){
          $("button.btn_action.-take-picture").addClass("-disabled");
        }
      });

      $("textarea.ask_textarea").on("keyup blur", function(){
        var have_data = false;
        if($(this).val() != ""){
          have_data = true;
        }
        if(have_data){
          $("#ask_modal").find("button.btn_send_q").removeClass("-disabled");
        }else{
          $("#ask_modal").find("button.btn_send_q").addClass("-disabled");
        }
      });

			$(document).on("click", "#ask_modal button.btn_send_q", function(){
				if(!$(this).hasClass("-disabled")){
					// 送出資料
					var imgBase64_1 = "", imgBase64_2 = "", imgBase64_3 = "";
					$.each($(".img_preview"), function( index, item ) {
						if ($(this).attr("src") != "#") {
							if (imgBase64_1 == "") {
								imgBase64_1 = $(this).attr("src");
							}
							else if (imgBase64_2 == "") {
								imgBase64_2 = $(this).attr("src");
							}
							else if (imgBase64_3 == "") {
								imgBase64_3 = $(this).attr("src");
							}
						}
					});
					if (newUserQuestion(imgBase64_1, imgBase64_2, imgBase64_3, $.trim($("input.ask_title").val()), $.trim($("textarea.ask_textarea").val()), $("#tmp_ot_id").val(), "", 0, "")) {
						// 成功處理
						window.location.href = window.location.href;
					}
				}
			});
		});
	function toDataUrl(url, callback) {
		var xhr = new XMLHttpRequest();
		xhr.onload = function() {
			var reader = new FileReader();
			reader.onloadend = function() {
				callback(reader.result);
			}
			reader.readAsDataURL(xhr.response);
		};
		xhr.open('GET', url);
		xhr.responseType = 'blob';
		xhr.send();
	}
	</script>
<% end %>
