<% @on_p_on = capture do %>-on<% end %>
<% @on_p_question_on = capture do %>-on<% end %>

<% @show_p_question_header = capture do %>true<% end %>
<% @show_p_question_header_only = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>問題列表</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/p_question_list.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="tab_contents_block">

      <div class="tab_content_block">

        <div class="tab_content">
          <h1 id="title1" class="title1"></h1>
          <form action="" method="">

            <div class="star_and_q_filter_block">
              <div class="star_level">

                <ul class="star_list">
                  <li>
                    <div class="radio_block">
                      <input type="radio" name="star_check" id="check_all" class="star_radio" value="0" checked>
                      <label for="check_all"><span class="inner_style">全部</span></label>
                    </div>
                  </li>
                  <li>
                    <div class="radio_block">
                      <input type="radio" name="star_check" id="star_5" class="star_radio" value="5">
                      <label for="star_5"><span class="inner_style"><img src="./images/icon/star_5.svg"></span></label>
                    </div>
                  </li>
                  <li>
                    <div class="radio_block">
                      <input type="radio" name="star_check" id="star_4" class="star_radio" value="4">
                      <label for="star_4"><span class="inner_style"><img src="./images/icon/star_4.svg"><img src="./images/icon/icon_arrow_up.svg" class="arrow"></span></label>
                    </div>
                  </li>
                  <li>
                    <div class="radio_block">
                      <input type="radio" name="star_check" id="star_3" class="star_radio" value="3">
                      <label for="star_3"><span class="inner_style"><img src="./images/icon/star_3.svg"><img src="./images/icon/icon_arrow_up.svg" class="arrow"></span></label>
                    </div>
                  </li>
                </ul>

              </div>
              <div class="q_and_answer">
                <ul class="q_and_answer_list">
                  <li>
                    <div class="checkbox_block -choice_1">
                      <input type="checkbox" id="answered" class="choice_checkbox">
                      <label for="answered"><img src="./images/icon/checkbox-x.svg" class="icon_check -x"><img src="./images/icon/checkbox-v.svg" class="icon_check -v">已解答</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox_block -choice_2">
                      <input type="checkbox" id="my_q" class="choice_checkbox">
                      <label for="my_q"><img src="./images/icon/checkbox-x.svg" class="icon_check -x"><img src="./images/icon/checkbox-v.svg" class="icon_check -v">我的發問</label>
                    </div>
                  </li>
                </ul>

              </div>
            </div>

            <div class="question_list_block">

              <ul id="item_list" class="item_list"><span class="-loading">資料擷取中…</span></ul>
              <div class="page_container">
                <div class="page_number_block">

                  <button type="button" id="pager_tri_left_button" class="btn_pager_left -disabled"><span class="tri_left"></span><span class="tri_left"></span></button>

                  <button type="button" id="pager_left_button" class="btn_item btn_left -disabled"></button>
                  <span class="page_number"><span id="current_page" class="current_page">01</span><span class="span_slash">/</span><span id="total_page" class="total_page"></span></span>
                  <button type="button" id="pager_right_button" class="btn_item btn_right -disabled"></button>

                  <button type="button" id="pager_tri_right_button" class="btn_pager_right -disabled"><span class="tri_right"></span><span class="tri_right"></span></button>

                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>


  </div>

</section>



<% content_for :other_contents do %>
  <script src="./js/url.min.js"></script>
  <script src="./js/api/header_text.js"></script>
  <script src="./js/api/p_question_header.js"></script>
  <script src="./js/api/p_question_list.js"></script>
  <script>
    $(function(){

      // pager
      $("button.btn_item").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          var page_number_block = $(this).closest("div.page_number_block")[0];
          var current_page = parseInt($(page_number_block).find("span.current_page").html());
          var total_page = parseInt($(page_number_block).find("span.total_page").html());
          var item_list = $(this).closest("div.tab_content_block").find("ul.item_list")[0];

          if($(this).hasClass("btn_left")){
            var next_page = current_page - 1;
          }
          if($(this).hasClass("btn_right")){
            var next_page = current_page + 1;
          }

          $(item_list).children("li").addClass("no_display");
          $(item_list).children("li").each(function(index){
            if( 10*(next_page-1) < (index+1) && (index+1) <= 10*(next_page) ){
              $(this).removeClass("no_display");
            }
          });
          $(page_number_block).find("span.current_page").html(str_pad(next_page, 2, 0))

          $(this).closest("div.page_number_block").find("button.btn_item").removeClass("-disabled");
          $(this).closest("div.page_number_block").find("button.btn_pager_left, button.btn_pager_right").removeClass("-disabled");
          if(next_page == 1){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_left").addClass("-disabled");
            $(this).closest("div.page_number_block").find("button.btn_pager_left").addClass("-disabled");
          }
          if(next_page == total_page){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_right").addClass("-disabled");
            $(this).closest("div.page_number_block").find("button.btn_pager_right").addClass("-disabled");
          }
        }
      });

      // 分頁按鈕最左及最右
      $("button.btn_pager_left, button.btn_pager_right").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          var page_number_block = $(this).closest("div.page_number_block")[0];
          var total_page = parseInt($(page_number_block).find("span.total_page").html());
          var item_list = $(this).closest("div.tab_content_block").find("ul.item_list")[0];

          if($(this).hasClass("btn_pager_left")){
            var next_page = 1;
          }else{
            var next_page = total_page;
          }

          $(item_list).children("li").addClass("no_display");
          $(item_list).children("li").each(function(index){
            if( 10*(next_page-1) < (index+1) && (index+1) <= 10*(next_page) ){
              $(this).removeClass("no_display");
            }
          });
          $(page_number_block).find("span.current_page").html(str_pad(next_page, 2, 0));

          $(this).closest("div.page_number_block").find("button.btn_item").removeClass("-disabled");
          $(this).closest("div.page_number_block").find("button.btn_pager_left, button.btn_pager_right").removeClass("-disabled");
          if(next_page == 1){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_left").addClass("-disabled");
            $(this).closest("div.page_number_block").find("button.btn_pager_left").addClass("-disabled");
          }
          if(next_page == total_page){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_right").addClass("-disabled");
            $(this).closest("div.page_number_block").find("button.btn_pager_right").addClass("-disabled");
          }
        }
      });

    });
  </script>
<% end %>
