<% @on_p_on = capture do %>-on<% end %>
<% @on_p_record_point_list_on = capture do %>-on<% end %>

<% content_for :title_content do %>
  <title>點數紀錄</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./js/jquery-date-range-picker/daterangepicker.min.css" rel="stylesheet">
  <link href="./css/p_record_point_list.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="search_block">
    <h1 id="current_point" class="title1">目前剩餘點數：</h1>
    <div class="form_block">
      <form class="form_edit" action="#" method="post">

        <!-- 日期 -->
        <div class="input_group -block -date_block">
          <label class="general_label">
            <span class="span_text">日期：</span>
            <input type="text" class="text_input -date" id="date_start">
            <span class="-dash">-</span>
            <input type="text" class="text_input -date" id="date_end">
          </label>
        </div>

        <!-- 帳號 -->
        <div class="input_group -block">
          <div class="input_group">
            <label class="general_label"><span class="span_text">帳號：</span></label>
            <div class="account_block">
              <select id="account_select" class="account_select">
                <option value="-1" selected>全部</option>
              </select>
            </div>
          </div>
        </div>

        <!-- 項目 -->
        <div class="input_group -block">
          <div class="input_group">
            <label class="general_label"><span class="span_text">項目：</span></label>
            <div class="item_block">
              <select id="item_select" class="item_select">
                <option value="-1" selected>全部</option>
              </select>
            </div>
          </div>
        </div>

        <div class="send_block">
          <button type="submit" class="btn_submit">搜尋</button>
        </div>

      </form>
    </div>

    <!-- 搜尋結果 -->
    <div id="search_result" class="search_result">
    </div>
  </div>
</section>

<% content_for :other_contents do %>
  <script src="./js/moment/moment.min.js"></script>
  <script src="./js/jquery-date-range-picker/jquery.daterangepicker.min.js"></script>
  <script src="./js/api/p_record_point_list.js"></script>
  <script>
    $(function(){

    $('#date_start,#date_end').each(function(){
      $(this).dateRangePicker({
        //separator : ' 到 ',
        language: 'tc',
        format: 'YYYY/MM/DD',
        autoClose: true,
      	singleDate : true,
      	showShortcuts: false,
      	singleMonth: true
      });
    });
    // 預設為今日
    var today_date = new Date();
    var today_date_str = today_date.getFullYear() + '/' + (today_date.getMonth()+1) + '/' + today_date.getDate();
    $('#date_start').data('dateRangePicker').setStart(today_date_str);
    $('#date_end').data('dateRangePicker').setStart(today_date_str);

    // 日期不能手動更改
    $('#date_start,#date_end').on('keydown', function(e){
      e.preventDefault();
    });

      /*
      $('#date_start,#date_end').each(function(){
        $(this).dateRangePicker({
        	separator : ' 到 ',
          language: 'tc',
          format: 'YYYY/MM/DD',
        	getValue: function()
        	{
        		if ($('#date_start').val() && $('#date_end').val() )
        			return $('#date_start').val() + ' 到 ' + $('#date_end').val();
        		else
        			return '';
        	},
        	setValue: function(s,s1,s2)
        	{
        		$('#date_start').val(s1);
        		$('#date_end').val(s2);
        	}
        });
      });
      */

      // pager
      $(document).on("click", "button.btn_item", function(){
        if(!$(this).hasClass("-disabled")){
          var page_number_block = $(this).closest("div.page_number_block")[0];
          var current_page = parseInt($(page_number_block).find("span.current_page").html());
          var total_page = parseInt($(page_number_block).find("span.total_page").html());
          var item_list = $(this).closest("div.search_result").find("table.custom_table tbody")[0];

          if($(this).hasClass("btn_left")){
            var next_page = current_page - 1;
          }
          if($(this).hasClass("btn_right")){
            var next_page = current_page + 1;
          }

          $(item_list).children("tr").addClass("no_display");
          $(item_list).children("tr").each(function(index){
            if( 10*(next_page-1) < (index+1) && (index+1) <= 10*(next_page) ){
              $(this).removeClass("no_display");
            }
          });
          $(page_number_block).find("span.current_page").html(str_pad(next_page, 2, 0))

          $(this).closest("div.page_number_block").find("button.btn_item").removeClass("-disabled");
          $(this).closest("div.page_number_block").find("button.btn_pager_left, button.btn_pager_right").removeClass("-disabled");
          if(next_page == 1){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_left").addClass("-disabled");
            $(this).closest("div.page_number_block").find("button.btn_pager_left").addClass("-disabled");
          }
          if(next_page == total_page){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_right").addClass("-disabled");
            $(this).closest("div.page_number_block").find("button.btn_pager_right").addClass("-disabled");
          }
        }
      });

      // 分頁按鈕最左及最右
      $(document).on("click", "button.btn_pager_left, button.btn_pager_right", function(){
        if(!$(this).hasClass("-disabled")){
          var page_number_block = $(this).closest("div.page_number_block")[0];
          var total_page = parseInt($(page_number_block).find("span.total_page").html());
          var item_list = $(this).closest("div.search_result").find("table.custom_table tbody")[0];

          if($(this).hasClass("btn_pager_left")){
            var next_page = 1;
          }else{
            var next_page = total_page;
          }

          $(item_list).children("tr").addClass("no_display");
          $(item_list).children("tr").each(function(index){
            if( 10*(next_page-1) < (index+1) && (index+1) <= 10*(next_page) ){
              $(this).removeClass("no_display");
            }
          });
          $(page_number_block).find("span.current_page").html(str_pad(next_page, 2, 0));

          $(this).closest("div.page_number_block").find("button.btn_item").removeClass("-disabled");
          $(this).closest("div.page_number_block").find("button.btn_pager_left, button.btn_pager_right").removeClass("-disabled");
          if(next_page == 1){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_left").addClass("-disabled");
            $(this).closest("div.page_number_block").find("button.btn_pager_left").addClass("-disabled");
          }
          if(next_page == total_page){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_right").addClass("-disabled");
            $(this).closest("div.page_number_block").find("button.btn_pager_right").addClass("-disabled");
          }
        }
      });

    });
  </script>
<% end %>
