<% @on_p_on = capture do %>-on<% end %>
<% @on_p_record_wrong_list_on = capture do %>-on<% end %>

<% content_for :title_content do %>
  <title>單一勘誤</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/p_record_wrong_single.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="content_block">
      <p id="us_name" class="general_para"></p>
      <div class="q_block">
        <p id="ue_content" class="q_para"></p>

        <div id="q_images_block" class="q_images_block">
          <ul id="question_images_list" class="q_images_list">
          </ul>
        </div>
      </div>

      <p id="admin_name" class="general_para -for-answer"></p>

      <div id="answer_block" style="display: none;" class="a_block">
        <p id="ue_answer_content" class="q_para"></p>

      </div>

    </div>


  </div>

</section>

<!-- 圖片放大預覽 -->
<div class="preview_modal">
  <div class="img_block_container">
    <div class="img_block">
      <button type="button" class="btn_preview_close">&times;</button>
      <img src="#" class="img_preview_item">
    </div>
  </div>
</div>

<% content_for :other_contents do %>
  <script src="./js/url.min.js"></script>
  <script src="./js/api/p_record_wrong_single.js"></script>
  <script>
    $(function(){

      // 放大預覽
      $(document).on("click", "img.data_img_preview", function(){
        //var item_id = $(this).closest("div.img_block").find("input.pick_pic").attr("id");
        $("div.preview_modal").addClass("-show");
        $("body").addClass("-overflow-hidden");
        //$("div.preview_modal").attr("data-target", item_id);
        $("div.preview_modal").find("img.img_preview_item").attr("src", $(this).attr("src"));
      });

      // 關閉放大的預覽
      $("button.btn_preview_close").on("click", function(){
        $("div.preview_modal").removeClass("-show");
        $("body").removeClass("-overflow-hidden");
      });

    });
  </script>
<% end %>
