<% @on_q_on = capture do %>-on<% end %>
<% @on_q_test_history = capture do %>-on<% end %>

<% @show_test_history_header = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>歷屆試題</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/q_db_test_history.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


      <div class="tab_contents_block">

      <div class="tab_content_block">

        <ul class="item_list" id="item_list"><span class="-loading">資料擷取中…</span></ul>

        <div class="page_container" id="page_container">
          <div class="page_number_block">
            <button type="button" class="btn_item btn_left -disabled"></button>
            <span class="page_number"><span class="current_page">01</span><span class="span_slash">/</span><span id="total_page" class="total_page"></span></span>
            <button id="pager_right_button" type="button" class="btn_item btn_right -disabled"></button>
          </div>
        </div>
      </div>

    </div>

    <h2 class="title2">最近觀看</h2>
    <div class="recently_view">
      <ul class="item_list" id="recently_view_item_list"><span class="-loading">資料擷取中…</span></ul>
    </div>
  </div>

</section>



<% content_for :other_contents do %>
  <script src="./js/url.min.js"></script>
  <script src="./js/api/q_db_test_history.js"></script>
  <script>
    $(function(){

      // pager
      $("button.btn_item").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          var page_number_block = $(this).closest("div.page_number_block")[0];
          var current_page = parseInt($(page_number_block).find("span.current_page").html());
          var total_page = parseInt($(page_number_block).find("span.total_page").html());
          var item_list = $(this).closest("div.tab_content_block").find("ul.item_list")[0];

          if($(this).hasClass("btn_left")){
            var next_page = current_page - 1;
          }
          if($(this).hasClass("btn_right")){
            var next_page = current_page + 1;
          }

          $(item_list).children("li").addClass("no_display");
          $(item_list).children("li").each(function(index){
            if( 15*(next_page-1) < (index+1) && (index+1) <= 15*(next_page) ){
              $(this).removeClass("no_display");
            }
          });
          $(page_number_block).find("span.current_page").html(str_pad(next_page, 2, 0))

          $(this).closest("div.page_number_block").find("button.btn_item").removeClass("-disabled");
          if(next_page == 1){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_left").addClass("-disabled");
          }
          if(next_page == total_page){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_right").addClass("-disabled");
          }
        }
      });

      $(document).on("click", "a.item_link", function(e){
        e.preventDefault();
        //window.open($(this).attr("data-exam-question-path"), "_blank");
        //window.open($(this).attr("data-exam-explain-path"), "_blank");

        var exam_question_name = $(this).attr("data-exam-question-name");
        var exam_explain_name = $(this).attr("data-exam-explain-name");
        var that = this;

        $.ajax({
      		// url: "https://test.azul.com.tw:15200/handout_ol_id_58.pdf",
      		url: $(this).attr("data-exam-question-path"),
      		type: "GET",
      		dataType: "binary",
      		processData: false,
      		success: function(response){
            var binaryData = [];
      			binaryData.push(response);
      			var downloadUrl = window.URL.createObjectURL(new Blob(binaryData, {type: "application/pdf"}))
      			var a = document.createElement("a");
      			a.href = downloadUrl;
      			a.download = exam_question_name;
            document.body.appendChild(a);
      			a.click();

            $.ajax({
              // url: "https://test.azul.com.tw:15200/handout_ol_id_58.pdf",
              url: $(that).attr("data-exam-explain-path"),
              type: "GET",
              dataType: "binary",
              processData: false,
              success: function(response2){
                var binaryData2 = [];
                binaryData2.push(response2);
                var downloadUrl2 = window.URL.createObjectURL(new Blob(binaryData2, {type: "application/pdf"}))
                var a2 = document.createElement("a");
                a2.href = downloadUrl2;
                a2.download = exam_explain_name;
                document.body.appendChild(a2);
                a2.click();
              }
            });

      		}
      	});


		sendExamRecord($(this).attr("data-exam-id"));
      });


    });
  </script>
<% end %>
