<% @on_q_on = capture do %>-on<% end %>
<% @on_q_exam = capture do %>-on<% end %>

<% @show_exam_header = capture do %>true<% end %>
<% @show_exam_header_only = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>自動/手動 命題</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/q_db_auto_and_manual_question.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">


    <div class="tab_contents_block">
      <div class="tab_block">
        <ul class="tab_list">
          <li><button type="button" class="btn_tab -on" data-target="tab1">自動命題</button></li>
          <li><button type="button" class="btn_tab" data-target="tab2" onclick="if (!isGetAll) getAllQuestion();">手動命題</button></li>
        </ul>
      </div>

      <div class="tab_content_block">
        <div class="tab_content" data-tab="tab1">
          <h1 class="title1"></h1>
          <form action="" method="">
            <div class="difficult_priority_block">
              <div class="difficult_level">
                <%= render "partials/difficult_level_list", locals: {radio_name: "difficult_for_auto", radio_id_1: "difficult_easy_for_auto", radio_id_2: "difficult_middle_for_auto", radio_id_3: "difficult_hard_for_auto"} %>
              </div>
              <div class="priority_level">
                <%= render "partials/priority_level_list", locals: {checkbox_id_1: "priority_video_for_auto", checkbox_id_2: "priority_never_for_auto", ischecked_1: "", ischecked_2: ""} %>
              </div>
            </div>
            <div class="test_count_block">
              <ul class="test_count_list">
                <li>
                  <div class="item_all_block">
                    <div class="left_block -easy">易</div>
                    <div class="middle_block">
                      <input name="difficult_easy_qty" id="difficult_easy_qty" type="text" value="0" class="count_text" onchange="resetButton();" />
                    </div>
                    <div class="right_block">
                      <p id="q_level_qty_easy" class="para">0 題</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="item_all_block">
                    <div class="left_block -medium">中</div>
                    <div class="middle_block">
                      <input name="difficult_medium_qty" id="difficult_medium_qty" type="text" value="0" class="count_text" onchange="resetButton();" />
                    </div>
                    <div class="right_block">
                      <p id="q_level_qty_normal" class="para">0 題</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="item_all_block">
                    <div class="left_block -difficult">難</div>
                    <div class="middle_block">
                      <input name="difficult_hard_qty" id="difficult_hard_qty" type="text" value="0" class="count_text" onchange="resetButton();" />
                    </div>
                    <div class="right_block">
                      <p id="q_level_qty_difficult" class="para">0 題</p>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="start_or_print">
                <!-- <a href="./q_db_test.html" class="to_start">開始測驗</a> -->
                <button type="button" class="to_start to_start_1 -disabled">開始測驗</button>
                <button type="button" class="to_print to_print_1 -disabled">列印</button>
              </div>
            </div>
          </form>
        </div>
        <div class="tab_content no_display" data-tab="tab2">
          <h1 class="title1"></h1>
          <form action="" method="">
            <div class="difficult_priority_block">
              <div class="difficult_level">
                <%= render "partials/difficult_level_list_for_multiple", locals: {checkbox_id_1: "difficult_easy_for_manual", checkbox_id_2: "difficult_middle_for_manual", checkbox_id_3: "difficult_hard_for_manual"} %>
              </div>
              <div class="priority_level">
                <%= render "partials/priority_level_list", locals: {checkbox_id_1: "priority_video_for_manual", checkbox_id_2: "priority_never_for_manual", ischecked_1: "", ischecked_2: ""} %>
              </div>
            </div>
            <div class="question_list_block">
              <div class="info_check_block">
                <div class="checkbox_block">
                  <input type="checkbox" class="-check-all" id="check_all">
                  <label for="check_all"><img src="./images/icon/checkbox-x.svg" class="-x"><img src="./images/icon/checkbox-v.svg" class="-v"><span class="check_all_text">全選</span></label>
                </div>
                <span class="info_text">已勾選 <span class="check_count">0</span> 題</span>
              </div>
              <ul class="item_list q_and_a_block_container">
                <!-- 手動命題題目列表 -->
              </ul>
              <div class="page_container">
                <div class="start_or_print">
                  <!-- <a href="./q_db_test.html" class="to_start">開始測驗</a> -->
                  <button type="button" class="to_start to_start_2 -disabled">開始測驗</button>
                  <button type="button" class="to_print to_print_2 -disabled">列印</button>
                </div>
                <div class="page_number_block">
                  <button type="button" class="btn_item btn_left -disabled"></button>
                  <span class="page_number"><span class="current_page">01</span><span class="span_slash">/</span><span class="total_page">00</span></span>
                  <button type="button" class="btn_item btn_right -disabled"></button>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>


  </div>

</section>



<% content_for :other_contents do %>
	<script src="./js/url.min.js"></script>
	<script src="./js/api/header_text.js"></script>
	<script src="./js/api/m_e_test.js"></script>
	<script src="./js/api/q_db_auto_and_manual_question.js"></script>
	<script src="./js/api/q_db_exam_header.js"></script>
	<script>
	var rtnQuestion;
	$(function(){
		// 取得大綱節點下測驗數量，依難度區分
		testDifficultCount();
		
		$("button.btn_tab").on("click", function(){
			var data_target = $(this).attr("data-target");
			var el_tab_contents_block = $(this).closest("div.tab_contents_block");
			$(el_tab_contents_block).find("div.tab_content").addClass("no_display");
			$(el_tab_contents_block).find("div.tab_content[data-tab=" + data_target + "]").removeClass("no_display");

			$(this).closest("ul.tab_list").find("button.btn_tab").removeClass("-on");
			$(this).addClass("-on");
		});

		// pager
		$("button.btn_item").on("click", function(){
			// if(!$(this).hasClass("-disabled")){
				var page_number_block = $(this).closest("div.page_number_block")[0];
				var current_page = parseInt($(page_number_block).find("span.current_page").html());
				var total_page = parseInt($(page_number_block).find("span.total_page").html());
				var item_list = $(this).closest("div.tab_content_block").find("ul.item_list")[0];

				if (current_page > total_page) {
					current_page = total_page;
					$(page_number_block).find("span.current_page").html(current_page);
				}
				if (current_page < 0) current_page = 1;
				
				var next_page = 0;
				if($(this).hasClass("btn_left")){
					next_page = current_page - 1;
				}
				if($(this).hasClass("btn_right")){
					next_page = current_page + 1;
				}
				if (next_page < 1) next_page = 1;
				if (next_page > total_page) next_page = total_page;
				
				$(item_list).children("li").addClass("no_display");
				
				var tCounter = 0, tVaildCounter = 0;
				$(item_list).children("li").each(function(index){
					if (!$(this).hasClass("no_valid")) {
						tVaildCounter++;
						// if( 10*(next_page-1) < (tVaildCounter + 1) && (tVaildCounter + 1) <= 10*(next_page) ) {
						if ((next_page - 1) * 10 + 1 <= tVaildCounter && next_page * 10 >= tVaildCounter) {
							$(this).removeClass("no_display");
						}
					}
				});
				
				$(page_number_block).find("span.current_page").html(str_pad(next_page, 2, 0))

				$(this).closest("div.page_number_block").find("button.btn_item").removeClass("-disabled");
				if(next_page <= 1){
					$(this).closest("div.page_number_block").find("button.btn_item.btn_left").addClass("-disabled");
				}
				if(next_page == total_page){
					$(this).closest("div.page_number_block").find("button.btn_item.btn_right").addClass("-disabled");
				}
				
				resetCheckAll();
			// }
		});

		// checkbox 全選
		$("input.-check-all").on("click", function() {
			var el_question_list_block = $(this).closest("div.question_list_block");
			var el_item_list = $(el_question_list_block).find("ul.item_list");
			// $(el_question_list_block).find("input.item_check").prop("checked", $(this).prop("checked"));
			$(".manual_question_item").not('.no_display').find("input.item_check").prop("checked", $(this).prop("checked"));
			
			setTimeout('$("span.check_count").html($("input.item_check:checked").length);', 500);
			
			resetQuestionSet();
			resetManunlButton();
		});
	});

		// 手動
		$("#difficult_easy_for_manual, #difficult_middle_for_manual, #difficult_hard_for_manual, #priority_video_for_manual, #priority_never_for_manual").on("click", function() {
			// 不能三個都不選
			if ($("#difficult_easy_for_manual:checked").length == 0 && $("#difficult_middle_for_manual:checked").length == 0 && $("#difficult_hard_for_manual:checked").length == 0) {
				$(this).prop("checked", true);
			}
			
			var tCounter = 0;
			$(".manual_question_item").each(function(index) {
				var bShow = false;
				switch($(this).attr("data-td_name")) {
					case "易":
						if ($("#difficult_easy_for_manual:checked").length > 0) {
							bShow = true;
						}
						break;
					case "中":
						if ($("#difficult_middle_for_manual:checked").length > 0) {
							bShow = true;
						}
						break;
					case "難":
						if ($("#difficult_hard_for_manual:checked").length > 0) {
							bShow = true;
						}
						break;
				}
				if (bShow) {
					// 勾選影片優先時
					/*if ($("#priority_video_for_manual:checked").length > 0) {
						if ($(this).attr("data-audio") != "1") bShow = false;
					}*/
					if ($("#priority_video_for_manual:checked").length > 0) {
						if ($(this).attr("data-tq_video") != "1") bShow = false;
					}
					// 勾選未做優先時
					if ($("#priority_never_for_manual:checked").length > 0) {
						if ($(this).attr("data-already_test") != "1") bShow = false;
					}
				}
				if (bShow) {
					$(this).removeClass('no_valid');
					if (tCounter < 10)
						$(this).removeClass('no_display');
					else
						$(this).addClass('no_display');
					tCounter++;
				}
				else {
					$(this).addClass('no_display no_valid');
				}
			});
			$(".total_page").html(str_pad(Math.ceil(tCounter / 10), 2, 0));
			$("button.btn_item").click(); // pager reset
		});
		// 開始測驗
		$("button.to_start_1").on("click", function(){
			if(!$(this).hasClass("-disabled")) {
				if ((parseInt($('#difficult_easy_qty').val(), 10) || 0) > maxLevelQty_easy) $('#difficult_easy_qty').val(maxLevelQty_easy);
				if ((parseInt($('#difficult_medium_qty').val(), 10) || 0) > maxLevelQty_normal) $('#difficult_medium_qty').val(maxLevelQty_normal);
				if ((parseInt($('#difficult_hard_qty').val(), 10) || 0) > maxLevelQty_difficult) $('#difficult_hard_qty').val(maxLevelQty_difficult);
				var tmpQty = (parseInt($('#difficult_easy_qty').val(), 10) || 0) + (parseInt($('#difficult_medium_qty').val(), 10) || 0) + (parseInt($('#difficult_hard_qty').val(), 10) || 0);
				if (tmpQty < 5) {
					// alert("至少五題才可以出卷喲");
					return;
				}
				else if (tmpQty > 50) {
					alert("題目數量最多選擇50題");
					return;
				}
				
				var difficult_for_auto = $('input[name=difficult_for_auto]:checked').val();
				var priority_video_for_auto = ($('#priority_video_for_auto:checked').length > 0) ? 1 : 0;
				var priority_never_for_auto = ($('#priority_never_for_auto:checked').length > 0) ? 1 : 0;

				window.location.href = "./q_db_test.html?ol_id="+ olId + "&field_name=" + fieldName + "&subject_name=" + subjectName + "&version_name=" + versionName + "&grade_group_name=" + gradeGroupName
					+ "&difficult_easy_qty=" + $('#difficult_easy_qty').val() + "&difficult_medium_qty=" + $('#difficult_medium_qty').val() + "&difficult_hard_qty=" + $('#difficult_hard_qty').val()
					+ "&is_video=" + priority_video_for_auto + "&is_never=" + priority_never_for_auto + "&difficult_for_auto=" + difficult_for_auto;
			}
		});
		$("button.to_start_2").on("click", function() {
			var tmpQty = $('.item_check:checked').length;
			if (tmpQty < 5) {
				// alert("至少五題才可以出卷喲");
				return;
			}
			else if (tmpQty > 50) {
				alert("題目數量最多選擇50題");
				return;
			}
			
			var tq_ids = '';
			$('.item_check:checked').each(function(index){
				tq_ids += ((tq_ids != "") ? "," : "") + $(this).val();
			});
			
			window.localStorage["test_questions"] = JSON.stringify(rtnQuestion);
			
			window.location.href = "./q_db_test.html?ol_id="+ olId + "&field_name=" + fieldName + "&subject_name=" + subjectName + "&version_name=" + versionName + "&grade_group_name=" + gradeGroupName
				+ "&difficult_easy_qty=" + maxLevelQty_easy + "&difficult_medium_qty=" + maxLevelQty_normal + "&difficult_hard_qty=" + maxLevelQty_difficult
				+ "&tq_ids=" + tq_ids + "&islocalstorage=1";
				
		});
		// 開始測驗
		
		// 列印功能
		$("button.to_print_1").on("click", function(){
			if ((parseInt($('#difficult_easy_qty').val(), 10) || 0) > maxLevelQty_easy) $('#difficult_easy_qty').val(maxLevelQty_easy);
			if ((parseInt($('#difficult_medium_qty').val(), 10) || 0) > maxLevelQty_normal) $('#difficult_medium_qty').val(maxLevelQty_normal);
			if ((parseInt($('#difficult_hard_qty').val(), 10) || 0) > maxLevelQty_difficult) $('#difficult_hard_qty').val(maxLevelQty_difficult);
			var tmpQty = (parseInt($('#difficult_easy_qty').val(), 10) || 0) + (parseInt($('#difficult_medium_qty').val(), 10) || 0) + (parseInt($('#difficult_hard_qty').val(), 10) || 0);
			if (tmpQty < 1) {
				// alert("至少五題才可以列印喲");
				return;
			}
			else if (tmpQty > 50) {
				alert("題目數量最多選擇50題");
				return;
			}

			var difficult_for_auto = $('input[name=difficult_for_auto]:checked').val();
			var priority_video_for_auto = ($('#priority_video_for_auto:checked').length > 0) ? 1 : 0;
			var priority_never_for_auto = ($('#priority_never_for_auto:checked').length > 0) ? 1 : 0;

			// 取得題目
			var tq_ids = '';
			var ol_ids = '';
			var rtnQuestion2 = testGet(parseInt($('#difficult_easy_qty').val(), 10) || 0, parseInt($('#difficult_medium_qty').val(), 10) || 0, parseInt($('#difficult_hard_qty').val(), 10) || 0, priority_video_for_auto, priority_never_for_auto, 0, false);
			for (var i = 0; i < rtnQuestion2.length; i++) {
				tq_ids += ((tq_ids != "") ? "," : "") + rtnQuestion2[i].tq_id;
				if (ol_ids != rtnQuestion2[i].ol_id && rtnQuestion2[i].ol_id != "") ol_ids += ((ol_ids != "") ? "," : "") + rtnQuestion2[i].ol_id;
			}
			testGetPdf(ol_ids, tq_ids, "考卷測驗", custom_title_for_filename);
		});
		$("button.to_print_2").on("click", function(){
			var tmpQty = $('.item_check:checked').length;
			if (tmpQty < 5) {
				// alert("至少五題才可以出卷喲");
				// return;
			}
			else if (tmpQty > 50) {
				alert("題目數量最多選擇50題");
				return;
			}
			var tq_ids = '';
			var ol_ids = '';
			$('.item_check:checked').each(function(index){
				tq_ids += ((tq_ids != "") ? "," : "") + $(this).val();
				if (ol_ids != $(this).attr("ol_id") && $(this).attr("ol_id") != "") ol_ids += ((ol_ids != "") ? "," : "") + $(this).attr("ol_id");
			});
			testGetPdf(ol_ids, tq_ids, "考卷測驗", custom_title_for_filename);
		});
		// 列印功能 

		// 取得手動出題題目
		var isGetAll = false;
		function getAllQuestion() {
			isGetAll = true;
			rtnQuestion = testGet(maxLevelQty_easy, maxLevelQty_normal, maxLevelQty_difficult, 0, 0, 0, true);
			var tPage = Math.ceil(rtnQuestion.length / 10);
			$(".total_page").html(str_pad(tPage, 2, 0));
			if (tPage > 1) $("div.page_number_block").find("button.btn_item.btn_right").removeClass("-disabled");
			$(".q_and_a_block_container").html("");
			for (var i = 0; i < rtnQuestion.length; i++) {
				var questionHtml = '';
				var tmpQHtml = rtnQuestion[i].tq_html.replace(/<style>(?:.|\n)*<\/style>/gm, '');
				tmpQHtml = tmpQHtml.substring(tmpQHtml.indexOf("<body>"));
				tmpQHtml = tmpQHtml.replace(/<(?:.|\n)*?>/gm, '');
				
				questionHtml += '<li class="manual_question_item ' + ((i <= 9) ? '' : 'no_display') + '" data-number="' + rtnQuestion[i].number + '" data-tq_video="' + ((rtnQuestion[i].tq_video != '') ? '1' : '0') + '" data-audio="' + ((rtnQuestion[i].audio != '') ? '1' : '0') + '" data-td_name="' + rtnQuestion[i].td_name + '" data-already_test="' + ((rtnQuestion[i].already_test == false) ? '1' : '0') + '">';
				questionHtml += '<div class="item_block">';
				questionHtml += '<div class="item_left_block">';
				questionHtml += '<div class="item_checkbox_block">';
				questionHtml += '<input type="checkbox" data-number="' + rtnQuestion[i].number + '" class="item_check data_number_' + rtnQuestion[i].number + '" ol_id="' + rtnQuestion[i].ol_id + '" id="check_' + i + '" value="' + rtnQuestion[i].tq_id + '" />';
				questionHtml += '<label for="check_' + i + '"><img src="./images/icon/checkbox-x.svg" class="-x"><img src="./images/icon/checkbox-v.svg" class="-v"></label>';
				questionHtml += '</div>';
				questionHtml += '</div>';
				questionHtml += '<div class="item_right_block">';
				questionHtml += '<ul class="span_list">';
				// if (rtnQuestion[i].audio != "") questionHtml += '<li><span class="hint_text -video">影</span></li>';
				if (rtnQuestion[i].tq_video != "") questionHtml += '<li><span class="hint_text -video">影</span></li>';
				if (rtnQuestion[i].already_test == false) questionHtml += '<li><span class="hint_text -never">未</span></li>';
				if (rtnQuestion[i].td_name == "易") questionHtml += '<li><span class="hint_text -easy">易</span></li>';
				if (rtnQuestion[i].td_name == "中") questionHtml += '<li><span class="hint_text -medium">中</span></li>';
				if (rtnQuestion[i].td_name == "難") questionHtml += '<li><span class="hint_text -hard">難</span></li>';
				questionHtml += '</ul>';
				questionHtml += '<p class="para">' + rtnQuestion[i].tq_content + '</p>';
				questionHtml += '</div>';
				questionHtml += '</div>';
				questionHtml += '</li>';
				$(".q_and_a_block_container").append(questionHtml);
			}
			resetCheckAll();
			// checkbox 勾選
			$("input.item_check").on("click", function() {
				var el_item_list = $(this).closest("ul.item_list");
				var el_question_list_block = $(this).closest("div.question_list_block");
				$(".data_number_" + $(this).attr("data-number")).prop("checked", $(this).prop("checked"));	// 題組
				$("span.check_count").html($("input.item_check:checked").length);
			
				resetCheckAll();
				resetManunlButton();
			});
		}
		
		// 題組狀態
		function resetQuestionSet() {
			$(".manual_question_item").not('.no_display').find("input.item_check").each(function() {
				$(".data_number_" + $(this).attr("data-number")).prop("checked", $(this).prop("checked"));	// 題組
			});
		}
		
		// check all 狀態
		function resetCheckAll() {
			var check_all = true;
			// $(el_item_list).find("input.item_check").each(function(){
			$(".manual_question_item").not('.no_display').find("input.item_check").each(function(){
				if(!$(this).prop("checked")){
					check_all = false;
				}
			});
			$("input.-check-all").prop("checked", check_all);
		}
		
		// checkbox 計數
		function resetManunlButton() {
			if ($("input.item_check:checked").length >= 1) {
				$(".to_print_2").removeClass("-disabled");
			}
			else {
				$(".to_print_2").addClass("-disabled");
			}
			if ($("input.item_check:checked").length >= 5) {
				$(".to_start_2").removeClass("-disabled");
			}
			else {
				$(".to_start_2").addClass("-disabled");
			}
		}
	</script>
<% end %>
