<% @on_q_on = capture do %>-on<% end %>
<% @on_q_practice = capture do %>-on<% end %>

<% @show_practice_header = capture do %>true<% end %>
<% @show_practice_header_only = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>單一隨堂練習</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/q_db_exam.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">
    <%= render "partials/tag_plus_or_cancel" %>
    <h2 class="title2 -for-main" id="main_title"></h2>
    <div class="q_block_container" id="capture_block">
      <div class="left_block">
        <div class="q_list_block">

          <div class="q_list_parent">
            <ul id="q_count_list" class="q_list q_count_list">
              <!-- 題號區 -->
            </ul>
          </div>

          <div class="each_q_block_container q_and_a_block_container">
            <!-- 題目區 -->
          </div>

          <div class="answer_block_container">
            <div class="answer_block_parent">
              <!-- 作答區 -->
            </div>

            <ul class="next_or_previous">
              <li><button type="button" onclick="btn_next_click(-1);" class="q_next -p -invisible">上一題</button></li>
              <li><button type="button" onclick="btn_next_click(1);" class="q_next -n">下一題</button></li>
            </ul>
          </div>

        </div>
      </div>
		<div class="guide_block right_block">
			<div class="tab_container for_each_q -on">
				<div class="tab tab_1 -on">
					<p class="para"><!-- 說明文字 --></p>
				</div>
			</div>
			<div class="tab_list_block_parent_container -on">
				<div class="tab_list_block_parent">
					<div class="tab_list_block">
						<ul class="tab_list">
							<li><button type="button" onclick="btn_tab_click(this, 1);" class="btn_tab btn_tab_1" data-target="tab_1">觀念導引</button></li>
							<li><button type="button" onclick="btn_tab_click(this, 2);" class="btn_tab btn_tab_2" data-target="tab_2">文字詳解</button></li>
							<li><button type="button" onclick="btn_tab_click(this, 3);" class="btn_tab btn_tab_3" data-target="tab_3">影像詳解</button></li>
						</ul>
					</div>
				</div>
			</div>
			<div id="guide_hidden_field"></div>
		</div>
    </div>

    <div class="comment_block -none">
      <div class="left_block">
        <div class="action_block">
          <ul class="send_list">
            <li><button type="button" class="btn_send btn_wrong" data-target-modal="wrong_modal">送出勘誤<div id="placeholder_canvas2"></div></button></li>
            <li><button type="button" class="btn_send btn_confuse" data-target-modal="confuse_modal">送出解惑<div id="placeholder_canvas3"></div></button></li>
            <li><button type="button" class="btn_send btn_save_note">儲存筆記<div id="placeholder_canvas"></div></button></li>
          </ul>
        </div>
      </div>
      <div class="right_block">
        <div class="action_block">

          <ul class="send_list">
            <li><button type="button" onclick="sentTestRecord();" class="btn_send btn_test_finish">測驗完畢</button></li>
          </ul>
        </div>
      </div>
    </div>

    <h2 class="title2">最近測驗結果</h2>
    <div class="recently_view">
      <ul class="item_list" id="recently_view_item_list"><span class="-loading">資料擷取中…</span></ul>
    </div>
  </div>

</section>

<!-- 送出勘誤 modal -->
<div id="wrong_modal" class="modal">
	<div class="modal_header">
		勘誤平台
		<a href="#" rel="modal:close" class="modal_close">&times;</a>
	</div>
	<div class="modal_content">
		<textarea id="wrong_textarea_data" class="textarea_data" placeholder="請輸入勘誤文字"></textarea>
	</div>
	<div class="modal_footer">
		<button type="button" class="btn_send_data">送出</button>
	</div>
</div>

<!-- 送出解惑 modal -->
<div id="confuse_modal" class="modal">
	<div class="modal_header">
		我要發問
		<a href="#" rel="modal:close" class="modal_close">&times;</a>
	</div>
	<div class="modal_content">
		<textarea id="confuse_textarea_data" class="textarea_data" placeholder="請輸入發問問題"></textarea>
	</div>
	<div class="modal_footer">
		<button type="button" class="btn_send_data btn_confuse_2" data-target-modal="confuse_modal_2">送出</button>
	</div>
</div>

<!-- 送出解惑 modal -->
<div id="confuse_modal_2" class="modal">
  <div class="modal_header">
    <div class="btn_question_mark_block">
      <button type="button" class="btn_question_mark"><img src="./images/icon/icon-question-mark.svg" class="icon_question_mark"></button>
      <div class="question_content_toggle no_display">
        <span class="angle_top"><img src="./images/icon/icon_angle_top.svg"></span>
        閃電發問開放時間：<br>
        星期一至星期五 18:00~21:00<br>
        星期六至星期日 14:00~17:00、18:00~21:00<br><br>
        解題規則：<br>
        一次問一題，若一張圖片需解題目一題以上，<br>
        會再另外扣除點數。<br>
        申論題、證明題耗時較久系統不退點數。
      </div>
    </div>
    送至解惑
    <a href="#" rel="modal:close" class="modal_close">&times;</a>
  </div>
  <div class="modal_content -content2">
    <p class="para2">將影片截圖和隨手記的內容發送至解惑平臺。</p>
    <p class="para2">帳號剩餘解惑點數：<span id="user_points"></span>點。</p>
    <p class="para2">一般發問扣除100點；閃電發問扣除500點。</p>
  </div>
  <div class="modal_footer">
    <button type="button" class="btn_question -general" data-target-modal="confuse_send_success_modal">一般發問</button>
    <button type="button" class="btn_question -lightning" data-target-modal="confuse_send_success_modal">閃電發問</button>
  </div>
</div>

<!-- 送出筆記 modal -->
<div id="note_send_success_modal" class="modal">
  <div class="modal_header">
    發送成功
  </div>
  <div class="modal_content -content1">
    <p class="para">
      已儲存筆記
    </p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">確定</a>
  </div>
</div>
<div id="note_send_fail_modal" class="modal">
  <div class="modal_header">
    發送失敗
  </div>
  <div class="modal_content -content1">
    <p class="para">
      未儲存筆記！
    </p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">確定</a>
  </div>
</div>

<!-- 送出勘誤 modal -->
<div id="wrong_send_success_modal" class="modal">
  <div class="modal_header">
    發送成功
  </div>
  <div class="modal_content -content1">
    <p class="para">
      已將訊息發送至勘誤系統。
    </p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">確定</a>
  </div>
</div>

<!-- 解惑發送成功 modal -->
<div id="confuse_send_success_modal" class="modal">
  <div class="modal_header">
    發送成功
  </div>
  <div class="modal_content -content1">
    <p class="para">
      已將問題發送至解惑系統並扣除<span id="minus_point"></span>點。
    </p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" class="modal_close">確定</a>
  </div>
</div>

<% content_for :other_contents do %>
	<script src="./js/url.min.js"></script>
	<script src="./js/html2canvas/html2canvas.min.js"></script>
	<script src="./js/api/q_db_practice_and_exam_all.js"></script>
	<script src="./js/api/header_text.js"></script>
	<script src="./js/api/q_db_header.js"></script>
	<script src="./js/api/q_db_exam.js"></script>
	<script src="./js/api/m_e_test.js"></script>
	<script src="./js/api/m_e_usernote.js"></script>
	<script src="./js/api/m_e_userquestion.js"></script>
	<script src="./js/api/m_e_usererrata.js"></script>
	<script src="./js/api/m_e_usercollection.js"></script>
	<script>
		var rtnQuestion;
		$(function() {
			// 取得題目
			if($.url('?tr_id') == undefined) {
				rtnQuestion = testGet(0, 0, 0, 0, 0, 1, true);
			}
			else {
				rtnQuestion = getTestRecord($.url('?tr_id'));
			}
			var t = 0;
			if (rtnQuestion == null) t = 5000;
			setTimeout(function() {
				var questionHtml = '', questionCountHtml = '', questionAnswerHtml = '', questionExplainHtml = '', questionHiddenField = '';
				for (var i = 0; i < rtnQuestion.length; i++) {
					questionCountHtml += '<li><button type="button" onclick="btn_count_click(' + (i + 1) + ')" class="btn_q_and_tab' + (i + 1) + ' btn_q_and_tab' + ((i == 0) ? ' -on' : '') + '" data-ol_id="' + rtnQuestion[i].ol_id + '" data-tq_id="' + rtnQuestion[i].tq_id + '" data-target="q_tab_' + (i + 1) + '">' + (i + 1) + '</button></li>';

					questionHtml += '<div class="each_q_block for_each_q q_tab_' + (i + 1) + ((i == 0) ? ' -on' : '') + '">';
					questionHtml += '<div class="each_q_block_content">';
					questionHtml += '<p class="para">';

          if($.url('?tr_id') == undefined) {
            if (rtnQuestion[i].audio != "") {
              questionHtml += '<button type="button" onclick="document.getElementById(\'audio_' + (i + 1) + '\').play();" class="btn_audio"><img src="./images/icon/btn_audio.svg"></button>';
              questionHtml += '<audio id="audio_' + (i + 1) + '" src="' + rtnQuestion[i].audio + '">瀏覽器不支援</audio>';
            }
    			}else {
            if (rtnQuestion[i].tq_audio_path != "") {
              questionHtml += '<button type="button" onclick="document.getElementById(\'audio_' + (i + 1) + '\').play();" class="btn_audio"><img src="./images/icon/btn_audio.svg"></button>';
              questionHtml += '<audio id="audio_' + (i + 1) + '" src="' + rtnQuestion[i].tq_audio_path + '">瀏覽器不支援</audio>';
            }
    			}

          questionHtml += rtnQuestion[i].tq_html;
          questionHtml += '</p>';
					questionHtml += '</div>';
					questionHtml += '</div>';

					questionAnswerHtml += '<div class="answer_block for_each_q q_tab_' + (i + 1) + '' + ((i == 0) ? ' -on' : '') + '" data-tq_id="' + rtnQuestion[i].tq_id + '" data-ol_id="' + rtnQuestion[i].ol_id + '" data-odt_id="' + rtnQuestion[i].odt_id + '">';
					questionAnswerHtml += '<button type="button" class="btn_answer_move btn_left"></button>';
					questionAnswerHtml += '<ul class="q_answer_list" data-original-index="0">';
					for (var j = 0; j < rtnQuestion[i].answers.length; j++) {
						if (rtnQuestion[i].answers[j].ta_correct == "1") rtnQuestion[i].answers[j].ta_correct = "true";
						if (rtnQuestion[i].answers[j].ta_correct == "0") rtnQuestion[i].answers[j].ta_correct = "false";
						questionAnswerHtml += '<li>';
						questionAnswerHtml += '<button type="button" data-tq_id="' + rtnQuestion[i].tq_id + '" data-ta_id="' + rtnQuestion[i].answers[j].ta_id + '" data-ol_id="' + rtnQuestion[i].ol_id + '" data-odt_id="' + rtnQuestion[i].odt_id + '" onclick="btn_answer_click(this, ' + (i + 1) + ', \'' + rtnQuestion[i].answers[j].ta_id + '\', ' + rtnQuestion[i].answers[j].ta_correct + ')"';
						questionAnswerHtml += ' class="btn_answer btn_answer_' + (i + 1) + ' btn_answer_' + (i + 1) + '_' + rtnQuestion[i].answers[j].ta_id + ' btn_iscorrect_' + rtnQuestion[i].answers[j].ta_correct + '">' + rtnQuestion[i].answers[j].option + '';
						questionAnswerHtml += '<span class="right"></span>';
            questionAnswerHtml += '<span class="wrong"><img src="./images/icon/icon_x.png" class="icon_x"></span></button>';
						questionAnswerHtml += '</li>';
					}
					questionAnswerHtml += '</ul>';
					questionAnswerHtml += '<button type="button" class="btn_answer_move btn_right"></button>';
					questionAnswerHtml += '</div>';

					questionExplainHtml += '<div class="tab_container for_each_q q_tab_' + (i + 1) + ((i == 0) ? ' -on' : '') + '">';
					questionExplainHtml += '<div class="tab tab_1">';
					// questionExplainHtml += rtnQuestion[i].tq_navi;
					questionExplainHtml += '</div>';
					questionExplainHtml += '<div class="tab tab_2">';
					// questionExplainHtml += rtnQuestion[i].tq_explain_html;
					questionExplainHtml += '</div>';
					questionExplainHtml += '';
					questionExplainHtml += '<div class="tab tab_3">';
					questionExplainHtml += '<div class="video_block">';
					if (rtnQuestion[i].tq_video != "") {
					//	questionExplainHtml += '<video class="answer_video" width="268" controls controlsList="nodownload" preload="auto"><source src="' + rtnQuestion[i].tq_video + '" type="video/mp4"></video>';
					}
					questionExplainHtml += '</div>';
					questionExplainHtml += '</div>';
					questionExplainHtml += '</div>';

					questionExplainHtml += '<div class="tab_list_block_parent_container q_tab_' + (i + 1) + '' + ((i == 0) ? ' -on' : '') + '">';
					questionExplainHtml += '<div class="tab_list_block_parent">';
					questionExplainHtml += '<div class="tab_list_block">';
					questionExplainHtml += '<ul class="tab_list">';
					// <!-- 有 -have-data 表示裡面有資料，文字為白色，可點選；反之，若沒有資料，文字為灰色，不能點選 -->
					questionExplainHtml += '<li><button type="button" onclick="btn_tab_click((i + 1), this, 1);" class="btn_tab btn_tab_1 ' + ((rtnQuestion[i].tq_navi != "") ? '-have-data' : '') + '" data-target="tab_1">觀念導引</button></li>';
					questionExplainHtml += '<li><button type="button" onclick="btn_tab_click((i + 1), this, 2);" class="btn_tab btn_tab_2 ' + ((rtnQuestion[i].tq_explain_html != "") ? '-have-data' : '') + '" data-target="tab_2">文字詳解</button></li>';
					questionExplainHtml += '<li><button type="button" onclick="btn_tab_click((i + 1), this, 3);" class="btn_tab btn_tab_3 ' + ((rtnQuestion[i].tq_video != "") ? '-have-data' : '') + '" data-target="tab_3">影像詳解</button></li>';
					questionExplainHtml += '</ul>';
					questionExplainHtml += '</div>';
					questionExplainHtml += '</div>';
					questionExplainHtml += '</div>';

					questionHiddenField += '<input type="hidden" id="tab_1_data_' + (i + 1) + '" value="' + encodeURIComponent(rtnQuestion[i].tq_navi) + '" />';
					questionHiddenField += '<input type="hidden" id="tab_2_data_' + (i + 1) + '" value="' + encodeURIComponent(rtnQuestion[i].tq_explain_html) + '" />';
					questionHiddenField += '<input type="hidden" id="tab_3_data_' + (i + 1) + '" value="' + encodeURIComponent('<div class="video_block"><video class="answer_video" width="268" controls controlsList="nodownload" preload="auto" disablePictureInPicture="true"><source src="' + rtnQuestion[i].tq_video + '" type="video/mp4"></video></div>') + '" />';
					questionHiddenField += '<input type="hidden" id="tab_3_data_value_' + (i + 1) + '" value="' + encodeURIComponent(rtnQuestion[i].tq_video) + '" />';

					if (i == 0) {
						getUsercollection(g_obj.db_practice_ot_id, ol_id, "", rtnQuestion[i].tq_id, "", "");
					}
				}
				$(".q_count_list").html(questionCountHtml);
				$(".q_and_a_block_container").html(questionHtml);
				$(".answer_block_parent").html(questionAnswerHtml);
				// $(".guide_block").html(questionExplainHtml);
				$("#guide_hidden_field").html(questionHiddenField);

				// 取得使用者點數
				getUserPoint();

				setGuide();

				/*
				// 題號分頁
				$("button.btn_q_and_tab").on("click", function(){
					$(this).closest("ul.q_list").find("button.btn_q_and_tab").removeClass("-on");
					$(this).addClass("-on");

					var el_q_block_container = $(this).closest("div.q_block_container")[0];
					$(el_q_block_container).find("div.for_each_q").removeClass("-on");
					$(el_q_block_container).find("div.for_each_q." + $(this).attr("data-target")).addClass("-on");
				});
				// 右側 觀念導覽、文字詳解、影像詳解 分頁
				$("button.btn_tab").on("click", function(){
					if($(this).hasClass('-have-data')) {
						// $(this).closest("ul.tab_list").find("button.btn_tab").removeClass("-on");
						$(this).closest("div.right_block").find("button.btn_tab").removeClass("-on");
						$(this).addClass("-on");

						$(this).closest("div.right_block").find("div.tab").removeClass("-on");
						$(this).closest("div.right_block").find("div.tab." + $(this).attr("data-target")).addClass("-on");
					}
				});
				*/

				// 答題左右滑動
				$("button.btn_answer_move.btn_right").on("click", function() {
					var q_answer_list = $(this).closest("div.answer_block").find("ul.q_answer_list")[0];
					var q_answer_list_length = $(q_answer_list).children("li").length; // 選項總個數
					var data_original_index = parseInt($(q_answer_list).attr("data-original-index"));
					var remain_length = q_answer_list_length - (data_original_index+6);
					var move_index = (remain_length>=6 ? 6: remain_length);
					if(q_answer_list_length > 6) {
						$(q_answer_list).children("li").animate({
							left: "-="+(68*move_index)+"px"
						}, "slow");
						$(q_answer_list).attr("data-original-index", data_original_index + move_index);
					}
				});
				$("button.btn_answer_move.btn_left").on("click", function(){
					var q_answer_list = $(this).closest("div.answer_block").find("ul.q_answer_list")[0];
					var q_answer_list_length = $(q_answer_list).children("li").length; // 選項總個數
					var data_original_index = parseInt($(q_answer_list).attr("data-original-index"));

					var remain_length = data_original_index;
					var move_index = (remain_length>=6 ? 6: remain_length);

					if(data_original_index >= 1){
						$(q_answer_list).children("li").animate({
							left: "+="+(68*move_index)+"px"
						}, "slow");
						$(q_answer_list).attr("data-original-index", data_original_index - move_index);
					}
				});

				/*
				// 直接點答題
				$(document).on("click", "button.btn_answer", function(){
					var el_ul_q_list = $(this).closest("div.q_list_block").find("ul.q_list");
					if(!$(this).hasClass("-disabled")){
						$(this).closest("ul.q_answer_list").find("button.btn_answer").removeClass("-on");
						$(this).closest("ul.q_answer_list").find("button.btn_answer").addClass("-disabled");
						$(this).addClass("-on");

						$(el_ul_q_list).find("button.btn_q_and_tab.-on").removeClass("-right").removeClass("-wrong");

						$(this).removeClass("-right").removeClass("-wrong");
						if(Math.floor(Math.random() * 10) % 2 == 0){ // 隨機答題正確或錯誤
							$(el_ul_q_list).find("button.btn_q_and_tab.-on").addClass("-right");
							$(this).addClass("-right");
						}else{
							$(el_ul_q_list).find("button.btn_q_and_tab.-on").addClass("-wrong");
							$(this).addClass("-wrong");
						}
					}

					// 判斷全部答題完畢，才出現 送出勘誤那排 button
					var answer_all = true;
					$(el_ul_q_list).find("button.btn_q_and_tab").each(function(index, item){
						if(!$(item).hasClass("-right")){
							if(!$(item).hasClass("-wrong")){
								answer_all = false;
							}
						}
					});
					if(answer_all){
						$(this).closest("div.all_contents_block").find("div.comment_block").removeClass("-none");
					}
				});

				// 上一題、下一題
				$("button.q_next").on("click", function(){
					var el_ul_q_list = $(this).closest("div.q_list_block").find("ul.q_list");
					var el_btn_count_on = $(el_ul_q_list).find("button.btn_q_and_tab.-on")[0];

					if($(this).hasClass("-n")){ // 下一題
						if($(el_btn_count_on).closest("li").next("li").length > 0){
							$(el_btn_count_on).removeClass("-on");
							$(el_btn_count_on).closest("li").next("li").find("button.btn_q_and_tab").click();
						}
					}
					if($(this).hasClass("-p")){ // 上一題
						if($(el_btn_count_on).closest("li").prev("li").length > 0){
							$(el_btn_count_on).removeClass("-on");
							$(el_btn_count_on).closest("li").prev("li").find("button.btn_q_and_tab").click();
						}
					}
				});
				*/

				// 送出勘誤 modal
				$("button.btn_wrong").on("click", function(){
					$("#"+$(this).attr("data-target-modal")).modal();
				});

				// 跳出解惑填寫 modal
				$("button.btn_confuse").on("click", function(){
					$("#"+$(this).attr("data-target-modal")).modal();
				});
				// 跳出解惑說明 modal
				$("button.btn_confuse_2").on("click", function(){
					if ($.trim($("#confuse_textarea_data").val()) == "") {
						alert("請填寫內容");
						return;
					}

					// 取得是否為解題時間
					var boolSolvetime = userQuestionSolvetimeStudent();
					if (!boolSolvetime) {
						$('.btn_question.-lightning').addClass('-disabled');
					}
					else {
						$('.btn_question.-lightning').removeClass('-disabled');
					}

					$("#"+$(this).attr("data-target-modal")).modal();
				});

				var imgBase64_1 = "", imgBase64_2 = "", imgBase64_3 = "";
				// 儲存筆記
				$("button.btn_save_note").on("click", function(){
					if($(this).hasClass("-clicking")) {
						alert("請勿雙擊！");
					}
					else {
						$(this).addClass("-clicking");
						html2canvas(document.querySelector("#capture_block"), {useCORS: true}).then(canvas => {
							$("#placeholder_canvas").html(canvas).addClass("-ani");

							imgBase64_1 = canvas.toDataURL();
							console.log(imgBase64_1);

							setTimeout(function(){
								$("#placeholder_canvas").html("").removeClass("-ani");
								$("button.btn_save_note").removeClass("-clicking");
								if (saveUserNote(imgBase64_1, imgBase64_2, imgBase64_3, "")) {
									// 成功處理
									$("#note_send_success_modal").modal();
								}
								else {
									// 失敗處理
									$("#note_send_fail_modal").modal();
								}
							}, 2000);
						});
					}
				});

				// 送出解惑
				$("#confuse_modal_2 button.btn_question").on("click", function() {
					if ($(this).hasClass('-disabled')) return;	// 非解題時間

					var tmpGeneral = 0;
					if($(this).hasClass("-general")) { // 一般發問
						$("#minus_point").html(100);
					}
					else { // 閃電發問
						$("#minus_point").html(500);
						tmpGeneral = 1;
					}

					var tq_id = $('.btn_q_and_tab.-on').attr('data-tq_id');
					html2canvas(document.querySelector("#capture_block"), {useCORS: true}).then(canvas => {
						$("#placeholder_canvas3").html(canvas).addClass("-ani");

						imgBase64_1 = canvas.toDataURL();
						console.log(imgBase64_1);

						setTimeout(function(){
							$("#placeholder_canvas3").html("").removeClass("-ani");
							if (newUserQuestion(imgBase64_1, imgBase64_2, imgBase64_3, $.trim($("#confuse_textarea_data").val()), $.trim($("#confuse_textarea_data").val()), g_obj.db_practice_ot_id, tq_id, tmpGeneral, "")) {
								// 成功處理
								$("#confuse_send_success_modal").modal();
								$("#confuse_textarea_data").val("");
								// 重新取得使用者點數
								getUserPoint();
							}
						}, 2000);
					});
				});
				// 送出勘誤
				$("#wrong_modal button.btn_send_data").on("click", function(){
					if ($.trim($("#wrong_textarea_data").val()) == "") {
						alert("請輸入勘誤文字");
						return;
					}
					html2canvas(document.querySelector("#capture_block"), {useCORS: true}).then(canvas => {
						$("#placeholder_canvas2").html(canvas).addClass("-ani");

						imgBase64_1 = canvas.toDataURL();
						console.log(imgBase64_1);

						setTimeout(function(){
							$("#placeholder_canvas2").html("").removeClass("-ani");
							if (newUserErrata(imgBase64_1, $.trim($("#wrong_textarea_data").val()), g_obj.db_practice_ot_id, "", $(".btn_q_and_tab.-on").attr("data-tq_id"))) {
								// 成功處理
								$("#wrong_send_success_modal").modal();
								$("#wrong_textarea_data").val("");
							}
						}, 2000);
					});
				});

		  // 解惑 modal 的問號 icon
		  $("#confuse_modal_2").find("button.btn_question_mark").on("click", function(){
			$(this).closest("div.btn_question_mark_block").find("div.question_content_toggle").toggleClass("no_display");
		  });
			}, t)
		});

		// 直接點題號
		var currentQuestion = 1;
		function btn_count_click(q) {
			currentQuestion = q;
			$(".btn_q_and_tab").removeClass("-on");
			$(".btn_q_and_tab" + q).addClass("-on");
			// 題目分頁, 答案切換
			$(".each_q_block").removeClass("-on");
			$(".answer_block").removeClass("-on");
			// $(".tab_container").removeClass("-on");
			// $(".tab_list_block_parent_container").removeClass("-on");
			$(".q_tab_" + q).addClass("-on");

			getUsercollection(g_obj.db_practice_ot_id, ol_id, "", $(".btn_q_and_tab" + q).attr("data-tq_id"), "", "");

			setGuide();

			btn_next_show();
		}

		// 右側 觀念導覽、文字詳解、影像詳解狀態
		function setGuide() {
			$(".tab_container .tab .para").html("");
			$(".tab_list .btn_tab").removeClass("-on");
			$(".btn_tab_1").removeClass("-have-data");
			$(".btn_tab_2").removeClass("-have-data");
			$(".btn_tab_3").removeClass("-have-data");
			if ($("#tab_1_data_" + currentQuestion).val() != "") $(".btn_tab_1").addClass("-have-data");	// 未作答也可以看
			if ($(".btn_q_and_tab" + currentQuestion).hasClass("-wrong") || $(".btn_q_and_tab" + currentQuestion).hasClass("-right")) {	// 已作答
				if ($("#tab_2_data_" + currentQuestion).val() != "") $(".btn_tab_2").addClass("-have-data");
				if ($("#tab_3_data_value_" + currentQuestion).val() != "") $(".btn_tab_3").addClass("-have-data");
			}
		}

		// 影片暫停
		var pause_video_func = function(){
			var video_el = $("video.answer_video");
			$.each(video_el, function(index, video_item){
				video_item.pause();
			});
		};

		// 上一題、下一題
		function btn_next_click(x) {
			pause_video_func();
			currentQuestion += x;
			var maxQuestion = $('.btn_q_and_tab').length;
			if (currentQuestion < 1) currentQuestion = 1;
			else if (currentQuestion > maxQuestion) currentQuestion = maxQuestion;
			btn_count_click(currentQuestion);
		}

		// 顯示上一題/下一題按鈕
		function btn_next_show() {
			var maxQuestion = $('.btn_q_and_tab').length;
			if (currentQuestion == 1) {
				$("button.q_next.-p").addClass("-invisible");
			}
			else {
				$("button.q_next.-p").removeClass("-invisible");
			}
			if (currentQuestion == maxQuestion) {
				$("button.q_next.-n").addClass("-invisible");
			}
			else {
				$("button.q_next.-n").removeClass("-invisible");
			}
		}

		// 右側 觀念導覽、文字詳解、影像詳解 分頁
		function btn_tab_click(o, i) {
			if($(o).hasClass('-have-data')) {
				$(o).closest("div.right_block").find("button.btn_tab").removeClass("-on");
				$(".btn_tab_" + i).addClass("-on");

				// $(o).closest("div.right_block").find("div.tab").removeClass("-on");
				$(o).closest("div.right_block").find("div.tab." + $(o).attr("data-target")).addClass("-on");

				$(".tab_container .tab .para").html(decodeURIComponent($("#tab_" + i + "_data_" + currentQuestion).val()));

				pause_video_func();
			}
		}
		// 直接點答題
		function btn_answer_click(o, q, a, r) {

			if ($(".btn_answer_" + q).hasClass("-on")) {
				return false;
			}
		//

			var el_ul_q_list = $(o).closest("div.q_list_block").find("ul.q_list");
			$(o).closest("ul.q_answer_list").find("button.btn_answer").removeClass("-on");
			$(o).addClass("-on");
			if(!$(o).hasClass("-disabled")){
				$(o).closest("ul.q_answer_list").find("button.btn_answer").addClass("-disabled");
				$(el_ul_q_list).find("button.btn_q_and_tab.-on").removeClass("-right").removeClass("-wrong");
			}
			$(o).removeClass("-right").removeClass("-wrong");
			if(r) { // 答題正確或錯誤
				$(el_ul_q_list).find("button.btn_q_and_tab.-on").addClass("-right");
				$(o).addClass("-right");
			}
			else {
				$(el_ul_q_list).find("button.btn_q_and_tab.-on").addClass("-wrong");
				$(o).closest("ul.q_answer_list").find("button.btn_iscorrect_true").addClass("-right");
				$(o).addClass("-wrong");
			}
			setGuide();

			// 判斷全部答題完畢，才出現 送出勘誤那排 button
			var answer_all = true;
			$(el_ul_q_list).find("button.btn_q_and_tab").each(function(index, item){
				if(!$(item).hasClass("-right") && !$(item).hasClass("-wrong")) {
					answer_all = false;
				}
			});
			if(answer_all) {
				clearTimeout(timer); // 暫停計時
				$(o).closest("div.all_contents_block").find("div.comment_block").removeClass("-none");
			}
		}

		// 送出答案
		var isPosted = false;
		function sentTestRecord() {
			if (isPosted) return;
			var questions = [];
			$(".answer_block").each(function(index2, item2) {
				var ta_id = "";
				var answers = [];
				$(this).find("button.btn_answer.-on").each(function(index, item) {
					ta_id = $(item).attr("data-ta_id");
					var ta_ids = {ta_id};
					answers.push(ta_ids);
				})
				var tq_id = $(item2).attr("data-tq_id");
				var tqr_used_second = parseInt(timerArray[index2], 10) || 0;
				var odt_id = $(item2).attr("data-odt_id");
				var question = { tq_id, tqr_used_second, odt_id, answers };
				question["ol_id"] = $(item2).attr("data-ol_id");

				questions.push(question);
			});
			console.log(questions);
			isPosted = true;
			if (!testRecord(2, questions))	{
				// tr_type:1為考試測驗 2為隨堂練習
				isPosted = false;
			}
		}

		// 測驗時間
		var timer;
		var timerArray = [];
		var used_second = 0;
		function timerTick() {
			used_second++;
			var thour = (Math.floor(used_second / 3600)).toString();
			var tminute = "0" + (Math.floor(used_second / 60)).toString();
			tminute = tminute.substring(tminute.length - 2, tminute.length);
			var tsecond = "0" + (used_second % 60).toString();
			tsecond = tsecond.substring(tsecond.length - 2, tsecond.length);
			$(".timer_block").html(((thour > 0) ? thour + ':' : '') + tminute + ":" + tsecond);
			timer = setTimeout("timerTick();", 1000);
			// 單題計時
			var tmpSecond = parseInt(timerArray[currentQuestion - 1], 10) || 0;
			timerArray[currentQuestion - 1] = tmpSecond + 1;
		}
		timer = setTimeout("timerTick();", 1000);

		// 加入或移除收藏
		$("a.tag_plus").on("click", function(e){
			e.preventDefault();
			if ($(this).attr("data-status") == "0") {
				if (newUserCollection(g_obj.db_practice_ot_id, ol_id, "", $(this).attr("data-tq_id"), "", "", "")) {
					$(this).toggleClass("-on");
					getUsercollection(g_obj.db_practice_ot_id, ol_id, "", $(this).attr("data-tq_id"), "", "");
				}
				else {
					alert("加入失敗");
				}
			}
			else {
				if (delUserCollection($(this).attr("data-uc-id"))) {
					$(this).toggleClass("-on");
					getUsercollection(g_obj.db_practice_ot_id, ol_id, "", $(this).attr("data-tq_id"), "", "");
				}
				else {
					alert("移除失敗");
				}
			}
		});

		// 離開也要存檔
		window.onbeforeunload = function (e) {
			if (!isPosted) sentTestRecord();
			/*if (!isPosted) {
				if(confirm('考卷尚未送出，確定要離開網頁嗎？')) {
					sentTestRecord();
				}
				else {
					return false;
				}
			}*/
		};
	</script>
<% end %>
