<% @on_q_on = capture do %>-on<% end %>
<% @on_q_exam = capture do %>-on<% end %>

<% @show_exam_header = capture do %>true<% end %>
<% @on_exam_header_field = capture do %>-on<% end %>

<% content_for :title_content do %>
  <title>考卷測驗(領域)</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/q_db_exam_field.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">

<div class="tab_contents_block">

	<div class="tab_content_block">
		<div class="tab_content">
			<ul id="tab_content_list" class="tab_content_list"><span class="-loading -left10">資料擷取中…</span></ul>
			</div>
		</div>
	</div>

    <h2 class="title2">最近測驗結果</h2>

    <div class="recently_view">
      <ul class="item_list" id="recently_view_item_list"><span class="-loading">資料擷取中…</span></ul>
    </div>
  </div>

</section>



<% content_for :other_contents do %>
  <script src="./js/api/q_db_practice_and_exam_all.js"></script>
  <script src="./js/api/q_db_exam_field.js"></script>
  <script>
    $(function(){

    });
  </script>
<% end %>
