<% @on_q_on = capture do %>-on<% end %>
<% @on_q_exam = capture do %>-on<% end %>

<% @show_exam_header = capture do %>true<% end %>
<% @show_exam_header_only = capture do %>true<% end %>

<% content_for :title_content do %>
  <title>單一考卷測驗</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/q_db_test.css" rel="stylesheet">
<% end %>

<section class="normal_section">

  <div class="all_contents_block">

    <div class="info_block_container">

      <!-- 科目 -->
      <div class="info_block">
        <div class="top_block">科目</div>
        <div class="middle_block" id="header_subject_2">
        </div>
      </div>

      <!-- 範圍 -->
      <div class="info_block -range">
        <div class="top_block">範圍</div>
        <div class="middle_block">
          <ul class="range_list" id="range_list">
          </ul>
        </div>
      </div>

      <!-- 時間 -->
      <div class="info_block">
        <div class="top_block">時間</div>
        <div class="middle_block timer_block">
          00:00
        </div>
      </div>

      <!-- 未作答 -->
      <div class="info_block">
        <div class="top_block">未作答</div>
        <div class="middle_block un_answer_block">
          00題
        </div>
      </div>

      <!-- 再檢查 -->
      <div class="info_block">
        <div class="top_block">再檢查</div>
        <div class="middle_block will_check_block">
          00題
        </div>
      </div>

    </div>

    <div class="content_block">
      <div class="q_total_block_container">
        <div class="q_total_block">
          <button type="button" class="btn_move btn_left -disabled"></button><!--  width: 920px -->
          <ul class="q_count_list" data-original-index="0">
            <!--
			<% 25.times do |i| %>
              <% if i == 0 %>
                <li><button type="button" class="btn_count -on" data-tab-target="tab_<%=i+1%>"><span class="-circle"><%=i+1%></span></button></li>
              <% else %>
                <li><button type="button" class="btn_count" data-tab-target="tab_<%=i+1%>"><span class="-circle"><%=i+1%></span></button></li>
              <% end %>
            <% end %>
			-->
          </ul>
          <button type="button" class="btn_move btn_right -disabled"></button>
        </div>
      </div>

      <div class="q_and_a_block_container">
        <!-- 問題區 -->
      </div>
    </div>

    <div class="send_test">
      <button type="button" class="btn_send_test" style="display:none;">交卷</button>
    </div>

  </div>

</section>

<div id="send_test_modal" class="modal">
  <div class="modal_header">
    交卷
  </div>
  <div class="modal_content">
    <p class="para1">確定要交卷了嗎？</p>
    <p class="para2">目前仍有<span class="-un-answer"></span>題還沒有作答，<span class="-will-check"></span>題標記為再檢查。</p>
  </div>
  <div class="modal_footer">
    <a href="#" rel="modal:close" onclick="timer = setTimeout('timerTick();', 1000);" class="modal_close">取消</a>
    <button type="button" onclick="sentTestRecord();" class="btn_submit_data">確定交卷</button>
  </div>
</div>

<% content_for :other_contents do %>
	<script src="./js/url.min.js"></script>
	<script src="./js/api/header_text.js"></script>
	<script src="./js/api/m_e_test.js"></script>
	<script src="./js/api/q_db_test.js"></script>
	<script src="./js/api/q_db_exam_header.js"></script>
	<script src="./js/api/m_e_usercollection.js"></script>
	<script>
    var switch_page_remainder = 0; // 按上一題、下一題時，判斷是否要到下個 20 題
    $(function(){
		// 取得題目
		var difficult_easy_qty = parseInt($.url('?difficult_easy_qty'), 10) || 0;
		var difficult_medium_qty = parseInt($.url('?difficult_medium_qty'), 10) || 0;
		var difficult_hard_qty = parseInt($.url('?difficult_hard_qty'), 10) || 0;
		var is_video = parseInt($.url('?is_video'), 10) || 0;
		var is_never = parseInt($.url('?is_never'), 10) || 0;
		var tq_ids = $.url('?tq_ids');
		if (typeof tq_ids == "undefined") tq_ids = "";
		var islocalstorage = $.url('?islocalstorage');
		if (typeof islocalstorage == "undefined") islocalstorage = "";

		var rtnQuestion;
		if (tq_ids != "" && islocalstorage == "1") {
			rtnQuestion = JSON.parse(window.localStorage["test_questions"]);
		}
		else {
			rtnQuestion = testGet(difficult_easy_qty, difficult_medium_qty, difficult_hard_qty, is_video, is_never, 0, true);
		}
		var questionHtml = '', questionCountHtml = '';
		var i = 0, j = 0, k = 0;
		$.each(rtnQuestion, function(x, item){
			if (tq_ids == "" || $.inArray(rtnQuestion[x].tq_id.toString(), tq_ids.split(',')) != -1) {
				if (k == 0) k = rtnQuestion[x].number;
				if (k != rtnQuestion[x].number) {
					k = rtnQuestion[x].number;
					j++;
				}
				questionCountHtml += '<li class="btn_circle btn_circle_' + (i + 1) + '">';
				questionCountHtml += '<button type="button" onclick="btn_count_click(' + (i + 1) + ')" class="btn_count_' + (i + 1) + ' btn_count' + ((i == 0) ? ' -on' : '') + ((i == 0 && rtnQuestion[x].tqt_id == '4') ? ' -answered' : '') + '" data-tab-target="tab_' + (i + 1) + '" data-index="' + (i + 1) + '">';
				questionCountHtml += '<span class="-circle">' + (j + 1) + '</span>';
				questionCountHtml += '</button>';
				questionCountHtml += '</li>';

				questionHtml += '<div class="data_tab tab_' + (i + 1) + ((i != 0) ? ' -none' : '') + '" data-tqt_id="' + rtnQuestion[x].tqt_id + '">';
				questionHtml += '<div class="q_content">';
				questionHtml += '<div class="left_block">';
				questionHtml += '<span class="info1">第 ' + (j + 1) + ' 題</span>';
				questionHtml += '<span class="info2">' + rtnQuestion[x].tqt_name + '</span>';
				if (rtnQuestion[x].audio != "") {
					questionHtml += '<button type="button" onclick="document.getElementById(\'audio_' + (i + 1) + '\').play();" class="btn_audio"><img src="./images/icon/btn_audio.svg"></button>';
					questionHtml += '<audio id="audio_' + (i + 1) + '" src="' + rtnQuestion[x].audio + '" />';
				}
				questionHtml += '<a href="#" class="tag_plus" id="tag_plus_' + rtnQuestion[x].tq_id + '" data-ol_id="' + rtnQuestion[x].ol_id + '" data-tq-id="' + rtnQuestion[x].tq_id + '"><img src="./images/icon/icon_tag_plus.svg" class="-plus"><img src="./images/icon/icon_tag_cancel.svg" class="-cancel"></a>';	// <%= render "partials/tag_plus_or_cancel" %>
				questionHtml += '</div>';
				questionHtml += '<div class="right_block">';
				questionHtml += '<p class="para">' + rtnQuestion[x].tq_html + '</p>';
				questionHtml += '</div>';
				questionHtml += '</div>';
				questionHtml += '<div class="answer_block_container">';
				questionHtml += '<div class="answer_block">';
				questionHtml += '<button type="button" onclick="btn_click_left(' + (i + 1) + ');" class="btn_answer_move btn_left"></button>';
				questionHtml += '<ul class="q_answer_list q_answer_list_' + (i + 1) + '" data-original-index="0" data-ol_id="' + rtnQuestion[x].ol_id + '" data-odt_id="' + rtnQuestion[x].odt_id + '" data-tqt_id="' + rtnQuestion[x].tqt_id + '" data-tq_id="' + rtnQuestion[x].tq_id + '">';
				for (var y = 0; y < rtnQuestion[x].answers.length; y++) {
					questionHtml += '<li><button type="button" data-ta_id="' + rtnQuestion[x].answers[y].ta_id + '" onclick="btn_answer_click(' + (i + 1) + ', \'' + rtnQuestion[x].answers[y].ta_id + '\', ' + rtnQuestion[x].tqt_id + ')" class="btn_answer btn_answer_' + (i + 1) + ' btn_answer_' + (i + 1) + '_' + rtnQuestion[x].answers[y].ta_id + '">' + rtnQuestion[x].answers[y].option + '</button></li>';
				}
				questionHtml += '</ul>';
				questionHtml += '<button type="button" onclick="btn_click_right(' + (i + 1) + ');" class="btn_answer_move btn_right"></button>';
				questionHtml += '</div>';
				questionHtml += '<div class="n_or_p">';
				questionHtml += '<button type="button" onclick="btn_next_click(-1);" class="q_next -p -invisible">上一題</button>';
				questionHtml += '<button type="button" onclick="btn_next_click(1);" class="q_next -n">下一題</button>';
				questionHtml += '</div>';
				questionHtml += '<div class="check_again_block">';
				questionHtml += '<button type="button" onclick="btn_check_click($(this))" class="btn_check">再檢查</button>';
				questionHtml += '</div>';
				questionHtml += '</div>';
				questionHtml += '</div>';
				i++;
			}
		});
		$(".q_count_list").html(questionCountHtml);
		$(".q_and_a_block_container").html(questionHtml);
    if(i > 20){
      $("button.btn_move.btn_right").removeClass("-disabled");
    }

		// 判斷收藏
		$("a.tag_plus").each(function(i, item){
			getUsercollectionForTest(g_obj.db_practice_ot_id, $(item).attr("data-ol_id"), $(item).attr("data-tq-id"), "tag_plus_" + $(item).attr("data-tq-id"));
		});

		calQuestion();

      // 題號左右滑動
      $("button.btn_move.btn_right").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          var q_count_list = $(this).closest("div.q_total_block").find("ul.q_count_list")[0];
          var q_count_list_length = $(q_count_list).children("li").length; // 選項總個數
          var data_original_index = parseInt($(q_count_list).attr("data-original-index"));
          var remain_length = q_count_list_length - (data_original_index+20);
          //var next_index = data_original_index + 1;
          var move_index = (remain_length>=20 ? 20: remain_length);

          if(move_index < 20){
            switch_page_remainder = move_index;
          }

          if(q_count_list_length > 20) {
            $(q_count_list).children("li").animate({
  						left: "-="+(46*move_index)+"px"
  					}, "slow");
  					$(q_count_list).attr("data-original-index", data_original_index + move_index);
          }
          $(this).closest("div.q_total_block").find("button.btn_move.btn_left").removeClass("-disabled");
          if((data_original_index + move_index + 20) == q_count_list_length){
            $(this).addClass("-disabled");
          }else{
            $(this).removeClass("-disabled");
          }
        }
      });
      $("button.btn_move.btn_left").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          var q_count_list = $(this).closest("div.q_total_block").find("ul.q_count_list")[0];
          var q_count_list_length = $(q_count_list).children("li").length; // 選項總個數
          var data_original_index = parseInt($(q_count_list).attr("data-original-index"));

          var remain_length = data_original_index;
  				var move_index = (remain_length>=20 ? 20: remain_length);

          if(move_index < 20){
            switch_page_remainder = move_index;
          }

          if(data_original_index >= 1){
            $(this).removeClass("-disabled");
  					$(q_count_list).children("li").animate({
  						left: "+="+(46*move_index)+"px"
  					}, "slow");
  					$(q_count_list).attr("data-original-index", data_original_index - move_index);
  				}
          $(this).closest("div.q_total_block").find("button.btn_move.btn_right").removeClass("-disabled");
          if(data_original_index - move_index == 0){
            switch_page_remainder = 0;
            $(this).addClass("-disabled");
          }else{
            $(this).removeClass("-disabled");
          }
        }
      });

	  /*
      // 直接點題號
	  $("button.btn_count").on("click", function(){
        $(this).closest("ul.q_count_list").find("button.btn_count").removeClass("-on");
        $(this).addClass("-on");

        // 題目分頁切換
        var el_content_block = $(this).closest("div.content_block");
        $(el_content_block).find("div.data_tab").addClass("-none");
        $(el_content_block).find("div.data_tab."+$(this).attr("data-tab-target")).removeClass("-none");
      });

      // 答題左右滑動
      $("button.btn_answer_move.btn_right").on("click", function(){
        var q_answer_list = $(this).closest("div.answer_block").find("ul.q_answer_list")[0];
        var data_original_index = parseInt($(q_answer_list).attr("data-original-index"));
        var next_index = data_original_index + 1;
        if(parseInt($(q_answer_list).find("li").length) - 6 >= next_index){
          $(q_answer_list).children("li").animate({
            left: "-=68px"
          }, "slow");
          $(q_answer_list).attr("data-original-index", next_index);
        }
      });
      $("button.btn_answer_move.btn_left").on("click", function(){
        var q_answer_list = $(this).closest("div.answer_block").find("ul.q_answer_list")[0];
        var data_original_index = parseInt($(q_answer_list).attr("data-original-index"));

        if(data_original_index >= 1){
          var next_index = data_original_index - 1;
          $(q_answer_list).children("li").animate({
            left: "+=68px"
          }, "slow");
          $(q_answer_list).attr("data-original-index", next_index);

        }
      });
      // 直接點答題
      $("button.btn_answer").on("click", function(){
        console.log($(this).attr("data-tqt_id"));
        if ($(this).attr("data-tqt_id") == "1")
          $(this).closest("ul.q_answer_list").find("button.btn_answer").removeClass("-on");
        $(this).addClass("-on");

        var el_ul_q_count_list = $(this).closest("div.content_block").find("ul.q_count_list");
        $(el_ul_q_count_list).find("button.btn_count.-on").addClass("-answered");
      });

      // 上一題、下一題
      $("button.q_next").on("click", function(){
        var el_ul_q_count_list = $(this).closest("div.content_block").find("ul.q_count_list");
        var el_btn_count_on = $(el_ul_q_count_list).find("button.btn_count.-on")[0];
        var el_q_total_block = $(this).closest("div.content_block").find("div.q_total_block");

        if($(this).hasClass("-n")){ // 下一題
          if($(el_btn_count_on).closest("li").next("li").length > 0){
            $(el_btn_count_on).removeClass("-on");
            $(el_btn_count_on).closest("li").next("li").find("button.btn_count").click();
            $(el_q_total_block).find("button.btn_move.btn_right").click();
          }
        }
        if($(this).hasClass("-p")){ // 上一題
          if($(el_btn_count_on).closest("li").prev("li").length > 0){
            $(el_btn_count_on).removeClass("-on");
            $(el_btn_count_on).closest("li").prev("li").find("button.btn_count").click();
            $(el_q_total_block).find("button.btn_move.btn_left").click();
          }
        }

      });

      // 再檢查
      $("button.btn_check").on("click", function(){
        $(this).toggleClass("-on");
        var el_ul_q_count_list = $(this).closest("div.content_block").find("ul.q_count_list");
        $(el_ul_q_count_list).find("button.btn_count.-on").toggleClass("-will-check");
      });
	  */

      // 交卷
      $("button.btn_send_test").on("click", function(){
	    clearTimeout(timer); // 暫停計時

        var el_all_contents_block = $(this).closest("div.all_contents_block");

        var answered = 0;
        var will_check = 0;
        var all_btn_count = $(el_all_contents_block).find("button.btn_count").length;
        $(el_all_contents_block).find("button.btn_count").each(function(index, item){

          if($(item).hasClass("-answered")){
            answered += 1;
          }
          if($(item).hasClass("-will-check")){
            will_check += 1;
          }
        });
        var un_answer = all_btn_count - answered;
        //console.log("未作達：" + un_answer);
        //console.log("已作達：" + answered);
        //console.log("再檢查：" + will_check);
        $("#send_test_modal").find("span.-un-answer").html(un_answer);
        $("#send_test_modal").find("span.-will-check").html(will_check);
        if(answered == all_btn_count && will_check == 0){
          $("#send_test_modal").find("p.para2").addClass("-none");
        }else{
          $("#send_test_modal").find("p.para2").removeClass("-none");
        }
        $("#send_test_modal").modal();
      });


		// 加入或移除收藏
		$("a.tag_plus").on("click", function(e){
			e.preventDefault();
			if ($(this).attr("data-status") == "0") {
				if (newUserCollection(g_obj.db_practice_ot_id, $(this).attr("data-ol_id"), "", $(this).attr("data-tq_id"), "", "", "")) {
					$(this).toggleClass("-on");
					getUsercollectionForTest(g_obj.db_practice_ot_id, $(this).attr("data-ol_id"), $(this).attr("data-tq_id"), "tag_plus_" + $(this).attr("data-tq_id"));
				}
				else {
					alert("加入失敗");
				}
			}
			else {
				if (delUserCollection($(this).attr("data-uc-id"))) {
					$(this).toggleClass("-on");
					getUsercollectionForTest(g_obj.db_practice_ot_id, $(this).attr("data-ol_id"), $(this).attr("data-tq_id"), "tag_plus_" + $(this).attr("data-tq_id"));
				}
				else {
					alert("移除失敗");
				}
			}
		});
	});

		// 顯示數量
		function calQuestion() {
			var answered = 0;
			var will_check = 0;
			var all_btn_count = $("button.btn_count").length;
			$("button.btn_count").each(function(index, item){

			  if($(item).hasClass("-answered")){
				answered += 1;
			  }
			  if($(item).hasClass("-will-check")){
				will_check += 1;
			  }
			});
			var un_answer = all_btn_count - answered;
			$(".un_answer_block").html(un_answer + "題");
			$(".will_check_block").html(will_check + "題");
		}

		// 直接點題號
		var currentQuestion = 1;
		function btn_count_click(q) {
			var maxQuestion = $('.btn_circle').length;
			currentQuestion = q;


			$(".btn_circle button").removeClass("-on");
			$(".btn_circle_" + q + " button").addClass("-on");
			// 題目分頁切換
			$(".data_tab").addClass("-none");
			$(".tab_" + q).removeClass("-none");

			if (maxQuestion == currentQuestion) $('.btn_send_test').show();
			else $('.btn_send_test').hide();

			btn_next_show();

			if ($(".tab_" + q).attr("data-tqt_id") == "4") btn_answer_click(q, 0, $(".tab_" + q).attr("data-tqt_id"));
		}

		// 上一題、下一題
		function btn_next_click(x) {
      check_next_page(x);
			currentQuestion += x;
			var maxQuestion = $('.btn_circle').length;
			if (currentQuestion < 1) currentQuestion = 1;
			else if (currentQuestion > maxQuestion) currentQuestion = maxQuestion;
			btn_count_click(currentQuestion);
		}

    // 切換至下一頁或上一頁
    function check_next_page(next_or_previous){
      var total_q = $("button.btn_count").length;
      var current_q_index = parseInt($("button.btn_count.-on").attr("data-index"));
      //console.log("總題數: " + total_q + "; 目前的題數index: " + current_q_index + "; switch_page_remainder: " + switch_page_remainder);
      if(next_or_previous == 1){ // 表示按下一題
        if(( (current_q_index - switch_page_remainder) % 20) == 0){
          $("button.btn_move.btn_right").click();
        }
      }else if(next_or_previous == -1){ // 表示按上一題
        if(( (current_q_index - switch_page_remainder) % 20) == 1){
          $("button.btn_move.btn_left").click();
        }
      }else{}
    }

		// 顯示上一題/下一題按鈕
		function btn_next_show() {
			var maxQuestion = $('.btn_count').length;
			if (currentQuestion == 1) {
				$("button.q_next.-p").addClass("-invisible");
			}
			else {
				$("button.q_next.-p").removeClass("-invisible");
			}
			if (currentQuestion == maxQuestion) {
				$("button.q_next.-n").addClass("-invisible");
			}
			else {
				$("button.q_next.-n").removeClass("-invisible");
			}
		}

		// 答題左右滑動
		function btn_click_right(q) {
			var q_answer_list = $(".q_answer_list_" + q);
			var data_original_index = parseInt($(q_answer_list).attr("data-original-index"));
			var next_index = data_original_index + 1;
			if(parseInt($(q_answer_list).find("li").length) - 6 >= next_index){
			  $(q_answer_list).children("li").animate({
				left: "-=68px"
			  }, "slow");
			  $(q_answer_list).attr("data-original-index", next_index);
			}
		}
		function btn_click_left(q) {
			var q_answer_list = $(".q_answer_list_" + q);
			var data_original_index = parseInt($(q_answer_list).attr("data-original-index"));

			if(data_original_index >= 1){
			  var next_index = data_original_index - 1;
			  $(q_answer_list).children("li").animate({
				left: "+=68px"
			  }, "slow");
			  $(q_answer_list).attr("data-original-index", next_index);
			}
		}

		// 直接點答題
		function btn_answer_click(q, i, tqt_id) {
			if (tqt_id == "1" || tqt_id == "3") {	// 單選
				$('.btn_answer_' + q).removeClass("-on");
				$('.btn_answer_' + q + '_' + i).addClass("-on");
				$('.btn_count_' + q).addClass("-answered");
			}
			else if (tqt_id == "2") {	// 多選
				if ($('.btn_answer_' + q + '_' + i).hasClass("-on"))
					$('.btn_answer_' + q + '_' + i).removeClass("-on");
				else
					$('.btn_answer_' + q + '_' + i).addClass("-on");

				if ($('.btn_answer_' + q).hasClass("-on"))
					$('.btn_count_' + q).addClass("-answered");
				else
					$('.btn_count_' + q).removeClass("-answered");
			}
			else if (tqt_id == "4") {	// 非選
				$('.btn_count_' + q).addClass("-answered");
			}
			calQuestion();
		}

		// 再檢查
		function btn_check_click(o) {
			$(o).toggleClass("-on");
			$('.btn_count.-on').toggleClass("-will-check");
			calQuestion();
		}

		// 送出答案
		var isPosted = false;
		function sentTestRecord() {
			if (isPosted) return;
			var questions = [];

			$(".q_answer_list").each(function(index2, item2) {
				var answers = [];
				var tmp_ol_id = $(item2).attr("data-ol_id");
				var tq_id = $(item2).attr("data-tq_id")
				var odt_id = $(item2).attr("data-odt_id");
				$(this).find("button.btn_answer.-on").each(function(index, item) {
					var ta_id = $(item).attr("data-ta_id");
					var ta_ids = {ta_id};
					answers.push(ta_ids);
				})
				var tqr_used_second = parseInt(timerArray[index2], 10) || 0;
				if (typeof tqr_used_second == "undefined") tqr_used_second = 0;
				var question = { tq_id, tqr_used_second, odt_id, answers };
				question["ol_id"] = tmp_ol_id;
				// if (typeof tq_id != "undefined") questions.push(question);
				questions.push(question);
			})
			isPosted = true;
			if (!testRecord(1, questions))	{
				// tr_type:1為考試測驗 2為隨堂練習
				isPosted = false;
			}
		}

		// 測驗時間
		var timer;
		var timerArray = [];
		var used_second = 0;
		function timerTick() {
			used_second++;
			var thour = (Math.floor(used_second / 3600)).toString();
			var tminute = "0" + (Math.floor(used_second / 60)).toString();
			tminute = tminute.substring(tminute.length - 2, tminute.length);
			var tsecond = "0" + (used_second % 60).toString();
			tsecond = tsecond.substring(tsecond.length - 2, tsecond.length);
			$(".timer_block").html(((thour > 0) ? thour + ':' : '') + tminute + ":" + tsecond);
			timer = setTimeout("timerTick();", 1000);

			// 單題計時
			var tmpSecond = parseInt(timerArray[currentQuestion - 1], 10) || 0;
			timerArray[currentQuestion - 1] = tmpSecond + 1;
		}
		timer = setTimeout("timerTick();", 1000);

		// 離開也要存檔
		window.onbeforeunload = function (e) {
			if (!isPosted) sentTestRecord();
			/*sentTestRecord();
			if(confirm('考卷尚未送出，確定要離開網頁嗎？')) {
				sentTestRecord();
			}
			else {
				return false;
			}*/
		};
	</script>
<% end %>
