<% @on_q_on = capture do %>-on<% end %>
<% @on_q_exam = capture do %>-on<% end %>

<% @show_exam_header = capture do %>true<% end %>
<% @on_exam_header_unit = capture do %>-on<% end %>

<% content_for :title_content do %>
  <title>考卷測驗(單元)</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/q_db_exam_unit.css" rel="stylesheet">
<% end %>


<section class="normal_section">

  <div class="all_contents_block">


    <div class="tab_contents_block">

      <div class="tab_content_block">

        <div class="custom_checkbox -all">
          <input type="checkbox" id="custom_checkbox_all" class="custom_checkbox_all">
          <label for="custom_checkbox_all" class="-checkitem-all"><span class="-text">本單元全選</span></label>
        </div>

        <ul class="item_list" id="item_list"><span class="-loading">資料擷取中…</span>
        <!-- JSON DATA -->
        </ul>
        <div class="page_container">
          <div class="send_block">
            <button type="button" class="btn_send -disabled">出卷</button>
          </div>
          <div class="page_number_block">
            <button type="button" class="btn_item btn_left -disabled"></button>
            <span class="page_number"><span class="current_page">01</span><span class="span_slash">/</span><span id="total_page" class="total_page"></span></span>
            <button type="button" id="pager_right_button" class="btn_item btn_right -disabled"></button>
          </div>
        </div>
      </div>

    </div>

    <h2 class="title2">最近測驗結果</h2>
    <div class="recently_view">
      <ul class="item_list" id="recently_view_item_list"><span class="-loading">資料擷取中…</span></ul>
    </div>
  </div>

</section>


<% content_for :other_contents do %>
  <script src="./js/url.min.js"></script>
  <script src="./js/api/q_db_practice_and_exam_all.js"></script>
  <script src="./js/api/header_text.js"></script>
  <script src="./js/api/q_db_exam_header.js"></script>
  <script src="./js/api/q_db_exam_unit.js"></script>
  <script>
    $(function(){

      // 一進頁面，所有 checkbox 都不能是勾選狀態
      $('input:checkbox').prop('checked', false);

      // pager
      $("button.btn_item").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          var page_number_block = $(this).closest("div.page_number_block")[0];
          var current_page = parseInt($(page_number_block).find("span.current_page").html());
          var total_page = parseInt($(page_number_block).find("span.total_page").html());
          var item_list = $(this).closest("div.tab_content_block").find("ul.item_list")[0];

          if($(this).hasClass("btn_left")){
            var next_page = current_page - 1;
          }
          if($(this).hasClass("btn_right")){
            var next_page = current_page + 1;
          }

          $(item_list).children("li").addClass("no_display");
          $(item_list).children("li").each(function(index){
            if( 15*(next_page-1) < (index+1) && (index+1) <= 15*(next_page) ){
              $(this).removeClass("no_display");
            }
          });
          $(page_number_block).find("span.current_page").html(str_pad(next_page, 2, 0))

          $(this).closest("div.page_number_block").find("button.btn_item").removeClass("-disabled");
          if(next_page == 1){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_left").addClass("-disabled");
          }
          if(next_page == total_page){
            $(this).closest("div.page_number_block").find("button.btn_item.btn_right").addClass("-disabled");
          }
        }
      });

      // checkbox 勾選之後的檢查，切換出卷按鈕的狀態
      $(document).on("click", "input.custom_checkbox", function(index, item){
        var send_data = false; // 預設都沒有勾選的項目
        var is_all = true; // 目前所有項目是否都是勾選
        $("input.custom_checkbox").each(function(index, item){
          if($(item).prop("checked")){
            send_data = true;
          }else{
            is_all = false;
          }
        });

        $("input.custom_checkbox_all").prop("checked", is_all); // 全選的 checkbox 狀態

        if(send_data){
          $("button.btn_send").removeClass("-disabled");
        }else{
          $("button.btn_send").addClass("-disabled");
        }

      });


      /// 全選按鈕
      $("input.custom_checkbox_all").on("click", function(){
        $("input.custom_checkbox").prop("checked", $(this).prop("checked"));
        if($(this).prop("checked")){
        	//alert("11111111111");
          $("button.btn_send").removeClass("-disabled");
        }else{
          $("button.btn_send").addClass("-disabled");
        }
      });


      // 出卷
      $("button.btn_send").on("click", function(){
        if(!$(this).hasClass("-disabled")){
          saveToStorage();
          location.href = "./q_db_auto_and_manual_question.html?ol_id="+ olId + "&field_name=" + fieldName + "&subject_name=" + subjectName + "&version_name=" + versionName + "&grade_group_name=" + gradeGroupName ;
        }
      });

    });
  </script>

<% end %>
