<% content_for :title_content do %>
	<title>搜尋</title>
<% end %>

<% content_for :stylesheets do %>
	<link href="./css/search.css" rel="stylesheet">
<% end %>

<section class="normal_section">
	<div class="all_contents_block">
		<div class="tab_block">
			<ul class="tab_list">
				<li>
					<div class="tab_1 tab_item_block">
						<button type="button" class="btn_tab -on" data-target="tab_1">名師教學</button>
						<p class="total_count">0筆</p>
					</div>
				</li>
				<li>
					<div class="tab_2 tab_item_block">
						<button type="button" class="btn_tab" data-target="tab_2">段考直播</button>
						<p class="total_count">0筆</p>
					</div>
				</li>
				<li>
					<div class="tab_11 tab_item_block">
						<button type="button" class="btn_tab" data-target="tab_11">隨堂練習</button>
						<p class="total_count">0筆</p>
					</div>
				</li>
<!--
名師教學: 1
段考直播: 2
隨堂練習: 11
考卷測驗(百萬題庫): 3
電子講義: 4
互動實驗: 9
解惑平台: 6
我的筆記: 8
-->
				<li>
					<div class="tab_3 tab_item_block">
						<button type="button" class="btn_tab" data-target="tab_3">考卷測驗</button>
						<p class="total_count">0筆</p>
					</div>
				</li>
				<li>
					<div class="tab_4 tab_item_block">
						<button type="button" class="btn_tab" data-target="tab_4">電子講義</button>
						<p class="total_count">0筆</p>
					</div>
				</li>
				<li style="display:none;">
					<div class="tab_9 tab_item_block">
						<button type="button" class="btn_tab" data-target="tab_9">互動實驗</button>
						<p class="total_count">0筆</p>
					</div>
				</li>
				<li>
					<div class="tab_6 tab_item_block">
						<button type="button" class="btn_tab" data-target="tab_6">解惑平台</button>
						<p class="total_count">0筆</p>
					</div>
				</li>
				<li>
					<div class="tab_8 tab_item_block">
						<button type="button" class="btn_tab" data-target="tab_8">我的筆記</button>
						<p class="total_count">0筆</p>
					</div>
				</li>
			</ul>
		</div>

		<div class="tab_contents_block">
			<div class="tab_content_1 tab_content_block" data-tab="tab_1">
				<ul class="item_list">
					<span class="-loading">資料擷取中…</span>
				</ul>
				<div class="page_container">
					<div class="page_number_block">
						
					</div>
				</div>
			</div>
			<div class="tab_content_2 tab_content_block no_display" data-tab="tab_2">
				<ul class="item_list">
					<span class="-loading">資料擷取中…</span>
				</ul>
				<div class="page_container">
					<div class="page_number_block">
						
					</div>
				</div>
			</div>
			<div class="tab_content_3 tab_content_block no_display" data-tab="tab_3">
				<ul class="item_list">
					<span class="-loading">資料擷取中…</span>
				</ul>
				<div class="page_container">
					<div class="page_number_block">
						
					</div>
				</div>
			</div>
			<div class="tab_content_4 tab_content_block no_display" data-tab="tab_4">
				<ul class="item_list">
					<span class="-loading">資料擷取中…</span>
				</ul>
				<div class="page_container">
					<div class="page_number_block">
						
					</div>
				</div>
			</div>
			<div class="tab_content_5 tab_content_block no_display" data-tab="tab_5">
				<ul class="item_list">
					<span class="-loading">資料擷取中…</span>
				</ul>
				<div class="page_container">
					<div class="page_number_block">
						
					</div>
				</div>
			</div>
			<div class="tab_content_6 tab_content_block no_display" data-tab="tab_6">
				<ul class="item_list">
					<span class="-loading">資料擷取中…</span>
				</ul>
				<div class="page_container">
					<div class="page_number_block">
						
					</div>
				</div>
			</div>
			<div class="tab_content_7 tab_content_block no_display" data-tab="tab_7">
				<ul class="item_list">
					<span class="-loading">資料擷取中…</span>
				</ul>
				<div class="page_container">
					<div class="page_number_block">
						
					</div>
				</div>
			</div>
			<div class="tab_content_8 tab_content_block no_display" data-tab="tab_8">
				<ul class="item_list">
					<span class="-loading">資料擷取中…</span>
				</ul>
				<div class="page_container">
					<div class="page_number_block">
						
					</div>
				</div>
			</div>
			<div class="tab_content_9 tab_content_block no_display" data-tab="tab_9">
				<ul class="item_list">
					<span class="-loading">資料擷取中…</span>
				</ul>
				<div class="page_container">
					<div class="page_number_block">
						
					</div>
				</div>
			</div>
			<div class="tab_content_11 tab_content_block no_display" data-tab="tab_11">
				<ul class="item_list">
					<span class="-loading">資料擷取中…</span>
				</ul>
				<div class="page_container">
					<div class="page_number_block">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<% content_for :other_contents do %>
	<script src="./js/url.min.js"></script>
	<script src="./js/api/m_e_outline.js"></script>
	<script>
		$(function(){
			doSearch();
      
			// pager
			$("button.btn_item").on("click", function(){
				if(!$(this).hasClass("-disabled")){
					var page_number_block = $(this).closest("div.page_number_block")[0];
					var current_page = parseInt($(page_number_block).find("span.current_page").html());
					var total_page = parseInt($(page_number_block).find("span.total_page").html());
					var item_list = $(this).closest("div.tab_content_block").find("ul.item_list")[0];

					if($(this).hasClass("btn_left")){
						var next_page = current_page - 1;
					}
					if($(this).hasClass("btn_right")){
						var next_page = current_page + 1;
					}

					$(item_list).children("li").addClass("no_display");
					$(item_list).children("li").each(function(index){
						if( 15*(next_page-1) < (index+1) && (index+1) <= 15*(next_page) ){
							$(this).removeClass("no_display");
						}
					});
					$(page_number_block).find("span.current_page").html(str_pad(next_page, 2, 0))

					$(this).closest("div.page_number_block").find("button.btn_item").removeClass("-disabled");
					if(next_page == 1){
						$(this).closest("div.page_number_block").find("button.btn_item.btn_left").addClass("-disabled");
					}
					if(next_page == total_page){
						$(this).closest("div.page_number_block").find("button.btn_item.btn_right").addClass("-disabled");
					}
				}
			});
	  
			// 分頁
			$("button.btn_tab").on("click", function(){
				$(this).closest("ul.tab_list").find("button.btn_tab").removeClass("-on");
				$(this).addClass("-on");
				var tab_target = $(this).attr("data-target");
				var all_contents_block = $(this).closest("div.all_contents_block")[0];
				$(all_contents_block).find("div.tab_content_block").addClass("no_display");
				$(all_contents_block).find("div.tab_content_block[data-tab="+tab_target+"]").removeClass("no_display");
			});
		});
	</script>
<% end %>
