<% content_for :title_content do %>
  <title>家長個人資料</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./js/jquery-date-range-picker/daterangepicker.min.css" rel="stylesheet">
  <link href="./css/user_parents.css" rel="stylesheet">
<% end %>

<section class="normal_section_for_parents">
  <div class="avatar_block">

    <div class="right_block">
      <h1 class="title1" id="up_name_view"></h1>
      <div class="action_block">
        <a href="./user_parents_edit.html" class="btn_edit" id="user_edit_link">修改資料</a>
		<a href="javascript:;" onclick="javascript:parentLogout(); return false;" class="logout">登出</a>
      </div>
    </div>
  </div>

  <div class="profile_info_block">
    <div class="info_block">
      <ul class="info_list">
        <li>性別：<span id="up_is_male_view"></span></li>
        <li>生日：<span id="up_birthday_view"></span></li>
      </ul>
      <ul class="info_list">
        <li>手機：<span id="up_cell_phone_view"></span></li>
        <li>市話：<span id="up_phone_view"></span></li>
        <li>電子信箱：<span id="up_mail_view"></span></li>
      </ul>
    </div>

    <div class="hr"></div>
    <div class="info_block">
      <ul class="info_list">
        <li>密碼：* * * *</li>
        <li>確認密碼：* * * *</li>
      </ul>
    </div>
  </div>

  <h2 class="title2">學生使用者</h2>
  <div class="students_list_block">
    <ul class="students_list" id="students_list">
    </ul>
  </div>
</section>

<div id="user_student_modal" class="modal">
  <div class="modal_header">
    新增帳號
    <a href="#" rel="modal:close" class="modal_close">&times;</a>
  </div>
  <div class="modal_content">
    <section class="normal_section">
      <div class="avatar_block">
        <div class="left_block">
          <span class="new_avatar_img"><img src="./images/icon/icon-profile.svg" id="us_img_tag"></span>
        </div>
        <div class="right_block">
          <div class="action_block">
            <button type="button" class="btn_upload"><img src="./images/icon/btn-upload.svg" class="btn_upload_img"></button>
          </div>
        </div>
      </div>

      <div class="profile_info_edit_block">
        <p class="must_hint">標記 * 為必填</p>
        <div class="form_block">
          <form id="form_user_edit" name="form_user_edit" class="form_edit" method="post" enctype="multipart/form-data">
    		<!-- 大頭圖 -->
    		<input type="file" name="us_img" id="us_img" accept="image/*" class="change_pic no_display">
            <!-- 姓名 -->
            <div class="input_group -block">
              <label class="general_label"><span class="span_text">*姓名</span><input type="text" name="us_name" id="us_name" value="" class="text_input" /></label>
            </div>
            <!-- 性別、生日 -->
            <div class="input_group -block">
              <div class="input_group -inline-block">
                <label class="general_label"><span class="span_text">性別</span></label>
                <div class="gender_block">
                  <select name="us_is_male" id="us_is_male" class="gender_select">
                    <option value="1">男</option>
                    <option value="0">女</option>
                  </select>
                </div>
              </div>
              <div class="input_group -inline-block -more-width1 birthday_block">
                <label class="general_label"><span class="span_text -less-width2">生日</span></label>
                <input type="text" class="text_input -birthday -year" name="birthY" id="birthY" placeholder="西元" />
                <span class="span_slash">/</span>
                <input type="text" class="text_input -birthday -month" name="birthM" id="birthM" placeholder="月" />
                <span class="span_slash">/</span>
                <input type="text" class="text_input -birthday -date" name="birthD" id="birthD" placeholder="日" />

                <input type="text" class="temp_birtyday" style="height: 34px;width:100px; font-size: 16px;">
                <div class="invisible_birthday_block"></div>
              </div>
            </div>
            <!-- 手機、市話 -->
            <div class="input_group -block">
              <div class="input_group -inline-block -phone">
                <label class="general_label"><span class="span_text">*手機</span><input type="text" name="us_cell_phone" id="us_cell_phone" maxlength="10" value="" class="text_input"></label>
                <span class="hint_text">請確實填寫，忘記密碼時需發簡訊用</span>
              </div>
              <div class="input_group -inline-block -phone -more-width1">
                <label class="general_label"><span class="span_text -less-width2">市話</span><input type="text" name="us_phone1" id="us_phone1" maxlength="4" value="" class="text_input -phone-width1"><input type="text" name="us_phone2" id="us_phone2" maxlength="8" value="" class="text_input -phone-width2"></label>
              </div>
            </div>

            <!-- 就讀學校、年級、班別 -->
            <div class="input_group -block">
              <div class="input_group -inline-block">
                <label class="general_label"><span class="span_text">就讀學校</span><input type="text" name="us_school" id="us_school" value="" class="text_input"></label>
              </div>
              <div class="input_group -inline-block -less-width1">
                <label class="general_label"><span class="span_text -less-width2">*年級</span></label>
                <div class="grade_block">
                  <select name="us_grade" id="us_grade" class="grade_select">
                    <!--
                    <option value="" selected>七年級</option>
                    <option value="">七年級</option>
                    <option value="">九年級</option>
                    -->
                  </select>
                </div>
              </div>
              <div class="input_group -inline-block -less-width2">
                <label class="general_label"><span class="span_text -less-width1">班別</span><input type="text" name="us_class" id="us_class" class="text_input -class-width"></label>
              </div>
            </div>

            <!-- 密碼 -->
            <div class="input_group -block">
              <label class="general_label"><span class="span_text">*密碼</span><input type="password" name="us_password" id="us_password" value="" class="text_input -four-digits"></label>
              <span class="hint_text">(四位數字)</span>
            </div>

            <!-- 確認密碼 -->
            <div class="input_group -block">
              <label class="general_label"><span class="span_text">*確認密碼</span><input type="password" name="us_password2" id="us_password2" value="" class="text_input -four-digits"></label>
            </div>

            <!-- 電子信箱 -->
            <div class="input_group -block">
              <label class="general_label"><span class="span_text">電子信箱</span><input type="text" name="us_mail" id="us_mail" value="" class="text_input -email-width"></label>
            </div>

            <!-- 家長姓名、家長手機 -->
            <div class="input_group -block">
              <div class="input_group -inline-block">
                <label class="general_label"><span class="span_text">*家長姓名</span><input type="text" value="" id="up_name" class="text_input" readonly></label>
              </div>
              <div class="input_group -inline-block">
                <label class="general_label"><span class="span_text">*家長手機</span><input type="text" value="" id="up_cell_phone" class="text_input" readonly></label>
              </div>
            </div>



          </form>
        </div>
      </div>
    </section>
  </div>
  <div class="modal_footer">
    <!--<a href="#" rel="modal:close" class="modal_close -no-margin">確定</a>-->
    <a href="#" class="btn_confirm -no-margin">確定</a>
  </div>
</div>

<% content_for :other_contents do %>
  <script src="./js/moment/moment.min.js"></script>
  <script src="./js/jquery-date-range-picker/jquery.daterangepicker.min.js"></script>
	<script src="./js/url.min.js"></script>
	<script src="./js/api/user_parents.js"></script>
	<script src="./js/api/m_e_user.js"></script>
	<script>
		$(function(){
			// 取得年級資料
			getUserStudentEducation();

			// $("button.btn_upload").on("click", function(){
			//   $(this).closest("div.action_block").find("input.change_pic").click();
			// });
			$("button.btn_upload").on("click", function(){
				$("#us_img").click();
			});

      // 預覽大頭圖
      $("#us_img").change(function (){
        var reader = new FileReader();
        reader.readAsDataURL(document.querySelector('#us_img').files[0]);
        reader.onload = function () {
          //console.log(reader.result);
          //$("#us_img_tag").attr("src", reader.result);
          $("#us_img_tag").addClass("no_display");
          $("#us_img_tag").closest("span.new_avatar_img").addClass("-add-border").attr("style", "background-image: url('" + reader.result + "');");
        };
        reader.onerror = function (error) {
          console.log('Error: ', error);
        };
      });

			// 新增學生使用者
			$(document).on("click", "a.add_item", function(e){
				e.preventDefault();
				$('#user_student_modal').modal();
			});

			$("#user_student_modal a.btn_confirm").on("click", function(e){
				e.preventDefault();
        if(check_password_four_length()){
          newUserStuden();
        }else{
          alert("四位數字");
        }
			});

      // 日期不能手動更改
      $('.-birthday').on('keydown', function(e){
        e.preventDefault();
      });
      // 日期出現
      $('.-birthday').on('focus', function(e){
        e.preventDefault();
        $("div.invisible_birthday_block").show();
      });
      // 點選其它區域：關閉日期
			$(document).on("click", function(e){
				if (!$(e.target).is("div.birthday_block *")) {
					$("div.invisible_birthday_block").hide();
				}
			});

      // 密碼限制
      $("input.-four-digits").on("keydown", function(e){
        var current_length = ($(this).val()).length + 1;
        if( (e.which >= 48 && e.which <= 57 && current_length <= 4) || e.which == 9 || e.which == 8 || (e.which >= 96 && e.which <= 105 && current_length <= 4) ){ // 9 是 tab 鍵；8 是 delete 鍵
        }else{
          e.preventDefault();
        }
      });
      var check_password_four_length = function(){
        var is_four_length = true;
        $("input.-four-digits").each(function(){
          if( ($(this).val()).length != 4 && ($(this).val()).length != 0 ){
            is_four_length = false;
          }
        });
        return is_four_length;
      };

		});
	</script>
<% end %>
