<% content_for :title_content do %>
  <title>個人資料</title>
<% end %>

<% content_for :stylesheets do %>
  <link href="./css/user.css" rel="stylesheet">
<% end %>

<section class="normal_section">
  <div class="avatar_block">
    <div class="left_block">
      <span class="avatar_img"><img src="./images/icon/icon-profile.svg" id="us_img"></span>
    </div>
    <div class="right_block">
      <h1 class="title1" id="us_name"></h1>
      <div class="action_block">
        <!--
        <input type="file" class="change_pic no_display">
        <button type="button" class="btn_upload"><img src="./images/icon/btn-upload.svg" class="btn_upload_img"></button>
        -->
        <a href="./user_parents_edit.html" class="btn_edit" id="user_edit_link">修改資料</a>
        <a href="javascript:;" onclick="javascript:userLogout(); return false;" class="logout">登出</a>
      </div>
    </div>
  </div>

  <div class="profile_info_block">
    <div class="info_block">
      <ul class="info_list">
        <li>性別：<span id="us_is_male"></span></li>
        <li>生日：<span id="us_birthday"></span></li>
      </ul>
      <ul class="info_list">
        <li>手機：<span id="us_cell_phone"></span></li>
        <li>市話：<span id="us_phone"></span></li>
        <li>電子信箱：<span id="us_mail"></span></li>
      </ul>
    </div>
    <div class="hr"></div>
    <div class="info_block">
      <ul class="info_list">
        <li>就讀學校：<span id="us_school"></span></li>
        <li>年級：<span id="us_grade"></span></li>
        <li>班別：<span id="us_class"></span></li>
      </ul>
    </div>
    <div class="hr"></div>
    <div class="info_block">
      <ul class="info_list">
        <li>密碼：* * * *</li>
        <li>確認密碼：* * * *</li>
      </ul>
      <ul class="info_list">
        <li>家長姓名：<span id="up_name"></span></li>
        <li>家長手機：<span id="up_cell_phone"></span></li>
      </ul>
    </div>
  </div>
</section>

<% content_for :other_contents do %>
	<script src="./js/url.min.js"></script>
	<script src="./js/api/user.js"></script>
	<script src="./js/api/m_e_user.js"></script>
	<script>
	$(function(){
		/*$("button.btn_upload").on("click", function(){
		$(this).closest("div.action_block").find("input.change_pic").click();
		});*/
		$("a.logout").on("click", function(e){
			e.preventDefault();
		});
	});
	</script>
<% end %>
